{% extends "en-us/management/member/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Orders</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all orders  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">orders</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Orders</h1>
  </div>
  <!-- end all orders  -->
</div>
{% endblock %}

<!-- orders content -->
{% block content %}
<!-- all orders  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if paginate %}
  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for transaction in transactions %}
      <!-- Table Actions -->
      <tr>
        <td>
          <span class="d-block fs-5">{{ transaction.requested_by.store.name }}</span>
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.requested_at }}</span>
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
        </td>

        <td>
          {% if transaction.confirmed %}
          <span class="d-block fs-5">{{ transaction.confirmed_at }}</span>
          {% endif %}
        </td>

        <td>
          {% if transaction.confirmed %}
          <span class="d-block fs-5">{{ transaction.confirmed_by.username }}</span>
          {% endif %}
        </td>


        <td class="text-end">
          {% if not transaction.confirmed %}
          <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#confirm_modal_{{ transaction.id }}">
            <i class="fa fa-check fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      <!-- End Table Actions -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  <!-- Footer -->
  <div class="card-footer">
    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-sm-end">
      <nav>
        {% if users_list.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if users_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ users_list.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in users_list.paginator.page_range %}
          {% if users_list.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if users_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ users_list.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- End Pagination -->
  </div>
  <!-- End Footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        There is no orders yet .
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all orders  -->

{% for transaction in transactions %}
  <!-- Confirm Modal -->
  <div id="confirm_modal_{{ transaction.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Click yes to validate reception of {{ transaction.amount|floatformat:"0g" }} <small>DZD</small>, if not click decline</p>
        </div>
        <div class="modal-footer" style="align-self: center;">

          <form action="{% url 'member-payments' 'confirm' %}" id="confirm_from_{{ transaction.id }}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
            <input type="text" class="form-control" placeholder="secrete key" name="secrete_key" required>
            <span class="invalid-feedback text-center">secrete key required.</span>
          </form>

          <button class="btn btn-white" form="confirm_from_{{ transaction.id }}">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Confirm Modal -->
{% endfor %}

{% endblock %}