{% extends "ltr/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Add Product - Dexunt Shop Management
{% endif %}
{% if lang == 'fr' %}
         Ajouter un Produit - Dexunt Gestion de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    {% if lang == 'en' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}

    {% if lang == 'fr' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Tableau de Bord" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion des utilisateurs" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventaire" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Boutique en Ligne" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion de la Trésorerie" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english & frensh version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    {% if lang == 'en' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'en' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'en' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">Add Product</li>
    {% endif %}

    {% if lang == 'fr' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'fr' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'fr' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">Add Product</li>
    {% endif %}
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- add product ---------------------------------------------->
<!-- english & frensh version -->

<!--product_name brand color dimensions weight quantity buy_price en_features en_description
    album fr_features fr_description ar_features ar_description-->
{% block content %}
<div class="container-xxl" id="kt_content_container">
    {% if lang == 'en' %}
    <!--add product form-->
    <form action="#" name="add_product_form" id="add_product_form" method="post" class="form d-flex flex-column flex-lg-row">
        {% csrf_token %}
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
            <!--thumbnail input-->
            <div class="card card-flush py-4">
                <!--thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Thumbnail</h2>
                    </div>
                </div>
                <!--end thumbnail title-->

                <!--begin::Card body-->
                <div class="card-body text-center pt-0">
                    <!--begin::Image input-->
                    <!--begin::Image input placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end::Image input placeholder-->
                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--begin::Preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end::Preview existing avatar-->
                        <!--begin::Label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                        </label>
                        <!--end::Label-->

                        <!--begin::Cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end::Cancel-->
                        <!--begin::Remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end::Remove-->
                    </div>
                    <!--end::Image input-->

                    <!--begin::Description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end::Description-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end thumbnail input-->
        </div>
    </form>
    <!--end add product form-->
    {% endif %}

    {% if lang == 'fr' %}

    {% endif %}
</div>
{% endblock %}
<!------------------------------- end add product ------------------------------------------>