{% extends "ltr/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Add Product - Dexunt Shop Management
{% endif %}
{% if lang == 'fr' %}
         Ajouter un Produit - Dexunt Gestion de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    {% if lang == 'en' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}

    {% if lang == 'fr' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Tableau de Bord" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion des utilisateurs" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventaire" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Boutique en Ligne" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion de la Trésorerie" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english & frensh version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    {% if lang == 'en' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'en' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'en' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">Add Product</li>
    {% endif %}

    {% if lang == 'fr' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'fr' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'fr' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">Add Product</li>
    {% endif %}
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- add product ---------------------------------------------->
<!-- english & frensh version -->


{% block content %}
<div class="container-xxl" id="kt_content_container">
    {% if lang == 'en' %}
    <!--add product form-->
    <form action="#" name="add_product_form" id="add_product_form" method="post" class="form d-flex flex-column flex-lg-row">
        {% csrf_token %}
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10" style="margin-right: 40px;">

            <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general">
                <div class="d-flex flex-column gap-7 gap-lg-10">
                    <!--product general inputs-->
                    <div class="card card-flush py-4">
                        <!--product general inputs title-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>General</h2>
                            </div>
                        </div>
                        <!--end product general inputs title-->

                        <!--product general inputs body-->
                        <div class="card-body pt-0">
                            <!--product name input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="required form-label">Product Name</label>
                                <!--end label-->

                                <!--input-->
                                <input type="text" name="product_name" class="form-control mb-2" placeholder="Product name" value="" />
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                                <!--end description-->
                            </div>
                            <!--end product name input-->

                            <!--price & quantity input-->
                            <div class="d-flex flex-column flex-md-row gap-5">
                                <!--product price input-->
                                <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                                    <!--label-->
                                    <label class="required form-label">Buy Price</label>
                                    <!--end label-->
                                    <!--input-->
                                    <div class="input-group mb-5">
                                        <input type="number" name="buy_price" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-text">Dinars</span>
                                    </div>
                                    <!--end input-->
                                    <!--description-->
                                    <div class="text-muted fs-7">Enter the buy price.</div>
                                    <!--end description-->
                                </div>
                                <!--end product price input-->

                                <!--product quantity input-->
                                <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                                    <!--label-->
                                    <label class="form-label">Quantity</label>
                                    <!--end label-->
                                    <!--input-->
                                    <input type="number" name="quantity" class="form-control mb-2" placeholder="Quantity" value="">
                                    <!--end input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                    <!--description-->
                                    <div class="text-muted fs-7">Enter the product quantity.</div>
                                    <!--end description-->
                                </div>
                                <!--end product quantity input-->
                            </div>
                            <!--end price & quantity input-->

                        </div>
                        <!--end product general inputs body-->
                    </div>
                    <!--end product general inputs-->

					<!--product details inputs-->
                    <div class="card card-flush py-4">
                        <!--product general inputs title-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Details</h2>
                            </div>
                        </div>
                        <!--end product general inputs title-->

                        <!--product details inputs body-->
                        <div class="card-body pt-0">
                            <!--brand input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Brand</label>
                                <!--end label-->

                                <!--input-->
                                <input type="text" name="brand" class="form-control mb-2" placeholder="Adidas /Nokia or Peugeot ...etc" value="" />
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Product brand.</div>
                                <!--end description-->
                            </div>
                            <!--end brand input-->

                            <!--color input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Color</label>
                                <!--end label-->

                                <!--input-->
                                <input type="text" name="color" class="form-control mb-2" placeholder="blue /white /green ...etc" value="" />
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Product color.</div>
                                <!--end description-->
                            </div>
                            <!--end color input-->

                            <!--dimensions & weight input-->
                            <div class="d-flex flex-column flex-md-row gap-5">
                                <!--product weight input-->
                                <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                                    <!--label-->
                                    <label class="form-label">Weight</label>
                                    <!--end label-->
                                    <!--input-->
                                    <div class="input-group mb-5">
                                        <input type="number" name="weight" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-text">Kg</span>
                                    </div>
                                    <!--end input-->
                                    <!--description-->
                                    <div class="text-muted fs-7">Enter the product weight.</div>
                                    <!--end description-->
                                </div>
                                <!--end product weight input-->

                                <!--product dimensions input-->
                                <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                                    <!--label-->
                                    <label class="form-label">Dimensions</label>
                                    <!--end label-->
                                    <!--input-->
                                    <input type="text" name="dimensions" class="form-control mb-2" placeholder="M/L/S or 39/40/41 or (8mm x 100mm x 50mm) ...etc" value="" />
                                    <!--end input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                    <!--description-->
                                    <div class="text-muted fs-7">Dimensions can be a shoe size or clothing size .</div>
                                    <!--end description-->
                                </div>
                                <!--end product dimensions input-->
                            </div>
                            <!--dimensions & weight input-->

                            <!--product english features input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Features</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="en_features" placeholder="english features" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write product's features in english .</div>
                                <!--end description-->
                            </div>
                            <!--end product english features input-->

                            <!--product english description input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Description</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="en_description" placeholder="english description" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write a description in english for the product.</div>
                                <!--end description-->
                            </div>
                            <!--end product english description input-->
                        </div>
                        <!--end product details inputs body-->
                    </div>
                    <!--end product details inputs-->

					<!--translation inputs-->
                    <div class="card card-flush py-4">
                        <!--product general inputs title-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Translation</h2>
                            </div>
                        </div>
                        <!--end product general inputs title-->

                        <!--product details inputs body-->
                        <div class="card-body pt-0">
                            <!--product french features input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">French Features</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="fr_features" placeholder="french features" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write product's features in french .</div>
                                <!--end description-->
                            </div>
                            <!--end product french features input-->

                            <!--product french description input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">French Description</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="fr_description" placeholder="french description" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write a description in french for the product.</div>
                                <!--end description-->
                            </div>
                            <!--end product french description input-->

                            <!--product arabic features input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Arabic Features</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="ar_features" placeholder="arabic features" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write product's features in arabic .</div>
                                <!--end description-->
                            </div>
                            <!--end product arabic features input-->

                            <!--product arabic description input-->
                            <div class="mb-10 fv-row">
                                <!--Label-->
                                <label class="form-label">Arabic Description</label>
                                <!--end label-->

                                <!--input-->
                                <textarea class="form-control" name="ar_description" placeholder="arabic description" aria-label="With textarea"></textarea>
                                <!--end input-->

                                <!--description-->
                                <div class="text-muted fs-7">Write a description in arabic for the product.</div>
                                <!--end description-->
                            </div>
                            <!--end product arabic description input-->
                        </div>
                        <!--end product details inputs body-->
                    </div>
                    <!--end translation inputs-->

					<!--thumbnail inputs-->
                    <div class="card card-flush py-4">

                    <!--thumbnail input-->
            <div class="card card-flush py-4">
                <!--thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Thumbnail</h2>
                    </div>
                </div>
                <!--end thumbnail title-->

                <!--thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="thumbnail" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="thumbnail_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end thumbnail body-->
            </div>
            <!--end thumbnail input-->

                    <!--second thumbnail input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Second Thumbnail</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="second_thumbnail" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="second_thumbnail_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end second thumbnail input-->

                    </div>
                    <!--end thumbnail inputs-->
                </div>
            </div>

        </div>

        <!--media input-->
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">




            <!--album image 1 input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Album Image 1</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="album_image_1" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="album_image_1_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end album image 1 input-->

            <!--album image 2 input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Album Image 2</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="album_image_2" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="album_image_2_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end album image 2 input-->

            <!--album image 3 input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Album Image 3</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="album_image_3" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="album_image_3_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end album image 3 input-->

            <!--album image 4 input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Album Image 4</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="album_image_4" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="album_image_4_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end album image 4 input-->

            <!--album image 5 input-->
            <div class="card card-flush py-4">
                <!--second thumbnail title-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>Album Image 5</h2>
                    </div>
                </div>
                <!--end second thumbnail title-->

                <!--second thumbnail body-->
                <div class="card-body text-center pt-0">

                    <!--thumbnail placeholder-->
                    <style>.image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image.svg' %}; } [data-theme="dark"]
                    .image-input-placeholder { background-image: url={% static 'manager/media/svg/files/blank-image-dark.svg' %}; }</style>
                    <!--end thumbnail placeholder-->

                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--preview existing avatar-->
                        <div class="image-input-wrapper w-150px h-150px"></div>
                        <!--end preview existing avatar-->

                        <!--label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--inputs-->
                            <input type="file" name="album_image_5" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="album_image_5_remove" />
                            <!--end inputs-->
                        </label>
                        <!--end label-->

                        <!--cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end cancel-->

                        <!--remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <!--end remove-->
                    </div>
                    <!--end::Image input-->

                    <!--description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end description-->
                </div>
                <!--end second thumbnail body-->
            </div>
            <!--end album image 5 input-->
        </div>
        <!--end media input-->
    </form>
    <!--end add product form-->

    {% endif %}

    {% if lang == 'fr' %}

    {% endif %}
</div>
{% endblock %}
<!------------------------------- end add product ------------------------------------------>