{% extends "ltr/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Inventory - Dexunt E-Shop Edit Showcase
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    <!-------------------english------------------>
    {% if lang == 'en' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'inventory' '#' '#' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'e-shop' '#' '#' 0 %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}
    <!-------------------end english-------------->
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english & frensh version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'e-shop' '#' '#' 0 %}" class="text-muted">E Shop</a>
    </li>
    <li class="breadcrumb-item text-muted">Edit</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english & frensh version -->
{% block content %}
<div class="container-xxl">
    <div class="card card-flush shadow-sm">
        <!--header-->
        {% if selected_layout.type == 'showcase' %}
            {% if selected_layout_type == 'showcase' %}
        <div class="card-header">
            <div class="row g-5 mt-20">
                <div class="col-lg-4">
            <div class="tns tns-default" style="direction: ltr">
                <!--begin::Slider-->
                <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="3" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#slider_prev" data-tns-next-button="#slider_next">
                    <!--begin::Item-->
                    <div class="text-center px-5 py-5">
                        <img src="{% static 'manager/media/svg/avatars/blank-dark.svg' %}" class="card-rounded h-90px" alt=""/>
                    </div>
                    <div class="text-center px-5 py-5">
                        <img src="{% static 'manager/media/logos/logo-default.svg' %}" class="card-rounded h-90px" alt=""/>
                    </div>
                    <div class="text-center px-5 py-5">
                        <img src="{% static 'manager/media/svg/avatars/blank-dark.svg' %}" class="card-rounded h-90px" alt=""/>
                    </div>
                    <div class="text-center px-5 py-5">
                        <img src="{% static 'manager/media/logos/logo-default.svg' %}" class="card-rounded h-90px" alt=""/>
                    </div>
                    <div class="text-center px-5 py-5">
                        <img src="{% static 'manager/media/svg/avatars/blank-dark.svg' %}" class="card-rounded h-90px" alt=""/>
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Slider-->
                <!--begin::Slider button-->
                <button class="btn btn-icon btn-active-color-primary" id="slider_prev">
                    <span class="svg-icon svg-icon-3x">
                        <
                    </span>
                </button>
                <!--end::Slider button-->

                <!--begin::Slider button-->
                <button class="btn btn-icon btn-active-color-primary" id="slider_next">
                    <span class="svg-icon svg-icon-3x">
                        >
                    </span>
                </button>
                <!--end::Slider button-->
            </div>
                </div>
            </div>
        </div>
        {% endif %}
            {% endif %}
        <!--end header-->
        <!--tabs-->
        <div class="card-body py-5">

            {% if selected_layout.type == 'showcase' %}
            {% if selected_layout_type == 'showcase' %}
            <form action="{% url 'e-shop-edit' 'showcase' '#' selected_layout.id %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                {% csrf_token %}
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <div class="tab-content">
                        <!--form inputs-->
                        <div class="tab-pane fade active show">
                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                <!--add product information-->
                                <div class="card card-flush py-4">
                                    <!--block body-->
                                    <div class="card-body pt-10">
                                        <!--choice inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Choose Showcase Type</label>
                                                <!--end label-->
                                                <!--option input-->
                                                <select class="form-select" data-control="select2" data-hide-search="true" name="selected_type">
                                                    {% if selected_layout.en_second_title == 'grid_showcase' %}
                                                    <option value="grid_showcase" selected >Grid Showcase</option>
                                                    <option value="column_showcase">Column Showcase</option>
                                                    <option value="brand_showcase">Brand Showcase</option>
                                                    {% endif %}
                                                    {% if selected_layout.en_second_title == 'column_showcase' %}
                                                    <option value="grid_showcase">Grid Showcase</option>
                                                    <option value="column_showcase" selected>Column Showcase</option>
                                                    <option value="brand_showcase">Brand Showcase</option>
                                                    {% endif %}
                                                    {% if selected_layout.en_second_title == 'brand_showcase' %}
                                                    <option value="grid_showcase">Grid Showcase</option>
                                                    <option value="column_showcase">Column Showcase</option>
                                                    <option value="brand_showcase" selected>Brand Showcase</option>
                                                    {% endif %}
                                                </select>
                                                <!--end option input-->
                                            </div>
                                        </div>
                                        <!--end choice inputs-->
                                        <!--english inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">English</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="en_title" class="form-control" placeholder="{{ selected_layout.en_first_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="en_button" class="form-control" placeholder="{{ selected_layout.en_button }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end english inputs-->
                                        <!--french inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">French</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="fr_title" class="form-control" placeholder="{{ selected_layout.fr_first_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="fr_button" class="form-control" placeholder="{{ selected_layout.fr_button }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end french inputs-->
                                        <!--arabic inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Arabic</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="ar_title" class="form-control" placeholder="{{ selected_layout.ar_first_title }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="ar_button" class="form-control" placeholder="{{ selected_layout.ar_button }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end arabic inputs-->
                                        <!--link inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Link</label>
                                                <!--end label-->
                                                <!--link input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> URL</span>
                                                        <input type="text" name="link" class="form-control" placeholder="{{ selected_layout.link }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end link input-->
                                            </div>
                                        </div>
                                        <!--end link inputs-->
                                    </div>
                                    <!--end block body-->
                                </div>
                                <!--end add product information-->
                            </div>
                        </div>
                        <!--end form inputs-->
                        <!--buttons-->
                        <div class="d-flex justify-content-end" style="padding-top: 50px;">
                            <!--submit button-->
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">Save</span>
                            </button>
                            <!--end submit button-->
                        </div>
                        <!--end buttons-->
                    </div>
                </div>
            </form>
            {% endif %}
            {% if selected_layout_type == 'banner' %}
            <form action="{% url 'e-shop-edit' 'banner' '#' selected_layout.id %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                {% csrf_token %}
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <div class="tab-content">
                        <!--form inputs-->
                        <div class="tab-pane fade active show">
                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                <!--add product information-->
                                <div class="card card-flush py-4">
                                    <!--photo input-->
                                    <div class="card-header">
                                        <div class="fv-row w-100 flex-md-root text-center">
                                            <div class="card card-flush py-4">
                                                <!--thumbnail input-->
                                                <label class="form-label mb-10 mt-10">Photo</label>
                                                <!--end::Card header-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--begin::Image input-->
                                                    <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url({% get_media_prefix %}{{ selected_layout.thumb }})">
                                                        <!--begin::Image preview wrapper-->
                                                        <div class="image-input-wrapper w-400px h-400px"></div>
                                                        <!--end::Image preview wrapper-->
                                                        <!--begin::Edit button-->
                                                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Change avatar">
                                                            <i class="bi bi-pencil-fill fs-7"></i>
                                                            <!--begin::Inputs-->
                                                            <input type="file" name="thumb" accept=".png, .jpg, .jpeg" />
                                                            <input type="hidden" name="thumb_remove" />
                                                            <!--end::Inputs-->
                                                        </label>
                                                        <!--end::Edit button-->
                                                        <!--begin::Cancel button-->
                                                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Cancel avatar">
                                                            <i class="bi bi-x fs-2"></i>
                                                        </span>
                                                        <!--end::Cancel button-->
                                                    </div>
                                                    <!--end::Image input-->
                                                    <!--begin::Description-->
                                                    <div class="text-muted fs-7 mt-5">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                                                    <!--end::Description-->
                                                </div>
                                                <!--end thumbnail input-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end photo input-->

                                    <!--block body-->
                                    <div class="card-body pt-10">
                                        <!--choice inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Choose Banner Type</label>
                                                <!--end label-->
                                                <!--option input-->
                                                <select class="form-select" data-control="select2" data-hide-search="true" name="selected_type">
                                                    {% if selected_layout.en_second_title == 'timed_banner' %}
                                                    <option value="timed_banner" selected >Timed Banner</option>
                                                    <option value="coming_soon_banner">Coming Soon Banner</option>
                                                    {% endif %}
                                                    {% if selected_layout.en_second_title == 'coming_soon_banner' %}
                                                    <option value="timed_banner">Timed Banner</option>
                                                    <option value="coming_soon_banner" selected>Coming Soon Banner</option>
                                                    {% endif %}
                                                </select>
                                                <!--end option input-->
                                            </div>
                                        </div>
                                        <!--end choice inputs-->

                                        <!--english inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">English</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="en_title" class="form-control" placeholder="{{ selected_layout.en_first_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--message input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Message</span>
                                                        <input type="text" name="en_message" class="form-control" placeholder="{{ selected_layout.en_third_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end message input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="en_button" class="form-control" placeholder="{{ selected_layout.en_button }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end english inputs-->
                                        <!--french inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">French</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="fr_title" class="form-control" placeholder="{{ selected_layout.fr_first_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--message input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Message</span>
                                                        <input type="text" name="fr_message" class="form-control" placeholder="{{ selected_layout.fr_third_title }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end message input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="fr_button" class="form-control" placeholder="{{ selected_layout.fr_button }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end french inputs-->
                                        <!--arabic inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Arabic</label>
                                                <!--end label-->
                                                <!--title input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Title</span>
                                                        <input type="text" name="ar_title" class="form-control" placeholder="{{ selected_layout.ar_first_title }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end title input-->
                                                <!--message input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Message</span>
                                                        <input type="text" name="ar_message" class="form-control" placeholder="{{ selected_layout.ar_third_title }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end message input-->
                                                <!--button input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> Button</span>
                                                        <input type="text" name="ar_button" class="form-control" placeholder="{{ selected_layout.ar_button }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end button input-->
                                            </div>
                                        </div>
                                        <!--end arabic inputs-->
                                        <!--date input-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Date</label>
                                                <!--end label-->
                                                <!--link input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--year input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--input-->
                                                            <div class="input-group">
                                                                <span class="input-group-text">year</span>
                                                                <input type="number" name="year" class="form-control" placeholder="{{ selected_layout.year }}">
                                                            </div>
                                                            <!--end input-->
                                                        </div>
                                                        <!--end year input-->
                                                        <!--day input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--input-->
                                                            <div class="input-group">
                                                                <span class="input-group-text">day</span>
                                                                <input type="number" name="day" class="form-control" placeholder="{{ selected_layout.day }}">
                                                            </div>
                                                            <!--end input-->
                                                        </div>
                                                        <!--end day input-->
                                                        <!--month input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--input-->
                                                            <div class="input-group">
                                                                <span class="input-group-text">month</span>
                                                                <input type="number" name="month" class="form-control" placeholder="{{ selected_layout.month }}">
                                                            </div>
                                                            <!--end input-->
                                                        </div>
                                                        <!--end month input-->
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end link input-->
                                            </div>
                                        </div>
                                        <!--end date input-->
                                        <!--link inputs-->
                                        <div class="mt-5 mb-10 fv-row fv-plugins-icon-container">
                                            <div class="fv-row w-100 flex-md-root text-center">
                                                <!--label-->
                                                <label class="form-label mb-10">Link</label>
                                                <!--end label-->
                                                <!--link input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text" style="padding-right: 34px;"> URL</span>
                                                        <input type="text" name="link" class="form-control" placeholder="{{ selected_layout.link }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end link input-->
                                            </div>
                                        </div>
                                        <!--end link inputs-->
                                    </div>
                                    <!--end block body-->
                                </div>
                                <!--end add product information-->
                            </div>
                        </div>
                        <!--end form inputs-->
                        <!--buttons-->
                        <div class="d-flex justify-content-end" style="padding-top: 50px;">
                            <!--submit button-->
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">Save</span>
                            </button>
                            <!--end submit button-->
                        </div>
                        <!--end buttons-->
                    </div>
                </div>
            </form>
            {% endif %}
            {% endif %}

        </div>
        <!--end tabs-->
        <!--footer-->
        <div class="card-footer">

        </div>
        <!--end footer-->
    </div>
</div>
{% endblock %}
<!------------------------------- end products table --------------------------------------->