{% extends "ltr/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Inventory - Dexunt Shop Management
{% endif %}
{% if lang == 'fr' %}
         Inventaire - Dexunt Gestion de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    {% if lang == 'en' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}

    {% if lang == 'fr' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Tableau de Bord" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion des utilisateurs" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventaire" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Boutique en Ligne" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion de la Trésorerie" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english & frensh version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    {% if lang == 'en' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'en' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">Inventory</li>
    {% endif %}

    {% if lang == 'fr' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'fr' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">Inventory</li>
    {% endif %}
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english & frensh version -->
{% block content %}
<div class="container-xxl" id="kt_content_container">
    {% if lang == 'en' %}
    <div class="card card-flush">
        <!--products table header-->
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
            <!--header left-->
            <div class="card-title">
                <!--search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--search logo-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end search logo-->
                    <input type="text" data-kt-ecommerce-product-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Product" />
                </div>
                <!--end search-->
            </div>
            <!--end header left-->

            <!--header right-->
            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                <!--add product-->
                <a href="{% url 'add-product' 'en' %}" class="btn btn-primary">Add Product</a>
                <!--end add product-->
            </div>
            <!--end header right-->
        </div>
        <!--end products table header-->

        <!--products table body-->
        <div class="card-body pt-0">
            <!--table-->
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
                <!--table head-->
                <thead>
                <!--table row-->
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />
                        </div>
                    </th>
                    <th class="min-w-200px">Product</th>
                    <th class="text-end min-w-100px">SKU</th>
                    <th class="text-end min-w-70px">Qty</th>
                    <th class="text-end min-w-100px">Buy Price</th>
                </tr>
                <!--end table row-->
                </thead>
                <!--end table head-->

                <!--begin table body-->
                <tbody class="fw-semibold text-gray-600">
                {% for product in products %}
                <!--begin table row-->
                <tr>
                    <!--checkbox-->
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="1" />
                        </div>
                    </td>
                    <!--end checkbox-->

                    <!--category-->
                    <td>
                        <div class="d-flex align-items-center">
                            <!--begin::Thumbnail-->
                            <a href="edit-product.html" class="symbol symbol-50px">
                                <span class="symbol-label" style="background-image:url({% get_media_prefix %}{{product.thumb}});"></span>
                            </a>
                            <!--end::Thumbnail-->
                            <div class="ms-5">
                                <!--begin::Title-->
                                <a href="edit-product.html" class="text-gray-800 text-hover-primary fs-5 fw-bold" data-kt-ecommerce-product-filter="product_name">{{product.product_name}}</a>
                                <!--end::Title-->
                            </div>
                        </div>
                    </td>
                    <!--end category-->

                    <!--SKU-->
                    <td class="text-end pe-0">
                        <span class="fw-bold">{{product.sku}}</span>
                    </td>
                    <!--end SKU-->

                    <!--quantity-->
                    <td class="text-end pe-0" data-order="46">
                        <span class="fw-bold ms-3">{{product.quantity}}</span>
                    </td>
                    <!--end quantity-->

                    <!--buy price-->
                    <td class="text-end pe-0">
                        <span class="fw-bold text-dark">{{product.buy_price}}</span>
                    </td>
                    <!--end buy price-->

                    <!--action-->
                    <td class="text-end">
                        <a href="products.html#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="See product" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="products.html#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-clipboard-plus"></i>
                        </a>
                        <a href="products.html#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="products.html#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <!--end action-->
                </tr>
                <!--end::Table row-->
                {% endfor %}
                </tbody>
                <!--end table body-->
            </table>
            <!--end table-->
        </div>
        <!--end products table body-->
    </div>
    {% endif %}

    {% if lang == 'fr' %}

    {% endif %}
</div>
{% endblock %}
<!------------------------------- end products table --------------------------------------->