{% extends "ltr/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Show Product - Dexunt Shop Management
{% endif %}
{% if lang == 'fr' %}
         Visualiser un Produit - Dexunt Gestion de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    {% if lang == 'en' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}

    {% if lang == 'fr' %}
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Tableau de Bord" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion des utilisateurs" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'dashboard' 'en' %}" title="Inventaire" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Boutique en Ligne" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cart" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Gestion de la Trésorerie" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack" style="font-size: 2rem;"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
    {% endif %}
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english & frensh version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    {% if lang == 'en' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'en_dashboard' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'en_product_list_show' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">View Product</li>
    {% endif %}

    {% if lang == 'fr' %}
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'fr_dashboard' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' 'fr_product_list_show' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">View Product</li>
    {% endif %}
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- show product --------------------------------------------->
<!-- english & frensh version -->


{% block content %}
<div class="container-xxl" id="kt_content_container">
    {% if lang == 'en' %}
    <!--begin::Navbar-->
    <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
            <!--begin::Details-->
									<div class="d-flex flex-wrap flex-sm-nowrap mb-3">
										<!--begin: Pic-->
										<div class="me-7 mb-4">
											<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                                                <img src="{% get_media_prefix %}{{product_to_view.thumb}}" />
											</div>
										</div>
										<!--end::Pic-->
										<!--begin::Info-->
										<div class="flex-grow-1">
											<!--begin::Title-->
											<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
												<!--begin::User-->
												<div class="d-flex flex-column">
													<!--begin::Name-->
													<div class="d-flex align-items-center mb-2">
														<h4 class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ product_to_view.product_name }}</h4>
														<a href="overview.html#" class="btn btn-sm btn-light-success fw-bold ms-2 fs-8 py-1 px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade to Pro</a>
													</div>
													<!--end::Name-->
													<!--begin::Info-->
													<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
														<a class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                                            <i class="bi bi-upc" style="margin-right: 5px;font-size: 2rem;"></i>
                                                            {{ product_to_view.upc }}
                                                        </a>

														<a class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
														<i class="bi bi-stack" style="margin-right: 5px;font-size: 2rem;"></i>
                                                            {{ product_to_view.quantity }}
                                                        </a>
														<a class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
														<i class="bi bi-cash" style="margin-right: 5px;font-size: 2rem;"></i>
                                                            {{ product_to_view.buy_price }}
                                                        </a>
													</div>
													<!--end::Info-->
												</div>
												<!--end::User-->
												<!--begin::Actions-->
												<div class="d-flex my-4">
													<!--begin::Menu-->
													<div class="me-0">
														<button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                            <i class="bi bi-clipboard-plus "style="margin-right: 5px;font-size: 3rem;"></i>
														</button>
														<!--begin::Menu 3-->
														<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
															<!--begin::Heading-->
															<div class="menu-item px-3">
																<div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Add Features</div>
															</div>
															<!--end::Heading-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Photo</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Model</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Brand</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Color</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Dimensions</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Size</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="overview.html#" class="menu-link px-3">Weight</a>
															</div>
															<!--end::Menu item-->
														</div>
														<!--end::Menu 3-->
													</div>
													<!--end::Menu-->
												</div>
												<!--end::Actions-->
											</div>
											<!--end::Title-->
                                            <!--begin::Stats-->
											<div class="d-flex flex-wrap flex-stack">
												<!--begin::Progress-->
												<div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
													<div class="d-flex justify-content-between w-100 mt-auto mb-2">
														<span class="fw-semibold fs-6 text-gray-400">Profile Compleation</span>
														<span class="fw-bold fs-6">{{product_to_view.profile|mul:10}}%</span>
													</div>
													<div class="h-5px mx-3 w-100 bg-light mb-3">
														<div class="bg-success rounded h-5px" role="progressbar" style="width: {{product_to_view.profile|mul:10}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
												<!--end::Progress-->
											</div>
											<!--end::Stats-->


										</div>
										<!--end::Info-->
									</div>
									<!--end::Details-->
								</div>



							</div>
    <!--end::Navbar-->


    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
								<!--begin::Card header-->
								<div class="card-header cursor-pointer">
									<!--begin::Card title-->
									<div class="card-title m-0">
										<h3 class="fw-bold m-0">Product Photos</h3>
									</div>
									<!--end::Card title-->
								</div>
								<!--begin::Card header-->
								<!--begin::Card body-->
								<div class="card-body p-9">


                                    <div class="tns tns-default">
    <!--begin::Slider-->
    <div
    data-tns="true"
    data-tns-loop="true"
    data-tns-swipe-angle="false"
    data-tns-speed="2000"
    data-tns-autoplay="true"
    data-tns-autoplay-timeout="18000"
    data-tns-controls="true"
    data-tns-nav="false"
    data-tns-items="3"
    data-tns-center="false"
    data-tns-dots="false"
    data-tns-prev-button="#kt_team_slider_prev1"
    data-tns-next-button="#kt_team_slider_next1">

        {% for photo in photos %}
        <!--begin::Item-->
        <div class="text-center px-5 py-5">
            <img src="{% get_media_prefix %}{{photo.picture}}" class="card-rounded shadow mw-100" alt="" />

                                                <!--begin::Remove button-->
                                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" >
                                                    <i class="bi bi-pencil-square"></i>
                                                </span>
                                                <!--end::Remove button-->


        </div>
        <!--end::Item-->
        {% endfor %}

    </div>
    <!--end::Slider-->

    <!--begin::Slider button-->
    <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev1">
        <i class="bi bi-chevron-compact-left" style="font-size: 2rem;"></i>
    </button>
    <!--end::Slider button-->

    <!--begin::Slider button-->
    <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next1">
        <i class="bi bi-chevron-compact-right" style="font-size: 2rem;"></i>
    </button>
    <!--end::Slider button-->
</div>





								</div>
								<!--end::Card body-->
							</div>



    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
								<!--begin::Card header-->
								<div class="card-header cursor-pointer">
									<!--begin::Card title-->
									<div class="card-title m-0">
										<h3 class="fw-bold m-0">Product Details</h3>
									</div>
									<!--end::Card title-->
								</div>
								<!--begin::Card header-->
								<!--begin::Card body-->
								<div class="card-body p-9">
									<!--begin::Row-->
									<div class="py-5">
 <div class="table-responsive">
     <table class="table table-row-dashed table-row-gray-300 gy-7">
         <thead>
         <tr class="fw-bold fs-6 text-gray-800">
             <th>Features</th>
             <th>Language</th>
             <th>SKU</th>
             <th>Value</th>
             <th>edit & delete</th>
         </tr>
         </thead>
         <tbody>
         {% for feature in features %}
         <tr>
             <td>{{ feature.type }}</td>
             <td>{{ feature.language }}</td>
             <td>{{ feature.sku }}</td>
             <td>{{ feature.value }}</td>
             <td>edit & delete</td>
         </tr>
         {% endfor %}

         </tbody>
     </table>
 </div>
</div>



									<!--end::Row-->
									<!--begin::Notice-->
									<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
										<!--begin::Icon-->
										<!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
										<span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
												<rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
												<rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
										<!--end::Icon-->
										<!--begin::Wrapper-->
										<div class="d-flex flex-stack flex-grow-1">
											<!--begin::Content-->
											<div class="fw-semibold">
												<h4 class="text-gray-900 fw-bold">We need your attention!</h4>
												<div class="fs-6 text-gray-700">Your payment was declined. To start using tools, please
												<a class="fw-bold" href="billing.html">Add Payment Method</a>.</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Wrapper-->
									</div>
									<!--end::Notice-->













								</div>
								<!--end::Card body-->





    </div>









    {% endif %}

    {% if lang == 'fr' %}

    {% endif %}
</div>
{% endblock %}
<!------------------------------- end show product ----------------------------------------->