{% extends "rtl/management/cash/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Cash Home | Dashboard</title>{% endblock %}

<!-- showcase content -->
{% block content %}
<div class="card">
  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for transaction in transactions %}
      <!-- Table Actions -->
      <tr>
        <td>
          <span class="d-block text-dark fw-semibold fs-5">{{ transaction.name }}</span>
        </td>

        <td>
          <span class="d-block fs-5">Sales: {{ transaction.sale }}</span>
        </td>

        <td>
          <span class="d-block fs-5 text-secondary fw-semibold">Incomes: {{ transaction.sales|floatformat:"0g" }} <small>DZD</small></span>
        </td>

        <td class="text-end">
          {% if transaction.balance > 0 %}
          <span class="d-block fs-5 text-success fw-semibold">+ {{ transaction.balance|floatformat:"0g" }} <small>DZD</small></span>
          {% else %}
          <span class="d-block fs-5 text-danger fw-semibold">{{ transaction.balance|floatformat:"0g" }} <small>DZD</small></span>
          {% endif %}
        </td>

      </tr>
      <!-- End Table Actions -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  {% if transactions.has_other_pages %}
  <!-- Footer -->
  <div class="card-footer">
    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-sm-end">
      <nav>
        {% if transactions.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if transactions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in transactions.paginator.page_range %}
          {% if transactions.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if transactions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- End Pagination -->
  </div>
  <!-- End Footer -->
  {% endif %}
</div>
{% endblock %}

