{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Orders</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">orders</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">You have {{ all_orders.all.count }} orders</h6>
  </div>
  <!-- end all products  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search orders" aria-label="Search orders">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if all_orders.all.count %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for order in all_orders.all %}
      <!-- product forms list -->
      <!-- delete product form -->
      <form action="{% url 'manage-products' 'delete_product' %}" id="delete_product_form_{{ product.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value='{{ product.id }}'>
      </form>

      <!-- delete product form -->
      <form action="{% url 'manage-products' 'clean_product' %}" id="clean_product_form_{{ product.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value='{{ product.id }}'>
      </form>

      <!-- view product form -->
      <form action="{% url 'manage-products' 'view_product' %}" id="view_product_form_{{ product.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value='{{ product.id }}'>
      </form>

      <!-- end product forms list -->

      <!-- products list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- order ref & date -->
        <td>
          <span class="d-block h5 text-inherit mb-0"># {{ order.ref }}</span>
          <span class="d-block fs-5 text-body">{{ order.created_at }}</span>
        </td>
        <!-- products -->
        <td class="table-column-ps-0">
          <div class="dropdown">
            <button class="btn btn-ghost bg-white link-dark text-secondary" type="button" id="{{ order.id }}" data-bs-toggle="dropdown" aria-expanded="false" data-bs-open-on-hover data-bs-dropdown-animation>
              {{ order.product.all.count }} products
            </button>
            <div class="dropdown-menu" aria-labelledby="{{ order.id }}">
              <div class="table-responsive datatable-custom">
                <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                  <tbody>
                  {% for product in order.product.all %}
                  <tr>
                    <td>
                      <a class="d-flex align-items-center" href="{% url 'product-router' product.variant_id 0 'no' 'regular_product' %}">
                        <div class="avatar avatar-square">
                          <img class="avatar-img" src="{% get_media_prefix %}{{ product.image }}">
                        </div>
                        <div class="ms-3">
                          <span class="d-block h5 text-inherit mb-0">{{ product.en_name }}</span>
                          <span class="d-block fs-5 text-body">{{ product.en_detail }}</span>
                        </div>
                      </a>
                    </td>
                    <td>
                      <span class="d-block h5 mb-0">{{ product.price|floatformat:"2g" }} <small>DZD</small></span>
                      <span class="d-block fs-5">quantity: {{ product.quantity }}</span>
                    </td>
                    {% if product.quantity_issue %}
                    <td>
                      <span class="badge bg-warning">no stock</span>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </td>
        <!-- client name & client phone -->
        <td>
          <span class="d-block h5 text-inherit mb-0">{{ order.client_name|title }}</span>
          <span class="d-block fs-5 text-body">{{ order.client_phone|title }}</span>
        </td>
        <!-- delivery address & delivery price -->
        <td>
          <small><span class="d-block fs-5 text-body">{{ order.province|title }} | {{ order.municipality|title }}</span></small>
          {% if order.delivery_type == 'HOME' %}
          <small><span class="d-block fs-5 text-body">delivery to home</span></small>
          {% endif %}

          {% if order.delivery_type == 'DESK' %}
          <small><span class="d-block fs-5 text-body">delivery to desk</span></small>
          {% endif %}

          {% if order.delivery_price %}
          <small><span class="d-block fs-5 text-body">{{ order.delivery_price|floatformat:"2g" }} <small>DZD</small></span></small>
          {% else %}
          <small><span class="d-block fs-5 text-body">free</span></small>
          {% endif %}
        </td>
        <!-- delivery address & delivery price -->
        <td>
          <small><span class="d-block fs-5 text-body">{{ order.status }}</span></small>
        </td>
        <!-- order actions -->
        <td class="text-end">
          <!-- clean product -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#clean_product_modal_{{ product.id }}">
            <i class="bi-magic" data-bs-toggle="tooltip" data-bs-placement="top" title="Clean"></i>
          </button>

          <!-- view product -->
          <button class="btn btn-white btn-icon" form="view_product_form_{{ product.id }}">
            <i class="bi-pencil" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
          </button>

          <!-- delete product -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_product_modal_{{ product.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
        </td>
      </tr>
      <!-- end products list -->

      <!-- products actions modals -->

      <!-- delete product modal -->
      <div id="delete_product_modal_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>click yes to delete {{ product.en_title }}.</p>
            </div>
            <div class="modal-footer" style="align-self: center;">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" form="delete_product_form_{{ product.id }}">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- clean product modal -->
      <div id="clean_product_modal_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>click yes to clean {{ product.en_title }}.</p>
            </div>
            <div class="modal-footer" style="align-self: center;">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" form="clean_product_form_{{ product.id }}">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- end products actions modals -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="12">12</option>
              <option value="14" selected>14</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty"></span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        Your don't have orders yet .
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all products  -->
{% endblock %}