{% extends "rtl/management/cash/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Cash Home | Dashboard</title>{% endblock %}

<!-- showcase content -->
{% block content %}
<div class="card">
  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for transaction in transactions %}
      <!-- Table Actions -->
      <tr>
        <td>
          {% if transaction.title == 'funds-added' %}
          <span class="d-block text-secondary fw-semibold fs-5"> working funds </span>
          {% endif %}

          {% if transaction.title == 'member-payment-request' %}
          <span class="d-block text-dark fw-semibold fs-5">transfer to {{ transaction.requested_by.username }}</span>
          {% endif %}

          {% if transaction.title == 'member-funds-transfer' %}
          <span class="d-block text-secondary fw-semibold fs-5">transfer from {{ transaction.requested_by.username }}</span>
          {% endif %}
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.created_at }}</span>
        </td>

        <td>
          {% if transaction.confirmed %}
          <span class="d-block fs-5">{{ transaction.confirmed_at }}</span>
          {% else %}
          {% if transaction.title == 'funds-added' %}
          <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#confirm_reception_modal_{{ transaction.id }}">
            <i class="fa fa-check fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign"></i>
          </a>
          {% else %}
          <span class="d-block fs-5">not confirmed</span>
          {% endif %}
          {% endif %}
        </td>

        <td class="text-end">
          {% if transaction.confirmed %}
          {% if transaction.add %}
          <span class="d-block fs-5 text-success fw-semibold">+ {{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
          {% else %}
          <span class="d-block fs-5 text-danger fw-semibold">- {{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
          {% endif %}
          {% else %}
          <span class="d-block fs-5 text-dark">{{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
          {% endif %}
        </td>
      </tr>
      <!-- End Table Actions -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  {% if transactions.has_other_pages %}
  <!-- Footer -->
  <div class="card-footer">
    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-sm-end">
      <nav>
        {% if transactions.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if transactions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in transactions.paginator.page_range %}
          {% if transactions.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if transactions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- End Pagination -->
  </div>
  <!-- End Footer -->
  {% endif %}
</div>

{% for transaction in transactions %}
<!-- Table Forms -->
<form action="{% url 'cash-wallet' 'confirm_transaction' %}" id="confirm_reception_form_{{ transaction.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="transaction_id" value='{{ transaction.id }}'>
</form>

<form action="{% url 'cash-wallet' 'decline_transaction' %}" id="decline_reception_form_{{ transaction.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="transaction_id" value='{{ transaction.id }}'>
</form>
<!-- End Table Forms -->

<!-- Confirm Modal -->
<div id="confirm_reception_modal_{{ transaction.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Click yes if you gave to {{ transaction.wallet.user.first_name|title }}
          {{ transaction.wallet.user.last_name|title }} the amount of {{ transaction.amount|floatformat:"0g" }}
          <small>DZD</small>, if not click decline
        </p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-white" form="decline_reception_form_{{ transaction.id }}">Decline</button>
        <button class="btn btn-white" form="confirm_reception_form_{{ transaction.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Confirm Modal -->
{% endfor %}
{% endblock %}

