{% extends "ltr/management/provider/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">Manage my products</h6>
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end all products  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          {% if search_key_word %}
          <input class="form-control" type="search" name="key_word" value="{{ search_key_word }}" required hx-get="{% url 'provider-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% else %}
          <input class="form-control" type="search" name="key_word" placeholder="Search products" required hx-get="{% url 'provider-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% endif %}
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  <div id="list">
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <tbody>
        {% for variant in variants %}
        {% for option in variant.option_set.all %}
        <!-- products list -->
        <tr  class="{% if not option.store_task %}bg-light{% endif %}">
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="{% url 'product-page' 'regular_product' %}?variant_id={{ variant.id }}">
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ variant.image }}">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ variant.product.title|title }}, {{ variant.spec|title}}, {{ option.value|title }}</h5>
              </div>
            </a>
          </td>
          <!-- price -->
          <td>
            {% if option.cost %}
            <span class="d-block text-dark fs-6">
              {{ option.cost|floatformat:"0g" }} DZD
            </span>
            {% else %}
            <span class="badge bg-warning">no price</span>
            {% endif %}
          </td>
          <!-- capacity -->
          <td>
            {% if option.production_capacity_quantity %}
            <span class="d-block text-dark fs-6">
              {{ option.production_capacity_quantity }} per {{ option.capacity_time_safe }}
            </span>
            {% else %}
            <span class="badge bg-warning">no capacity</span>
            {% endif %}
          </td>
          <!-- product actions -->
          <td class="text-end">
            {% if option.is_activated %}
            <!-- deactivate -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#deactivate_modal_{{ option.id }}">
              <i class="fa fa-x" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate"></i>
            </button>
            {% endif %}

            <!-- edit capacity -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_capacity_modal_{{ option.id }}">
              <i class="fa fa-bars-progress" data-bs-toggle="tooltip" data-bs-placement="top" title="Production Capacity"></i>
            </button>

            <!-- price -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_price_modal_{{ option.id }}">
              <i class="fa fa-coins" data-bs-toggle="tooltip" data-bs-placement="top" title="Price"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    {% if variants.has_other_pages %}
    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if variants.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if variants.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in variants.paginator.page_range %}
            {% if variants.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if variants.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->
    {% endif %}
  </div>
</div>
<!-- end all products  -->

<!-- product modals & forms -->
{% for variant in variants %}
{% for option in variant.option_set.all %}
<!-- edit price modal -->
<div id="edit_price_modal_{{ option.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Edit Price</h2>
          </div>

          <form action="{% url 'provider-products' 'edit_price' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="option_id" value="{{ option.id }}">

            <div class="row mb-4 px-4">
              <div class="input-group input-group-merge input-group-borderless input-group-flush">
                <div class="input-group-prepend input-group-text">
                  <i class="fa fa-coins"></i>
                </div>
                {% if option.cost %}
                <input type="number" class="form-control" value="{{ option.cost }}" name="price" min="0" required>
                {% else %}
                <input type="number" class="form-control" placeholder="price" name="price" min="0" required>
                {% endif %}

                <span class="invalid-feedback text-start">Please enter your new price.</span>
              </div>
            </div>
            <div class="d-flex justify-content-end gap-3">
              <button type="submit" class="btn btn-white">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- remove quantity modal -->
<div id="remove_quantity_modal_{{ option.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Remove quantity</h2>
          </div>

          <form action="{% url 'provider-products' 'remove_quantity' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="option_id" value="{{ option.id }}">

            <div class="row mb-4">
              <div class="input-group input-group-merge input-group-borderless input-group-flush">
                <div class="input-group-prepend input-group-text">
                  <i class="fa fa-minus"></i>
                </div>
                <input type="number" class="form-control" placeholder="quantity"  name="quantity" max="{{ option.quantity }}" min="0" required>
                <span class="invalid-feedback text-start">Quantity to remove must not exceed inventory.</span>
              </div>
            </div>
            <div class="d-flex justify-content-end gap-3">
              <button type="submit" class="btn btn-white">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit capacity modal -->
<div id="edit_capacity_modal_{{ option.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Edit Production Capacity</h2>
          </div>

          <form action="{% url 'provider-products' 'edit_capacity' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="option_id" value="{{ option.id }}">

            <span class="divider-center mb-2">Produce :</span>

            <div class="row mb-3 px-4">
              <div class="input-group input-group-merge input-group-borderless input-group-flush">
                {% if option.production_capacity_quantity %}
                <input type="number" class="form-control" value="{{ option.production_capacity_quantity }}" name="quantity" min="0" required>
                {% else %}
                <input type="number" class="form-control" placeholder="quantity" name="quantity" min="0" required>
                {% endif %}
                <span class="invalid-feedback text-start">Please enter quantity to add.</span>
              </div>
            </div>

            <span class="divider-center mb-2">Per :</span>

            <div class="row mb-3 px-4">
              <div class="col-6 text-start">
                <!-- 24h -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if not option.capacity_time or option.capacity_time == 'select_1' %}
                    <input type="radio" class="form-check-input" name="duration" value="24h" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="24h">
                    {% endif %}

                    <label class="form-check-label">24h</label>
                  </div>
                </div>
                <!-- end 24h -->

                <!-- two days -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if option.capacity_time == 'select_2' %}
                    <input type="radio" class="form-check-input" name="duration" value="two_days" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="two_days">
                    {% endif %}

                    <label class="form-check-label">Two Days</label>
                  </div>
                </div>
                <!-- end two days -->

                <!-- three days -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if option.capacity_time == 'select_3' %}
                    <input type="radio" class="form-check-input" name="duration" value="three_days" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="three_days">
                    {% endif %}

                    <label class="form-check-label">Three Days</label>
                  </div>
                </div>
                <!-- end three days -->
              </div>

              <div class="col-6 text-end">
                <!-- four days -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if option.capacity_time == 'select_4' %}
                    <input type="radio" class="form-check-input" name="duration" value="four_days" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="four_days">
                    {% endif %}

                    <label class="form-check-label">Four Days</label>
                  </div>
                </div>
                <!-- end four days -->

                <!-- one week -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if option.capacity_time == 'select_5' %}
                    <input type="radio" class="form-check-input" name="duration" value="one_week" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="one_week">
                    {% endif %}

                    <label class="form-check-label">One Week</label>
                  </div>
                </div>
                <!-- end one week -->

                <!-- one month -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    {% if option.capacity_time == 'select_6' %}
                    <input type="radio" class="form-check-input" name="duration" value="one_month" checked>
                    {% else %}
                    <input type="radio" class="form-check-input" name="duration" value="one_month">
                    {% endif %}

                    <label class="form-check-label">One Month</label>
                  </div>
                </div>
                <!-- end one month -->
              </div>
            </div>

            <div class="d-flex justify-content-end gap-3">
              <button type="submit" class="btn btn-white">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- deactivate modal -->
<div id="deactivate_modal_{{ option.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Deactivate Option</h2>
          </div>

          <form action="{% url 'provider-products' 'deactivate' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="option_id" value="{{ option.id }}">

            <div class="row mb-4">
              <span class="text-center">
                Click yes to deactivate.
              </span>
              <br>
              <span class="text-center">
                {{ option.variant.product.en_title|title }} ,{{ option.variant.en_spec|title }} ,{{ option.en_value|title }}.
              </span>
            </div>
            <div class="d-flex justify-content-center gap-3">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Yes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}