{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}
<title>
    TOVANA HEALTH manager | users
</title>
{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">users</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Users</h1>
    <h6 class="text-muted">Manage users</h6>
  </div>
  <div class="col-sm-auto">
  </div>
</div>
{% endblock %}

<!-- content -->
{% block content %}
<div class="card">
  <!-- Header -->
  <div class="card-header card-header-content-md-between">
    <div class="mb-2 mb-md-0">
      <!-- Search -->
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          {% if search_key_word %}
          <input class="form-control" type="search" name="key_word" value="{{ search_key_word }}" required hx-get="{% url 'admin-manage-users' 'search_users' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% else %}
          <input class="form-control" type="search" name="key_word" placeholder="Search users" required hx-get="{% url 'admin-manage-users' 'search_users' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% endif %}
        </div>
      <!-- End Search -->
    </div>
    <div class="d-grid d-sm-flex justify-content-md-end align-items-sm-center gap-2">
      {% if filtered == 'all' %}
      <button class="btn btn-white btn-sm me-2" disabled>
        all
      </button>
      {% else %}
      <a href="?filter=all" class="btn btn-white btn-sm me-2">
        all
      </a>
      {% endif %}

      {% if filtered == 'costumers' %}
      <button class="btn btn-white btn-sm me-2" disabled>
        clients
      </button>
      {% else %}
      <a href="?filter=costumers" class="btn btn-white btn-sm me-2">
        clients
      </a>
      {% endif %}

      {% if filtered == 'members' %}
      <button class="btn btn-white btn-sm me-2" disabled>
        members
      </button>
      {% else %}
      <a href="?filter=members" class="btn btn-white btn-sm me-2">
        members
      </a>
      {% endif %}

      {% if filtered == 'sellers' %}
      <button class="btn btn-white btn-sm" disabled>
        sellers
      </button>
      {% else %}
      <a href="?filter=sellers" class="btn btn-white btn-sm">
        sellers
      </a>
      {% endif %}

      {% if filtered == 'providers' %}
      <button class="btn btn-white btn-sm" disabled>
        providers
      </button>
      {% else %}
      <a href="?filter=providers" class="btn btn-white btn-sm">
        providers
      </a>
      {% endif %}

      {% if filtered == 'blacklist' %}
      <button class="btn btn-white btn-sm" disabled>
        blacklist
      </button>
      {% else %}
      <a href="?filter=blacklist" class="btn btn-white btn-sm">
        blacklist
      </a>
      {% endif %}
    </div>
  </div>
  <!-- End Header -->

  <div id="list">
    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Orders</th>
          <th>Cart</th>
          <th>Wallet</th>
          <th>Points</th>
          <th>Role</th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        {% for selected_user in users_list %}
        <!-- Table Actions -->
        <tr>
          <td>
            <a class="d-flex align-items-center" href="{% url 'admin-manage-users' 'select_user' %}?user_id={{ selected_user.id }}">
              <div class="avatar avatar-soft-dark avatar-circle">
                <span class="avatar-initials">{{ selected_user.first_name|title|slice:"1" }}{{ selected_user.last_name|title|slice:"1" }}</span>
              </div>
              <div class="ms-3">
                <span class="d-block h5 text-inherit mb-0">{{ selected_user.username }}</span>
                <span class="d-block fs-5 text-body">{{ selected_user.first_name|title }} {{ selected_user.last_name|title }}</span>
              </div>
            </a>
          </td>

          <td>
            <span class="d-block fs-5">{{ selected_user.all_orders.all.count }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ selected_user.cart.selected_products.all.count }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ selected_user.wallet.balance }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ selected_user.points }}</span>
          </td>

          <td>
            {% if selected_user.is_customer %}
            <span class="d-block fs-5">client</span>
            {% endif %}
            {% if selected_user.is_provider %}
            <span class="d-block fs-5">provider</span>
            {% endif %}
            {% if selected_user.is_seller %}
            <span class="d-block fs-5">seller</span>
            {% endif %}
            {% if selected_user.is_member %}
            <span class="d-block fs-5">member</span>
            {% endif %}
            {% if selected_user.is_cash_manager %}
            <span class="d-block fs-5">cash</span>
            {% endif %}
          </td>

          <td class="text-end">
            {% if selected_user.is_activated %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#deactivate_modal_{{ selected_user.id }}">
              <i class="fa fa-lock-open fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to deactivate"></i>
            </a>
            {% else %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#activate_modal_{{ selected_user.id }}">
              <i class="fa fa-lock fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to activate"></i>
            </a>
            {% endif %}

            {% if selected_user.is_customer %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#change_modal_{{ selected_user.id }}">
              <i class="fa fa-user fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Change"></i>
            </a>
            {% endif %}

            {% if selected_user.is_cash_manager %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#add_cash_modal_{{ selected_user.id }}">
              <i class="fa fa-coins fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Cash"></i>
            </a>
            {% endif %}

            <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ selected_user.id }}">
              <i class="fa fa-trash fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </a>
          </td>
        </tr>
        <!-- End Table Actions -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="d-flex justify-content-center justify-content-sm-end">
        <nav>
          {% if users_list.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if users_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ users_list.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in users_list.paginator.page_range %}
            {% if users_list.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if users_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ users_list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->
  </div>

  {% for selected_user in users_list %}
  <!-- Table Forms -->
  <form action="{% url 'admin-manage-users' 'activate_user' %}" id="confirm_user_form_{{ selected_user.id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="user_id" value='{{ selected_user.id }}'>
    <input type="hidden" name="users_page" value='{{ users_list.number }}'>
  </form>
  <form action="{% url 'admin-manage-users' 'deactivate_user' %}" id="pend_user_form_{{ selected_user.id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="user_id" value='{{ selected_user.id }}'>
    <input type="hidden" name="users_page" value='{{ users_list.number }}'>
  </form>
  <form action="{% url 'admin-manage-users' 'delete_user' %}" id="delete_user_form_{{ selected_user.id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="user_id" value='{{ selected_user.id }}'>
    <input type="hidden" name="users_page" value='{{ users_list.number }}'>
  </form>
  <!-- End Table Forms -->

  <!-- Deactivate User Modal -->
  <div id="deactivate_modal_{{ selected_user.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>{{ selected_user.username }} will be deactivated, click Yes to confirm.</p>
        </div>
        <div class="modal-footer" style="align-self: center;">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" form="pend_user_form_{{ selected_user.id }}">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Deactivate User Modal -->

  <!-- Activate User Modal -->
  <div id="activate_modal_{{ selected_user.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>{{ selected_user.username }} will be activated, click Yes to confirm.</p>
        </div>
        <div class="modal-footer" style="align-self: center;">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" form="confirm_user_form_{{ selected_user.id }}">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Activate User Modal -->

  <!-- Delete User Modal -->
  <div id="delete_modal_{{ selected_user.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>{{ selected_user.username }} will be definitely deleted, click Yes to confirm.</p>
        </div>
        <div class="modal-footer" style="align-self: center;">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" form="delete_user_form_{{ selected_user.id }}">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Delete User Modal -->

  <!-- Add Cash Modal -->
  <div id="add_cash_modal_{{ selected_user.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div>
          <!-- login title -->
          <div class="text-center mb-7">
            <h2>{{ selected_user.first_name|title }} {{ selected_user.last_name|title }} Profile</h2>
          </div>
          <!-- end login title -->
          <form action="{% url 'admin-manage-users' 'add_funds' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value='{{ selected_user.id }}'>

            <div class="row mb-4">
              <div class="input-group input-group-merge input-group-borderless input-group-flush">
                <div class="input-group-prepend input-group-text">
                  <i class="fa fa-coins"></i>
                </div>
                <input type="number" class="form-control" placeholder="amount to add" name="cash" min="0" required>
                <span class="invalid-feedback text-start">Please enter cash value.</span>
              </div>
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
      </div>
    </div>
  </div>
  <!-- End Add Cash Modal -->

  <!-- Change Modal -->
  <div id="change_modal_{{ selected_user.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div>
          <!-- login title -->
          <div class="text-center mb-7">
            <h2>{{ selected_user.first_name|title }} {{ selected_user.last_name|title }} Profile</h2>
          </div>
          <!-- end login title -->
          <form action="{% url 'admin-manage-users' 'change_user' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value='{{ selected_user.id }}'>

            <div class="row mb-3">
              <div class="col text-center">
                <!-- seller -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" name="role" value="seller" checked>
                    <label class="form-check-label">Seller</label>
                  </div>
                </div>
                <!-- end seller -->

                <!-- provider -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" name="role" value="provider">
                    <label class="form-check-label">Provider</label>
                  </div>
                </div>
                <!-- end provider -->

                <!-- member -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" name="role" value="member">
                    <label class="form-check-label">Member</label>
                  </div>
                </div>
                <!-- end member -->

                <!-- cash manager -->
                <div class="input-group input-group-borderless mb-2">
                  <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" name="role" value="cash">
                    <label class="form-check-label">Cash Manager</label>
                  </div>
                </div>
                <!-- end cash manager -->
              </div>
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
      </div>
    </div>
  </div>
  <!-- End Change Modal -->
  {% endfor %}
</div>
{% endblock %}
