{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
    Dashboard - Dexunt Shop Management
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">Dashboard</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->
