{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
    Inventory - Dexunt E-Shop Management
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid fs-2x"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people fs-2x"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'inventory' '#' '#' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam fs-2x"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'e-shop' '#' '#' 0 %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-shop-window fs-2x"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title orders management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Orders Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-truck fs-2x"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!--end menu title orders management-->
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">E Shop</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english version -->
{% block content %}
<div class="container-xxl">
    <div class="card card-flush shadow-sm">
        <!--header-->
        <div class="card-header">
            <div class="card-body pt-9 pb-0">
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                    <!--company logo-->
                    <div class="me-20">
                        <img alt="Logo" src="{% static 'manager/media/logos/logo-default.svg' %}" class="h-90px" />
                    </div>
                    <!--end company logo-->
                    <!--main information-->
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <a class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">Dexunt - Online Shopping & Logistics </a>
                                </div>
                                <div class="d-flex flex-wrap fw-semibold fs-6 mb-2 pe-2">
                                    <!--
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="add category" style="margin-left: 10px;">
                                        <i class="bi bi-plus-square"></i>
                                    </a>
                                    <i class="bi bi-dash-lg"></i>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete category" style="margin-left: 10px;">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit category">
                                        category 1
                                    </a>
                                    <i class="bi bi-dash-lg"></i>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete category" style="margin-left: 10px;">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit category" style="margin-left: 10px;">
                                        category 2
                                    </a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end main information-->
                </div>
            </div>
        </div>
        <!--end header-->
        <!--card body-->
        <div class="card-body">
        </div>
        <!--end card body-->
        <!--footer-->
        <div class="card-footer">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700 active" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#shop_management">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#showcase_products">
                        Showcases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#categories">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#delivery">
                        Delivery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#gift_management">
                        Gifts
                    </a>
                </li>
            </ul>
        </div>
        <!--end footer-->
    </div>
</div>


<div class="tab-content">
    <!--shop management pan-->
    <div class="tab-pane fade active show" id="shop_management">

        {% for intro_banner in intro_banners %}
        <div class="container-xxl mt-5">
            <div class="card card-flush shadow-sm">
                <div class="card-body">
                    <div class="card-body py-9">
                        <div class="row gx-9 h-100">

                            <form action="{% url 'e-shop' 'edit_banner' '#' intro_banner.rank %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post" enctype="multipart/form-data">
                                {% csrf_token %}


                                <div class="col-sm-6 mb-10 mb-sm-0">
                                    <div class="image-input image-input-empty bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-300px min-w-350px" data-kt-image-input="true" style="background-image: url({% get_media_prefix %}{{ intro_banner.thumb }})">
                                        <div class="image-input-wrapper min-h-300px min-w-350px"></div>
                                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="change image">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="thumb" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="photo_remove" />
                                        </label>
                                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click" title="cancel image">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click" title="remove image">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="d-flex flex-column h-100">

                                        <!--begin::Accordion-->
                                        <div class="accordion mb-2" id="kt_accordion_1">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="kt_accordion_1_header_1">
                                                    <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
                                                        English
                                                    </button>
                                                </h2>
                                                <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                                                    <div class="accordion-body">
                                                        <input type="text" name="en_intro" class="form-control" placeholder="english intro" value="{{ intro_banner.en_intro }}">
                                                        <input type="text" name="en_title" class="form-control" placeholder="english title" value="{{ intro_banner.en_title }}">
                                                        <input type="text" name="en_description" class="form-control" placeholder="english description" value="{{ intro_banner.en_description }}">
                                                        <input type="text" name="en_button" class="form-control" placeholder="english button" value="{{ intro_banner.en_button }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="kt_accordion_1_header_2">
                                                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
                                                        French
                                                    </button>
                                                </h2>
                                                <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                                                    <div class="accordion-body">
                                                        <input type="text" name="fr_intro" class="form-control" placeholder="french intro" value="{{ intro_banner.fr_intro }}">
                                                        <input type="text" name="fr_title" class="form-control" placeholder="french title" value="{{ intro_banner.fr_title }}">
                                                        <input type="text" name="fr_description" class="form-control" placeholder="french description" value="{{ intro_banner.fr_description }}">
                                                        <input type="text" name="fr_button" class="form-control" placeholder="french button" value="{{ intro_banner.fr_button }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="kt_accordion_1_header_3">
                                                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
                                                        Arabic
                                                    </button>
                                                </h2>
                                                <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
                                                    <div class="accordion-body">
                                                        <input type="text" name="ar_intro" class="form-control" placeholder="arabic intro" value="{{ intro_banner.ar_intro }}" dir="rtl">
                                                        <input type="text" name="ar_title" class="form-control" placeholder="arabic title" value="{{ intro_banner.ar_title }}" dir="rtl">
                                                        <input type="text" name="ar_description" class="form-control" placeholder="arabic description" value="{{ intro_banner.ar_description }}" dir="rtl">
                                                        <input type="text" name="ar_button" class="form-control" placeholder="arabic button" value="{{ intro_banner.ar_button }}" dir="rtl">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Accordion-->



                                        <div class="mb-2">
                                            <input type="text" name="button_link" class="form-control" placeholder="banner url" value="{{ intro_banner.link }}">
                                        </div>

                                        <div class="d-flex align-self-end">
                                            <button type="submit" class="btn btn-light-secondary me-5">
                                                <i class="bi bi-arrow-repeat fs-2x"></i>
                                            </button>
                                            <button href="#" class="btn btn-light-secondary me-5">
                                                <i class="bi bi-arrow-down-square fs-2x"></i>
                                            </button>
                                            <button href="#" class="btn btn-light-secondary">
                                                <i class="bi bi-arrow-up-square fs-2x"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!--end shop management pan-->

    <!--showcase products pan-->
    <div class="tab-pane fade" id="showcase_products">
        <div class="container-xxl mt-5">
            <div class="card card-flush shadow-sm">
                <div class="card-body">
                    <div class="card-body py-9">
                        <div class="row gx-9 h-100">
                            <div class="col-sm-6 mb-10 mb-sm-0">
                                <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-400px min-h-sm-100 h-100" style="background-size: 100% 100%;background-image:url('../assets/media/stock/600x600/img-33.jpg')"></div>
                            </div>

                            <div class="col-sm-6">
                                showcase products
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end showcase products pan-->

    <!--categories pan-->
    <div class="tab-pane fade" id="categories">
                    categories
    </div>
    <!--end categories pan-->

    <!--delivery management pan-->
    <div class="tab-pane fade" id="delivery">
                    delivery
    </div>
    <!--end delivery management pan-->

    <!--gift management pan-->
    <div class="tab-pane fade" id="gift_management">
                    gift management
    </div>
    <!--end gift management pan-->
</div>

{% endblock %}
<!------------------------------- end products table --------------------------------------->