{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
    Inventory - Dexunt E-Shop Management
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid fs-2x"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' '#' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people fs-2x"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'inventory' '#' '#' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam fs-2x"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'e-shop' '#' '#' 0 %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-shop-window fs-2x"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title orders management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Orders Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-truck fs-2x"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!--end menu title orders management-->
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">E Shop</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english version -->
{% block content %}
<div class="container-xxl">
    <div class="card card-flush shadow-sm">
        <!--header-->
        <div class="card-header">
            <div class="card-body pt-9 pb-0">
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                    <!--company logo-->
                    <div class="me-20">
                        <img alt="Logo" src="{% static 'manager/media/logos/logo-default.svg' %}" class="h-90px" />
                    </div>
                    <!--end company logo-->
                    <!--main information-->
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <a class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">Dexunt - Online Shopping & Logistics </a>
                                </div>
                                <div class="d-flex flex-wrap fw-semibold fs-6 mb-2 pe-2">
                                    <!--
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="add category" style="margin-left: 10px;">
                                        <i class="bi bi-plus-square"></i>
                                    </a>
                                    <i class="bi bi-dash-lg"></i>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete category" style="margin-left: 10px;">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit category">
                                        category 1
                                    </a>
                                    <i class="bi bi-dash-lg"></i>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete category" style="margin-left: 10px;">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit category" style="margin-left: 10px;">
                                        category 2
                                    </a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end main information-->
                </div>
            </div>
        </div>
        <!--end header-->
        <!--card body-->
        <div class="card-body">
        </div>
        <!--end card body-->
        <!--footer-->
        <div class="card-footer">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700 active" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#shop_management">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#showcase_products">
                        Showcases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#categories">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#delivery">
                        Delivery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#gift_management">
                        Gifts
                    </a>
                </li>
            </ul>
        </div>
        <!--end footer-->
    </div>
</div>


<div class="tab-content">
    <!--shop management pan-->
    <div class="tab-pane fade active show" id="shop_management">

        {% for intro_banner in intro_banners %}
        <div class="container-xxl mt-5">
            <div class="card card-flush shadow-sm">
                <div class="card-body">
                    <div class="card-body py-9">
                        <div class="row gx-9 h-100">

                            <form action="#" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="col-sm-6 mb-10 mb-sm-0">
                                    <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-400px min-h-sm-100 h-100" style="background-image: url({% get_media_prefix %}{{ intro_banner.thumb }})"></div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="d-flex flex-column h-100">


                                    <div class="mb-7">
                                        <div class="d-flex flex-stack mb-6">
                                            <div class="flex-shrink-0 me-5">
                                                <span class="text-gray-400 fs-7 fw-bold me-2 d-block lh-1 pb-1">Featured</span>
                                                <span class="text-gray-800 fs-1 fw-bold">9 Degree</span>
                                            </div>
                                            <span class="badge badge-light-primary flex-shrink-0 align-self-center py-3 px-4 fs-7">In Process</span>
                                        </div>
                                        <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                                            <div class="d-flex align-items-center me-5 me-xl-13">
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <img src="../assets/media/avatars/300-3.jpg" class="" alt="" />
                                                </div>
                                                <div class="m-0">
                                                    <span class="fw-semibold text-gray-400 d-block fs-8">Manager</span>
                                                    <a href="../pages/user-profile/overview.html" class="fw-bold text-gray-800 text-hover-primary fs-7">Robert Fox</a>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label bg-success">
                                                        <span class="svg-icon svg-icon-5 svg-icon-white">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
                                                                <path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="m-0">
                                                    <span class="fw-semibold text-gray-400 d-block fs-8">Budget</span>
                                                    <span class="fw-bold text-gray-800 fs-7">$64.800</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-6">
                                        <span class="fw-semibold text-gray-600 fs-6 mb-8 d-block">Flat cartoony illustrations with vivid unblended colors and asymmetrical beautiful purple hair lady</span>
                                        <div class="d-flex">
                                            <div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 me-6 mb-3">
                                                <span class="fs-6 text-gray-700 fw-bold">Feb 6, 2021</span>
                                                <div class="fw-semibold text-gray-400">Due Date</div>
                                            </div>
                                            <div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 mb-3">
                                                <span class="fs-6 text-gray-700 fw-bold">$
                                                    <span class="ms-n1" data-kt-countup="true" data-kt-countup-value="284,900.00">0</span></span>
                                                <div class="fw-semibold text-gray-400">Budget</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-self-end">
<div class="image-input-wrapper w-125px h-125px"></div>
                                        <label class="btn btn-light-secondary me-10" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Change photo">
                                            <i class="bi bi-image fs-2x"></i>
                                            <input type="file" name="photo" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="photo_remove" />
                                        </label>

                                        <button type="submit" class="btn btn-light-secondary me-5">
                                            <i class="bi bi-arrow-repeat fs-2x"></i>
                                        </button>

                                        <button href="#" class="btn btn-light-secondary me-5">
                                            <i class="bi bi-arrow-down-square fs-2x"></i>
                                        </button>

                                        <button href="#" class="btn btn-light-secondary">
                                            <i class="bi bi-arrow-up-square fs-2x"></i>
                                        </button>
                                    </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!--end shop management pan-->

    <!--showcase products pan-->
    <div class="tab-pane fade" id="showcase_products">
        <div class="container-xxl mt-5">
            <div class="card card-flush shadow-sm">
                <div class="card-body">
                    <div class="card-body py-9">
                        <div class="row gx-9 h-100">
                            <div class="col-sm-6 mb-10 mb-sm-0">
                                <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-400px min-h-sm-100 h-100" style="background-size: 100% 100%;background-image:url('../assets/media/stock/600x600/img-33.jpg')"></div>
                            </div>

                            <div class="col-sm-6">
                                showcase products
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end showcase products pan-->

    <!--categories pan-->
    <div class="tab-pane fade" id="categories">
                    categories
    </div>
    <!--end categories pan-->

    <!--delivery management pan-->
    <div class="tab-pane fade" id="delivery">
                    delivery
    </div>
    <!--end delivery management pan-->

    <!--gift management pan-->
    <div class="tab-pane fade" id="gift_management">
                    gift management
    </div>
    <!--end gift management pan-->
</div>

{% endblock %}
<!------------------------------- end products table --------------------------------------->