{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english version -->
{% block title %}
<title>
    View Product - Dexunt Shop Management
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid fs-2x"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people fs-2x"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'inventory' '#' '#' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam fs-2x"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'e-shop' '#' '#' 0 %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-shop-window fs-2x"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title orders management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Orders Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-truck fs-2x"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!--end menu title orders management-->
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' 'en_dashboard' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'inventory' '#' '#' %}" class="text-muted">Inventory</a>
    </li>
    <li class="breadcrumb-item text-muted">View Product</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- show product --------------------------------------------->
<!-- english version -->

{% block content %}
<div class="container-xxl">
    <div class="card card-flush shadow-sm">
        <!--header-->
        <div class="card-header">
            <div class="card-body pt-9 pb-0">
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                    <!--thumbnail-->
                    <div class="me-7 mb-4">
                        <form action="{% url 'inventory-preparation' 'edit_e_shop_product_thumb' selected_product.sku %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-title">
                                <div class="card card-flush py-4">
                                    <div class="card-title">
                                        <div class="card card-flush py-4">
                                            <!--photo input-->
                                            <div class="card-body text-center pt-0">
                                                {% if selected_product.thumb %}
                                                <!--begin::Image input-->
                                                <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image:url({% get_media_prefix %}{{selected_product.thumb}});">
                                                    <!--begin::Image preview wrapper-->
                                                    <div class="image-input-wrapper w-125px h-125px"></div>
                                                    <!--end::Image preview wrapper-->
                                                    <!--begin::Edit button-->
                                                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Change avatar">
                                                        <i class="bi bi-pencil-fill fs-7"></i>
                                                        <!--begin::Inputs-->
                                                        <input type="file" name="thumb" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="photo_remove" />
                                                        <!--end::Inputs-->
                                                    </label>
                                                    <!--end::Edit button-->
                                                    <!--begin::Cancel button-->
                                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Cancel avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                    <!--end::Cancel button-->
                                                    <!--begin::Remove button-->
                                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Remove avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                    <!--end::Remove button-->
                                                </div>
                                                <!--end::Image input-->
                                                {% else %}
                                                <!--begin::Image input-->
                                                <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url({% static 'manager/media/svg/avatars/blank-dark.svg' %})">
                                                    <!--begin::Image preview wrapper-->
                                                    <div class="image-input-wrapper w-125px h-125px"></div>
                                                    <!--end::Image preview wrapper-->
                                                    <!--begin::Edit button-->
                                                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Change avatar">
                                                        <i class="bi bi-pencil-fill fs-7"></i>
                                                        <!--begin::Inputs-->
                                                        <input type="file" name="thumb" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="photo_remove" />
                                                        <!--end::Inputs-->
                                                    </label>
                                                    <!--end::Edit button-->
                                                    <!--begin::Cancel button-->
                                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Cancel avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                    <!--end::Cancel button-->
                                                    <!--begin::Remove button-->
                                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Remove avatar">
                                                        <i class="bi bi-x fs-2"></i>
                                                    </span>
                                                    <!--end::Remove button-->
                                                </div>
                                                <!--end::Image input-->
                                                {% endif %}
                                            </div>
                                            <!--end photo input-->
                                        </div>
                                    </div>
                                    <!--submit button-->
                                    <button type="submit" class="btn btn-secondary">
                                        <span class="indicator-label">Save</span>
                                    </button>
                                    <!--end submit button-->
                                </div>
                                <!--add photo buttons-->
                                <div class="d-flex justify-content-end" style="padding-top: 50px;">
                                </div>
                                <!--end add photo buttons-->
                            </div>
                        </form>
                    </div>
                    <!--end thumbnail-->
                    <!--main information-->
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ selected_product.en_title }}</a>
                                </div>
                                <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" style="margin-left: 10px;">
                                        {{ selected_product.sku }}
                                    </a>
                                    <i class="bi bi-dash-lg"></i>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2" style="margin-left: 10px;">
                                        {% if selected_product.publish %}
                                        published
                                        {% else %}
                                        not published
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap flex-stack">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column flex-grow-1 pe-8">
                                <!--begin::Stats-->
                                <div class="d-flex flex-wrap">
                                    <!--begin::Stat-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <div class="fs-2 fw-bold" >Sell :</div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">{{ selected_product.sell_price|floatformat:"2g" }} DZD</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Stat-->
                                    <!--begin::Stat-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <div class="fs-2 fw-bold" >Discount :</div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">{{ selected_product.discount_price|floatformat:"2g" }} DZD</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Stat-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                    </div>
                    <!--end main information-->
                </div>
            </div>
        </div>
        <!--end header-->
        <!--tabs-->
        <div class="card-body py-5">
            <!--edit product form-->
                    <form action="{% url 'inventory-preparation' 'prepare_product' selected_product.sku %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                            <div class="tab-content">
                                <!--add product form inputs-->
                                <div class="tab-pane fade active show">
                                    <div class="d-flex flex-column gap-7 gap-lg-10">
                                        <!--add product information-->
                                        <div class="card card-flush py-4">
                                            <!--block body-->
                                            <div class="card-body pt-0">
                                                <!--product name-->
                                                <div class="mt-10 mb-5 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root">

                                                            <div class="input-group input-group-solid">
                                                                <span class="input-group-text">English Description</span>
                                                                <textarea name="en_description" class="form-control" placeholder="{{ selected_product.en_description }}"></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end product name-->

                                                <!--french product name-->
                                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root">

                                                            <div class="input-group input-group-solid">
                                                                <span class="input-group-text">French Description</span>
                                                                <textarea name="fr_description" class="form-control" placeholder="{{ selected_product.fr_description }}"></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end french product name-->

                                                <!--arabic product name-->
                                                <div class="mb-15 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <div class="fv-row w-100 flex-md-root">

                                                            <div class="input-group input-group-solid">
                                                                <span class="input-group-text">Arabic Description</span>
                                                                <textarea name="ar_description" class="form-control" placeholder="{{ selected_product.ar_description }}" dir="rtl"></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end arabic product name-->

                                                <!--english note-->
                                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text">English Note</span>
                                                        <input type="text" name="en_note" class="form-control" placeholder="special note" value="{{ selected_product.en_note }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end english note-->

                                                <!--french note-->
                                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text">French Note</span>
                                                        <input type="text" name="fr_note" class="form-control" placeholder="special note" value="{{ selected_product.fr_note }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end french note-->

                                                <!--arabic note-->
                                                <div class="mb-15 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text">Arabic Note</span>
                                                        <input type="text" name="ar_note" class="form-control" placeholder="special note" value="{{ selected_product.ar_note }}" dir="rtl">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end arabic note-->

                                                <!--tag input-->
                                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <span class="input-group-text">Tag</span>
                                                        <input type="text" name="tag" class="form-control" placeholder="tags must be separated by space" value="{{ selected_product.tag }}">
                                                    </div>
                                                    <!--end input-->
                                                </div>
                                                <!--end tag input-->

                                                <!--product sell price & discount price input-->
                                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--sell price input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--input-->
                                                            <div class="input-group">
                                                                <span class="input-group-text">Sell Price</span>
                                                                <input type="number" name="sell_price" class="form-control" placeholder="product regular price" value="{{ selected_product.sell_price }}" min="0">
                                                                <span class="input-group-text">DZD</span>
                                                            </div>
                                                            <!--end input-->
                                                        </div>
                                                        <!--end sell price input-->

                                                        <!--discounted price input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--input-->
                                                            <div class="input-group">
                                                                <span class="input-group-text">Discounted Price</span>
                                                                <input type="number" name="discount_price" class="form-control" placeholder="product discount price" value="{{ selected_product.discount_price }}" min="0">
                                                                <span class="input-group-text">DZD</span>
                                                            </div>
                                                            <!--end input-->
                                                        </div>
                                                        <!--end discounted price input-->
                                                    </div>
                                                </div>
                                                <!--end product sell price & discount price input-->
                                            </div>
                                            <!--end block body-->
                                        </div>
                                        <!--end add product information-->
                                    </div>
                                </div>
                                <!--end add product form inputs-->
                                <!--add product buttons-->
                                <div class="d-flex justify-content-center" style="padding-top: 10px;">
                                    <!--submit button-->
                                    <button type="submit" class="btn btn-secondary">
                                        <span class="indicator-label">save</span>
                                    </button>
                                    <!--end submit button-->
                                </div>
                                <!--end add product buttons-->
                            </div>
                        </div>
                    </form>
            <!--end edit product form-->
        </div>
        <!--end tabs-->
    </div>
</div>
{% endblock %}
<!------------------------------- end show product ----------------------------------------->