{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english version -->
{% block title %}
<title>
    Inventory - Dexunt Shop Management
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english version -->
{% block side_menu %}
<div id="kt_aside_menu" class="menu menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">
    <!--menu title dashboard-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Dashboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--dashboard icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-grid fs-2x"></i>
                    </span>
                </span>
                <!--end dashboard icon-->
            </span>
        </a>
    </div>
    <!--end menu title dashboard-->

    <!--menu title user management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="User Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--user management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-people fs-2x"></i>
                    </span>
                </span>
                <!--end user management icon-->
            </span>
        </a>
    </div>
    <!--end menu title user management-->

    <!--menu title inventory-->
    <div class="menu-item py-2">
        <a class="menu-link active menu-center" href="{% url 'inventory' '#' '#' %}" title="Inventory" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--inventory icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-box-seam fs-2x"></i>
                    </span>
                </span>
                <!--end inventory icon-->
            </span>
        </a>
    </div>
    <!--end menu title inventory-->

    <!--menu title e-shop-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'e-shop' '#' '#' 0 %}" title="E-Shop" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--e-shop icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-shop-window fs-2x"></i>
                    </span>
                </span>
                <!--end e-shop icon-->
            </span>
        </a>
    </div>
    <!--end menu title e-shop-->

    <!--menu title cash management-->
    <div class="menu-item py-2">
        <a class="menu-link menu-center" href="{% url 'dashboard' 'en' %}" title="Cash Management" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
                <!--cash management icon-->
                <span class="menu-link menu-center">
                    <span class="menu-icon me-0">
                        <i class="bi bi-cash-stack fs-2x"></i>
                    </span>
                </span>
                <!--end cash management icon-->
            </span>
        </a>
    </div>
    <!--end menu title cash management-->
</div>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">Inventory</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english version -->
{% block content %}
<div class="container-xxl">
    <div class="card card-bordered mb-5">
        <!--tab actions-->
        <ul class="nav nav-pills">
            <li class="nav-item me-1" role="presentation">
                <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700 active" data-kt-countup-tabs="true" id="inventory_products" data-bs-toggle="tab" href="#inventory_products_pan">
                    Inventory
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700" data-kt-countup-tabs="true" id="e_shop_products" data-bs-toggle="tab" href="#e_shop_products_pan">
                    E-Shop
                </a>
            </li>
        </ul>
        <!--end tab actions-->
    </div>
    <!--principle card-->
    <div class="tab-pane card-bordered" id="inventory_products_pan">
        <!--principle card header-->
        <div class="card-header">
            {% if inventory_products.count %}
            <!--no products message-->
            <div class="d-flex align-items-center position-relative my-1">
                You have {{ inventory_products.count }} registered products ,to add more click on add products
            </div>
            <!--end no products message-->

            {% else %}
            <!--no products message-->
            <div class="d-flex align-items-center position-relative my-1">
                No registered products ,to start click on Add products
            </div>
            <!--end no products message-->
            {% endif %}
            <div class="d-flex align-items-center position-relative my-1">
            </div>
            <!--toolbar-->
            <div class="card-toolbar">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_new_product">
                    Add Products
                </button>
            </div>
            <!--end toolbar-->
        </div>
        <!--end principle card header-->
        <!--principle card body-->
        <div class="card-body">
            <!--inventory table-->
            <div class="table-responsive">
                {% if inventory_products.count %}
                <table class="table table-row-bordered gy-7 gs-7">
                    <thead>
                    <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                        <th class="min-w-400px">Product</th>
                        <th class="text-end min-w-20px"></th>
                        <th class="text-end min-w-20px"></th>
                        <th class="text-end min-w-20px"></th>
                        <th class="text-center min-w-60px">Qty</th>
                        <th class="text-end min-w-20px"></th>
                        <th class="text-center min-w-200px">Published</th>
                        <th class="text-center min-w-200px">Buy Price</th>
                        <th class="text-center min-w-200px">Sell Price</th>
                        <th class="text-center min-w-200px">Discount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in inventory_products %}
                    {% if not product.size.count %}
                    <tr>
                        <!--product title-->
                        <td>
                            <div class="d-flex align-items-center">
                                {% if not product.album.count %}
                                <!--product missed thumbnail-->
                                <i class="bi bi-x-square" style="font-size: 2rem;"></i>
                                <!--end product missed thumbnail-->
                                {% else %}
                                <!--product thumbnail-->
                                <a class="symbol symbol-50px" data-fslightbox="lightbox-basic" href="{% get_media_prefix %}{{product.album.all.0.image}}">
                                    <span class="symbol-label" style="background-image:url({% get_media_prefix %}{{product.album.all.0.image}});"></span>
                                </a>
                                <!--end product thumbnail-->
                                {% endif %}
                                <div class="ms-5">
                                    <!--begin::Title-->
                                    <a class="text-gray-800 text-hover-primary fs-5 fw-bold" data-kt-ecommerce-product-filter="{{product.en_title}}">{{product.en_title}} - {{product.en_spec}}</a>
                                    <!--end::Title-->
                                </div>
                            </div>
                        </td>
                        <!--end product title-->

                        <!--edit product action-->
                        <td class="text-end">
                            <a href="{% url 'inventory-edit' 'product_view' product.sku 0 %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit product">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <!--end edit product action-->

                        <!--delete product action-->
                        <td class="text-end">
                            <a href="{% url 'inventory' 'delete_product' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete product">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <!--end delete product action-->

                        <!--add qty-->
                        <td>
                            <a href="{% url 'inventory' 'remove_quantity' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="remove quantity">
                                <i class="bi bi-dash"></i>
                            </a>
                        </td>
                        <!--end add qty-->

                        <!--qty-->
                        <td class="text-center">
                            <span class="fw-bold">{{product.quantity}}</span>
                        </td>
                        <!--end qty-->

                        <!--remove qty-->
                        <td>
                            <a href="{% url 'inventory' 'add_quantity' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="add quantity">
                                <i class="bi bi-plus"></i>
                            </a>
                        </td>
                        <!--end remove qty-->

                        <!--publish-->
                        <td class="text-center">
                            <!--
                            <div class="rating justify-content-center">
                                {% for fill in fool %}
                                {% if fill < product.review_rate %}
                                <div class="rating-label checked">
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.1359 4.48359C11.5216 3.82132 12.4784 3.82132 12.8641 4.48359L15.011 8.16962C15.1523 8.41222 15.3891 8.58425 15.6635 8.64367L19.8326 9.54646C20.5816 9.70867 20.8773 10.6186 20.3666 11.1901L17.5244 14.371C17.3374 14.5803 17.2469 14.8587 17.2752 15.138L17.7049 19.382C17.7821 20.1445 17.0081 20.7069 16.3067 20.3978L12.4032 18.6777C12.1463 18.5645 11.8537 18.5645 11.5968 18.6777L7.69326 20.3978C6.99192 20.7069 6.21789 20.1445 6.2951 19.382L6.7248 15.138C6.75308 14.8587 6.66264 14.5803 6.47558 14.371L3.63339 11.1901C3.12273 10.6186 3.41838 9.70867 4.16744 9.54646L8.3365 8.64367C8.61089 8.58425 8.84767 8.41222 8.98897 8.16962L11.1359 4.48359Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </div>
                                {% else %}
                                <div class="rating-label">
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.1359 4.48359C11.5216 3.82132 12.4784 3.82132 12.8641 4.48359L15.011 8.16962C15.1523 8.41222 15.3891 8.58425 15.6635 8.64367L19.8326 9.54646C20.5816 9.70867 20.8773 10.6186 20.3666 11.1901L17.5244 14.371C17.3374 14.5803 17.2469 14.8587 17.2752 15.138L17.7049 19.382C17.7821 20.1445 17.0081 20.7069 16.3067 20.3978L12.4032 18.6777C12.1463 18.5645 11.8537 18.5645 11.5968 18.6777L7.69326 20.3978C6.99192 20.7069 6.21789 20.1445 6.2951 19.382L6.7248 15.138C6.75308 14.8587 6.66264 14.5803 6.47558 14.371L3.63339 11.1901C3.12273 10.6186 3.41838 9.70867 4.16744 9.54646L8.3365 8.64367C8.61089 8.58425 8.84767 8.41222 8.98897 8.16962L11.1359 4.48359Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            -->
                            {% if product.publish %}
                            <a href="{% url 'inventory' 'unpublish' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="unpublish">
                                <i class="bi bi-check-lg"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'inventory' 'publish' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="publish">
                                <i class="bi bi-x-lg"></i>
                            </a>
                            {% endif %}
                        </td>
                        <!--end publish-->

                        <!--buy price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.buy_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end buy price-->

                        <!--sell price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end sell price-->

                        <!--discount price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end discount price-->
                    </tr>
                    {% else %}
                    <tr>
                        <!--product title-->
                        <td>
                            <div class="d-flex align-items-center">
                                {% if not product.album.count %}
                                <!--product missed thumbnail-->
                                <i class="bi bi-x-square" style="font-size: 2rem;"></i>
                                <!--end product missed thumbnail-->
                                {% else %}
                                <!--product thumbnail-->
                                <a class="symbol symbol-50px" data-fslightbox="lightbox-basic" href="{% get_media_prefix %}{{product.album.all.0.image}}">
                                    <span class="symbol-label" style="background-image:url({% get_media_prefix %}{{product.album.all.0.image}});"></span>
                                </a>
                                <!--end product thumbnail-->
                                {% endif %}
                                <div class="ms-5">
                                    <!--begin::Title-->
                                    <a class="text-gray-800 text-hover-primary fs-5 fw-bold" data-kt-ecommerce-product-filter="{{product.en_title}}">{{product.en_title}} - {{product.en_spec}}</a>
                                    <!--end::Title-->
                                </div>
                            </div>
                        </td>
                        <!--end product title-->

                        <!--edit product action-->
                        <td class="text-end">
                            <a href="{% url 'inventory-edit' 'product_view' product.sku 0 %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="edit product">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <!--end edit product action-->

                        <!--delete product action-->
                        <td class="text-end">
                            <a href="{% url 'inventory' 'delete_product' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete product">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <!--end delete product action-->

                        <!--add qty-->
                        <td>
                        </td>
                        <!--end add qty-->

                        <!--qty-->
                        <td class="text-center">
                            <span class="fw-bold">{{product.quantity}}</span>
                        </td>
                        <!--end qty-->

                        <!--remove qty-->
                        <td>
                        </td>
                        <!--end remove qty-->

                        <!--publish-->
                        <td class="text-center">
                            {% if product.publish %}
                            <a href="{% url 'inventory' 'unpublish' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="unpublish">
                                <i class="bi bi-check-lg"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'inventory' 'publish' product.sku %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="publish">
                                <i class="bi bi-x-lg"></i>
                            </a>
                            {% endif %}
                        </td>
                        <!--end publish-->

                        <!--buy price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.buy_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end buy price-->

                        <!--sell price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end sell price-->

                        <!--discount price-->
                        <td class="text-center">
                            <span class="fw-bold text-dark">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                        </td>
                        <!--end discount price-->
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <!--end inventory table-->
        </div>
        <!--end principle card body-->
        <!--principle card footer-->
        <div class="card-footer">
        </div>
        <!--end principle card footer-->
    </div>
    <!--end principle card-->

    <!--add new product modal-->
    <div class="modal fade" tabindex="-1" id="add_new_product">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content shadow-none">
                <div class="modal-header">
                    <h5 class="modal-title">Add new product</h5>
                    <!--close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <span class="svg-icon svg-icon-2x"></span>
                    </div>
                    <!--end clos-->
                </div>

                <div class="modal-body">
                    <!--add product general information form-->
                    <form action="{% url 'inventory' 'add_new_product' '#' %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                            <div class="tab-content">
                                <!--add product form inputs-->
                                <div class="tab-pane fade active show">
                                    <div class="d-flex flex-column gap-7 gap-lg-10">
                                        <!--add product information-->
                                        <div class="card card-flush py-4">
                                            <!--block title-->
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h2>Product Information</h2>
                                                </div>
                                            </div>
                                            <!--end block title-->

                                            <!--block body-->
                                            <div class="card-body pt-0">
                                                <!--product name-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="required form-label">English Title</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="en_title" class="form-control mb-2" required>
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">A product title is required and recommended to be unique.</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end product name input-->
                                                    </div>
                                                </div>
                                                <!--end product name-->

                                                <!--product spec-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="form-label">English Spec</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="en_spec" class="form-control mb-2">
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">color ,skin ,coat ,....</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end product name input-->
                                                    </div>
                                                </div>
                                                <!--end product spec-->

                                                <!--french product name-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--french product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="form-label">Title Translated To French</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="fr_title" class="form-control mb-2">
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">Translate the product name to french.</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end french product name input-->
                                                    </div>
                                                </div>
                                                <!--end french product name-->

                                                <!--french product spec-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--french product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="form-label">Spec Translated To French</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="fr_spec" class="form-control mb-2">
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">color ,skin ,coat ,....</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end french product name input-->
                                                    </div>
                                                </div>
                                                <!--end french product spec-->

                                                <!--arabic product name-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--french product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="form-label">Title Translated To Arabic</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="ar_title" class="form-control mb-2" dir="rtl">
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">Translate the product name to arabic.</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end french product name input-->
                                                    </div>
                                                </div>
                                                <!--end arabic product name-->

                                                <!--arabic product spec-->
                                                <div class="mt-20 mb-20 fv-row fv-plugins-icon-container">
                                                    <div class="d-flex flex-wrap gap-5">
                                                        <!--french product name input-->
                                                        <div class="fv-row w-100 flex-md-root">
                                                            <!--label-->
                                                            <label class="form-label">Spec Translated To Arabic</label>
                                                            <!--end label-->
                                                            <!--input-->
                                                            <input type="text" name="ar_spec" class="form-control mb-2" dir="rtl">
                                                            <!--end input-->
                                                            <!--description-->
                                                            <div class="text-muted fs-7">color ,skin ,coat ,....</div>
                                                            <!--end description-->
                                                        </div>
                                                        <!--end french product name input-->
                                                    </div>
                                                </div>
                                                <!--end arabic product spec-->

                                                <!--upc input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Barcode</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <input type="text" name="upc" class="form-control mb-2">
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">Product can be stored without Barcode but highly recommended.</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end upc input-->

                                                <!--tag input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Tag</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <input type="text" name="tag" class="form-control mb-2" placeholder="Separate the tags by a space">
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">Tags are needed to increase search accuracy</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end tag input-->

                                                <!--quantity input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Quantity</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <input type="number" name="quantity" class="form-control" placeholder="put product quantity" value=0>
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">Put product quantity.</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end quantity input-->

                                                <!--buy price input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Buy Price</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <input type="number" name="buy_price" class="form-control" placeholder="put product coast">
                                                        <span class="input-group-text">DZD</span>
                                                    </div>
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">The buy price is required for best management computing.</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end buy price input-->

                                                <!--sell price input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Sell Price</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <input type="number" name="sell_price" class="form-control" placeholder="sell price in algerian currency">
                                                        <span class="input-group-text">DZD</span>
                                                    </div>
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">Sell price is required to upload the product</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end sell price input-->

                                                <!--discount price input-->
                                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                                    <!--label-->
                                                    <label class="form-label">Discount Price</label>
                                                    <!--end label-->
                                                    <!--input-->
                                                    <div class="input-group">
                                                        <input type="number" name="discount_price" class="form-control" placeholder="discount price">
                                                        <span class="input-group-text">DZD</span>
                                                    </div>
                                                    <!--end input-->
                                                    <!--description-->
                                                    <div class="text-muted fs-7">Discount must be less than sell price</div>
                                                    <!--end description-->
                                                </div>
                                                <!--end discount price input-->
                                            </div>
                                            <!--end block body-->
                                        </div>
                                        <!--end add product information-->
                                    </div>
                                </div>
                                <!--end add product form inputs-->

                                <!--submit product button-->
                                <div class="d-flex justify-content-center" style="padding-top: 50px;">
                                    <button type="submit" class="btn btn-secondary">
                                        <span class="indicator-label">Save</span>
                                    </button>
                                </div>
                                <!--end submit product button-->
                            </div>
                        </div>
                    </form>
                    <!--end add product general information form-->
                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <!--end add new product modal-->
</div>
{% endblock %}
<!------------------------------- end products table --------------------------------------->