{% extends "en/shop-manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english version -->
{% block title %}
<title>
    Inventory - Dexunt Orders
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- breadcrumb ----------------------------------------------->
<!-- english version -->
{% block breadcrumb %}
<!--breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% url 'dashboard' '#' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-muted">Orders</li>
</ul>
<!--end breadcrumb-->
{% endblock %}
<!------------------------------- end breadcrumb ------------------------------------------->

<!------------------------------- products table ------------------------------------------->
<!-- english version -->
{% block content %}
<div class="container-xxl">
    <!--tab actions-->
    <div class="card card-bordered mb-5">
        <ul class="nav nav-pills">
            <li class="nav-item me-1">
                <a class="nav-link btn btn-active-light btn-color-gray-400 btn-active-color-gray-700 {% if tab == 'main' %} active {% endif %}" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#new_orders_list">
                    New Orders
                </a>
            </li>

        </ul>
    </div>
    <!--end tab actions-->
    <div class="tab-content">
        <!--new orders pan-->
        <div class="tab-pane fade {% if tab == 'main' %} active show {% endif %}" id="new_orders_list">
            <div class="card card-bordered">

                <!--principle card body-->
                <div class="card-body">
                    <!--orders table-->
                    <div class="table-responsive">
                        <table class="table table-rounded table-flush">
                            <thead>
                            <tr class="fw-semibold fs-7 text-muted border-bottom border-gray-200 py-4">
                                <th>Order ID</th>
                                <th class="text-center">Costumer</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Province</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Creation</th>
                                <th class="text-center">Last log</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in new_orders %}
                            <tr class="py-5 fw-semibold  border-bottom border-gray-300 fs-6">
                                <td>{{ order.order_ref }}</td>
                                <td class="text-center">{{ order.client_name }}</td>
                                <td class="text-center">{{ order.client_phone }}</td>
                                <td class="text-center">{{ order.province }}</td>
                                <td class="text-center">{{ order.final_price|floatformat:"2g" }}<small class="ms-2 text-muted">DZD</small></td>
                                <td class="text-center">{{ order.created_at|date:"d/m/Y" }}<small class="ms-2 text-muted">{{ order.created_at|time:"G:i:s" }}</small></td>
                                <td class="text-center">{{ order.updated_at|date:"d/m/Y" }}<small class="ms-2 text-muted">{{ order.created_at|time:"G:i:s" }}</small></td>
                                <td>
                                    <a type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#view_order_{{ order.order_ref }}_{{ order.order_type }}">
                                        <i class="bi bi-eye fs-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--end orders table-->
                </div>
                <!--end principle card body-->

                {% for order in new_orders %}
                <!--view order modal-->
                <div class="modal fade" tabindex="-1" id="view_order_{{ order.order_ref }}_{{ order.order_type }}">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content shadow-none">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <i class="bi bi-upc"></i>
                                    <small class="ms-2 text-muted">{{ order.order_ref }}</small>

                                    <i class="bi bi-geo-alt ms-10"></i>
                                    <small class="ms-2 text-muted">{{ order.province }}</small>
                                    <i class="bi bi-pause"></i>
                                    <small class="ms-2 text-muted">{{ order.municipality }}</small>


                                </h4>
                                <!--close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x-lg"></i>
                                </div>
                                <!--end clos-->
                            </div>

                            <div class="modal-body">

                                <div class="table-responsive">
                                    <table class="table table-rounded table-flush">
                                        <tbody>
                                        {% for product in order.product.all %}
                                        <tr class="py-5 fw-semibold  border-bottom border-gray-300 fs-6">
                                            <td class="min-w-50px">
                                                <a class="symbol symbol-50px me-4" data-fslightbox="lightbox-basic" href="{% get_media_prefix %}{{ product.thumb }}">
                                                    <span class="symbol-label" style="background-image:url({% get_media_prefix %}{{ product.thumb }});"></span>
                                                </a>
                                            </td>
                                            <td class="min-w-400px">{{ product.en_name|title }}
                                                {% if product.en_spec %}
                                                <span class="text-muted me-2"><i class="bi bi-dash-lg"></i></span>{{ product.en_spec }}
                                                {% endif %}
                                                {% if product.en_detail %}
                                                <span class="text-muted me-2"><i class="bi bi-dash-lg"></i></span>{{ product.en_detail }}
                                                {% endif %}
                                            </td>
                                            <td class="min-w-20px"><span class="text-muted me-2">price:</span>{{ product.price|floatformat:"2g" }}<small class="ms-1">DZD</small></td>
                                            <td class="min-w-20px"><span class="text-muted me-2">Quantity:</span>{{ product.quantity }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!--end view order modal-->
                {% endfor %}

            </div>
        </div>
        <!--end new orders pan-->

    </div>
</div>
{% endblock %}
<!------------------------------- end products table --------------------------------------->