{% extends "rtl/management/provider/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">balance</li>
      </ol>
    </nav>
    {% if user.store.balance > 0 %}
    <h1 class="page-header-title text-success">{{ user.store.balance|floatformat:"0g" }} <small>DZD</small></h1>
    {% else %}
    <h1 class="page-header-title text-danger">{{ user.store.balance|floatformat:"0g" }} <small>DZD</small></h1>
    {% endif %}
    <h6 class="page-header-title">total sales income: {{ user.store.sales|floatformat:"0g" }} <small>DZD</small></h6>
  </div>

  <div class="col-sm-auto">
    <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#request_payment">
      <i class="fa fa-coins fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Request Payment"></i>
    </a>
  </div>
  <!-- end all products  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">
  {% if paginate %}
  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>

      {% for transaction in transactions %}
      <!-- Table Actions -->
      <tr>
        <td>
          <span class="d-block fs-5">{{ transaction.title }}</span>
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.requested_at }}</span>
        </td>

        <td>
          {% if transaction.confirmed %}
          <span class="d-block fs-5">{{ transaction.confirmed_at }}</span>
          {% else %}
          <a type="button" class="text-body" data-bs-toggle="collapse" data-bs-target="#collapse_{{ transaction.id }}" aria-expanded="false">
            <i class="fa fa-eye fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Show Secrete Key"></i>
          </a>

          <div class="collapse" id="collapse_{{ transaction.id }}">
            <span class="d-block fs-5">{{ transaction.secret_key }}</span>
          </div>
          {% endif %}
        </td>

        <td>
          {% if transaction.confirmed %}
          {% if transaction.add %}
          <span class="d-block fs-5 text-success fw-semibold">+ {{ transaction.amount|floatformat:"0g" }}<small>DZD</small></span>
          {% else %}
          <span class="d-block fs-5 text-danger fw-semibold">- {{ transaction.amount|floatformat:"0g" }}<small>DZD</small></span>
          {% endif %}
          {% else %}
          <span class="d-block fs-5 text-dark">{{ transaction.amount|floatformat:"0g" }}<small>DZD</small></span>
          {% endif %}
        </td>
      </tr>
      <!-- End Table Actions -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  {% if transactions.has_other_pages %}
  <!-- Footer -->
  <div class="card-footer">
    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-sm-end">
      <nav>
        {% if transactions.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if transactions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in transactions.paginator.page_range %}
          {% if transactions.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if transactions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- End Pagination -->
  </div>
  <!-- End Footer -->
  {% endif %}
  {% else %}
  <div class="text-center mb-4 mt-4">
    No transactions .
  </div>
  {% endif %}
</div>
<!-- end all products  -->


<!-- Request Payment Modal -->
<div id="request_payment" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <!-- Header -->
    <div class="modal-close">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="modal-body">
      <!-- Patient -->
      <div>
        <!-- login title -->
        <div class="text-center mb-7">
          <h2>Payment</h2>
        </div>
        <!-- end login title -->
        <form action="{% url 'provider-wallet' 'request_payment' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}

          <div class="row mb-4">
            <div class="input-group input-group-merge input-group-borderless input-group-flush">
              <div class="input-group-prepend input-group-text">
                <i class="fa fa-coins"></i>
              </div>
              <input type="number" class="form-control" placeholder="Put your amount here." name="amount" min="0" required>
              <span class="invalid-feedback text-start">Required field.</span>
            </div>
          </div>

          <!-- submit -->
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Request</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
      <!-- End Patient -->
    </div>
    <!-- End Body -->
    </div>
  </div>
</div>
<!-- End Request Payment Modal -->
{% endblock %}