{% extends "en/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}


<!-- english version -->

<!-- title -->
{% block title %}
<title>
    Dexunt - Account - profile page
</title>
{% endblock %}


<!--cart-->
{% block cart %}
<div class="navbar-tool dropdown ms-3">
    {% if cart.product.all.count %}
    <a class="navbar-tool-icon-box bg-secondary" href="{% url 'cart-home' 'show_cart' %}">
        <span class="navbar-tool-label">{{ cart.product.all.count }}</span>
        <i class="navbar-tool-icon ci-cart"></i>
    </a>
    {% else %}
    <a class="navbar-tool-icon-box bg-secondary" href="#">
        <i class="navbar-tool-icon ci-cart"></i>
    </a>
    {% endif %}
    <!--cart dropdown-->
    {% if cart.product.all.count %}
    <div class="dropdown-menu dropdown-menu-end">
        <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
            <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                {% for cart_product in cart.product.all %}
                <form action="{% url 'cart-home' 'remove_product_from_cart' %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                    {% csrf_token %}

                    <input type="hidden" name="size_sku" value='{{ cart_product.size_sku }}'>
                    <input type="hidden" name="product_sku" value='{{ cart_product.product_sku }}'>

                    <div class="widget-cart-item py-2 border-bottom">
                        <button class="btn-close text-danger" type="submit" aria-label="Remove">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="d-flex align-items-center">
                            <a class="d-block flex-shrink-0" href="{% url 'single-product' cart_product.product_sku cart_product.size_sku %}">
                                <img src="{% get_media_prefix %}{{ cart_product.thumb }}" width="64" alt="Product">
                            </a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="{% url 'single-product' cart_product.product_sku cart_product.size_sku %}">{{ cart_product.en_name|title }}</a></h6>
                                <div class="widget-product-meta">
                                    <span class="text-accent me-2">{{ cart_product.price|floatformat:"2g" }}<small>DZD</small></span>
                                    <span class="text-muted">x {{ cart_product.quantity }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                <div class="fs-sm me-2 py-2">
                    <span class="text-muted">Subtotal:</span>
                    <span class="text-accent fs-base ms-1">{{ cart.sub_total_price|floatformat:"2g" }}<small>DZD</small></span>
                </div>
            </div>
            <a class="btn btn-primary btn-sm d-block w-100" href="{% url 'cart-home' 'show_cart' %}">
                <i class="ci-card me-2 fs-base align-middle"></i>Checkout
            </a>
        </div>
    </div>
    {% endif %}
    <!--end cart dropdown-->
</div>
{% endblock %}

<!--user button-->
{% block user_button %}
<a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#" data-bs-toggle="modal">
  <div class="navbar-tool-icon-box">
    <i class="fa-solid fa-user fa-2xl"></i>
  </div>
</a>
{% endblock %}

<!--content-->
{% block content %}

<!-- Order Details Modal-->
{% for order in orders %}
<div class="modal fade" id="order_{{ order.order_ref }}_details">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Order No - {{ order.order_ref }}</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pb-0">
        {% for product in order.product.all %}
        <div class="d-sm-flex justify-content-between mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-sm-flex text-center text-sm-start">
            <a class="d-inline-block flex-shrink-0 mx-auto" href="#" style="width: 10rem;">
              <img src="{% get_media_prefix %}{{ product.thumb }}" alt="Product">
            </a>
            <div class="ps-sm-4 pt-2">
              <h3 class="product-title fs-base mb-2"><a href="#">{{ product.en_name|title }}</a></h3>
              <div class="fs-sm"><span class="text-muted me-2">Option:</span> {{ product.en_spec }} </div>
              <div class="fs-sm"><span class="text-muted me-2">Detail:</span> {{ product.en_detail }} </div>
              <div class="fs-lg text-accent pt-2">{{ product.price|floatformat:"2g" }}<small class="ms-1">DZD</small></div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <div class="text-muted mb-2">Quantity:</div>{{ product.quantity }}
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <div class="text-muted mb-2">Subtotal:</div>{{ product.price|mul:product.quantity|floatformat:"2g" }}<small class="ms-1">DZD</small>
          </div>
        </div>
        {% endfor %}
        </div>
        <!-- Footer-->
        <div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
        <div class="px-2 py-1"><span class="text-muted">Subtotal:&nbsp;</span><span>{{ order.sub_total_price|floatformat:"2g" }}<small class="ms-1">DZD</small></span></div>
        <div class="px-2 py-1"><span class="text-muted">Shipping:&nbsp;</span><span>{{ order.shipping_price|floatformat:"2g" }}<small class="ms-1">DZD</small></span></div>
        {% if order.coupon_value %}
        {% if order.coupon_type == 'SUBTRACTION' %}
        <div class="px-2 py-1"><span class="text-muted">Discount:&nbsp;</span><span>- {{ order.coupon_value|floatformat:"2g" }}<small class="ms-1">DZD</small></span></div>
        {% endif %}
        {% if order.coupon_type == 'PERCENTAGE' %}
        <div class="px-2 py-1"><span class="text-muted">Discount:&nbsp;</span><span>- {{ order.coupon_value }}<small class="ms-1">%</small></span></div>
        {% endif %}
        {% else %}
        <div class="px-2 py-1"><span class="text-muted">Discount:&nbsp;</span><span>-</span></div>
        {% endif %}

        <div class="px-2 py-1"><span class="text-muted">Total:&nbsp;</span><span class="fs-lg">{{ order.final_price|floatformat:"2g" }}<small class="ms-1">DZD</small></span></div>
      </div>
      </div>
    </div>
</div>
{% endfor %}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item">
                        <a class="text-nowrap" href="{% url 'main-shop-home' %}"><i class="ci-home"></i>Home</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">profile</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Profile</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
            <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
                <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
                    <div class="d-md-flex align-items-center">
                        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;">
                            <span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points">384</span>
                            <img class="rounded-circle" src="{% get_media_prefix %}{{ user.profile_photo }}" alt="{{ user.username }}">
                        </div>
                        <div class="ps-md-3">
                            <h3 class="fs-base mb-0">
                                {% if user.first_name %}
                                {{ user.first_name|title }}
                                {% else %}
                                no first name
                                {% endif %}

                                {% if user.last_name %}
                                {{ user.last_name|title }}
                                {% else %}
                                no last name
                                {% endif %}
                            </h3>
                            <small>
                                <span class="text-danger fs-sm">account not activated !</span>
                            </small>
                        </div>
                    </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="account-orders.html#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
                </div>
                <div class="d-lg-block collapse" id="account-menu">
                    <div class="bg-secondary px-4 py-3">
                        <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
                    </div>
                    <ul class="list-unstyled mb-0">
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'account-orders-page' %}">
                                <i class="ci-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto">{{ user.order.all.count }}</span>
                            </a>
                        </li>
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-wishlist.html">
                                <i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto">{{ user.wished_product.all.count }}</span>
                            </a>
                        </li>
                        <li class="mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-tickets.html">
                                <i class="ci-bell opacity-60 me-2"></i>Incoming<span class="fs-sm text-muted ms-auto">{{ user.notified_product.all.count }}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="bg-secondary px-4 py-3">
                        <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
                    </div>
                    <ul class="list-unstyled mb-0">
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="{% url 'account-profile-page' %}">
                                <i class="ci-user opacity-60 me-2"></i>Profile info
                            </a>
                        </li>
                        <li class="mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'change-password' %}">
                                <i class="ci-locked opacity-60 me-2"></i>Change password
                            </a>
                        </li>
                        <li class="mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-payment.html">
                                <i class="ci-card opacity-60 me-2"></i>Payments
                            </a>
                        </li>

                        <li class="d-lg-none border-top mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'user-logout' %}">
                                <i class="ci-sign-out opacity-60 me-2"></i>Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
              <h6 class="fs-base text-light mb-0">Update you profile details below:</h6>
                <a class="btn btn-primary btn-sm" href="{% url 'user-logout' %}">
                    <i class="ci-sign-out me-2"></i>Sign out
                </a>
            </div>
            <!-- Profile form-->


            {% if edit_profile_photo_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="profile_photo_form_errors">
                    {% for key, value in edit_profile_photo_form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <form action="{% url 'edit-profile-photo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 pb-2">
                    <label class="form-label" for="edit_profile_photo_form.profile_photo.name">Profile Photo</label>
                    <input class="form-control" type="file" id="edit_profile_photo_form.profile_photo.name" name="edit_profile_photo_form.profile_photo.name">
                    <div class="form-text">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                </div>
            </form>

            {% if edit_profile_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="profile_form_errors">
                    {% for key, value in edit_profile_form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <form action="{% url 'edit-profile' %}" class="needs-validation" autocomplete="off" novalidate id="signup_tab" method="post">
                {% csrf_token %}
                <div class="row gx-4 gy-3">
                    <div class="col-sm-6">
                        <label class="form-label" for="{{ edit_profile_form.first_name.name }}">{{ edit_profile_form.first_name.label_tag }}</label>
                        <input class="form-control" type="text" id="{{ edit_profile_form.first_name.name }}" name="{{ edit_profile_form.first_name.name }}" value="{{ user.first_name }}" placeholder="Benhamida">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="{{ edit_profile_form.last_name.name }}">{{ edit_profile_form.last_name.label_tag }}</label>
                        <input class="form-control" type="text" id="{{ edit_profile_form.last_name.name }}" name="{{ edit_profile_form.last_name.name }}" value="{{ user.last_name }}" placeholder="Riad">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="{{ edit_profile_form.phone_number.name }}">{{ edit_profile_form.phone_number.label_tag }}</label>
                        <input class="form-control" type="tel" id="{{ edit_profile_form.phone_number.name }}" name="{{ edit_profile_form.phone_number.name }}" value="{{ user.phone_number }}" placeholder="0550-34-56-98">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="{{ edit_profile_form.username.name }}">{{ edit_profile_form.username.label_tag }}</label>
                        <input class="form-control" type="text" id="{{ edit_profile_form.username.name }}" name="{{ edit_profile_form.username.name }}" value="{{ user.username }}" maxlength="{{ edit_profile_form.username.field.max_length }}" required>
                        <div class="invalid-feedback">Please provide a username.</div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subscribe_me" checked>
                                <label class="form-check-label" for="subscribe_me">Subscribe me to Newsletter</label>
                            </div>
                            <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Update profile</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}}