<ul class="list-group list-group-flush">
  <li class="list-group-item px-4 py-3">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div>Subtotal</div>
      <div class="fw-bold"> {{ selected_order.price|floatformat:"0g" }} <small>DZD</small></div>
    </div>

    {% if selected_order.coupon %}
    {% if selected_order.coupon.is_subtractive %}
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div>Discount</div>
      <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>DZD</small></div>
    </div>
    {% else %}
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div>Discount</div>
      <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>%</small></div>
    </div>
    {% endif %}
    {% endif %}

    <div class="d-flex align-items-center justify-content-between mb-2">
      <div>Delivery</div>
      <div class="fw-bold">{{ selected_order.delivery_price|floatformat:"0g" }} <small>DZD</small></div>
    </div>
  </li>

  <li class="list-group-item px-4 py-3">
    <div class="d-flex align-items-center justify-content-between fw-bold">
      <div>Total</div><div>{{ selected_order.total_price|floatformat:"0g" }} <small>DZD</small></div>
    </div>
  </li>
</ul>

<div class="px-4 py-4 d-grid">
  <button class="btn btn-danger btn-lg justify-content-between align-items-center" form="order_form">
    Checkout
    ({{ selected_order.total_price|floatformat:"0g" }} <small>DZD</small>)
  </button>
</div>