{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Orders</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all orders  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">categories</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Categories</h1>
  </div>
  <!-- end all orders  -->
</div>
{% endblock %}

<!-- orders content -->
{% block content %}
<!-- all orders  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search categories" aria-label="Search categories">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
      <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#add_a_category">
        <i class="bi-plus-lg me-1"></i>
        add a category
      </button>
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if categories.has_other_pages %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-hover">
      <tbody>
      {% for category in categories %}
      <!-- orders list -->
      <tr class="border-top {% if order.status == 'placed' %} bg-light {% endif %}">
        <td class="table-column-pe-0">
        </td>
        <!-- order ref -->
        <td>
          <span class="d-block h4 text-start">
            <a type="button"  href="#" data-bs-toggle="modal" data-bs-target="#">
              <small><i class="fa fa-{{ category.icon }}"></i>
                {{ category.name }}
              </small>
            </a>
          </span>
        </td>
        <!-- client phone -->
        <td>
          <span class="d-block h4 text-start"><small><a href="tel:{{ order.client_phone }}">{{ order.client_phone }}</a></small></span>
        </td>
        <!-- status -->
        <td>
          <span class="d-block h4 text-start">
            {% if not order.status == 'placed' and not order.status == 'paid'%}
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ order.progress }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if order.status == 'placed' %}
            <span class="d-block h5 text-center">
              NEW
            </span>
            {% endif %}

            {% if order.status == 'paid' %}
            <span class="d-block h5 text-center">
              PAID
            </span>
            {% endif %}
          </span>
        </td>
        <!-- creation date -->
        <td class="text-end">
          <span class="d-block h4 text-end">
            {% if order.status == 'created' %}
            <!-- delete order -->
            <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#delete_order_modal_{{ order.id }}">
              <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
            {% else %}
            <!-- order creation date -->
            <small>{{ order.creation_date|date:'M' }} {{ order.creation_date|date:'d' }} , {{ order.creation_date|time:'H' }}:{{ order.creation_date|time:'i' }}</small>
            {% endif %}
            <!-- toggle details -->
            <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="collapse" data-bs-target="#collapse_{{ order.id }}" aria-expanded="false">
              <i class="fa fa-chevron-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Show Details"></i>
            </button>
          </span>
        </td>
      </tr>
      {% for product in order.selected_products.all %}
      <!-- products list -->
      <tr class="collapse {% if product.status == 'processed' %} bg-light show {% endif %}" id="collapse_{{ order.id }}">
        <td class="table-column-pe-0">
        </td>
        <!-- product title and image -->
        <td class="table-column-ps-0">
          <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ product.option.variant.product.id }}">
            <div class="flex-shrink-0">
              <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ product.image }}">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="text-inherit h5 me-2">{{ product.en_title }}</h5>
              <small>
                <span class="d-block text-body fs-6 text-wrap">
                  {{ product.en_detail }}
                </span>
              </small>
            </div>
            {% if product.lack_of_quantity %}
            <strong data-bs-toggle="tooltip" data-bs-placement="top" title="lack of quantity" style="color: #ff0000;">
              <i class="fa fa-triangle-exclamation me-4"></i>
            </strong>
            {% endif %}
          </a>
        </td>
        <!-- # -->
        <td>
          {{ product.status }}
        </td>
        <!-- price -->
        <td>
          <span class="d-block h4 text-start"><small>{{ product.quantity }} x {{ product.total_price|floatformat:"0g" }} <small>DZD</small></small></span>
        </td>
        <!-- product actions -->
        <td class="text-end">
          {% if product.status == 'processed' %}
          <a type="button" class="btn btn-ghost btn-icon ms-2" data-bs-toggle="modal" data-bs-target="#product_collected_{{ product.id }}">
            <i class="fa fa-check" data-bs-toggle="tooltip" data-bs-placement="top" title="Piked up"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <!-- Pagination -->
      <nav>
        {% if categories.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if all_orders.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ categories.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in categories.paginator.page_range %}
          {% if categories.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if categories.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ categories.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        No categories .
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all orders  -->

{% for order in all_orders %}
<!-- delete order form -->
<form action="{% url 'admin-manage-orders' 'delete_order' %}" id="delete_order_form_{{ order.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="order_id" value='{{ order.id }}'>
</form>
<!-- end order forms list -->

<!-- delete order modal -->
<div id="delete_order_modal_{{ order.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete #{{ order.ref }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_order_form_{{ order.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- view order modal -->
<div id="view_order_modal_{{ order.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-self: center;">
        <i class="fa fa-hashtag me-1"></i> <span class="d-block fs-4 text-dark">{{ order.ref }}</span>
      </div>
      <div class="modal-body text-center">
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                <tbody>
                <tr>
                  <td>
                    <span class="d-block text-dark fs-6">
                      {% if order.client %}
                      ({{ order.client.sale }})
                      {% endif %}
                      Name
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if order.client %}
                      <a href="#">
                        {{ order.client_name|title }}
                      </a>
                      {% else %}
                      {{ order.client_name|title }}
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Phone
                    </span>

                    <span class="d-block text-body fs-6">
                      <a href="tel:{{ order.client_phone }}">
                        {{ order.client_phone }}
                      </a>
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Delivery
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ order.municipality.province.en_name|title }}, {{ order.municipality.en_name|title }},
                      {% if order.delivery_type == 'HOME' %}
                      Home
                      {% endif %}

                      {% if order.delivery_type == 'DESK' %}
                      Desk
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Sub Total
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ order.price|floatformat:"0g" }} <small>DZD</small>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td>
                    <span class="d-block text-dark fs-6">
                      Gift Points
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ order.points }}
                      {% if order.client %}
                      ({{ order.client.points }})
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Discount
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if order.coupon %}
                      {% if order.coupon.is_subtractive %}
                      {{ order.coupon.value|floatformat:"0g" }} <small>DZD</small>
                      {% else %}
                      {{ order.coupon.value|floatformat:"0g" }} %
                      {% endif %}
                      {% else %}
                      No discount
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Delivery Price
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if order.delivery_price %}
                      {{ order.delivery_price|floatformat:"0g" }} <small>DZD</small>
                      {% else %}
                      Free
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Total
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ order.total_price|floatformat:"0g" }} <small>DZD</small>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
              <ul class="step step-timeline-md mt-5">
                {% for log in order.log.all %}
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary"><i class="fa-solid fa-circle-dot"></i></span>
                    <div class="step-content">

                      {% if log.content == 'collected' %}
                      <a class="d-flex align-items-center" href="#">
                        <div class="flex-shrink-0">
                          <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ log.selected_product.image }}">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <small>
                            <span class="d-block text-body fs-6 text-wrap">
                              {{ log.selected_product.en_title }} {{ log.selected_product.en_detail }}
                            </span>
                          </small>
                        </div>
                      </a>
                      {% else %}
                      <h4>{{ log.content|title }}</h4>
                      {% endif %}

                      {% if not log.content == 'processed' and not log.content == 'placed' %}
                      <p class="step-text">by :{{ log.user }}</p>
                      {% endif %}

                      {% if log.content == 'handed' %}
                      <p class="step-text">code #{{ order.delivery_code }}</p>
                      {% endif %}
                      <p class="step-text">at :{{ log.at }}</p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
          </div>
        </div>

        <div class="card border border-dark">
          {% if order.status == 'placed' or order.status == 'pend' %}
          <span class="d-block text-body fs-4 mt-4 mb-4">
            Please call the client to confirm the order
          </span>
          {% endif %}

          {% if order.status == 'confirmed' %}
          <span class="d-block text-body fs-4 mt-4 mb-4">
            Products needs to be prepared by providers and piked up by a member
          </span>
          {% endif %}

          {% if order.status == 'processed' %}
          <span class="d-block text-body fs-4 mt-4 mb-4">
            Waiting for products to be prepared by providers
          </span>
          {% endif %}

          {% if order.status == 'controlled' %}
          <span class="d-block text-body fs-4 mt-4 mb-4">
            Add tracking number before giving delivery
          </span>
          {% endif %}

          {% if order.status == 'handed' %}
          <span class="d-block text-body fs-4 mt-4 mb-4">
            Confirm the payment
          </span>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        {% if order.status == 'placed' or order.status == 'pend' %}
        <a type="button" href="{% url 'admin-manage-orders' 'confirmed_order' %}?order_id={{ order.id }}" class="btn btn-white">Confirmed</a>
        <a type="button" href="{% url 'admin-manage-orders' 'no_answer' %}?order_id={{ order.id }}" class="btn btn-white">No answer</a>
        {% endif %}

        {% if order.status == 'processed' %}
        <a type="button" href="{% url 'admin-manage-orders' 'controlled_quality' %}?order_id={{ order.id }}" class="btn btn-white">Quality control</a>
        {% endif %}

        {% if order.status == 'controlled' %}
        <form action="{% url 'admin-manage-orders' 'handed_over' %}" id="delivery_from_{{ order.id }}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <input type="hidden" name="order_id" value="{{ order.id }}">
          <input type="text" class="form-control" name="delivery_code" required>
          <span class="invalid-feedback text-center">delivery code required.</span>
        </form>
        <button type="submit" form="delivery_from_{{ order.id }}" class="btn btn-white">On delivery</button>
        {% endif %}

        {% if order.status == 'handed' %}
        <a type="button" href="{% url 'admin-manage-orders' 'paid' %}?order_id={{ order.id }}" class="btn btn-white">Paid</a>
        <a type="button" href="{% url 'admin-manage-orders' 'refund' %}?order_id={{ order.id }}" class="btn btn-white">Refund</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- piked up product modal -->
{% for product in order.selected_products.all %}
<div id="product_collected_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>{{ product.en_title }} x {{ product.quantity }} has been piked up ,click yes to confirm.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="{% url 'admin-manage-orders' 'collected' %}?order_id={{ order.id }}&product_id={{ product.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}



<!-- add a category modal -->
<div id="add_a_category" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-4">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add a category</h2>
          </div>
          <form action="{% url 'admin-manage-categories' 'add_a_category' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}

            <div class="row mb-4">
              <!-- english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english name</span>
                <input type="text" class="form-control" name="en_name" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end english name -->

              <!-- french name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french name</span>
                <input type="text" class="form-control" name="fr_name">
              </div>
              <!-- end french name -->

              <!-- arabic name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic name</span>
                <input type="text" class="form-control" name="ar_name" dir="rtl">
              </div>
              <!-- end arabic name -->

              <span class="divider-center mb-2">Font Awesome Icon</span>

              <!-- icon -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">reference</span>
                <input type="text" class="form-control" name=icon">
              </div>
              <!-- end icon -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}