{% extends "en/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}


<!-- english version -->

<!-- title -->
{% block title %}
<title>
    Dexunt - Checkout Complete
</title>
{% endblock %}


<!--cart-->
{% block cart %}
{% endblock %}

<!--content-->
{% block content %}
<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body text-center">
                <h2 class="h4 pb-3">Thank you for your order!</h2>
                <p class="fs-sm mb-2">Your order has been placed and will be processed, you will receive a confirmation call within 24 hours.</p>
                <p class="fs-sm mb-2">Make sure you make note of your order number, which is <span class='fw-medium'>{{ new_order.order_ref }}.</span></p>
                <p class="fs-sm">Once confirmed this order will earn you {{ new_order.points }}. <u>click here</u> to register and collect .</p>
                <a class="btn btn-secondary mt-3 me-3" href="{% url 'main-shop-home' %}">Go back shopping</a>
                <a class="btn btn-primary mt-3" href="{% url 'track-order' {{ new_order.order_ref }} %}"><i class="ci-location"></i>&nbsp;Track order</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}}