{% extends "en/main-shop/base.html" %}
{% load static %}


<!-- english version -->

<!-- title -->
{% block title %}
<title>
    Dexunt - Online Shopping Gifts & Deco
</title>
{% endblock %}

<!--cart-->
{% block cart %}
<div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="shop-cart.html"><span class="navbar-tool-label">4</span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text" href="shop-cart.html"><small>My Cart</small>$1,247.00</a>
    <!--cart dropdown-->
    <div class="dropdown-menu dropdown-menu-end">
        <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
            <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                <div class="widget-cart-item pb-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/05.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Bluetooth Headphones</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$259.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/06.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Cloud Security Camera</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$122.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/07.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smartphone S10</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$799.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/08.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smart TV Box</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$67.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                <div class="fs-sm me-2 py-2"><span class="text-muted">Subtotal:</span><span class="text-accent fs-base ms-1">$1,247.<small>00</small></span></div><a class="btn btn-outline-secondary btn-sm" href="shop-cart.html">Expand cart<i class="ci-arrow-right ms-1 me-n1"></i></a>
            </div><a class="btn btn-primary btn-sm d-block w-100" href="checkout-details.html"><i class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
        </div>
    </div>
    <!--end cart dropdown-->
</div>
{% endblock %}

<!--content-->
{% block content %}
<!-- Main Sliders and Banners ------------------------->
<section class="bg-secondary py-4 pt-md-5">
    <div class="container py-xl-2">
        <div class="row">
            <!--slider-->
            <div class="col-xl-9 pt-xl-4 order-xl-2">
                <div class="tns-carousel">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;loop&quot;: false}">
                        {% for intro_banner in intro_banners %}
                        <div>
                            <div class="row align-items-center">
                                <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="{% get_media_prefix %}{{ intro_banner.thumb }}" alt="{{ intro_banner.en_intro }}"></div>
                                <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                    <h2 class="fw-light pb-1 from-bottom">{{ intro_banner.en_title }}</h2>
                                    <h1 class="display-4 from-bottom delay-1">{{ intro_banner.en_intro }}</h1>
                                    <h5 class="fw-light pb-3 from-bottom delay-2">{{ intro_banner.en_description }}</h5>
                                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{{ intro_banner.link }}">{{ intro_banner.en_button }}<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--end slider-->
            <!--intro banners-->
            <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
                <div class="table-responsive" data-simplebar>
                    <div class="d-flex d-xl-block">
                        {% for intro_thumb in intro_thumbs %}
                        <a class="d-flex align-items-center bg-faded-info rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="{{ intro_thumb.link }}" style="min-width: 16rem;">
                            <img src="{% get_media_prefix %}{{ intro_thumb.thumb }}" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">{{ intro_thumb.en_title }}</span></h5>
                                <div class="text-info fs-sm">{{ intro_thumb.en_button }}<i class="ci-arrow-right fs-xs ms-1"></i>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--end intro banners-->
        </div>
    </div>
</section>
<!-- Showcases & Movable Banners ---------------------->

{% for showcase in showcases %}

<!-- grid showcase -->
{% if showcase.publish and showcase.type == 'grid_showcase' %}
<section class="container pt-2 pb-2">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 pb-4 mb-4">

    </div>
    <!-- Grid-->
    <div class="row pt-2 mx-n2">
        {% for product in showcase.product.all %}
        <!-- Product-->
        {% if product.quantity > 0 %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card" style="text-align: -webkit-center;">
                <div class="product-card-actions d-flex align-items-center">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button>
                </div>
                <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku 'main' 'main' %}">
                    <img src="{% get_media_prefix %}{{product.album.all.0.image}}" style="width: auto;height: 220px;">
                </a>
                <div class="card-body py-2">
                            <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.spec }}</a>
                            <h3 class="product-title fs-sm text-truncate">
                                <a href="#">{{ product.en_title }}</a>
                            </h3>
                            {% if product.discount_price %}
                            <div class="product-price">
                                <del class="fs-sm text-muted">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                                <span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% else %}
                            <div class="product-price">
                                <span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% endif %}

                            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button">
                                <i class="ci-cart fs-sm me-1"></i>Add to Cart
                            </button>
                            <div class="text-center mb-2">
                                <a class="nav-link-style fs-ms" href="#quick_view_{{ product.sku }}" data-bs-toggle="modal">
                                    <i class="ci-eye align-middle me-1"></i>Quick view
                                </a>
                            </div>
                </div>
                <div class="card-body card-body-hidden">
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        {% else %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card" style="text-align: -webkit-center;">
                <div class="product-card-actions d-flex align-items-center">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button>
                </div>
                <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku 'main' 'main' %}">
                    <img src="{% get_media_prefix %}{{product.album.all.0.image}}" style="width: auto;height: 220px;">
                </a>
                <div class="card-body py-2">
                    <h3 class="product-title fs-sm">
                        <a href="{% url 'product' product.sku 'main' 'main' %}">{{ product.en_title }}</a>
                    </h3>
                    <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.en_spec }}</a>
                    <div class="d-flex justify-content-between">
                        <div class="product-price">
                            <span class="text-muted fs-sm">Out of stock</span>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        {% endif %}
        <!-- Product-->
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- end grid showcase -->

<!-- column showcase -->
{% if showcase.publish and showcase.type == 'slider_showcase' %}
<section class="container pt-2 pb-2">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center">

    </div>
    <!-- Column-->
    <div class="row pt-2 mx-n2">
        <div class="tns-carousel tns-controls-static tns-controls-outside">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
                {% for product in showcase.product.all %}
                <!-- Product-->
                {% if product.quantity > 0 %}
                <div>
                    <div class="card shadow card-static" style="text-align: -webkit-center;">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                            <i class="ci-heart"></i>
                        </button>
                        <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku 'main' 'main' %}">
                            <img src="{% get_media_prefix %}{{product.album.all.0.image}}" style="width: auto;height: 220px;">
                        </a>
                        <div class="card-body py-2">
                            <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                            <h3 class="product-title fs-sm text-truncate">
                                <a href="#">{{ product.en_title }}</a>
                            </h3>
                            {% if product.discount_price %}
                            <div class="product-price">
                                <del class="fs-sm text-muted">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                                <span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% else %}
                            <div class="product-price">
                                <span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% endif %}

                            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button">
                                <i class="ci-cart fs-sm me-1"></i>Add to Cart
                            </button>
                            <div class="text-center mb-2">
                                <a class="nav-link-style fs-ms" href="#quick_view_{{ product.sku }}" data-bs-toggle="modal">
                                    <i class="ci-eye align-middle me-1"></i>Quick view
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div>
                    <div class="card shadow card-static" style="text-align: -webkit-center;">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                            <i class="ci-heart"></i>
                        </button>
                        <a class="card-img-top d-block overflow-hidden" href="#">
                            <img src="{% get_media_prefix %}{{product.album.all.0.image}}" style="width: auto;height: 220px;">
                        </a>
                        <div class="card-body py-2">
                            <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                            <h3 class="product-title fs-sm text-truncate">
                                <a href="#">{{ product.en_title }}</a>
                            </h3>
                            <div class="product-price">
                                <span class="text-muted fs-sm">Out of stock</span>
                            </div>

                            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" disabled>
                                <i class="ci-cart fs-sm me-1"></i>Add to Cart
                            </button>
                            <div class="text-center mb-2">
                                <a class="nav-link-style fs-ms" href="#quick_view_{{ product.sku }}" data-bs-toggle="modal">
                                    <i class="ci-eye align-middle me-1"></i>Quick view
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Product-->

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- end column showcase -->


<!-- timed banner -->
{% if showcase.en_title == 'coming_soon_banner' %}
<!-- Promo banner-->
<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">coming soon</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">{{ showcase.en_first_title }}</h3>
                    <h2 class="mb-1">{{ showcase.en_button }}</h2>
                    <p class="h5 text-body fw-light">{{ showcase.en_third_title }}</p>
                    <div class="countdown py-2 h4" >
                        <a href="{{ showcase.url }}">get it now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7"><img src="{% get_media_prefix %}{{showcase.thumb}}" alt="coming soon banner"></div>
        </div>
    </div>
</section>
{% endif %}
<!-- end timed banner -->

<!-- timed banner -->
{% if showcase.en_title == 'timed_banner' %}
<!-- Promo banner-->
<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">limited</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">{{ showcase.en_title }}</h3>
                    <h2 class="mb-1">{{ showcase.en_second_title }}</h2>
                    <p class="h5 text-body fw-light">{{ showcase.en_third_title }}</p>
                    <div class="countdown py-2 h4" data-countdown="{{ showcase.month }}/{{ showcase.day }}/{{ showcase.year }} 07:00:00 PM">
                        <div class="countdown-days"><span class="countdown-value"></span><span class="countdown-label text-muted">d</span></div>
                        <div class="countdown-hours"><span class="countdown-value"></span><span class="countdown-label text-muted">h</span></div>
                        <div class="countdown-minutes"><span class="countdown-value"></span><span class="countdown-label text-muted">m</span></div>
                        <div class="countdown-seconds"><span class="countdown-value"></span><span class="countdown-label text-muted">s</span></div>
                    </div><a class="btn btn-accent" href="{{ showcase.link }}">{{ showcase.en_button }}<i class="ci-arrow-right fs-ms ms-1"></i></a>
                </div>
            </div>
            <div class="col-md-7"><img src="{% get_media_prefix %}{{showcase.thumb}}" alt="timed banner"></div>
        </div>
    </div>
</section>
{% endif %}
<!-- end timed banner -->
{% endfor %}



<!-- Bestsellers New Arrivals Top Rated --------------->
<section class="container pb-4 pb-md-5">
    <div class="row">
        <!-- Bestsellers-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Bestsellers</h3>
                {% for product in best_sellers %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="{% url 'product' product.sku 'main' 'main' %}">
                        <img src="{% get_media_prefix %}{{product.album.all.0.image}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku 'main' 'main' %}">{{ product.en_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'best_sellers' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- New arrivals-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">New arrivals</h3>
                {% for product in new_arrivals %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="{% url 'product' product.sku 'main' 'main' %}">
                        <img src="{% get_media_prefix %}{{product.album.all.0.image}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku 'main' 'main' %}">{{ product.en_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'new_arrivals' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- Top rated-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Top rated</h3>
                {% for product in top_rated %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="{% url 'product' product.sku 'main' 'main' %}">
                        <img src="{% get_media_prefix %}{{product.album.all.0.image}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku 'main' 'main' %}">{{ product.en_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'top_rated' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Quick View Modal-->
{% for product in all_products %}
<div class="modal-quick-view modal fade" id="quick_view_{{ product.sku }}" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title product-title"><a href="#">{{ product.en_title }}</a></h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Product gallery-->
                    <div class="col-lg-7 pe-lg-0">
                        <div class="product-gallery">
                            <div class="product-gallery-thumblist order-sm-1">
                                <a class="product-gallery-thumblist-item active" href="#one">
                                    <img src="{% get_media_prefix %}{{ product.album.all.0.image }}">
                                </a>

                                <a class="product-gallery-thumblist-item" href="#two">
                                    <img src="{% get_media_prefix %}{{ product.album.all.1.image }}">
                                </a>

                                {% if product.album.all.2.id %}
                                <a class="product-gallery-thumblist-item" href="#three">
                                    <img src="{% get_media_prefix %}{{ product.album.all.2.image }}">
                                </a>
                                {% endif %}

                                {% if product.album.all.3.id %}
                                <a class="product-gallery-thumblist-item" href="#four">
                                    <img src="{% get_media_prefix %}{{ product.album.all.3.image }}">
                                </a>
                                {% endif %}

                                {% if product.album.all.4.id %}
                                <a class="product-gallery-thumblist-item" href="#five">
                                    <img src="{% get_media_prefix %}{{ product.album.all.4.image }}">
                                </a>
                                {% endif %}

                            </div>
                            <div class="product-gallery-preview order-sm-2">
                                <div class="product-gallery-preview-item active" id="one">
                                    <img class="image-zoom" src="{% get_media_prefix %}{{ product.album.all.0.image }}"
                                          style="width: auto;height: 450px;"
                                         data-zoom="{% get_media_prefix %}{{ product.album.all.0.image }}">
                                    <div class="image-zoom-pane"></div>
                                </div>

                                <div class="product-gallery-preview-item" id="two">
                                    <img class="image-zoom" src="{% get_media_prefix %}{{ product.album.all.1.image }}"
                                          style="width: auto;height: 450px;"
                                         data-zoom="{% get_media_prefix %}{{ product.album.all.1.image }}">
                                    <div class="image-zoom-pane"></div>
                                </div>

                                <div class="product-gallery-preview-item" id="three">
                                    <img class="image-zoom" src="{% get_media_prefix %}{{ product.album.all.2.image }}"
                                          style="width: auto;height: 450px;"
                                         data-zoom="{% get_media_prefix %}{{ product.album.all.2.image }}">
                                    <div class="image-zoom-pane"></div>
                                </div>

                                <div class="product-gallery-preview-item" id="four">
                                    <img class="image-zoom" src="{% get_media_prefix %}{{ product.album.all.3.image }}"
                                          style="width: auto;height: 450px;"
                                         data-zoom="{% get_media_prefix %}{{ product.album.all.3.image }}">
                                    <div class="image-zoom-pane"></div>
                                </div>

                                <div class="product-gallery-preview-item" id="five">
                                    <img class="image-zoom" src="{% get_media_prefix %}{{ product.album.all.4.image }}"
                                          style="width: auto;height: 450px;"
                                         data-zoom="{% get_media_prefix %}{{ product.album.all.4.image }}">
                                    <div class="image-zoom-pane"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Product details-->
                    <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                        <div class="product-details ms-auto pb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <a href="shop-single-v1.html#reviews">
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                </div>
                                <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">74 Reviews</span></a>
                                <button class="btn-wishlist" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i class="ci-heart"></i></button>
                            </div>
                            {% if product.discount_price %}
                            <div class="mb-3">
                                <span class="h3 fw-normal text-accent me-1">{{ product.discount_price }}<small>DA</small></span>
                                <del class="text-muted fs-lg ms-2 me-1">{{ product.sell_price }}</del><small>DA</small>
                                <span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <span class="h3 fw-normal text-accent me-1">{{ product.sell_price }}<small>DA</small></span>
                            </div>
                            {% endif %}

                            {% if product.size.all.count %}

                            {% if product.size.all.0.show_thumb %}
                            <div class="mb-5">
                                <span class="text-muted fs-lg ms-2 me-1"><i class="ci-basket-alt fs-lg me-2"></i>
                                    <small>product exists in different sets</small>
                                </span>
                            </div>
                            {% else %}
                            <div class="mb-5">
                                <span class="text-muted fs-lg ms-2 me-1"><i class="ci-ruler fs-lg me-2"></i>
                                    <small>product exists in different sizes</small>
                                </span>
                            </div>
                            {% endif %}

                            {% if product.quantity %}
                            <div class="position-relative me-n4 mb-3">
                                <div class="product-badge product-available mt-n4"><i class="ci-security-check"></i>available</div>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <button class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-forward fs-lg me-2"></i>more details</button>
                            </div>
                            {% else %}
                            <div class="position-relative me-n4 mb-3">
                                <div class="product-badge product-available mt-n4"><i class="ci-security-prohibition"></i>out of stock</div>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <button class="btn btn-primary btn-shadow d-block w-100" type="button" disabled><i class="ci-forward fs-lg me-2"></i>more details</button>
                            </div>
                            {% endif %}



                            {% else %}
                            <div class="mb-5">
                                <span class="text-muted fs-lg ms-2 me-1"><small></small></span>
                            </div>
                            {% if product.quantity %}
                            <div class="position-relative me-n4 mb-3">
                                <div class="product-badge product-available mt-n4"><i class="ci-security-check"></i>{{ product.quantity }} available</div>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <button class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-forward fs-lg me-2"></i>more details</button>
                            </div>
                            {% else %}
                            <div class="position-relative me-n4 mb-3">
                                <div class="product-badge product-available mt-n4"><i class="ci-security-prohibition"></i>out of stock</div>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <button class="btn btn-primary btn-shadow d-block w-100" type="button" disabled><i class="ci-forward fs-lg me-2"></i>more details</button>
                            </div>
                            {% endif %}
                            {% endif %}



                            <h5 class="h6 mb-3 pb-2 border-bottom">
                                <i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info
                            </h5>
                            <h6 class="fs-sm mb-2">Spec</h6>
                            <ul class="fs-sm ps-4">
                                <li>{{ product.en_spec }}</li>
                            </ul>
                            {% if product.feature.all.count %}
                            <h6 class="fs-sm mb-2">Details</h6>
                            <ul class="fs-sm ps-4">
                                {% for product_feature in product.feature.all %}
                                <li>{{ product_feature.en_title }} : {{ product_feature.en_value }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <h6 class="fs-sm mb-2">Art. No.</h6>
                            <ul class="fs-sm ps-4 mb-0">
                                <li>{{ product.sku }}</li>
                            </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endfor %}

{% endblock %}}