{% extends "en/main-shop/base.html" %}
{% load static %}


<!-- english version -->

<!-- title -->
{% block title %}
<title>
    Dexunt - Online Shopping Gifts & Deco
</title>
{% endblock %}

<!--cart-->
{% block cart %}
<div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="shop-cart.html"><span class="navbar-tool-label">4</span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text" href="shop-cart.html"><small>My Cart</small>$1,247.00</a>
    <!--cart dropdown-->
    <div class="dropdown-menu dropdown-menu-end">
        <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
            <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                <div class="widget-cart-item pb-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/05.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Bluetooth Headphones</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$259.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/06.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Cloud Security Camera</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$122.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/07.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smartphone S10</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$799.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
                <div class="widget-cart-item py-2 border-bottom">
                    <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                    <div class="d-flex align-items-center"><a class="d-block flex-shrink-0" href="shop-single-v2.html"><img src="img/shop/cart/widget/08.jpg" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smart TV Box</a></h6>
                            <div class="widget-product-meta"><span class="text-accent me-2">$67.<small>00</small></span><span class="text-muted">x 1</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                <div class="fs-sm me-2 py-2"><span class="text-muted">Subtotal:</span><span class="text-accent fs-base ms-1">$1,247.<small>00</small></span></div><a class="btn btn-outline-secondary btn-sm" href="shop-cart.html">Expand cart<i class="ci-arrow-right ms-1 me-n1"></i></a>
            </div><a class="btn btn-primary btn-sm d-block w-100" href="checkout-details.html"><i class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
        </div>
    </div>
    <!--end cart dropdown-->
</div>
{% endblock %}

<!--content-->
{% block content %}
<!-- Main Sliders and Banners ------------------------->
<section class="bg-secondary py-4 pt-md-5">
    <div class="container py-xl-2">
        <div class="row">
            <!--slider-->
            <div class="col-xl-9 pt-xl-4 order-xl-2">
                <div class="tns-carousel">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;loop&quot;: false}">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="{% get_media_prefix %}{{ first_main_banner.thumb }}" alt="{{ first_main_banner.type }}"></div>
                                <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                    <h2 class="fw-light pb-1 from-bottom">{{ first_main_banner.en_first_title }}</h2>
                                    <h1 class="display-4 from-bottom delay-1">{{ first_main_banner.en_second_title }}</h1>
                                    <h5 class="fw-light pb-3 from-bottom delay-2">{{ first_main_banner.en_third_title }}</h5>
                                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{{ first_main_banner.link }}">{{ first_main_banner.en_button }}<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row align-items-center">
                                <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="{% get_media_prefix %}{{ second_main_banner.thumb }}" alt="{{ second_main_banner.type }}"></div>
                                <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                    <h2 class="fw-light pb-1 from-bottom">{{ second_main_banner.en_first_title }}</h2>
                                    <h1 class="display-4 from-bottom delay-1">{{ second_main_banner.en_second_title }}</h1>
                                    <h5 class="fw-light pb-3 from-bottom delay-2">{{ second_main_banner.en_third_title }}</h5>
                                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{{ second_main_banner.link }}">{{ second_main_banner.en_button }}<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row align-items-center">
                                <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="{% get_media_prefix %}{{ third_main_banner.thumb }}" alt="{{ third_main_banner.type }}"></div>
                                <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                    <h2 class="fw-light pb-1 from-bottom">{{ third_main_banner.en_first_title }}</h2>
                                    <h1 class="display-4 from-bottom delay-1">{{ third_main_banner.en_second_title }}</h1>
                                    <h5 class="fw-light pb-3 from-bottom delay-2">{{ third_main_banner.en_third_title }}</h5>
                                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{{ third_main_banner.link }}">{{ third_main_banner.en_button }}<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end slider-->
            <!--intro banners-->
            <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
                <div class="table-responsive" data-simplebar>
                    <div class="d-flex d-xl-block">
                        <!--first banner-->
                        <a class="d-flex align-items-center bg-faded-info rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="{{ first_thumb_banner.link }}" style="min-width: 16rem;">
                            <img src="{% get_media_prefix %}{{ first_thumb_banner.thumb }}" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">{{ first_thumb_banner.en_first_title }}</span>{{ first_thumb_banner.en_second_title }}</h5>
                                <div class="text-info fs-sm">{{ first_thumb_banner.en_button }}<i class="ci-arrow-right fs-xs ms-1"></i>
                                </div>
                            </div>
                        </a>
                        <!--end first banner-->
                        <!--second banner-->
                        <a class="d-flex align-items-center bg-faded-warning rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="{{ second_thumb_banner.link }}" style="min-width: 16rem;">
                            <img src="{% get_media_prefix %}{{ second_thumb_banner.thumb }}" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">{{ second_thumb_banner.en_first_title }}</span>{{ second_thumb_banner.en_second_title }}</h5>
                                <div class="text-warning fs-sm">{{ second_thumb_banner.en_button }}<i class="ci-arrow-right fs-xs ms-1"></i></div>
                            </div>
                        </a>
                        <!--end second banner-->
                        <!--third banner-->
                        <a class="d-flex align-items-center bg-faded-success rounded-3 pt-2 ps-2 mb-4" href="{{ third_thumb_banner.link }}" style="min-width: 16rem;">
                            <img src="{% get_media_prefix %}{{ third_thumb_banner.thumb }}" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">{{ third_thumb_banner.en_first_title }}</span>{{ third_thumb_banner.en_second_title }}</h5>
                                <div class="text-success fs-sm">{{ third_thumb_banner.en_button }}<i class="ci-arrow-right fs-xs ms-1"></i></div>
                            </div>
                        </a>
                        <!--end third banner-->
                    </div>
                </div>
            </div>
            <!--end intro banners-->
        </div>
    </div>
</section>
<!-- Showcases & Movable Banners ---------------------->
{% if showcases_exists %}
{% for showcase in showcases %}
<!-- grid showcase -->
{% if showcase.en_second_title == 'grid_showcase' %}
<section class="container pt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2">{{ showcase.en_first_title }}</h2>
        <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="{% url 'grid-shop' 'showcase' showcase.id %}">{{ showcase.en_button }}<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <!-- Grid-->
    <div class="row pt-2 mx-n2">
        {% for product in showcase.products.all %}
        <!-- Product-->
        {% if product.quantity > 0 %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
                <div class="product-card-actions d-flex align-items-center">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button>
                </div>
                <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku %}">
                    <img src="{% get_media_prefix %}{{product.thumb}}" alt="Product">
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                    <h3 class="product-title fs-sm">
                        <a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a>
                    </h3>
                    <div class="d-flex justify-content-between">
                        {% if product.discount_price %}
                        <div class="product-price">
                            <del class="fs-sm text-muted">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                            <span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                        </div>
                        {% else %}
                        <div class="product-price">
                            <span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                    <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button">
                        <i class="ci-cart fs-sm me-1"></i>Add to Cart
                    </button>
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        {% else %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
                <div class="product-card-actions d-flex align-items-center">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button>
                </div>
                <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku %}">
                    <img src="{% get_media_prefix %}{{product.thumb}}" alt="Product">
                </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                    <h3 class="product-title fs-sm">
                        <a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a>
                    </h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price">
                            <span class="text-muted fs-sm">Out of stock</span>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                    <a class="btn btn-secondary btn-sm d-block w-100 mb-2" href="shop-single-v2.html">View details</a>
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        {% endif %}
        <!-- Product-->
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- end grid showcase -->
<!-- column showcase -->
{% if showcase.en_second_title == 'column_showcase' %}
<section class="container pt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2">{{ showcase.en_first_title }}</h2>
        <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="{% url 'grid-shop' 'showcase' showcase.id %}">{{ showcase.en_button }}<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <!-- Column-->
    <div class="row pt-2 mx-n2">
        <div class="tns-carousel tns-controls-static tns-controls-outside">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
                {% for product in showcase.products.all %}
                <!-- Product-->
                {% if product.quantity > 0 %}
                <div>
                    <div class="card product-card card-static">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                            <i class="ci-heart"></i>
                        </button>
                        <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku %}">
                            <img src="{% get_media_prefix %}{{product.thumb}}" alt="Product">
                        </a>
                        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                            <h3 class="product-title fs-sm text-truncate">
                                <a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a>
                            </h3>
                            {% if product.discount_price %}
                            <div class="product-price">
                                <del class="fs-sm text-muted">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                                <span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% else %}
                            <div class="product-price">
                                <span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</button>
                        </div>
                    </div>
                </div>
                {% else %}
                <div>
                    <div class="card product-card card-static">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
                            <i class="ci-heart"></i>
                        </button>
                        <a class="card-img-top d-block overflow-hidden" href="{% url 'product' product.sku %}">
                            <img src="{% get_media_prefix %}{{product.thumb}}" alt="Product">
                        </a>
                        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ product.brand }}</a>
                            <h3 class="product-title fs-sm text-truncate">
                                <a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a>
                            </h3>
                            <div class="product-price">
                                <span class="text-muted fs-sm">Out of stock</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-secondary btn-sm d-block w-100 mb-2" href="{% url 'product' product.sku %}">View details</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Product-->
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- end column showcase -->
<!-- timed banner -->
{% if showcase.en_second_title == 'coming_soon_banner' %}
<!-- Promo banner-->
<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">coming soon</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">{{ showcase.en_first_title }}</h3>
                    <h2 class="mb-1">{{ showcase.en_button }}</h2>
                    <p class="h5 text-body fw-light">{{ showcase.en_third_title }}</p>
                    <div class="countdown py-2 h4" >
                        <a href="{{ showcase.url }}">get it now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7"><img src="{% get_media_prefix %}{{showcase.thumb}}" alt="coming soon banner"></div>
        </div>
    </div>
</section>
{% endif %}
<!-- end timed banner -->
<!-- timed banner -->
{% if showcase.en_second_title == 'timed_banner' %}
<!-- Promo banner-->
<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">limited</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">{{ showcase.en_first_title }}</h3>
                    <h2 class="mb-1">{{ showcase.en_second_title }}</h2>
                    <p class="h5 text-body fw-light">{{ showcase.en_third_title }}</p>
                    <div class="countdown py-2 h4" data-countdown="{{ showcase.month }}/{{ showcase.day }}/{{ showcase.year }} 07:00:00 PM">
                        <div class="countdown-days"><span class="countdown-value"></span><span class="countdown-label text-muted">d</span></div>
                        <div class="countdown-hours"><span class="countdown-value"></span><span class="countdown-label text-muted">h</span></div>
                        <div class="countdown-minutes"><span class="countdown-value"></span><span class="countdown-label text-muted">m</span></div>
                        <div class="countdown-seconds"><span class="countdown-value"></span><span class="countdown-label text-muted">s</span></div>
                    </div><a class="btn btn-accent" href="{{ showcase.link }}">{{ showcase.en_button }}<i class="ci-arrow-right fs-ms ms-1"></i></a>
                </div>
            </div>
            <div class="col-md-7"><img src="{% get_media_prefix %}{{showcase.thumb}}" alt="timed banner"></div>
        </div>
    </div>
</section>
{% endif %}
<!-- end timed banner -->
{% endfor %}
{% endif %}
<!-- Bestsellers New Arrivals Top Rated --------------->
<!-- Product widgets-->
<section class="container pb-4 pb-md-5">
    <div class="row">
        <!-- Bestsellers-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Bestsellers</h3>
                {% for product in best_sellers %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="shop-single-v2.html">
                        <img src="{% get_media_prefix %}{{product.thumb}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'best_sellers' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- New arrivals-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">New arrivals</h3>
                {% for product in new_arrivals %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="shop-single-v2.html">
                        <img src="{% get_media_prefix %}{{product.thumb}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'new_arrivals' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- Top rated-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Top rated</h3>
                {% for product in top_rated %}
                <div class="d-flex align-items-center pb-2 border-bottom">
                    <a class="d-block flex-shrink-0" href="shop-single-v2.html">
                        <img src="{% get_media_prefix %}{{product.thumb}}" width="64" alt="Product">
                    </a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="{% url 'product' product.sku %}">{{ product.en_product_title }}</a></h6>
                        {% if product.discount_price %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.discount_price|floatformat:"2g" }} DZD</span>
                            <del class="text-muted fs-xs">{{ product.sell_price|floatformat:"2g" }} DZD</del>
                        </div>
                        {% else %}
                        <div class="widget-product-meta"><span class="text-accent">{{ product.sell_price|floatformat:"2g" }} DZD</span></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'grid-shop' 'top_rated' 0 %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}}