{% extends "en/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}


<!-- english version -->

<!-- title -->
{% block title %}
<title>
    Dexunt - Shopping Cart
</title>
{% endblock %}


<!--cart-->
{% block cart %}
{% endblock %}

<!--content-->
{% block content %}
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'main-shop-home' %}"><i class="ci-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
                <h2 class="h6 text-light mb-0">Products</h2>
                {% if cart.product.all.count %}
                <a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'main-shop-home' %}">
                    <i class="ci-arrow-left me-2"></i>Continue shopping
                </a>
                {% else %}
                <a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'main-shop-home' %}">
                    <i class="ci-arrow-left me-2"></i>Back to shop
                </a>
                {% endif %}
            </div>
            <!-- Item-->
            {% if cart.product.all.count %}
            {% for cart_product in cart.product.all %}
            <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="{% url 'single-product' cart_product.product_sku cart_product.size_sku %}"><img src="{% get_media_prefix %}{{ cart_product.thumb }}" width="160" alt="Product"></a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a href="{% url 'single-product' cart_product.product_sku cart_product.size_sku %}">{{ cart_product.en_name|title }}</a></h3>
                        {% if cart_product.en_detail %}
                        <div class="fs-sm"><span class="text-muted me-2">Detail:</span> {{ cart_product.en_detail }} </div>
                        {% endif %}
                        <div class="fs-sm"><span class="text-muted me-2">Option:</span> {{ cart_product.en_spec }} </div>
                        <div class="fs-lg text-accent pt-2">{{ cart_product.price|floatformat:"2g" }}<small class="ms-1">DZD</small></div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                    <label class="form-label" >Quantity</label>
                    <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">{{ cart_product.quantity }}</a>
                    <form action="{% url 'cart-home' 'remove_quantity' %}" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="size_sku" value='{{ cart_product.size_sku }}'>
                        <input type="hidden" name="product_sku" value='{{ cart_product.product_sku }}'>

                        <button class="btn btn-link px-0 text-danger" type="submit">
                            {% if cart_product.quantity > 1 %}
                            <i class="ci-close-circle me-2"></i><span class="fs-sm">Decrease</span>
                            {% else %}
                            <i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span>
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-outline-accent d-block w-100 mt-4" type="button"><i class="ci-trash fs-base me-2"></i>Remove all products</button>
            {% else %}
            <button class="btn btn-outline-accent d-block w-100 mt-4" type="button" disabled>
                The Cart is Empty
            </button>
            {% endif %}
        </section>
          <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4">
                <div class="py-2 px-xl-2">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                        <h3 class="fw-normal">{{ cart.sub_total_price|floatformat:"2g" }}<small class="ms-1">DZD</small></h3>
                    </div>

                    <div class="fs-sm text-center text-muted my-4">
                        <em>
                            Please select your shipping destination
                        </em>
                    </div>

                    <form action="{% url 'checkout' 'details' %}" class="needs-validation" method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <select class="form-select" name="province_en_name" id="province_en_name" hx-get="{% url 'cart-home' 'load_municipality' %}" hx-trigger="change" hx-target="#municipality" required>
                                <option value=""></option>
                                {% for province in provinces %}
                                <option value="{{ province.en_name }}">{{ province.en_name|title }}</option>
                                {% endfor %}
                            </select>
                            <label for="province_en_name">Your province</label>
                            <div class="invalid-feedback">Please choose your province!</div>
                        </div>
                        <div class="form-floating mb-3" id="municipality">
                            {% include 'en/main-shop/partials/load_municipality.html' %}
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100 mt-4" type="submit">
                            <i class="ci-card fs-lg me-2"></i>Proceed to Checkout
                        </button>

                        {% if cart.product.all.count %}
                        <button class="btn btn-primary btn-shadow d-block w-100 mt-4" type="submit">
                            <i class="ci-card fs-lg me-2"></i>Proceed to Checkout
                        </button>
                        {% else %}
                        <a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'main-shop-home' %}">
                            <i class="ci-arrow-left me-2"></i>Back to shop
                        </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}}