{% extends "rtl/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}
<title>
    TOVANA HEALTH manager | selected user
</title>
{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-home' 'main' %}?init=True">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-users' 'main' %}">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_user.first_name|title }} {{ selected_user.last_name|title }}</li>
      </ol>
    </nav>

    <h1 class="page-header-title">{{ selected_user.first_name|title }} {{ selected_user.last_name|title }}</h1>
  </div>
  <div class="col-sm-auto">
  </div>
</div>
{% endblock %}

<!-- content -->
{% block content %}
<div class="row">
  <div class="col-lg-8 mb-3 mb-lg-0">
    <div class="card mb-3 mb-lg-5">
      <div class="card-header card-header-content-between">
        <h4 class="card-header-title">Details </h4>
      </div>

      <div class="card-body">
        <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        {% for questionnaire in selected_user.question.all %}
          {% if questionnaire.answered %}
        <tr>
          <td>
            {% if not questionnaire.is_related %}
            <span class="h5">{{ questionnaire.title }}</span>
            {% endif %}
            <span class="d-block fs-6">{{ questionnaire.question }}</span>
          </td>

          <td>
            {% if questionnaire.answer %}
            <span class="d-block fs-6">{{ questionnaire.answer }}</span>
            {% endif %}


            {% if questionnaire.multiple_answer.all.count %}
            {% for answer in questionnaire.multiple_answer.all %}
            <span class="d-block fs-6">{{ answer.content }}</span>
            {% endfor %}
            {% endif %}
          </td>
        </tr>
          {% endif %}
        {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <h4 class="card-header-title">Patient</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-no-gutters">
          <li class="list-group-item">
            <a class="d-flex align-items-center" href="#">
              <div class="icon icon-soft-info icon-circle">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'landing_page/tovana_img/dna_kit.png' %}" style="width: 50%;">
              </div>
              <div class="flex-grow-1 ms-3">
                {% if selected_user.kit.count > 1 %}
                <span class="text-body text-inherit">Has ({{ selected_user.kit.count }}) kits </span>
                {% else %}
                <span class="text-body text-inherit">Has one kit </span>
                {% endif %}
              </div>
              <div class="flex-grow-1 text-end">
                <i class="bi-chevron-right text-body"></i>
              </div>
            </a>
          </li>

          <li class="list-group-item">
            <ul class="list-unstyled list-py-2 text-dark">
              <li><i class="bi-gender-{{ selected_user.gender }} me-2"></i>: <span class="text-body">{{ selected_user.gender|title }}</span></li>

              <li><i class="bi-at me-2"></i>: <span class="text-body">{{ selected_user.username }}</span></li>

              {% if selected_user.phone_number %}
              <li><i class="bi-phone me-2"></i>: <span class="text-body">{{ selected_user.phone_number }}</span></li>
              {% else %}
              <li>Phone number missing</li>
              {% endif %}

              {% if selected_user.date_of_birth %}
              <li><i class="bi-calendar2-event me-2"></i>: <span class="text-body">{{ patient.date_of_birth }}</span></li>
              {% else %}
              <li>Date of birth missing</li>
              {% endif %}
            </ul>
          </li>

          {% if selected_user.data_folder.all.count %}
          <li class="list-group-item">
            {% for file in selected_user.data_folder.all %}
            <span class="text-body">{{ file.file_name }}</span>
            {% endfor %}
          </li>
          {% endif %}

          <li class="list-group-item">
            <form action="{% url 'admin-manage-users' 'main' %}" id="upload-files" class="dropzone dz-dropzone dz-dropzone-card" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="user_id" value='{{ selected_user.id }}'>
              <div class="fallback">
                <input name="fileName" type="file" multiple />
              </div>
              <div class="dz-message">
                <div class="mb-2">
                  <i class="fa-solid fa-cloud-arrow-up fa-2xl"></i>
                </div>
                <div class="mb-4">
                  <span class="d-block h6 mb-1">Browse files</span>
                  <span class="d-block h6 mb-1">or</span>
                  <span class="d-block h6">Drag n' drop</span>
                </div>
              </div>

              <div id="preview-template" style="display: none;">
                <div class="col h-100 mb-5 me-4">
                  <div class="dz-preview dz-file-preview" style="width: 100%;">
                    <div class="d-flex justify-content-end dz-close-icon">
                      <i class="bi bi-x-lg" data-dz-remove></i>
                    </div>
                    <div class="row dz-details media">
                      <div class="avatar avatar-xl avatar-square avatar-centered mb-3">
                        <img class="avatar-img" data-dz-thumbnail>
                      </div>
                      <div class="media-body dz-file-wrapper">
                        <h6 class="dz-filename">
                          <span class="dz-title" data-dz-name></span>
                        </h6>
                        <span class="dz-size fs-5" data-dz-size></span>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="progress flex-grow-1 me-2">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                      </div>
                      <span class="progress-text"></span>
                    </div>

                    <div class="d-flex align-items-center">
                      <div class="dz-success-mark">
                        <i class="bi bi-check-lg fs-2"></i>
                      </div>
                      <div class="dz-error-mark">
                        <span class="fa fa-times-circle"></span>
                      </div>
                      <div class="dz-error-message">
                        <small data-dz-errormessage></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
