{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Coupons</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">coupons</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Coupons</h1>
    <h6 class="text-muted">You have {{ all_coupons.all.count }} coupons</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_new_coupon_modal">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add new product"></i>
    </button>
  </div>
  <!-- end all products  -->
</div>

<!-- add new product modal -->
<div id="add_new_coupon_modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <!-- Header -->
    <div class="modal-close">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="modal-body">
      <div>
        <!-- title -->
        <div class="text-center mb-7">
          <h2>Add new coupon</h2>
        </div>
        <!-- end title -->

        <form action="{% url 'admin-manage-coupon' 'add_new_coupon' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <div class="col-sm text-end">
            <!-- coupon valid until -->
            <div class="form-group mb-4">
              <div id="projectDeadlineNewProjectFlatpickr" class="js-flatpickr flatpickr-custom input-group"
                   data-hs-flatpickr-options='{
                   "appendTo": "#projectDeadlineNewProjectFlatpickr",
                   "enableTime": true,
                   "dateFormat": "Y-m-d H:i",
                   "time_24hr": true,
                   "minDate": "today",
                   "wrap": true
                   }'>
                <div class="input-group-prepend input-group-text" style="width: 15%;">
                  Expiration
                </div>
                <input type="datetime-local" class="flatpickr-custom-form-control form-control" name="{{ coupon_form.valid_until.name }}" id="projectDeadlineFlatpickrNewProjectLabel" placeholder="select a date or leave empty" data-input>
              </div>
            </div>
            <!-- end coupon valid until -->

            <!-- is subtractive -->
              <div class="form-check text-start mb-4">
                <input type="checkbox" class="form-check-input indeterminate-checkbox" name="{{ coupon_form.is_subtractive.name }}" checked>
                <label class="form-check-label">Regular Coupon <small class="text-body">(deselect for percentage coupons)</small></label>
              </div>
              <!-- end is subtractive -->

            <!-- coupon quantity -->
            <div class="input-group mb-4">
              <span class="input-group-text" style="width: 15%;">Quantity</span>
              <input type="number" class="form-control" name="{{ coupon_form.quantity.name }}" placeholder="10">
            </div>
            <!-- end coupon quantity -->

            <!-- coupon code -->
            <div class="input-group mb-4">
              <span class="input-group-text" style="width: 15%;">Code</span>
              <input type="text" class="form-control" name="{{ coupon_form.code.name }}" placeholder="HELLO" required>
              <span class="invalid-feedback text-start">This field is required.</span>
            </div>
            <!-- end coupon code -->

            <!-- coupon value -->
            <div class="input-group mb-4">
              <span class="input-group-text" style="width: 15%;">Value</span>
              <input type="number" class="form-control" name="{{ coupon_form.value.name }}" placeholder="40" required>
              <span class="invalid-feedback text-start">This field is required.</span>
            </div>
            <!-- end coupon value -->
          </div>
          <!-- submit -->
          <div class="text-center mb-2">

          </div>
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
    </div>
    <!-- End Body -->
    </div>
  </div>
</div>
<!-- end add new product modal -->
{% endblock %}

<!-- coupon content -->
{% block content %}
<div class="card">
  <!-- Header -->
  <div class="card-header card-header-content-md-between">
  </div>
  <!-- End Header -->

  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
      <tr>
        <th>Code</th>
        <th>Value</th>
        <th>Quantity</th>
        <th>Creation Date</th>
        <th>Expiry Date</th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      {% if paginate %}
      {% for coupon in all_coupons %}
      <!-- Table Forms -->
      <form action="{% url 'admin-manage-coupon' 'delete_coupon' %}" id="delete_coupon_form_{{ coupon.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="coupon_id" value='{{ coupon.id }}'>
        <input type="hidden" name="route" value='active_coupons'>
      </form>
      <!-- End Table Forms -->

      <!-- Table Actions -->
      <tr>
        <td>
          <span class="d-block fs-5">{{ coupon.code }}</span>
        </td>
        <td>
          {% if coupon.is_subtractive %}
          <span class="d-block fs-5">{{ coupon.value|floatformat:"0g" }} <small>DZD</small></span>
          {% else %}
          <span class="d-block fs-5">{{ coupon.value|floatformat:"0g" }} %</span>
          {% endif %}
        </td>
        <td>
          <span class="d-block fs-5">{{ coupon.quantity }}</span>
        </td>
        <td>
          <span class="d-block fs-5">{{ coupon.created_at }}</span>
        </td>
        <td>
          {% if coupon.is_active %}
          <span class="d-block fs-5">{{ coupon.valid_until }}</span>
          {% else %}
          <span class="d-block fs-5">expired</span>
          {% endif %}
        </td>
        <td>
          <a type="button" class="text-body link-dark" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ coupon.id }}">
            <i class="bi-trash fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Coupon"></i>
          </a>
        </td>
      </tr>
      <!-- End Table Actions -->

      <!-- Delete Coupon Modal -->
      <div id="delete_modal_{{ coupon.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete_modal_title_{{ coupon.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete_modal_title_{{ coupon.id }}"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>{{ coupon.code }} will be definitely deleted, click Yes to confirm.</p>
            </div>
            <div class="modal-footer" style="align-self: center;">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" form="delete_coupon_form_{{ coupon.id }}">Yes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Coupon Modal -->
      {% endfor %}
      {% else %}
      <tr>
        <td>
          <span class="d-block fs-5"></span>
        </td>

        <td>
          <span class="d-block fs-5">No coupons !</span>
        </td>

        <td>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  {% if paginate %}
  <!-- Footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <!-- Pagination -->
      <nav>
        {% if all_coupons.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if all_coupons.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_coupons.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in all_coupons.paginator.page_range %}
          {% if all_coupons.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if all_coupons.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_coupons.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Footer -->
  {% endif %}
</div>
{% endblock %}