
    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>Sales</th>
          <th>Rate</th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        {% for store in stores %}
        <!-- Table Actions -->
        <tr>
          <td>
            <a class="d-flex align-items-center" href="#">
              <div class="avatar avatar-soft-dark avatar-circle">
                <span class="avatar-initials">{{ store.name|title|slice:"2" }}</span>
              </div>
              <div class="ms-3">
                <span class="d-block h5 text-inherit">{{ store.name }}</span>
              </div>
            </a>
          </td>

          <td>
            <span class="d-block fs-5">{{ store.balance }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ store.sale }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ store.rate }}</span>
          </td>

          <td class="text-end">
            {% if store.is_activated %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#deactivate_modal_{{ store.id }}">
              <i class="fa fa-lock-open fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to deactivate"></i>
            </a>
            {% else %}
            <a type="button" class="text-body me-3" data-bs-toggle="modal" data-bs-target="#activate_modal_{{ store.id }}">
              <i class="fa fa-lock fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to activate"></i>
            </a>
            {% endif %}

            <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ store.id }}">
              <i class="fa fa-trash fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </a>
          </td>
        </tr>
        <!-- End Table Actions -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="d-flex justify-content-center justify-content-sm-end">
        <nav>
          {% if stores.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if stores.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ stores.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in stores.paginator.page_range %}
            {% if stores.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if stores.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ stores.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->