{% extends "en-us/management/provider/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">Manage my products</h6>
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end all products  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          {% if search_key_word %}
          <input class="form-control" type="search" name="key_word" value="{{ search_key_word }}" required hx-get="{% url 'provider-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% else %}
          <input class="form-control" type="search" name="key_word" placeholder="Search products" required hx-get="{% url 'provider-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% endif %}
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  <div id="list">
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">

        <tbody>
        {% for variant in variants %}
        {% for option in variant.option_set.all %}
        <!-- products list -->
        <tr>
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">

            <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ variant.product.id }}">
              {% if forloop.counter == 1 %}
              <div class="flex-shrink-0">
                {% if option.has_image %}
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ option.image }}">
                {% else %}
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ variant.album_set.all.first.image }}">
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ variant.product.en_title }}</h5>
              </div>
              {% else %}
              {% if option.has_image %}
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ option.image }}">
              </div>
              {% endif %}
              {% endif %}
            </a>

          </td>
          <!-- variant -->
          <td>
            {% if forloop.counter == 1 %}
            <span class="d-block text-dark fs-6">
              {{ variant.en_spec }}
              | rate <strong>{{ variant.rate }}</strong>
            </span>
            {% endif %}
          </td>
          <!-- option -->
          <td>
            <span class="d-block text-dark fs-6">
                {{ option.en_value }}
                | <span>{{ option.cost|floatformat:"0g" }} DZD</span>
                | <strong>{{ option.sale }}</strong> sales
                {% if not option.is_activated or not variant.is_activated %}
                <span class="badge bg-warning">deactivated</span>
                {% endif %}

                {% if not option.quantity %}
                <span class="badge bg-danger">unavailable</span>
                {% else %}
                | <strong>{{ option.quantity }}</strong> available
                {% endif %}
            </span>
          </td>
          <!-- product actions -->
          <td class="text-end">
            <!-- price -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#price_modal_{{ variant.id }}">
              <i class="fa fa-coins" data-bs-toggle="tooltip" data-bs-placement="top" title="Price"></i>
            </button>

            <!-- remove quantity -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#remove_quantity_modal_{{ variant.id }}">
              <i class="fa fa-minus" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i>
            </button>

            <!-- add quantity -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_quantity_modal_{{ variant.id }}">
              <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if variants.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if variants.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in variants.paginator.page_range %}
            {% if variants.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if variants.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->
  </div>
</div>
<!-- end all products  -->

<!-- product modals & forms -->
{% for variant in variants %}


<!-- add quantity modal -->
<div id="add_quantity_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Add quantity</h2>
          </div>

          <form action="{% url 'provider-settings' 'edit_store' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            
            <div class="row mb-4">
            <div class="input-group input-group-merge input-group-borderless input-group-flush">
              <div class="input-group-prepend input-group-text">
                <i class="fa fa-plus"></i>
              </div>
              <input type="number" class="form-control" placeholder="quantity">
            </div>

          </div>




          <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-white">Save</button>
          </div>
        </form>


        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}