
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">

        <tbody>
        {% for variant in variants %}
        <!-- products list -->
        <tr>
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ variant.product.id }}">
              <div class="flex-shrink-0">
                {% if variant.album_set.all.count %}
                <img class="avatar avatar-lg" src="/media/{{ variant.album_set.all.first.image }}">
                {% else %}
                <span class="badge bg-warning">no images</span>
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ variant.product.en_title }}</h5>
                <span class="d-block text-body fs-6">
                  <small>
                    {{ variant.en_spec }}
                    | rate <strong class="text-dark">{{ variant.rate }}</strong>
                  </small>
                </span>
              </div>
            </a>
          </td>
          <!-- options -->
          <td>
            {% for option in variant.option_set.all %}
            <span class="d-block text-body fs-6">
              <small>
                {{ option.en_value }}
                | <span class="text-dark">{{ option.cost|floatformat:"0g" }} DZD</span>
                | <strong class="text-dark">{{ option.sale }}</strong> sales
                {% if not option.is_activated or not variant.is_activated %}
                <span class="badge bg-warning">not activated</span>
                {% endif %}

                {% if not option.quantity %}
                <span class="badge bg-danger">not available</span>
                {% else %}
                | <strong class="text-dark">{{ option.quantity }}</strong> available
                {% endif %}
              </small>
            </span>
            {% endfor %}
          </td>
          <!-- product actions -->
          <td class="text-end">
            <!-- delete product -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_product_modal_{{ variant.id }}">
              <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if variants.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if variants.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in variants.paginator.page_range %}
            {% if variants.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if variants.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->