{% extends "main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %} Dexunt Home Page {% endblock %}
{% block title-info %} Online Shopping Gifts & Deco{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-alarm"></i>
    </a>
    <h4>New Message</h4>
    <p>Complete survey and win points</p>
    <span class="color1"></span>
    <span class="color2"></span>
    <span class="color3"></span>
    <span class="color4"></span>
    <span class="color5"></span>
    <span class="color6"></span>
    <span class="color7"></span>
    <span class="color8"></span>
    <span class="color9"></span>
    <span class="color10"></span>
    <span class="color11"></span>
    <span class="color12"></span>
</div>
<!-- end popup -->
{% endblock %}