{% extends "main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %} Dexunt Home Page {% endblock %}
{% block title-info %} Online Shopping Gifts & Deco{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>Coupons are waiting for you </p>

    <li class="single-menu">

        <div class="image">
            <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
        </div>
        <a href="index.html#" class="title-link">50% Reduction for all that showcase products</a>
    </li>



</div>
<!-- end popup -->
{% endblock %}