

<div class="modal fade" id="signin_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="#signin_tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="#signup_tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">

            <!-- sign in -->
            <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin_tab" hx-post="{% url 'main-shop-home' %}" hx-target="#signin_modal">
              {% csrf_token %}
                
                <div class="alert alert-danger text-center" role="alert"> Invalid password or username ! </div>

              <div class="mb-3">
                <label class="form-label" for="{{ login_form.username.name }}">{{ login_form.username.label_tag }}</label>
                <input class="form-control" type="text" id="{{ login_form.username.name }}" name="{{ login_form.username.name }}" maxlength="{{ login_form.username.field.max_length }}" required>
                <div class="invalid-feedback">Please provide a valid username.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="{{ login_form.password.name }}">{{ login_form.password.label_tag }}</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="{{ login_form.password.name }}" name="{{ login_form.password.name }}" maxlength="{{ login_form.password.field.max_length }}" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>

              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="signin_remember" name="signin_remember">
                  <label class="form-check-label" for="signin_remember">Remember me</label>
                </div><a class="fs-sm" href="#">Forgot password?</a>
              </div>

              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
            </form>
            <!-- end sign in -->

            <!-- sign up -->
            <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup_tab">
              <div class="mb-3">
                <label class="form-label" for="signup_name">Full name</label>
                <input class="form-control" type="text" id="signup_name" name="signup_name" placeholder="Benhamida Riad">
                <div class="invalid-feedback">Please fill in your name.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="signup_phone">Phone number</label>
                <input class="form-control" type="tel" id="signup_phone" name="signup_phone" placeholder="0550-34-56-98" required>
                <div class="invalid-feedback">Please provide a valid phone number.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="signup_username">Username</label>
                <input class="form-control" type="email" id="signup_username" name="signup_username" placeholder="benhamidariad" required>
                <div class="invalid-feedback">Please provide a valid username.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="signup_password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="signup_password" name="signup_password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="signup_password_confirm">Confirm password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="signup_password_confirm" name="signup_password_confirm" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
            </form>
            <!-- end sign up -->
          </div>
        </div>
      </div>
    </div>