{% if municipality %}
<select class="form-select" required>
    <option value="{{ home_delivery_price }}">Delivery to home
        <span class="text-muted">{{ municipality.en_home_delivery_time }}</span>
        {% if home_delivery_price %}
        {{ home_delivery_price|floatformat:"2g" }}<small>DZD</small>
        {% else %}
        free
        {% endif %}
    </option>

    <option value="{{ municipality.en_name }}">Delivery to desk
        <span class="text-muted">{{ municipality.en_desk_delivery_time }}</span>
        {% if home_delivery_price %}
        {{ desk_delivery_price|floatformat:"2g" }}<small>DZD</small>
        {% else %}
        free
        {% endif %}
    </option>
</select>
<div class="invalid-feedback">Please choose your municipality!</div>
<div class="mb-3" id="prices">

</div>
{% endif %}