
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">

        <tbody>
        {% for variant in variants %}
        {% for option in variant.option_set.all %}
        <!-- products list -->
        <tr>
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">

            <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ variant.product.id }}">
              {% if forloop.counter == 1 %}
              <div class="flex-shrink-0">
                {% if option.has_image %}
                <img class="avatar avatar-lg" src="/media/{{ option.image }}">
                {% else %}
                <img class="avatar avatar-lg" src="/media/{{ variant.album_set.all.first.image }}">
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ variant.product.en_title }}</h5>
              </div>
              {% else %}
              {% if option.has_image %}
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="/media/{{ option.image }}">
              </div>
              {% endif %}
              {% endif %}
            </a>

          </td>
          <!-- variant -->
          <td>
            {% if forloop.counter == 1 %}
            <span class="d-block text-dark fs-6 text-wrap">
              {{ variant.en_spec }}
              | rate <strong>{{ variant.rate }}</strong>
            </span>
            {% endif %}
          </td>
          <!-- option -->
          <td>
            <span class="d-block text-dark fs-6">
                {{ option.en_value }}
                | <span>{{ option.cost|floatformat:"0g" }} DZD</span>
                | <strong>{{ option.sale }}</strong> sales
                {% if not option.is_activated or not variant.is_activated %}
                <span class="badge bg-warning">deactivated</span>
                {% endif %}

                {% if not option.quantity %}
                <span class="badge bg-danger">unavailable</span>
                {% else %}
                | <strong>{{ option.quantity }}</strong> available
                {% endif %}
            </span>
          </td>
          <!-- product actions -->
          <td class="text-end">

            {% if option.quantity %}
            <!-- remove quantity -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#remove_quantity_modal_{{ option.id }}">
              <i class="fa fa-minus" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i>
            </button>
            {% endif %}

            <!-- add quantity -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_quantity_modal_{{ option.id }}">
              <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
            </button>

            <!-- price -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_price_modal_{{ option.id }}">
              <i class="fa fa-coins" data-bs-toggle="tooltip" data-bs-placement="top" title="Price"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if variants.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if variants.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in variants.paginator.page_range %}
            {% if variants.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if variants.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->