{% extends "en-us/management/cash/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Cash Home | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <h1 class="page-header-title">Cash Management</h1>
    <span class="text-body">welcome {{ user.username }}</span>
  </div>

  <div class="col-sm-auto">

  </div>
</div>
{% endblock %}

<!-- showcase content -->
{% block content %}

{% if provider_requests.count %}
<div id="unsigned_list">
    <div class="table-responsive datatable-custom">
      <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <tbody>
        {% for transaction in provider_requests %}
        <!-- Table Actions -->
        <tr>
          <td>
            <span class="d-block fs-5">{{ transaction.title }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.created_at }}</span>
          </td>

          <td class="text-end">
            <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#activate_modal_{{ transaction.id }}">
              <i class="fa fa-signature fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign"></i>
            </a>
          </td>
        </tr>
        <!-- End Table Actions -->
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endif %}

{% if member_requests.count %}
{% endif %}

<div class="card">
    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <tbody>
        {% for transaction in transactions %}
        <!-- Table Actions -->
        <tr>
          <td>
            <span class="d-block fs-5">[{{ transaction.title }}]</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.created_at }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.signed_at }}</span>
          </td>

          <td>
            <span class="d-block fs-5">{{ transaction.signed_by }}</span>
          </td>


          <td class="text-end">
            <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#sign_modal_{{ transaction.id }}">
              <i class="fa fa-signature fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign"></i>
            </a>
          </td>
        </tr>
        <!-- End Table Actions -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="d-flex justify-content-center justify-content-sm-end">
        <nav>
          {% if users_list.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if users_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ users_list.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in users_list.paginator.page_range %}
            {% if users_list.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if users_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ users_list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>

{% for transaction in member_requests %}
  <!-- Table Forms -->
  <form action="{% url 'cash-home' 'activate_transaction' %}" id="activate_transaction_form_{{ transaction.id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="transaction_id" value='{{ transaction.id }}'>
  </form>

  <form action="{% url 'cash-home' 'decline_transaction' %}" id="decline_transaction_form_{{ transaction.id }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="transaction_id" value='{{ transaction.id }}'>
  </form>
  <!-- End Table Forms -->

  <!-- Sign Modal -->
  <div id="activate_modal_{{ transaction.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>I gave {{ transaction.wallet.user.first_name|title }} {{ transaction.wallet.user.last_name|title }} the amount of: {{ transaction.amount|floatformat:"0g" }} <small>DZD</small>, if not click decline</p>
        </div>
        <div class="modal-footer" style="align-self: center;">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-white" form="decline_transaction_form_{{ transaction.id }}">Decline</button>
          <button class="btn btn-white" form="activate_transaction_form_{{ transaction.id }}">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sign Modal -->
{% endfor %}
{% endblock %}

