{% extends "ltr/management/provider/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">orders</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Orders</h1>
    <h6 class="text-muted">Manage my sales</h6>
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end all products  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">

  <div id="list">
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">

        <tbody>
        {% for product in orders %}
        <tr class="{% if product.status == 'confirmed' %} bg-light {% endif %}">
          <td class="table-column-pe-0">
            <span class="{% if product.status == 'refund_request' %} text-danger {% else %} text-muted {% endif %} fs-6">#{{ product.order.ref }}</span>
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="{% url 'product-page' 'regular_product' %}?variant_id={{ product.option.variant.id }}&option_id={{ product.option.id }}">
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ product.image }}">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="me-2 {% if product.status == 'refund_request' %} text-danger {% else %} text-inherit {% endif %}">{{ product.en_title }}</h5>
                <span class="d-block {% if product.status == 'refund_request' %} text-danger {% else %} text-dark {% endif %} fs-6 text-wrap">{{ product.en_detail }}</span>
              </div>

              {% if product.lack_of_quantity %}
              <strong data-bs-toggle="tooltip" data-bs-placement="top" title="lack of quantity" style="color: #ff0000;">
                <i class="fa fa-triangle-exclamation me-4"></i>
              </strong>
              {% endif %}
            </a>
          </td>
          <!-- ordered at -->
          <td>
            <span class="d-block text-dark fs-6 text-wrap">
              {{ product.log.first.content }} : {{ product.log.first.at }}
            </span>
          </td>
          <!-- quantity -->
          <td>
            <span class="d-block text-dark fs-6">
              {{ product.quantity }}
            </span>
          </td>
          <!-- price -->
          <td>
            <span class="d-block text-dark fs-6">
              {{ product.option.cost|floatformat:"0g" }} <small>DZD</small>
            </span>
          </td>
          <!-- status -->
          <td>
            <span class="d-block text-dark fs-6">
              {{ product.status }}
            </span>
          </td>
          <!-- product actions -->
          <td class="text-end">
            {% if product.status == 'confirmed' %}
            <!-- prepared product -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#prepared_product_{{ product.id }}">
              <i class="fa fa-check"></i>
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    {% if orders.has_other_pages %}
    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if orders.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if orders.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ orders.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in orders.paginator.page_range %}
            {% if orders.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if orders.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->
    {% endif %}
  </div>
</div>
<!-- end all products  -->

<!-- product modals & forms -->
{% for product in orders %}
<!-- prepared product modal -->
<div id="prepared_product_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>{{ product.en_title }} x {{ product.quantity }} is ready ,click yes to confirm.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="{% url 'provider-sales' 'validate_order' %}?order_id={{ product.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}