{% if municipality %}
<ul class="list-group list-group-flush mt-4">
    <li class="list-group-item  d-flex justify-content-between align-items-center px-0 py-3">
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="delivery_type" value=0 id="home" hx-get="{% url 'order-page' 'load_summary' %}" hx-trigger="change" hx-target="#total_summary">
                <label class="form-check-label" for="home">
                    <span>Delivery to home</span>
                </label>
            </div>
        </div>
        <div class="col-3 text-center">{{ municipality.en_home_delivery_time }}</div>
        <div class="col-3 text-center">{{ municipality.home_delivery_price|floatformat:"0g" }} <small>DZD</small></div>
    </li>

    <li class="list-group-item  d-flex justify-content-between align-items-center px-0 py-3">
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="delivery_type" value=1 id="desk" hx-get="{% url 'order-page' 'load_summary' %}" hx-trigger="change" hx-target="#total_summary">
                <label class="form-check-label" for="desk">
                    <span>Delivery to desk</span>
                </label>
            </div>
        </div>
        <div class="col-3 text-center">{{ municipality.en_desk_delivery_time }}</div>
        <div class="col-3 text-center">{{ municipality.desk_delivery_price|floatformat:"0g" }} <small>DZD</small></div>
    </li>
</ul>
{% endif %}