{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Showcase</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">showcase</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Showcase</h1>
  </div>
</div>
{% endblock %}

<!-- showcase content -->
{% block showcase %}
<div class="row justify-content-lg-center">
  <div class="row row-cols-1 row-cols-md-2">
    <!-- all products showcase -->
    <div class="col mb-3 mb-lg-5">
      <div class="card card-hover-shadow text-center h-100">
        <div class="card-progress-wrap">
          <div class="progress card-progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="card-body">
          <div class="row align-items-center text-start mb-4">
            <div class="col">
            </div>
            <div class="col-auto">
              <div class="dropdown">
                <a class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" data-bs-toggle="modal" data-bs-target="#activate_a_product">
                  <i class="bi-plus-lg" data-bs-toggle="tooltip" data-bs-placement="left" title="activate a product" ></i>
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mb-2">
            <img class="avatar avatar-lg" src="{% static 'management/img/products.png' %}">
          </div>

          <div class="mb-4">
            <h2 class="mb-1">All Products Grid</h2>

            <span class="fs-5">You have (4) registred products</span>
          </div>

          <small class="card-subtitle">Last added products</small>

          <div class="d-flex justify-content-center">
            <div class="avatar-group avatar-group-sm avatar-circle card-avatar-group">
              <a class="avatar" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Finch Hoot">
                <img class="avatar-img" src="assets/img/160x160/img5.jpg" alt="Image Description">
              </a>
              <a class="avatar avatar-soft-dark" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Bob Bardly">
                <span class="avatar-initials">B</span>
              </a>
              <a class="avatar" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Clarice Boone">
                <img class="avatar-img" src="assets/img/160x160/img7.jpg" alt="Image Description">
              </a>
              <a class="avatar avatar-soft-dark" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Adam Keep">
                <span class="avatar-initials">A</span>
              </a>
            </div>
          </div>

          <a class="stretched-link" href="user-profile-projects.html#"></a>
        </div>

        <div class="card-footer">
          <div class="row col-divider">
            <div class="col">
              <span class="h4">19</span>
              <span class="d-block fs-5">Tasks</span>
            </div>

            <div class="col">
              <span class="h4">33</span>
              <span class="d-block fs-5">Completed</span>
            </div>

            <div class="col">
              <span class="h4">10</span>
              <span class="d-block fs-5">Days left</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- flash showcase -->
    <div class="col mb-3 mb-lg-5">
      <div class="card card-hover-shadow text-center h-100">
        <div class="card-progress-wrap">
          <div class="progress card-progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="card-body">
          <div class="row align-items-center text-start mb-4">
            <div class="col">
            </div>
            <div class="col-auto">
              <div class="dropdown">
                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Add product</a>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mb-2">
            <img class="avatar avatar-lg" src="{% static 'management/img/flash.png' %}">
          </div>

          <div class="mb-4">
            <h2 class="mb-1">Flash Sales</h2>

            <span class="fs-5">You have (2) registred products</span>
          </div>

          <small class="card-subtitle">Last added products</small>

          <div class="d-flex justify-content-center">
            <div class="avatar-group avatar-group-sm avatar-circle card-avatar-group">
              <a class="avatar" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Finch Hoot">
                <img class="avatar-img" src="assets/img/160x160/img5.jpg" alt="Image Description">
              </a>
              <a class="avatar avatar-soft-dark" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Bob Bardly">
                <span class="avatar-initials">B</span>
              </a>
              <a class="avatar" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Clarice Boone">
                <img class="avatar-img" src="assets/img/160x160/img7.jpg" alt="Image Description">
              </a>
              <a class="avatar avatar-soft-dark" href="user-profile-projects.html#" data-bs-toggle="tooltip" data-bs-placement="top" title="Adam Keep">
                <span class="avatar-initials">A</span>
              </a>
            </div>
          </div>

          <a class="stretched-link" href="flash#"></a>
        </div>

        <div class="card-footer">
          <div class="row col-divider">
            <div class="col">
              <span class="h4">19</span>
              <span class="d-block fs-5">Tasks</span>
            </div>

            <div class="col">
              <span class="h4">33</span>
              <span class="d-block fs-5">Completed</span>
            </div>

            <div class="col">
              <span class="h4">10</span>
              <span class="d-block fs-5">Days left</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- activate a product modal -->
    <div id="activate_a_product" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-close">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="add_new_product_modal_title">
              <div class="text-center mb-7">
                <h2>Link a new product</h2>
              </div>
              <form action="{% url 'manage-showcase' 'activate_a_product' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-4">
                  <span class="divider-center mb-2">Select from the list</span>

                  <!-- product english title -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="en_title" style="width: 25%;">english title</span>
                    <input type="text" class="form-control" aria-label="en_title" aria-describedby="en_title" name="{{ product_form.en_title.name }}" placeholder="Deluxe Toy Box" required>
                    <span class="invalid-feedback text-center">required field.</span>
                  </div>
                  <!-- end product english title -->

                  <!-- product french title -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="fr_title" style="width: 25%;">french title</span>
                    <input type="text" class="form-control" aria-label="fr_title" aria-describedby="fr_title" name="{{ product_form.fr_title.name }}" placeholder="Coffre à jouets Deluxe">
                  </div>
                  <!-- end product french title -->

                  <!-- product arabic title -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="ar_title" style="width: 25%;">arabic title</span>
                    <input type="text" class="form-control" aria-label="ar_title" aria-describedby="ar_title" name="{{ product_form.ar_title.name }}" placeholder="صندوق ألعاب ديلوكس" dir="rtl">
                  </div>
                  <!-- end product arabic title -->

                  <!-- product brand -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="brand" style="width: 25%;">brand</span>
                    <input type="text" class="form-control" aria-label="brand" aria-describedby="brand" name="{{ product_form.brand.name }}" placeholder="OomCu">
                  </div>
                  <!-- end product brand -->

                  <span class="divider-center mb-2">Presentation photo</span>

                  <!-- product presentation photo -->
                  <div class="mb-3 mt-3">
                    <div class="col text-center">
                      <label class="avatar avatar-xxl avatar-uploader" for="product_presentation_photo_uploader" style="height: 70%;width: 70%;">
                        <img id="product_presentation_photo" class="avatar-img" src="{% static 'management/img/img_download.png' %}" style="width: 70%;">
                        <input type="file" class="js-file-attach avatar-uploader-input" name="{{ product_form.selected_image.name }}" id="product_presentation_photo_uploader" data-hs-file-attach-options='{
                            "textTarget": "#product_presentation_photo",
                            "mode": "image",
                            "targetAttr": "src",
                            "allowTypes": [".png", ".jpeg", ".jpg"]
                            }' required>
                        <span class="invalid-feedback text-center">Please upload an image.</span>
                      </label>
                    </div>
                  </div>
                  <!-- end product presentation photo -->

                  <span class="divider-center mb-2">Descriptions</span>

                  <!-- product english description -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="en_description" style="width: 25%;">english</span>
                    <textarea class="form-control" aria-label="en_description" aria-describedby="en_description" name="{{ product_form.en_description.name }}" placeholder="" rows="4"></textarea>
                  </div>
                  <!-- end product english description -->

                  <!-- product french description -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="fr_description" style="width: 25%;">french</span>
                    <textarea class="form-control" aria-label="fr_description" aria-describedby="fr_description" name="{{ product_form.fr_description.name }}" placeholder="" rows="4"></textarea>
                  </div>
                  <!-- end product french description -->

                  <!-- product arabic description -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="ar_description" style="width: 25%;">arabic</span>
                    <textarea class="form-control" aria-label="ar_description" aria-describedby="ar_description" name="{{ product_form.ar_description.name }}" placeholder="" rows="4" dir="rtl"></textarea>
                  </div>
                  <!-- end product arabic description -->

                  <span class="divider-center mb-2">Notes</span>

                  <!-- product english note -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="en_note" style="width: 25%;">english</span>
                    <textarea class="form-control" aria-label="en_note" aria-describedby="en_note" name="{{ product_form.en_note.name }}" placeholder="" rows="2"></textarea>
                  </div>
                  <!-- end product english note -->

                  <!-- product french note -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="fr_note" style="width: 25%;">french</span>
                    <textarea class="form-control" aria-label="fr_note" aria-describedby="fr_note" name="{{ product_form.fr_note.name }}" placeholder="" rows="2"></textarea>
                  </div>
                  <!-- end product french note -->

                  <!-- product arabic note -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="ar_note" style="width: 25%;">arabic</span>
                    <textarea class="form-control" aria-label="ar_note" aria-describedby="ar_note" name="{{ product_form.ar_note.name }}" placeholder="" rows="2" dir="rtl"></textarea>
                  </div>
                  <!-- end product arabic note -->

                  <span class="divider-center mb-2">Prices</span>

                  <!-- product price -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="price" style="width: 25%;">price</span>
                    <input type="number" class="form-control" aria-label="price" aria-describedby="price" name="{{ product_form.price.name }}" placeholder="3000" required>
                    <span class="input-group-text" style="width: 20%;">DZD</span>
                    <span class="invalid-feedback text-center">required field.</span>
                  </div>
                  <!-- end product price -->

                  <!-- product discount -->
                  <div class="input-group mb-2">
                    <span class="input-group-text" id="discount" style="width: 25%;">discount</span>
                    <input type="number" class="form-control" aria-label="discount" aria-describedby="discount" name="{{ product_form.discount.name }}" placeholder="2500">
                    <span class="input-group-text" style="width: 20%;">DZD</span>
                  </div>
                  <!-- end product discount -->
                </div>

                <!-- submit -->
                <div class="d-grid mb-4">
                  <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
                </div>
                <!-- end submit -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}