{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Showcase</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">showcase</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Showcase</h1>
  </div>
</div>
{% endblock %}

<!-- showcase content -->
{% block showcase %}
{% endblock %}