{% extends "ltr/management/customer/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Home Page </title>{% endblock %}

<!-- mobile cart block -->
{% block mobile_cart %}
<!-- mobile dropdown cart -->
<div class="list-inline-item ">
    <div class="dropdown  ">
        <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="0.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            </span>
            {% if user.cart.selected_products.all.count %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ user.cart.selected_products.all.count }}
            </span>
            {% endif %}
        </a>
        {% if user.cart.selected_products.all.count %}
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-5">
            {% if user.cart.coupon %}
            {% if user.cart.coupon.is_subtractive %}
            <div class="d-grid pb-4 pt-2">
                <div class="alert border-dark text-center" role="alert">
                    <i class="fa fa-gifts me-2"></i>
                    Congratulation {{ user.cart.coupon.value|floatformat:"0g" }} <small>DZD</small> Discount
                </div>
            </div>
            {% else %}
            <div class="d-grid pb-4 pt-2">
                <div class="alert border-dark text-center" role="alert">
                    <i class="fa fa-gifts"></i>
                    Congratulation {{ user.cart.coupon.value|floatformat:"0g" }} <small>%</small> Discount
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="d-flex justify-content-between align-items-center border-bottom pb-5 mb-3">
                <div>
                    <span><i class="feather-icon icon-shopping-cart"></i></span>
                    {% if user.cart.selected_products.all.count %}
                    <span class="text-danger">{{ user.cart.selected_products.all.count }}</span>
                    {% endif %}
                </div>

                <div>
                    <span>Total:</span>
                    <span class="text-danger">DZD {{ user.cart.total_price|floatformat:"2g" }}</span>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for product in user.cart.selected_products.all %}
                <li class="list-group-item px-0 py-3">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-3 col-3 text-center me-2">
                            <img src="{% get_media_prefix %}{{ product.image }}" class="icon-xxl">
                        </div>
                        <div class="col-lg-7 col-6">
                            <a href="shop-single.html" class="text-inherit">
                                <h6 class="mb-0">{{ product.en_title }}</h6>
                            </a>
                            <small class="text-muted">{{ product.quantity }} x {{ product.price|floatformat:"2g" }} <small>DZD</small></small>
                        </div>
                        <div class="text-end col-lg-2 col-2">
                            <a href="{% url 'shopping-cart' 'remove_product' %}?product_id={{ product.id }}" class="text-inherit" aria-label="Close"><i class="bi bi-x fs-4"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="mt-2 d-grid">
                <a href="{% url 'order-page' 'main' %}" class="btn btn-danger">Checkout</a>
                <a href="{% url 'shopping-cart' 'main' %}" class="btn btn-outline-danger mt-2">View Cart</a>
            </div>
        </div>
        {% else %}
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-5">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>
                        <i class="feather-icon icon-shopping-cart me-1"></i>Your cart is empty !
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- end mobile dropdown cart -->
{% endblock %}

<!-- desk cart block -->
{% block desk_cart %}
<!-- desk dropdown cart -->
<div class="list-inline-item me-3">
    <div class="dropdown d-none d-md-block ">
        <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="0.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            </span>
            {% if user.cart.selected_products.all.count %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ user.cart.selected_products.all.count }}
            </span>
            {% endif %}
        </a>
        {% if user.cart.selected_products.all.count %}
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-5">
            {% if user.cart.coupon %}
            {% if user.cart.coupon.is_subtractive %}
            <div class="d-grid pb-4 pt-2">
                <div class="alert border-dark text-center" role="alert">
                    <i class="fa fa-gifts me-2"></i>
                    Congratulation {{ user.cart.coupon.value|floatformat:"0g" }} <small>DZD</small> Discount
                </div>
            </div>
            {% else %}
            <div class="d-grid pb-4 pt-2">
                <div class="alert border-dark text-center" role="alert">
                    <i class="fa fa-gifts"></i>
                    Congratulation {{ user.cart.coupon.value|floatformat:"0g" }} <small>%</small> Discount
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="d-flex justify-content-between align-items-center border-bottom pb-5">
                <div>
                    <span><i class="feather-icon icon-shopping-cart"></i></span>
                    {% if user.cart.selected_products.all.count %}
                    <span class="text-danger">{{ user.cart.selected_products.all.count }}</span>
                    {% endif %}
                </div>
                <div>
                    <span>Total:</span>
                    <span class="text-danger">{{ user.cart.total_price|floatformat:"2g" }} <small>DZD</small></span>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for product in user.cart.selected_products.all %}
                <li class="list-group-item px-0 py-3">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-3 text-center">
                            <img src="{% get_media_prefix %}{{ product.image }}" class="icon-xxl">
                        </div>
                        <div class="col-lg-7">
                            <div class="col">
                                <a href="shop-single.html" class="text-inherit">
                                    <h6 class="mb-0">{{ product.en_title }}</h6>
                                    <small class="text-muted">{{ product.en_detail }}</small>
                                </a>
                            </div>
                            <div class="col">
                                <small class="text-muted">{{ product.quantity }} x {{ product.price|floatformat:"2g" }} <small>DZD</small></small>
                            </div>
                        </div>
                        <div class="text-end col-lg-2">
                            <a href="{% url 'shopping-cart' 'remove_product' %}?product_id={{ product.id }}" class="text-inherit" aria-label="Close"><i class="bi bi-x fs-4"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="mt-2 d-grid">
                <a href="{% url 'order-page' 'main' %}" class="btn btn-danger">Checkout</a>
                <a href="{% url 'shopping-cart' 'main' %}" class="btn btn-outline-danger mt-2">View Cart</a>
            </div>
        </div>
        {% else %}
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-5">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>
                        <i class="feather-icon icon-shopping-cart me-1"></i>Your cart is empty !
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- end desk dropdown cart -->
{% endblock %}

{% block content %}
<div class="mb-6">
    <h2 class="mb-2">My Orders</h2>
    {% if not user.is_activated %}
    <h6 class="text-danger">Please check your e-mail and follow instructions to validate.</h6>
    {% endif %}
</div>

<!-- table -->
<div class="table-responsive-xxl border-0">
    <table class="table mt-6 text-nowrap table-centered ">
        <tbody>
        {% for order in user.all_orders.all %}
        {% if not order.status == 'created' %}
        {% for product in order.selected_products.all %}
        <tr class="{% if forloop.counter == order.selected_products.all.count %} border-dark {% else %} border-light {% endif %}">
            <td class="align-middle w-0">
                <a href="{% url 'product-page' 'regular_product' %}?variant_id={{ product.option.variant.id }}&option_id={{ product.option.id }}">
                    <img src="{% get_media_prefix %}{{ product.image }}" class="icon-shape icon-xl">
                </a>
                <small>X {{ product.quantity }}</small>
            </td>
            <td class="align-middle">
                <a href="{% url 'product-page' 'regular_product' %}?variant_id={{ product.option.variant.id }}&option_id={{ product.option.id }}" class="fw-semi-bold text-inherit">
                    <h6 class="mb-0 {% if product.status == 'refund_request' %} text-danger {% endif %}">{{ product.en_title }}</h6>
                </a>
                <span><small class="text-wrap {% if product.status == 'refund_request' %} text-danger {% else %} text-muted {% endif %}">{{ product.en_detail }}</small></span><br>
                <span><small class="text-wrap {% if product.status == 'refund_request' %} text-danger {% else %} text-muted {% endif %}">{{ product.price|floatformat:"2g" }} <small>DZD</small></small></span>
            </td>
            <td class="align-middle">
                {% if forloop.counter == 1 %}
                <a href="{% url 'order-tracking' 'main' %}?order_ref={{ order.ref }}" class="text-inherit">#{{ order.ref }}</a>
                {% endif %}
            </td>
            <td class="align-middle">
                {% if forloop.counter == 1 %}
                <small>{{ order.creation_date|date:'M' }} {{ order.creation_date|date:'d' }} , {{ order.creation_date|time:'H' }}:{{ order.creation_date|time:'i' }}</small>
                {% endif %}
            </td>
            <td class="align-end">
                {% if forloop.counter == 1 and not order.status == 'completed' %}
                <a href="{% url 'order-tracking' 'main' %}?order_ref={{ order.ref }}">
                    <i class="fa fa-location-dot fa-xl text-muted"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
        </tbody>
  </table>
</div>
{% endblock %}