{% extends "rtl/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Order Page </title>{% endblock %}

<!-- content -->
{% block content %}
<!-- section-->
<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h1 class="fw-bold mb-0">Checkout</h1>
            <p class="mb-0">Lot of gifts and discounts just <a href="shop-checkout.html#!">Sign up</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col">
          <h5 class="fw-bold mb-0"># {{ selected_order.ref }}</h5>
          <p class="mb-0"> Client name : {{ selected_order.client_name }} </p><br>
          <p class="mb-0"> Client phone : {{ selected_order.client_phone }} </p><br>
          <p class="mb-0"> Shipping to  : {{ selected_order.municipality.province.en_name }} / {{ selected_order.municipality.en_name }} </p><br>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}