{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Admin Page | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
  </div>

  <div class="col-sm-auto">
    <a class="btn btn-light" href="#">
      <i class="bi-plus-lg me-1"></i> add new product
    </a>
  </div>
</div>
{% endblock %}

<!-- product content -->
{% block product %}
{% if show == 'all_products_table' %}
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- filters -->
    <div class="d-grid d-sm-flex gap-2">
      <button class="btn btn-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEcommerceProductFilter" aria-controls="offcanvasEcommerceProductFilter">
        <i class="bi-filter me-1"></i> Filters
      </button>
    </div>
    <!-- end filters -->
  </div>
  <!-- end header -->

  <!-- table -->
  <div class="table-responsive datatable-custom">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
        <tr>
          <th class="table-column-ps-0">Product</th>
          <th>Type</th>
          <th>Vendor</th>
          <th>Stocks</th>
          <th>SKU</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Variants</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="ecommerce-product-details.html">
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="assets/img/400x400/img4.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit mb-0">Photive wireless speakers</h5>
              </div>
            </a>
          </td>
          <td>Electronics</td>
          <td>Google</td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="stocksCheckbox1" checked>
              <label class="form-check-label" for="stocksCheckbox1"></label>
            </div>
          </td>
          <td>2384741241</td>
          <td>$65</td>
          <td>60</td>
          <td>2</td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-white btn-sm" href="ecommerce-product-details.html">
                <i class="bi-pencil-fill me-1"></i> Edit
              </a>

              <!-- Button Group -->
              <div class="btn-group">
                <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown1" data-bs-toggle="dropdown" aria-expanded="false"></button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="productsEditDropdown1">
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-trash dropdown-item-icon"></i> Delete
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-archive dropdown-item-icon"></i> Archive
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-upload dropdown-item-icon"></i> Publish
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-x-lg dropdown-item-icon"></i> Unpublish
                  </a>
                </div>
              </div>
              <!-- End Button Group -->
            </div>
          </td>
        </tr>

        <tr>
          <td class="table-column-pe-0">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="productsCheck2">
              <label class="form-check-label" for="productsCheck2">
              </label>
            </div>
          </td>
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="ecommerce-product-details.html">
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="assets/img/400x400/img26.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit mb-0">Topman shoe</h5>
              </div>
            </a>
          </td>
          <td>Shoes</td>
          <td>Topman</td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="stocksCheckbox2" checked>
              <label class="form-check-label" for="stocksCheckbox2"></label>
            </div>
          </td>
          <td>4124123847</td>
          <td>$21</td>
          <td>125</td>
          <td>4</td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-white btn-sm" href="ecommerce-product-details.html">
                <i class="bi-pencil-fill me-1"></i> Edit
              </a>

              <!-- Button Group -->
              <div class="btn-group">
                <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown2" data-bs-toggle="dropdown" aria-expanded="false"></button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="productsEditDropdown2">
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-trash dropdown-item-icon"></i> Delete
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-archive dropdown-item-icon"></i> Archive
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-upload dropdown-item-icon"></i> Publish
                  </a>
                  <a class="dropdown-item" href="ecommerce-products.html#">
                    <i class="bi-x-lg dropdown-item-icon"></i> Unpublish
                  </a>
                </div>
              </div>
              <!-- End Button Group -->
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="12">12</option>
              <option value="14" selected>14</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty"></span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
</div>
{% endif %}
{% endblock %}
