{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Admin Page | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  {% if show == 'all_products' %}
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">You have {{ all_products.all.count }} products</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_new_product_modal">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add new product"></i>
    </button>
  </div>
  {% endif %}
  <!-- end all products  -->

  <!-- selected product  -->
  {% if show == 'selected_product' %}
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'products-menu' 'main' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_product.en_title }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_product.en_title }}</h1>
    <h6><strong>Token |</strong><span class="text-muted ms-1">{{ selected_product.product_token }}</span></h6>
  </div>
  <div class="col-sm-auto">
  </div>
  {% endif %}
  <!-- end selected product  -->
</div>


<!-- add new product modal -->
<div id="add_new_product_modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="add_new_product_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div id="add_new_product_modal_title">
          <!-- title -->
          <div class="text-center mb-7">
                <h2>Add new product</h2>
              </div>
          <!-- end title -->

          <form action="{% url 'products-menu' 'add_new_product' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-4">
              <span class="divider-center mb-2">Main Informations</span>

              <!-- product english title -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="en_title" style="width: 25%;">english title</span>
                <input type="text" class="form-control" aria-label="en_title" aria-describedby="en_title" name="{{ product_form.en_title.name }}" placeholder="Deluxe Toy Box">
              </div>
              <!-- end product english title -->

              <!-- product french title -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="fr_title" style="width: 25%;">french title</span>
                <input type="text" class="form-control" aria-label="fr_title" aria-describedby="fr_title" name="{{ product_form.fr_title.name }}" placeholder="Coffre à jouets Deluxe">
              </div>
              <!-- end product french title -->

              <!-- product arabic title -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="ar_title" style="width: 25%;">arabic title</span>
                <input type="text" class="form-control" aria-label="ar_title" aria-describedby="ar_title" name="{{ product_form.ar_title.name }}" placeholder="صندوق ألعاب ديلوكس" dir="rtl">
              </div>
              <!-- end product arabic title -->

              <!-- product brand -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="brand" style="width: 25%;">brand</span>
                <input type="text" class="form-control" aria-label="brand" aria-describedby="brand" name="{{ product_form.brand.name }}" placeholder="OomCu">
              </div>
              <!-- end product brand -->

              <span class="divider-center mb-2">Presentation photo</span>

              <!-- product presentation photo -->
              <div class="mb-3 mt-3">
                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="product_presentation_photo_uploader" style="height: 100%;width: 100%;">
                    <img id="product_presentation_photo" class="avatar-img" src="{% static 'management/img/img_download.png' %}" style="width: 40%;">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="{{ product_form.selected_image.name }}" id="product_presentation_photo_uploader" data-hs-file-attach-options='{
                        "textTarget": "#product_presentation_photo",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }' required>
                    <span class="invalid-feedback text-center">Please upload an image.</span>
                  </label>
                </div>
              </div>
              <!-- end product presentation photo -->

              <span class="divider-center mb-2">Description</span>

              <!-- product english description -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="en_description" style="width: 25%;">english description</span>
                <textarea class="form-control" aria-label="en_description" aria-describedby="en_description" name="{{ product_form.en_description.name }}" placeholder="" rows="4"></textarea>
              </div>
              <!-- end product english description -->

              <!-- product french description -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="fr_description" style="width: 25%;">french description</span>
                <textarea class="form-control" aria-label="fr_description" aria-describedby="fr_description" name="{{ product_form.fr_description.name }}" placeholder="" rows="4"></textarea>
              </div>
              <!-- end product french description -->

              <!-- product arabic description -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="ar_description" style="width: 25%;">arabic description</span>
                <textarea class="form-control" aria-label="ar_description" aria-describedby="ar_description" name="{{ product_form.ar_description.name }}" placeholder="" rows="4" dir="rtl"></textarea>
              </div>
              <!-- end product arabic description -->

              <span class="divider-center mb-2">Note</span>

              <!-- product english note -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="en_note" style="width: 25%;">english note</span>
                <textarea class="form-control" aria-label="en_note" aria-describedby="en_note" name="{{ product_form.en_note.name }}" placeholder="" rows="2"></textarea>
              </div>
              <!-- end product english note -->

              <!-- product french note -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="fr_note" style="width: 25%;">french note</span>
                <textarea class="form-control" aria-label="fr_note" aria-describedby="fr_note" name="{{ product_form.fr_note.name }}" placeholder="" rows="2"></textarea>
              </div>
              <!-- end product french note -->

              <!-- product arabic note -->
              <div class="input-group mb-2">
                <span class="input-group-text" id="ar_note" style="width: 25%;">arabic note</span>
                <textarea class="form-control" aria-label="ar_note" aria-describedby="ar_note" name="{{ product_form.ar_note.name }}" placeholder="" rows="2" dir="rtl"></textarea>
              </div>
              <!-- end product arabic note -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- end add new product modal -->
{% endblock %}

<!-- product content -->
{% block product %}
<!-- all products  -->
{% if show == 'all_products' %}
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->
  {% if all_products.all.count %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="table-column-pe-0">
          </th>
          <th class="table-column-ps-0">Product</th>
          <th>Vendor</th>
          <th>Variants</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      {% for product in all_products.all %}
      <!-- product forms list -->
      <!-- delete product form -->
      <form action="{% url 'products-menu' 'delete_product' %}" id="delete_product_form_{{ product.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value='{{ product.id }}'>
      </form>

      <!-- view product form -->
      <form action="{% url 'products-menu' 'view_product' %}" id="view_product_form_{{ product.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value='{{ product.id }}'>
      </form>

      <!-- end product forms list -->

      <!-- products list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- product title and image -->
        <td class="table-column-ps-0">
          <a class="d-flex align-items-center" href="#">
            <div class="flex-shrink-0">
              <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ product.selected_image }}" alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="text-inherit mb-0">{{ product.en_title }}</h5>
            </div>
          </a>
        </td>
        <!-- product brand -->
        <td>{{ product.brand }}</td>
        <!-- product variants count -->
        <td>{{ product.variant.all.count }}</td>
        <!-- product actions -->
        <td>
          <!-- view product -->
          <button class="btn btn-white btn-icon" form="view_product_form_{{ product.id }}">
            <i class="bi-eye" data-bs-toggle="tooltip" data-bs-placement="top" title="View"></i>
          </button>

          <!-- delete product -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_product_modal_{{ product.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
        </td>
      </tr>
      <!-- end products list -->

      <!-- products actions modals -->
      <!-- delete product modal -->
      <div id="delete_product_modal_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="delete_product_modal_title_{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete_product_modal_title_{{ product.id }}"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>click yes to delete {{ product.en_title }}.</p>
            </div>
            <div class="modal-footer" style="align-self: center;">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" form="delete_product_form_{{ product.id }}">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- end products actions modals -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="12">12</option>
              <option value="14" selected>14</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty"></span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        Your inventory is empty .
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
<!-- end all products  -->

<!-- selected product  -->
{% if show == 'selected_product' %}
<div class="row">
  {% if selected_product.variant.all.count %}
  <div class="col-lg-8 mb-3 mb-lg-0">
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <h4 class="card-header-title">Variants</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <h6 class="text-cap">Options</h6>

        <div class="js-add-field" data-hs-add-field-options='{
              "template": "#addAnotherOptionFieldTemplate",
              "container": "#addAnotherOptionFieldContainer",
              "defaultCreated": 0
            }'>
          <div class="row mb-4">
            <div class="col-sm-4 mb-2 mb-sm-0">
              <!-- Select -->
              <div class="tom-select-custom">
                <select class="js-select form-select" data-hs-tom-select-options='{
                          "searchInDropdown": false,
                          "hideSearch": true
                        }'>
                  <option value="Size">Size</option>
                  <option value="Color">Color</option>
                  <option value="Material">Material</option>
                  <option value="Style">Style</option>
                  <option value="Title">Title</option>
                </select>
              </div>
              <!-- End Select -->
            </div>
            <!-- End Col -->

            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter tags" aria-label="Enter tags">
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <!-- Container For Input Field -->
          <div id="addAnotherOptionFieldContainer"></div>

          <a href="javascript:;" class="js-create-field form-link">
            <i class="bi-plus"></i> Add another option
          </a>
        </div>

        <!-- Add Another Option Input Field -->
        <div id="addAnotherOptionFieldTemplate" style="display: none;">
          <div class="row mb-4">
            <div class="col-sm-4 mb-2 mb-sm-0">
              <!-- Select -->
              <div class="tom-select-custom">
                <select class="js-select-dynamic form-select" data-hs-tom-select-options='{
                          "searchInDropdown": false,
                          "hideSearch": true
                        }'>
                  <option value="Size">Size</option>
                  <option value="Color">Color</option>
                  <option value="Material">Material</option>
                  <option value="Style">Style</option>
                  <option value="Title">Title</option>
                </select>
              </div>
              <!-- End Select -->
            </div>
            <!-- End Col -->

            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter tags" aria-label="Enter tags">
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Add Another Option Input Field -->
      </div>
      <!-- Body -->
    </div>
  </div>
  {% endif %}

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Product Details</h4>
      </div>

      <div class="card-body">
        <form action="{% url 'products-menu' 'edit_product' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-4">
              <span class="divider-center mb-2">Main Informations</span>

              <!-- product english title -->
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="{{ selected_product_form.en_title.name }}" value="{{ selected_product.en_title }}">
              </div>
              <!-- end product english title -->

              <!-- product french title -->
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="{{ selected_product_form.fr_title.name }}" value="{{ selected_product.fr_title }}">
              </div>
              <!-- end product french title -->

              <!-- product arabic title -->
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="{{ selected_product_form.ar_title.name }}" value="{{ selected_product.ar_title }}" dir="rtl">
              </div>
              <!-- end product arabic title -->

              <!-- product brand -->
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="{{ selected_product_form.brand.name }}" value="{{ selected_product.brand }}">
              </div>
              <!-- end product brand -->

              <span class="divider-center mb-2">Presentation photo</span>

              <!-- product presentation photo -->
              <div class="mb-3 mt-3">
                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="selected_product_presentation_photo_uploader" style="height: 100%;width: 100%;">
                    <img id="selected_product_presentation_photo" class="avatar-img" src="{% get_media_prefix %}{{ product.selected_image }}" style="width: 40%;">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="{{ selected_product.selected_image }}" id="selected_product_presentation_photo_uploader" data-hs-file-attach-options='{
                        "textTarget": "#selected_product_presentation_photo",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }' required>
                    <span class="invalid-feedback text-center">Please upload an image.</span>
                  </label>
                </div>
              </div>
              <!-- end product presentation photo -->

              <span class="divider-center mb-2">Description</span>

              <!-- product english description -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.en_description.name }}" placeholder="{{ selected_product.en_description }}" rows="4"></textarea>
              </div>
              <!-- end product english description -->

              <!-- product french description -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.fr_description.name }}" placeholder="{{ selected_product.fr_description }}" rows="4"></textarea>
              </div>
              <!-- end product french description -->

              <!-- product arabic description -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.ar_description.name }}" placeholder="{{ selected_product.ar_description }}" rows="4" dir="rtl"></textarea>
              </div>
              <!-- end product arabic description -->

              <span class="divider-center mb-2">Note</span>

              <!-- product english note -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.en_note.name }}" placeholder="{{ selected_product.en_note }}" rows="2"></textarea>
              </div>
              <!-- end product english note -->

              <!-- product french note -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.fr_note.name }}" placeholder="{{ selected_product.fr_note }}" rows="2"></textarea>
              </div>
              <!-- end product french note -->

              <!-- product arabic note -->
              <div class="input-group mb-2">
                <textarea class="form-control" name="{{ selected_product_form.ar_note.name }}" placeholder="{{ selected_product.ar_note }}" rows="2" dir="rtl"></textarea>
              </div>
              <!-- end product arabic note -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- end selected product  -->
{% endblock %}