{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Admin Page | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">You have {{ all_products.all.count }} products</h6>
  </div>

  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_new_product_modal">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add new product"></i>
    </button>
  </div>
</div>


<!-- add new product modal -->
<div id="add_new_product_modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="add_new_product_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div id="add_new_product_modal_title">
          <!-- title -->
          <div class="text-center mb-7">
                <h2>Add new product</h2>
              </div>
          <!-- end title -->
          <form action="#" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value='{{ selected_user.id }}'>

            <div class="row col-sm-divider mb-3">
              <div class="col-sm text-end">
                <!-- product english title -->
                <div class="input-group input-group-borderless mb-2">
                  <span class="input-group-text" id="en_title">english title</span>
                  <input type="text" class="form-control" aria-label="en_title" aria-describedby="en_title" name="en_title" placeholder="Deluxe Toy Box">
                </div>
                <!-- end product english title -->

                <!-- product french title -->
                <div class="input-group input-group-borderless mb-2">
                  <span class="input-group-text" id="fr_title">french title</span>
                  <input type="text" class="form-control" aria-label="fr_title" aria-describedby="fr_title" name="fr_title" placeholder="Coffre à jouets Deluxe">
                </div>
                <!-- end product french title -->

                <!-- product arabic title -->
                <div class="input-group input-group-borderless mb-2">
                  <span class="input-group-text" id="ar_title">arabic title</span>
                  <input type="text" class="form-control" aria-label="ar_title" aria-describedby="ar_title" name="ar_title" placeholder="صندوق ألعاب ديلوكس" dir="rtl">
                </div>
                <!-- end product arabic title -->

                <!-- product brand -->
                <div class="input-group input-group-borderless mb-2">
                  <span class="input-group-text" id="brand">brand</span>
                  <input type="text" class="form-control" aria-label="brand" aria-describedby="brand" name="brand" placeholder="OomCu">
                </div>
                <!-- end product brand -->
              </div>

              <div class="col-sm text-start">

              </div>
            </div>
            <!-- product presentation photo -->
            <div class="mb-3 mt-3">
              <div class="col">
                <span class="avatar avatar-xxl avatar-4x3 text-center mb-4">
                  
                      <label class="avatar avatar-xxl avatar-uploader" for="product_presentation_photo_uploader">
                        <img id="product_presentation_photo" class="avatar-img" src="{% static 'management/img/img_download.png' %}">

                        <input type="file" class="js-file-attach avatar-uploader-input" name="image" id="product_presentation_photo_uploader" data-hs-file-attach-options='{
                            "textTarget": "#product_presentation_photo",
                            "mode": "image",
                            "targetAttr": "src",
                            "allowTypes": [".png", ".jpeg", ".jpg"]
                         }' required>
                        <span class="invalid-feedback text-center">Please upload an image.</span>
                      </label>

                </span>
              </div>
            </div>
            <!-- end product presentation photo -->

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- end add new product modal -->
{% endblock %}

<!-- product content -->
{% block product %}
{% if show == 'all_products_table' %}
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->
  {% if all_products.all.count %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="table-column-pe-0">
          </th>
          <th class="table-column-ps-0">Product</th>
          <th>Spec</th>
          <th>Vendor</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Variants</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="table-column-pe-0">
          </td>
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="ecommerce-product-details.html">
              <div class="flex-shrink-0">
                <img class="avatar avatar-lg" src="assets/img/400x400/img4.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit mb-0">Photive wireless speakers</h5>
              </div>
            </a>
          </td>
          <td>Blue</td>
          <td>Oomcu</td>
          <td>$65</td>
          <td>60</td>
          <td>2</td>
          <td>
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_modal_{{ selected_user.id }}">
              <i class="bi-eye" data-bs-toggle="tooltip" data-bs-placement="top" title="View & Edit"></i>
            </button>

            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ selected_user.id }}">
              <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="12">12</option>
              <option value="14" selected>14</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty"></span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        Your inventory is empty .
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}