{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products | {{ selected_product.en_title }}</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- selected product  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-products' 'main' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_product.en_title }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_product.en_title }}</h1>
    {% if selected_product.store %}
    <h6>
      <span class="text-muted ms-1">
        {% if selected_product.store.name %}
        {{ selected_product.store.name }}
        {% else %}
        {{ selected_product.store.user.username }}
        {% endif %}
      </span>
    </h6>
    {% endif %}

    {% if selected_product.brand %}
    <h6>
      <span class="text-muted ms-1">
        {{ selected_product.brand }}
      </span>
    </h6>
    {% endif %}
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end selected product  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}

<div class="row">
  <div class="mb-lg-0">
    <div class="card">
      <div class="card-body">
        {% if description == 'en' %}
        <!-- CKEditor -->
        <form action="{% url 'admin-manage-products' 'edit_en_description' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>

          {{ en_product_description_form.media }}
          {{ en_product_description_form.en_description }}
        </form>
        <!-- End CKEditor -->
        {% endif %}

        {% if description == 'fr' %}
        <!-- CKEditor -->
        <form action="{% url 'admin-manage-products' 'edit_fr_description' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>

          {{ fr_product_description_form.media }}
          {{ fr_product_description_form.fr_description }}
        </form>
        <!-- End CKEditor -->
        {% endif %}

        {% if description == 'ar' %}
        <!-- CKEditor -->
        <form action="{% url 'admin-manage-products' 'edit_ar_description' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>

          {{ ar_product_description_form.media }}
          {{ ar_product_description_form.ar_description }}
        </form>
        <!-- End CKEditor -->
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}