{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Products</h1>
    <h6 class="text-muted">You have {{ all_products.all.count }} products</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_new_product_modal">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add new product"></i>
    </button>
  </div>
  <!-- end all products  -->
</div>

<!-- add new product modal -->
<div id="add_new_product_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add_new_product_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add new product</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'add_new_product' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}

            <div class="row mb-4">
              <span class="divider-center mb-2">Main Informations</span>
              <!-- product brand -->
              <div class="input-group mb-1">
                <span class="input-group-text" style="width: 25%;">brand</span>
                <input type="text" class="form-control" name="en_title" placeholder="Delta Children">
              </div>
              <span class="text-muted mb-2">
                <small>leave blank if the supplier name is the brand.</small>
              </span>
              <!-- end product brand -->

              <!-- product english title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english title</span>
                <input type="text" class="form-control" name="en_title" placeholder="Deluxe Toy Box" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english title -->

              <!-- product french title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french title</span>
                <input type="text" class="form-control" name="fr_title" placeholder="Coffre à jouets Deluxe">
              </div>
              <!-- end product french title -->

              <!-- product arabic title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic title</span>
                <input type="text" class="form-control" name="ar_title" placeholder="صندوق ألعاب ديلوكس" dir="rtl">
              </div>
              <!-- end product arabic title -->

              <span class="divider-center mb-2">Specs</span>

              <!-- product english spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english spec</span>
                <input type="text" class="form-control" name="en_spec" placeholder="Blue" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english spec -->

              <!-- product french spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french spec</span>
                <input type="text" class="form-control" name="fr_spec" placeholder="Bleu">
              </div>
              <!-- end product french spec -->

              <!-- product arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic spec</span>
                <input type="text" class="form-control" name="ar_spec" placeholder="أزرق" dir="rtl">
              </div>
              <!-- end product arabic spec -->

              <span class="divider-center mb-2">Option</span>

              <!-- option english -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="en_value" placeholder="Full" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english -->

              <!-- option french -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="fr_value" placeholder="Complet">
              </div>
              <!-- end option french -->

              <!-- product arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="ar_value" placeholder="مكتمل" dir="rtl">
              </div>
              <!-- end product arabic spec -->

              <!-- upc -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">UPC</span>
                <input type="text" class="form-control" name="upc" placeholder="leave empty to auto generate" maxlength="20">
              </div>
              <!-- end upc -->

              <span class="divider-center mb-2">Prices</span>

              <!-- product cost -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">cost</span>
                <input type="number" class="form-control" name="cost" placeholder="2000" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product cost -->

              <!-- product price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">price</span>
                <input type="number" class="form-control" name="price" min="0" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product price -->

              <!-- product discount -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">discount</span>
                <input type="number" class="form-control" name="discount" value=0>
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end product discount -->

              <span class="divider-center mb-2">Quantities</span>

              <!-- product quantity -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">quantity</span>
                <input type="number" class="form-control" min=0 name="quantity" value=0 placeholder="40">
              </div>
              <!-- end product quantity -->

              <!-- product max quantity -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">showcase quantity</span>
                <input type="number" class="form-control" min=1 name="max_quantity" value=0 placeholder="3">
                <span class="invalid-feedback text-center">minimum 1 quantity is required</span>
              </div>
              <!-- end product max quantity -->

              <span class="divider-center mb-2">Internal Informations</span>

              <!-- product delivery quotient -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">delivery quotient</span>
                <input type="text" class="form-control" min="0" name="delivery_quotient" value=100 placeholder="34">
                <span class="input-group-text" style="width: 20%;">%</span>
              </div>
              <!-- end product delivery quotient -->

              <!-- product gift points -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">gift points</span>
                <input type="text" class="form-control" min="0" name="points" value=0 placeholder="300">
                <span class="input-group-text" style="width: 20%;">GP</span>
              </div>
              <!-- end product gift points -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add new product modal -->
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all products  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          {% if search_key_word %}
          <input class="form-control" type="search" name="key_word" value="{{ search_key_word }}" required hx-get="{% url 'admin-manage-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% else %}
          <input class="form-control" type="search" name="key_word" placeholder="Search products" required hx-get="{% url 'admin-manage-products' 'search_products' %}" hx-trigger="keyup changed delay:1s" hx-target="#list">
          {% endif %}
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  <div id="list">
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <tbody>
        {% for variant in variants %}
        <!-- products list -->
        <tr>
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ variant.product.id }}">
              <div class="flex-shrink-0">
                {% if variant.album_set.all.count %}
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ variant.album_set.all.first.image }}">
                {% else %}
                <span class="badge bg-warning">no images</span>
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ variant.product.en_title }}</h5>
                <span class="d-block text-body fs-6">
                  <small> {{ variant.en_spec }} </small>
                </span>
              </div>
            </a>
          </td>
          <!-- options -->
          <td>
            {% for option in variant.option_set.all %}
            <span class="d-block text-body fs-6">
              <small>
                {{ option.en_value }}
                {% if not option.is_activated or not variant.is_activated %}
                <span class="badge bg-warning">not activated</span>
                {% endif %}

                {% if not option.quantity %}
                <span class="badge bg-danger">not available</span>
                {% else %}
                <strong class="text-dark">({{ option.quantity }})</strong> available
                {% endif %}
              </small>
            </span>
            {% endfor %}
          </td>
          <!-- product brand -->
          <td>
            {% if variant.product.store %}
            <!-- unassign a store -->
            <span class="d-block text-body fs-6">
              <button type="button" class="btn btn-ghost btn-icon me-1" data-bs-toggle="modal" data-bs-target="#unassign_a_store_{{ variant.id }}">
                <i class="fa fa-x" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i>
              </button>

              {% if not variant.product.store.is_activated %}
              <strong data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivated" style="color: #ff7d00;">
                {{ variant.product.store.name }}
                <i class="fa fa-triangle-exclamation ms-2"></i>
              </strong>
              {% else %}
              <strong class="text-dark">{{ variant.product.store.name }}</strong>
              {% endif %}
            </span>
            {% else %}
            <!-- assign a store -->
            <span class="d-block text-body text-center fs-6">
              <button type="button" class="btn btn-ghost btn-icon me-1" data-bs-toggle="modal" data-bs-target="#assign_a_store_{{ variant.id }}">
                <i class="fa fa-store" data-bs-toggle="tooltip" data-bs-placement="top" title="Store" style="width: 70%;"></i>
              </button>
            </span>
            {% endif %}
          </td>
          <!-- product actions -->
          <td class="text-end">
            <!-- delete product -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_product_modal_{{ variant.id }}">
              <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if variants.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if variants.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in variants.paginator.page_range %}
            {% if variants.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if variants.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ variants.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->
  </div>
</div>
<!-- end all products  -->

<!-- product modals & forms -->
{% for variant in variants %}
<!-- delete product form -->
<form action="{% url 'admin-manage-products' 'delete_product' %}" id="delete_product_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ variant.product.id }}'>
</form>

<!-- unassign store form -->
<form action="{% url 'admin-manage-products' 'unassign_provider' %}" id="unassign_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ variant.product.id }}'>
</form>

<!-- assign a store modal -->
<div id="assign_a_store_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Link a product</h2>
          </div>

            <div class="row mb-4">
              <span class="divider-center mb-2">Select from the list</span>
              <ul class="list-group list-group-flush navbar-card-list-group">
                {% for store in stores %}
                <li class="list-group-item form-check-select">
                  <div class="row">
                    <div class="col-auto">
                      <div class="d-flex align-items-center">
                        <div class="form-check">
                          <label class="form-check-label"></label>
                          <span class="form-check-stretched-bg"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col ms-n2">
                      <h6 class="mb-1">{{ store.name }}</h6>
                    </div>
                  </div>
                  <a class="btn btn-ghost stretched-link" href="{% url 'admin-manage-products' 'assign_provider' %}?product_id={{ variant.product.id }}&store_id={{ store.id }}&variants_page={{ variants.number }}"></a>
                </li>
                {% endfor %}
              </ul>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- unassign a store modal -->
<div id="unassign_a_store_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to unassign {{ variant.product.store.name }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="unassign_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- delete product modal -->
<div id="delete_product_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ variant.product.en_title }} and variants.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_product_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}