{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products | {{ selected_variant.product.en_title }} | {{ selected_variant.en_spec }} </title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- selected variant  -->
  <div class="col-sm mb-2 mb-sm-0">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-products' 'main' %}">Products</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ selected_variant.product.id }}">{{ selected_variant.product.en_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_variant.en_spec }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_variant.product.en_title }} - {{ selected_variant.en_spec }}</h1>
    <h6>
      Price :<span class="text-muted ms-1">{{ selected_variant.option_set.first.price }} DZD</span>
      {% if selected_variant.option_set.first.discount %}
      | Discount :<span class="text-muted ms-1">{{ selected_variant.option_set.first.discount }} DZD</span>
      {% endif %}
    </h6>
  </div>
  <div class="col-sm-auto">
    <!-- edit variant button -->
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_variant">
      <i class="fa fa-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit Variant"></i>
    </button>
    <!-- end edit variant button -->
  </div>
  <!-- end selected variant  -->
</div>

<!-- edit variant modal -->
<div id="edit_variant" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="edit_variant_modal_title">
          <div class="text-center mb-7">
            <h2>Edit variant</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'edit_variant' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Specs</span>
              <!-- variant english spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english spec</span>
                <input type="text" class="form-control" name="{{ variant_form.en_spec.name }}" value="{{ selected_variant.en_spec }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end variant english spec -->

              <!-- variant french spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french spec</span>
                <input type="text" class="form-control" name="{{ variant_form.fr_spec.name }}" value="{{ selected_variant.fr_spec }}">
              </div>
              <!-- end variant french spec -->

              <!-- variant arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic spec</span>
                <input type="text" class="form-control" name="{{ variant_form.ar_spec.name }}" value="{{ selected_variant.ar_spec }}" dir="rtl">
              </div>
              <!-- end variant arabic spec -->
            </div>
            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end edit variant modal -->

<!-- add dimensions modal -->
<div id="add_dimensions" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Add dimensions</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'add_feature' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
            <input type="hidden" name="{{ feature_form.en_name.name }}" value='dimensions'>
            <input type="hidden" name="{{ feature_form.fr_name.name }}" value='dimensions'>
            <input type="hidden" name="{{ feature_form.ar_name.name }}" value='الأبعاد'>

            <div class="row mb-4">

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="{{ feature_form.en_content.name }}" placeholder="400mm x 200mm" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="{{ feature_form.fr_content.name }}" placeholder="400mm x 200mm">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="{{ feature_form.ar_content.name }}" placeholder="400 مم × 200 مم" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add dimensions modal -->

<!-- add weight modal -->
<div id="add_weight" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Add weight</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'add_feature' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
            <input type="hidden" name="{{ feature_form.en_name.name }}" value='weight'>
            <input type="hidden" name="{{ feature_form.fr_name.name }}" value='poids'>
            <input type="hidden" name="{{ feature_form.ar_name.name }}" value='الوزن'>

            <div class="row mb-4">

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="{{ feature_form.en_content.name }}" placeholder="3 kg" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="{{ feature_form.fr_content.name }}" placeholder="3 kg">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="{{ feature_form.ar_content.name }}" placeholder="3 كجم" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add weight modal -->

<!-- add color modal -->
<div id="add_color" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Add color</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'add_feature' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
            <input type="hidden" name="{{ feature_form.en_name.name }}" value='color'>
            <input type="hidden" name="{{ feature_form.fr_name.name }}" value='couleur'>
            <input type="hidden" name="{{ feature_form.ar_name.name }}" value='اللون'>

            <div class="row mb-4">

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="{{ feature_form.en_content.name }}" placeholder="blue" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="{{ feature_form.fr_content.name }}" placeholder="bleue">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="{{ feature_form.ar_content.name }}" placeholder="أزرق" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add color modal -->

<!-- add feature modal -->
<div id="add_feature" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>Add feature</h2>
          </div>
          <form action="{% url 'admin-manage-products' 'add_feature' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">

              <span class="divider-center mb-2">Feature title</span>

              <!-- feature english title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english title</span>
                <input type="text" class="form-control" name="{{ feature_form.en_name.name }}" placeholder="Manufacturing material" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english title -->

              <!-- feature french title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french title</span>
                <input type="text" class="form-control" name="{{ feature_form.fr_name.name }}" placeholder="Matière de fabrication">
              </div>
              <!-- end feature french title -->

              <!-- feature arabic title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic title</span>
                <input type="text" class="form-control" name="{{ feature_form.ar_name.name }}" placeholder="مادة التصنيع" dir="rtl">
              </div>
              <!-- end feature arabic title -->

              <span class="divider-center mb-2">Feature value</span>

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="{{ feature_form.en_content.name }}" placeholder="Wood" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="{{ feature_form.fr_content.name }}" placeholder="Bois">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="{{ feature_form.ar_content.name }}" placeholder="خشب" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add feature modal -->
{% endblock %}

<!-- product content -->
{% block content %}
<!-- selected variant  -->
<div class="row">
  <div class="col-lg-8 mb-3 mb-lg-0">

    <!-- options -->
    <div class="card mb-2">
      <!-- Header -->
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-1">Options</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">
        </div>
        <!-- end title bar -->
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <!-- table -->
        <div class="table-responsive">
          <table id="option_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <tbody>
            {% for option in selected_variant.option_set.all %}
            <tr>
              <!-- option title and image -->
              {% if option.has_image %}
              <td>
                <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#deconvert_option_modal_{{ option.id }}_{{ variant.id }}">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ option.image }}">
                  </div>
                </a>
              </td>
              {% else %}
              <td>
                <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#convert_option_modal_{{ option.id }}_{{ variant.id }}">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-lg" src="{% static 'images/icons/add-image.png' %}">
                  </div>
                </a>
              </td>
              {% endif %}

              <!-- actions -->
              <td>
                {% if option.is_activated %}
                <!-- deactivate option button -->
                <button type="button" class="btn btn-ghost btn-icon me-4" data-bs-toggle="modal" data-bs-target="#deactivate_option_modal_{{ option.id }}_{{ variant.id }}">
                  <i class="fa fa-toggle-on" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate" style="width: 80%;"></i>
                </button>
                {% else %}

                {% if option.can_be_activated %}
                <!-- activate option button -->
                <button type="button" class="btn btn-ghost btn-icon me-4" data-bs-toggle="modal" data-bs-target="#activate_option_modal_{{ option.id }}_{{ variant.id }}">
                  <i class="fa fa-toggle-off" data-bs-toggle="tooltip" data-bs-placement="top" title="Activate" style="width: 80%;"></i>
                </button>
                {% else %}
                <strong data-bs-toggle="tooltip" class="btn btn-ghost btn-icon me-2" data-bs-placement="top" title="check store" style="color: #ff0000;">
                  <i class="fa fa-triangle-exclamation" style="width: 70%;"></i>
                </strong>
                {% endif %}

                {% endif %}

                {% if selected_variant.option_set.all.count > 1 %}
                <!-- delete option button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#delete_option_modal_{{ option.id }}_{{ variant.id }}">
                  <i class="fa fa-trash me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                </button>
                {% endif %}

                {% if forloop.counter == 1 %}
                <!-- duplicate option button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#duplicate_option_modal_{{ option.id }}_{{ variant.id }}">
                  <i class="fa fa-clone" data-bs-toggle="tooltip" data-bs-placement="top" title="Duplicate"></i>
                </button>
                {% endif %}

                <!-- edit option button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#edit_option_modal_{{ option.id }}_{{ variant.id }}">
                  <i class="fa fa-pen-to-square" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </button>
              </td>

              <!-- value -->
              <td class="text-start">
                <h6 class="text-body">
                  <small>{{ option.en_value }}</small>
                </h6>
                <h6 class="text-body">
                  <small>{{ option.fr_value }}</small>
                </h6>
                <h6 class="text-body" dir="rtl">
                  <small>{{ option.ar_value }}</small>
                </h6>
              </td>

              <!-- price , discount & min price -->
              <td>
                {% if option.price %}
                <h6 class="text-body">
                  <small>Price :{{ option.price|floatformat:"0g" }} DZD</small>
                </h6>
                {% else %}
                <h6 class="text-danger">
                  <small>No Price</small>
                </h6>
                {% endif %}

                {% if option.discount %}
                <h6 class="text-body">
                  <small>Discount :{{ option.discount|floatformat:"0g" }} DZD</small>
                </h6>
                {% else %}
                <h6 class="text-body">
                  <small>No Discount</small>
                </h6>
                {% endif %}

                {% if option.min_price %}
                <h6 class="text-body">
                  <small>Min Price :{{ option.min_price|floatformat:"0g" }} DZD</small>
                </h6>
                {% else %}
                <h6 class="text-body">
                  <small>No Min Price</small>
                </h6>
                {% endif %}
              </td>

              <!-- gift points & delivery quotient -->
              <td>
                <h6 class="text-body">
                  <small>Gift Points:{{ option.points }} GP</small>
                </h6>

                <h6 class="text-body">
                  <small>Delivery Quotient:{{ option.delivery_quotient }} %</small>
                </h6>
              </td>

              <!-- production capacity & restricted quantity -->
              <td>
                {% if option.out_of_stock and option.limited_stock %}
                <h6 class="text-secondary">
                  <small>Out Of Stock</small>
                </h6>
                {% elif option.production_capacity %}
                <h6 class="text-secondary">
                  <small>{{ option.production_capacity}}</small>
                </h6>
                {% else %}
                <h6 class="text-secondary">
                  <small>No Production Capacity</small>
                </h6>
                {% endif %}

                {% if option.restricted_quantity %}
                <h6 class="text-body">
                  <small>Restricted Quantity :{{ option.restricted_quantity }}</small>
                </h6>
                {% else %}
                <h6 class="text-body">
                  <small>No Restricted Quantity</small>
                </h6>
                {% endif %}
              </td>

              <!-- ASIN -->
              <td>
                <h6 class="text-body">
                  <small>ASIN: {{ option.asin }}</small>
                </h6>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end table -->
      </div>
      <!-- Body -->
    </div>

    <!-- features -->
    <div class="card mb-2">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">Features</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">
          {% if not selected_variant.dimensions_exists %}
          <!-- add dimensions button -->
          <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#add_dimensions">
            <i class="fa fa-ruler-combined me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Dimensions"></i>
          </button>
          <!-- end add dimensions button -->
          {% endif %}

          {% if not selected_variant.weight %}
          <!-- add weight button -->
          <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#add_weight">
            <i class="fa fa-weight-hanging me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Weight"></i>
          </button>
          <!-- end add weight button -->
          {% endif %}

          {% if not selected_variant.color %}
          <!-- add color button -->
          <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#add_color">
            <i class="fa fa-palette me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Color"></i>
          </button>
          <!-- end add color button -->
          {% endif %}

          <!-- add feature button -->
          <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#add_feature">
            <i class="fa fa-plus me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Feature"></i>
          </button>
          <!-- end add feature button -->
        </div>
        <!-- end title bar -->
      </div>
      <div class="card-body">
        <!-- table -->
        <div class="table-responsive">
          <table id="feature_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <tbody>
            {% for feature in selected_variant.feature_set.all %}
            <tr>
              <!-- feature action -->
              <td class="text-start">
                <!-- edit feature button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#edit_feature_modal_{{ feature.id }}">
                  <i class="fa fa-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </button>
                <!-- end edit feature button -->

                <!-- delete option button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#delete_feature_modal_{{ feature.id }}">
                  <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                </button>
                <!-- end delete option button -->
              </td>

              <!-- feature title & value -->
              <td class="text-start">
                <h6 class="text-body">
                  <small>{{ feature.en_name }} : {{ feature.en_content }}</small>
                </h6>
                <h6 class="text-body">
                  <small>{{ feature.fr_name }} : {{ feature.fr_content }}</small>
                </h6>
                <h6 class="text-body" dir="rtl">
                  <small>{{ feature.ar_name }} : {{ feature.ar_content }}</small>
                </h6>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>


  <div class="col-lg-4">
    {% if selected_variant.album_set.all.count %}
    <!-- photos -->
    <div class="card mb-2">
      <div class="card-header">
        <h5 class="card-header-title">Photos</h5>
      </div>
      <div class="card-body">
        <div class="row">
          {% for album in selected_variant.album_set.all %}
          <div class="col-lg-6 col-sm-6 mb-4">
            <div class="card-dashed">
              <div class="card-img-top">
                <img src="{% get_media_prefix %}{{ album.image }}" style="width: 100%;">
              </div>
              <div class="card-footer p-2 text-center">
                <a href="{% url 'admin-manage-products' 'delete_image' %}?album_id={{ album.id }}">
                  <i class="fa fa-trash fa-xl"></i>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}

          {% if not selected_variant.full_album %}
          <div class="col-lg-6 col-sm-6 align-self-center mb-2">
            <!-- add photo -->
            <a href="javascript:;" class="text-start" data-bs-toggle="modal" data-bs-target="#add_photo_modal">
              <i class="fa fa-plus fa-lg me-2"></i>
              add photo
            </a>
            <!-- end add photo -->
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <!-- dropzone -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->
      <div class="card-header card-header-content-between">
        <h4 class="card-header-title">Photos</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <form action="{% url 'admin-manage-products' 'add_images' %}" id="variant_upload_images" class="dropzone dz-dropzone dz-dropzone-card" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

          <div class="fallback">
            <input name="variant_image" type="file" multiple />
          </div>

          <div class="dz-message">
            <img class="avatar avatar-xl avatar-4x3 mb-3" src="{% static 'images/icons/add-image.png' %}" data-hs-theme-appearance="default">
            <img class="avatar avatar-xl avatar-4x3 mb-3" src="{% static 'images/icons/add-image-dark.png' %}" data-hs-theme-appearance="dark">

            <h5>Drag and drop your file here</h5>
            <p class="mb-2">or</p>
            <span class="btn btn-white btn-sm">Browse files</span>
          </div>

          <div id="preview-template" style="display: none;">
            <div class="col h-100 mb-5 me-4">
              <div class="dz-preview dz-file-preview" style="width: 100%;">
                <div class="row dz-details media mt-4">
                  <div class="avatar avatar-xl avatar-square avatar-centered mb-3">
                    <img class="avatar-img" data-dz-thumbnail>
                  </div>
                  <div class="media-body dz-file-wrapper">
                    <h6 class="dz-filename">
                      <span class="dz-title" data-dz-name></span>
                    </h6>
                    <span class="dz-size fs-5" data-dz-size></span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="progress flex-grow-1 me-2">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                  </div>
                  <span class="progress-text"></span>
                </div>

                <div class="d-flex align-items-center">
                  <div class="dz-success-mark">
                    <i class="bi bi-check-lg fs-2"></i>
                  </div>
                  <div class="dz-error-mark">
                    <span class="fa fa-times-circle"></span>
                  </div>
                  <div class="dz-error-message">
                    <small data-dz-errormessage></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- end selected variant  -->


<!-- options modals & forms -->
<!-- add photo modal -->
<div id="add_photo_modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <div >
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Add a photo</h2>
          </div>
          <!-- end title -->

          <form action="{% url 'admin-manage-products' 'add_images' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Image</span>

              <!-- photo input -->
              <div class="mb-3">
                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="add_photo_input" style="width: 50%; height: 50%;">
                    <img id="add_photo" class="avatar-img" src="{% static 'images/icons/add-image.png' %}" style="width: 50%;">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="variant_image" id="add_photo_input" data-hs-file-attach-options='{
                        "textTarget": "#add_photo",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }' required>
                    <span class="invalid-feedback text-center">please upload an image.</span>
                  </label>
                </div>
              </div>
              <!-- end photo input -->

              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>


{% for option in selected_variant.option_set.all %}
<!-- activate option form -->
<form action="{% url 'admin-manage-products' 'activate_option' %}" id="activate_option_form_{{ option.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="option_id" value='{{ option.id }}'>
</form>

<!-- deactivate option form -->
<form action="{% url 'admin-manage-products' 'deactivate_option' %}" id="deactivate_option_form_{{ option.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="option_id" value='{{ option.id }}'>
</form>

<!-- delete option form -->
<form action="{% url 'admin-manage-products' 'delete_option' %}" id="delete_option_form_{{ option.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="option_id" value='{{ option.id }}'>
</form>

<!-- duplicate option form -->
<form action="{% url 'admin-manage-products' 'duplicate_option' %}" id="duplicate_option_form_{{ option.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="option_id" value='{{ option.id }}'>
</form>

<!-- deconvert option form -->
<form action="{% url 'admin-manage-products' 'deconvert_option' %}" id="deconvert_option_form_{{ option.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="option_id" value='{{ option.id }}'>
</form>

<!-- activate option modal -->
<div id="activate_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to activate {{ option.en_value }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="activate_option_form_{{ option.id }}_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- deactivate option modal -->
<div id="deactivate_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to deactivate {{ option.en_value }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="deactivate_option_form_{{ option.id }}_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- convert option modal -->
<div id="convert_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <div >
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Convert {{ option.en_value }}</h2>
          </div>
          <!-- end title -->

          <!-- convert option form -->
          <form action="{% url 'admin-manage-products' 'convert_option' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="option_id" value='{{ option.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Image</span>

              <!-- option photo -->
              <div class="mb-3">
                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="option_presentation_photo_uploader_{{ option.id }}" style="width: 50%; height: 50%;">
                    <img id="option_presentation_photo_{{ option.id }}" class="avatar-img" src="{% static 'images/icons/add-image.png' %}" style="width: 50%;">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="option_image" id="option_presentation_photo_uploader_{{ option.id }}" data-hs-file-attach-options='{
                        "textTarget": "#option_presentation_photo_{{ option.id }}",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }' required>
                    <span class="invalid-feedback text-center">please upload an image.</span>
                  </label>
                </div>
              </div>
              <!-- end option photo -->

              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>

<!-- edit option modal -->
<div id="edit_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <div>
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Edit {{ option.en_value }}</h2>
          </div>
          <!-- end title -->

          <!-- edit option form -->
          <form action="{% url 'admin-manage-products' 'edit_option' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="option_id" value='{{ option.id }}'>

            <div class="row mb-4">

              <!-- option english -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">english option</span>
                <input type="text" class="form-control" name="{{ option_form.en_value.name }}" value="{{ option.en_value }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english -->

              <!-- option french -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">french option</span>
                <input type="text" class="form-control" name="{{ option_form.fr_value.name }}" value="{{ option.fr_value }}">
              </div>
              <!-- end option french -->

              <!-- product arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">arabic option</span>
                <input type="text" class="form-control" name="{{ option_form.ar_value.name }}" value="{{ option.ar_value }}" dir="rtl">
              </div>
              <!-- end product arabic spec -->

              <span class="divider-center  my-2">Internal informations</span>

              {% if option.cost %}
              <!-- product price -->
              <span class="h6 my-3 text-body text-start">Product cost is: {{ option.cost|floatformat:"0g" }} <small>DZD</small></span>
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">price</span>
                <input type="number" class="form-control" name="{{ option_form.price.name }}" min="0" value="{{ option.price }}" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product price -->

              <!-- product discount -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">discount</span>
                {% if option.discount %}
                <input type="number" class="form-control" name="{{ option_form.discount.name }}" min="0" value="{{ option.discount }}">
                {% else %}
                <input type="number" class="form-control" name="{{ option_form.discount.name }}" min="0" placeholder="no discount">
                {% endif %}
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end product discount -->

              <!-- product min price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">min price</span>
                {% if option.min_price %}
                <input type="number" class="form-control" name="{{ option_form.min_price.name }}" min="0" value="{{ option.min_price }}">
                {% else %}
                <input type="number" class="form-control" name="{{ option_form.min_price.name }}" min="0" placeholder="no min price">
                {% endif %}
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end product min price -->
              {% else %}
              <span class="h6 my-3 text-danger text-start">No cost mentioned</span>
              {% endif %}

              <!-- product restricted quantity -->
              {% if option.out_of_stock and option.limited_stock %}
              <span class="h6 my-3 text-warning text-start">Out Of Stock</span>
              {% elif option.production_capacity %}
              <span class="h6 my-3 text-body text-start">{{ option.production_capacity}}</span>
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">restricted quantity</span>
                {% if option.restricted_quantity %}
                <input type="number" class="form-control" name="{{ option_form.restricted_quantity.name }}" min="0" value="{{ option.restricted_quantity }}">
                {% else %}
                <input type="number" class="form-control" name="{{ option_form.restricted_quantity.name }}" min="0" value="0">
                {% endif %}
              </div>
              {% else %}
              <span class="h6 my-3 text-danger text-start">No production capacity</span>
              {% endif %}
              <!-- end product restricted quantity -->

              <!-- product delivery quotient -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">delivery quotient</span>
                <input type="number" class="form-control" name="{{ option_form.delivery_quotient.name }}" min="0" value="{{ option.delivery_quotient }}">
                <span class="input-group-text" style="width: 20%;">%</span>
              </div>
              <!-- end product delivery quotient -->

              <!-- product gift points -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">gift points</span>
                <input type="number" class="form-control" name="{{ option_form.points.name }}" min="0" value="{{ option.points }}">
                <span class="input-group-text" style="width: 20%;">GP</span>
              </div>
              <!-- end product gift points -->

              <!-- upc -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 30%;">UPC</span>
                <input type="text" class="form-control" name="{{ option_form.upc.name }}" value="{{ option.upc }}" maxlength="20" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end upc -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>

<!-- delete option modal -->
<div id="delete_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_option_modal_title_{{ option.id }}_{{ variant.id }}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ option.en_value }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_option_form_{{ option.id }}_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- duplicate option modal -->
<div id="duplicate_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to duplicate {{ option.en_value }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="duplicate_option_form_{{ option.id }}_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- deconvert option modal -->
<div id="deconvert_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <!-- convert option form -->
        <form action="{% url 'admin-manage-products' 'convert_option' %}" id="edit_image_option_{{ option.id }}_{{ variant.id }}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="option_id" value='{{ option.id }}'>

          <div class="row mb-4">
            <span class="divider-center mb-2">Image</span>

            <!-- option photo -->
            <div class="mb-3">
              <div class="col text-center">
                <label class="avatar avatar-xxl avatar-uploader" style="width: 50%; height: 50%;">
                  <img id="presentation_photo_{{ option.id }}" class="avatar-img" src="{% get_media_prefix %}{{ option.image }}" style="width: 50%;">
                  <input type="file" class="js-file-attach avatar-uploader-input" name="option_image" data-hs-file-attach-options='{
                      "textTarget": "#presentation_photo_{{ option.id }}",
                      "mode": "image",
                      "targetAttr": "src",
                      "allowTypes": [".png", ".jpeg", ".jpg"]
                      }' required>
                  <span class="invalid-feedback text-center">please upload a new image.</span>
                </label>
              </div>
            </div>
            <!-- end option photo -->
          </div>
        </form>

        <p class="mt-4">you can edit or remove image.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button class="btn btn-white" form="deconvert_option_form_{{ option.id }}_{{ variant.id }}">Remove Image</button>
        <button class="btn btn-white" form="edit_image_option_{{ option.id }}_{{ variant.id }}">Edit</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- features modals & forms -->
{% for feature in selected_variant.feature_set.all %}
<!-- delete feature form -->
<form action="{% url 'admin-manage-products' 'delete_feature' %}" id="delete_feature_{{ feature.id }}" class="js-validate need-validate" novalidate method="post">
  {% csrf_token %}
  <input type="hidden" name="feature_id" value='{{ feature.id }}'>
</form>

<!-- delete feature modal -->
<div id="delete_feature_modal_{{ feature.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ feature.en_name }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_feature_{{ feature.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- end delete feature modal -->


<!-- edit feature modal -->
<div id="edit_feature_modal_{{ feature.id }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit feature</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="{% url 'admin-manage-products' 'edit_feature' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <input type="hidden" name="feature_id" value='{{ feature.id }}'>

          <div class="row mb-4">

            <span class="divider-center mb-2">Titles</span>

            <!-- feature english title -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">english</span>
              <input type="text" class="form-control" name="{{ feature_form.en_name.name }}" value="{{ feature.en_name }}" required>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end feature english title -->

            <!-- feature french title -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">french</span>
              <input type="text" class="form-control" name="{{ feature_form.fr_name.name }}" value="{{ feature.fr_name }}">
            </div>
            <!-- end feature french title -->

            <!-- feature arabic title -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">arabic</span>
              <input type="text" class="form-control" name="{{ feature_form.ar_name.name }}" value="{{ feature.ar_name }}" dir="rtl">
            </div>
            <!-- end feature arabic title -->

            <span class="divider-center mb-2">Values</span>

            <!-- feature english value -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">english</span>
              <input type="text" class="form-control" name="{{ feature_form.en_content.name }}" value="{{ feature.en_content }}" required>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end feature english value -->

            <!-- feature french value -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">french</span>
              <input type="text" class="form-control" name="{{ feature_form.fr_content.name }}" value="{{ feature.fr_content }}">
            </div>
            <!-- end feature french value -->

            <!-- feature arabic value -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">arabic</span>
              <input type="text" class="form-control" name="{{ feature_form.ar_content.name }}" value="{{ feature.ar_content }}" dir="rtl">
            </div>
            <!-- end feature arabic value -->
          </div>

          <!-- submit -->
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end delete feature modal -->
{% endfor %}
{% endblock %}