{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Municipality</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'manage-shipping' 'main' %}">provinces</a></li>
        <li class="breadcrumb-item active" aria-current="page">municipalities</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Municipalities</h1>
    <h6 class="text-muted">{{ selected_province.en_name }} municipalities list</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_municipality">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add municipality"></i>
    </button>
  </div>
  <!-- end all products  -->
</div>

<!-- add municipality modal -->
<div id="add_municipality" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add municipality</h2>
          </div>
          <form action="{% url 'manage-shipping' 'add_municipality' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="province_id" value='{{ selected_province.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Main Informations</span>

              <!-- product english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english name</span>
                <input type="text" class="form-control" name="{{ municipality_form.en_name.name }}" placeholder="Kouba" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english name -->

              <!-- product french name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french name</span>
                <input type="text" class="form-control" name="{{ municipality_form.fr_name.name }}" placeholder="Kouba">
              </div>
              <!-- end product french name -->

              <!-- product arabic name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic name</span>
                <input type="text" class="form-control" name="{{ municipality_form.ar_name.name }}" placeholder="القبة" dir="rtl">
              </div>
              <!-- end product arabic name -->

              <span class="divider-center mb-2">Delivery to Home</span>

              <!-- french delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english time</span>
                <input type="text" class="form-control" name="{{ municipality_form.en_home_delivery_time.name }}" placeholder="Three to Four Days">
              </div>
              <!-- end french delivery time -->

              <!-- english delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french time</span>
                <input type="text" class="form-control" name="{{ municipality_form.fr_home_delivery_time.name }}" placeholder="Trois à Quatre Jours">
              </div>
              <!-- end english delivery time -->

              <!-- arabic delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic time</span>
                <input type="text" class="form-control" name="{{ municipality_form.ar_home_delivery_time.name }}" placeholder="ثلاثة إلى أربعة أيام" dir="rtl">
              </div>
              <!-- end arabic delivery time -->

              <!-- price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">price</span>
                <input type="number" class="form-control" name="{{ municipality_form.home_delivery_price.name }}" min="0" placeholder="1000" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end price -->

              <span class="divider-center mb-2">Delivery to Desk</span>

              <!-- french delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english time</span>
                <input type="text" class="form-control" name="{{ municipality_form.en_desk_delivery_time.name }}" placeholder="Three to Four Days">
              </div>
              <!-- end french delivery time -->

              <!-- english delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french time</span>
                <input type="text" class="form-control" name="{{ municipality_form.fr_desk_delivery_time.name }}" placeholder="Trois à Quatre Jours">
              </div>
              <!-- end english delivery time -->

              <!-- arabic delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic time</span>
                <input type="text" class="form-control" name="{{ municipality_form.ar_desk_delivery_time.name }}" placeholder="ثلاثة إلى أربعة أيام" dir="rtl">
              </div>
              <!-- end arabic delivery time -->

              <!-- price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">price</span>
                <input type="number" class="form-control" name="{{ municipality_form.desk_delivery_price.name }}" min="0" placeholder="800">
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end price -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add municipality modal -->
{% endblock %}

<!-- province content -->
{% block content %}
<!-- all municipalities  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search products" aria-label="Search products">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if selected_province.municipality.all.count %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="table-column-pe-0"></th>
          <th class="table-column-ps-0"></th>
          <th>Delivery to home</th>
          <th>Delivery to desk</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      {% for municipality in selected_province.municipality.all %}

      <!-- delete province form -->
      <form action="{% url 'manage-shipping' 'delete_municipality' %}" id="delete_form_{{ municipality.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="municipality_id" value='{{ municipality.id }}'>
      </form>

      <!-- provinces list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- province info -->
        <td class="table-column-ps-0">
          <span class="d-block text-dark fs-5">
            {{ municipality.en_name|title }} <i class="bi-dash"></i>
            {{ municipality.fr_name|title }} <i class="bi-dash"></i>
            {{ municipality.ar_name }}
          </span>
        </td>

        <td>
          <h6 class="text-inherit mb-0">{{ municipality.home_delivery_price }}</h6>
          <span class="d-block fs-6"><small>{{ municipality.en_home_delivery_time }}</small></span>
          <span class="d-block fs-6"><small>{{ municipality.fr_home_delivery_time }}</small></span>
          <span class="d-block fs-6"><small>{{ municipality.ar_home_delivery_time }}</small></span>
        </td>

        <td>
          <h6 class="text-inherit mb-0">{{ municipality.desk_delivery_price }}</h6>
          <span class="d-block fs-6"><small>{{ municipality.en_desk_delivery_time }}</small></span>
          <span class="d-block fs-6"><small>{{ municipality.fr_desk_delivery_time }}</small></span>
          <span class="d-block fs-6"><small>{{ municipality.ar_desk_delivery_time }}</small></span>
        </td>
        <!-- province actions -->
        <td class="text-end">
          <!-- view province -->
          <button class="btn btn-white btn-icon" form="view_form_{{ municipality.id }}">
            <i class="bi-pencil" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
          </button>

          <!-- delete province -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ municipality.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
        </td>
      </tr>
      <!-- end products list -->

      <!-- municipality actions modals -->
      <!-- edit product modal -->
      <div id="edit_modal_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-close">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <div class="text-center mb-7">
                  <h2>{{ product.en_title }}</h2>
                </div>
                <form action="{% url 'manage-flash' 'edit_product' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" value="{{ product.id }}" name="product_id">

                  <div class="row mb-4">
                    <span class="divider-center mb-2">Main Informations</span>

                    <!-- product english title -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">english title</span>
                      <input type="text" class="form-control" name="{{ flash_form.en_title.name }}" value="{{ product.en_title }}" required>
                      <span class="invalid-feedback text-center">required field.</span>
                    </div>
                    <!-- end product english title -->

                    <!-- product french title -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">french title</span>
                      <input type="text" class="form-control" name="{{ flash_form.fr_title.name }}" value="{{ product.fr_title }}">
                    </div>
                    <!-- end product french title -->

                    <!-- product arabic title -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">arabic title</span>
                      <input type="text" class="form-control" name="{{ flash_form.ar_title.name }}" value="{{ product.ar_title }}" dir="rtl">
                    </div>
                    <!-- end product arabic title -->

                    <span class="divider-center mb-2">Presentation photo</span>

                    <!-- product presentation photo -->
                    <div class="mb-3 mt-3">
                      <div class="col text-center">
                        <label class="avatar avatar-xxl avatar-uploader" for="product_presentation_photo_uploader_{{ product.id }}" style="height: 70%;width: 70%;">
                          <img id="product_presentation_photo_{{ product.id }}" class="avatar-img" src="{% get_media_prefix %}{{ product.image }}" style="width: 70%;">
                          <input type="file" class="js-file-attach avatar-uploader-input" name="{{ flash_form.image.name }}" id="product_presentation_photo_uploader_{{ product.id }}" data-hs-file-attach-options='{
                              "textTarget": "#product_presentation_photo_{{ product.id }}",
                              "mode": "image",
                              "targetAttr": "src",
                              "allowTypes": [".png", ".jpeg", ".jpg"]
                              }'>
                        </label>
                      </div>
                    </div>
                    <!-- end product presentation photo -->

                    <span class="divider-center mb-2">Variant & Option</span>

                    <!-- product english variant -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">english variant</span>
                      <input type="text" class="form-control" name="{{ flash_form.en_spec.name }}" value="{{ product.en_spec }}">
                    </div>
                    <!-- end product english variant -->

                    <!-- product french variant -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">french variant</span>
                      <input type="text" class="form-control" name="{{ flash_form.fr_spec.name }}" value="{{ product.fr_spec }}">
                    </div>
                    <!-- end product french variant -->

                    <!-- product arabic variant -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">arabic variant</span>
                      <input type="text" class="form-control" name="{{ flash_form.ar_spec.name }}" value="{{ product.ar_spec }}" dir="rtl">
                    </div>
                    <!-- end product arabic variant -->

                    <!-- product english option -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">english option</span>
                      <input type="text" class="form-control" name="{{ flash_form.en_value.name }}" value="{{ product.en_value }}">
                    </div>
                    <!-- end product english option -->

                    <!-- product french option -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">french option</span>
                      <input type="text" class="form-control" name="{{ flash_form.fr_value.name }}" value="{{ product.fr_value }}">
                    </div>
                    <!-- end product french option -->

                    <!-- product arabic option -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">arabic option</span>
                      <input type="text" class="form-control" name="{{ flash_form.ar_value.name }}" value="{{ product.ar_value }}" dir="rtl">
                    </div>
                    <!-- end product arabic option -->

                    <span class="divider-center mb-2">Sell Info</span>

                    <!-- product quantity -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">quantity</span>
                      <input type="number" class="form-control" name="quantity" value="{{ product.quantity }}">
                    </div>
                    <!-- end product quantity -->

                    <!-- product cost -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">cost</span>
                      <input type="number" class="form-control" value="{{ product.cost }}" readonly>
                      <span class="input-group-text" style="width: 20%;">DZD</span>
                      <span class="invalid-feedback text-center">required field.</span>
                    </div>
                    <!-- end product cost -->

                    <!-- product price -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">price</span>
                      <input type="number" class="form-control" value="{{ product.price }}" readonly>
                      <span class="input-group-text" style="width: 20%;">DZD</span>
                      <span class="invalid-feedback text-center">required field.</span>
                    </div>
                    <!-- end product price -->

                    <!-- product discount -->
                    <div class="input-group mb-2">
                      <span class="input-group-text" style="width: 25%;">discount</span>
                      <input type="number" class="form-control" name="{{ flash_form.discount.name }}" value="{{ product.discount }}">
                      <span class="input-group-text" style="width: 20%;">DZD</span>
                    </div>
                    <!-- end product discount -->

                    <!-- activate -->
                    <div class="input-group mt-4">
                      <div class="form-check form-switch mb-4">
                        {% if product.is_activated %}
                        <input type="checkbox" name="{{ flash_form.is_activated.name }}" class="form-check-input" checked>
                        {% else %}
                        <input type="checkbox" name="{{ flash_form.is_activated.name }}" class="form-check-input">
                        {% endif %}
                      </div>
                    </div>
                    <!-- end activate -->

                    <!-- offer valid until -->
                    <div class="form-group mb-4">
                      {% if product.valid_until %}
                      <div id="date_pickr_{{ product.id }}" class="js-flatpickr flatpickr-custom input-group"
                           data-hs-flatpickr-options='{
                           "appendTo": "#date_pickr_{{ product.id }}",
                           "enableTime": true,
                           "dateFormat": "Y-m-d H:i",
                           "time_24hr": true,
                           "minDate": "today",
                           "defaultDate": "{{ product.valid_until|date:"Y-m-d" }} {{ product.valid_until|time:"H:i" }}",
                           "wrap": true
                           }'>

                        <div class="input-group-prepend input-group-text" style="width: 25%;">
                          Expiration
                        </div>
                        <input type="datetime-local" class="flatpickr-custom-form-control form-control" name="{{ flash_form.valid_until.name }}" placeholder="select a date or leave empty" data-input>
                      </div>
                      {% else %}
                      <div id="empty_date_pickr_{{ product.id }}" class="js-flatpickr flatpickr-custom input-group"
                           data-hs-flatpickr-options='{
                           "appendTo": "#empty_date_pickr_{{ product.id }}",
                           "enableTime": true,
                           "dateFormat": "Y-m-d H:i",
                           "time_24hr": true,
                           "minDate": "today",
                           "defaultDate": "today",
                           "wrap": true
                           }'>

                        <div class="input-group-prepend input-group-text" style="width: 25%;">
                          Expiration
                        </div>
                        <input type="datetime-local" class="flatpickr-custom-form-control form-control" name="{{ flash_form.valid_until.name }}" placeholder="select a date or leave empty" data-input>
                      </div>
                      {% endif %}
                    </div>
                    <!-- end offer valid until -->

                  </div>
                  <!-- submit -->
                  <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
                  </div>
                  <!-- end submit -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- delete municipality modal -->
      <div id="delete_modal_{{ municipality.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>click yes to delete {{ municipality.en_name }}.</p>
            </div>
            <div class="modal-footer" style="align-self: center;">
              <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" form="delete_form_{{ municipality.id }}">Yes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end municipality actions modals -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="12">12</option>
              <option value="14" selected>14</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty"></span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        No municipalities .
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all municipalities  -->
{% endblock %}