{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  {% block title %} {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'landing_page/tovana_img/icon.png' %}">


  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'landing_page/css/vendor.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'landing_page/vendor/bootstrap-icons/font/bootstrap-icons.css' %}"/>

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'landing_page/css/theme.min.v=1.0.css' %}">
</head>

<body>
  <!-------------  Navbar  ------------>
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light sticky-top bg-white">
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Tovana Logo -->
        <a class="navbar-brand" href="{% url 'home' %}" aria-label="Front">
          <img class="navbar-brand-logo" src="{% static 'landing_page/tovana_img/logo.png' %}" alt="Logo">
        </a>
        <!-- End Tovana Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-dropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Titles -->
        <div class="collapse navbar-collapse" id="navbar-dropdown">
          <ul class="navbar-nav">
            <!-- navbar title Cart & Account -->
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="btn btn-ghost-secondary btn-sm btn-icon" href="{% url 'router' %}">
                <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
              </a>
              {% else %}
              <a class="btn btn-ghost-secondary btn-sm btn-icon" type="button" data-bs-toggle="modal" data-bs-target="#account_modal">
                <i class="bi bi-person" style="font-size: 1.5rem;"></i>
              </a>
              {% endif %}

              <button type="button" class="btn btn-ghost-secondary btn-sm btn-icon" data-bs-toggle="offcanvas" data-bs-target="#shopping_cart" aria-controls="shopping_cart">
                <i class="bi bi-bag" style="font-size: 1.3rem;"></i>
                <span class="position-absolute top-40 start-100 translate-middle badge rounded-pill bg-secondary">1</span>
              </button>
            </li>
          </ul>
        </div>
        <!-- End Titles -->
      </nav>
    </div>
  </header>
  <!-------------  End Navbar  -------->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

    {% if signup_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="signup_form_errors">
        {% for key, value in signup_form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if login_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="login_form_errors">
        {% for key, value in login_form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- hero -->
    <div class="overflow-hidden">
      <div class="container content-space-t-2 content-space-b-3">
        <div class="row justify-content-lg-between align-items-md-center">
          <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
            <!-- Heading -->
            <div class="mb-5">
              <h1 class="display-4 mb-3">Unlock the secrets of your DNA and health</h1>
              <p class="lead">Gain insights about your predispositions to diseases or conditions, your reproductive health, the best medications that work you, lifestyle traits and more!</p>
            </div>
            <!-- End Heading -->

            <div class="d-grid d-sm-flex gap-3">
              <a class="btn btn-primary btn-transition" href="#pricing_list">Get Started</a>
              <a class="btn btn-link" href="#steps">Learn more <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Col -->

          <div class="col-md-6">
            <div class="position-relative">
              <img class="img-fluid rounded-2" src="{% get_media_prefix %}{{ content.intro_image }}" alt="intro_image" style="width: 100%;">
              <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>

    <!-- Pricing -->
    <div class="overflow-hidden content-space-t-2">
      <div class="container">
        <!-- Heading -->
        <div class="w-md-75 text-center mx-md-auto mb-9">
          <div class="h3">DNA UNLOCKED Genome testing</div>
          <p></p>
        </div>
        <!-- End Heading -->

        <div class="row mb-7">
          <!-- first item -->
          <div class="col-md mb-3 mb-md-0">
            <div class="position-relative">
              <!-- Card -->
              <div class="card h-100 zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semibold">$</span>
                    <span id="pricingCount2" class="fs-1 text-dark fw-semibold">950</span>
                  </div>

                  <h3 class="card-title">DNA UNLOCKED - Comprehensive</h3>
                  <p class="card-text">Whole Exome Sequencing</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary">
                    <li class="list-checked-item">Next Generation Sequencing of your entire exome (~22,000 genes) plus other non-coding regions of your genome in a CLIA regulated lab.</li>
                    <li class="list-checked-item">Navigate and explore your own genome using our unique user-friendly report.</li>
                    <li class="list-checked-item">Gain valuable insights from your genome and make better health decisions to live a healthier, longer life.</li>
                  </ul>
                  <!-- End List Checked -->
                </div>

                <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <button type="button" class="btn btn-primary">Shop now</button>
                  </div>
                  <p class="card-text text-muted small">Subscription required</p>
                </div>
              </div>
              <!-- End Card -->

              <!-- SVG Elements -->
              <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 260 260" xml:space="preserve">
                  <circle fill="#ffc107" cx="130" cy="130" r="130"/>
                </svg>
              </figure>

              <figure class="position-absolute top-0 end-0 mt-n7 me-n7" style="width: 7rem;">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 260 260" xml:space="preserve">
                  <circle fill="#ffc107" cx="130" cy="130" r="130"/>
                </svg>
              </figure>
              <!-- End SVG Elements -->
            </div>
          </div>
          <!-- end first item -->

          <!-- second item -->
          <div class="col-md mb-3 mb-md-0">
            <!-- Card -->
            <div class="card h-100 shadow-none zi-1">
              <div class="card-header text-center">
                <div class="mb-2">
                  <span class="fs-5 align-top text-dark fw-semibold">$</span>
                  <span id="pricingCount3" class="fs-1 text-dark fw-semibold">189</span>
                </div>

                <h3 class="card-title">DNA UNLOCKED - Wellness</h3>
                <p class="card-text">Nutrition, Fitness & Ancestry</p>
              </div>

              <div class="card-body d-flex justify-content-center py-0">
                <!-- List Checked -->
                <ul class="list-checked list-checked-primary">
                  <li class="list-checked-item">Microarray testing to look at over 700,000 data points throughout the genome (both exonic and intronic regions).</li>
                  <li class="list-checked-item">View and explore your results with our user-friendly Nutrition & Fitness Genome Report.</li>
                  <li class="list-checked-item">Gain valuable insights from your genome and share with your provider or fitness coach for a more tailored approach to your diet and fitness.</li>
                  <li class="list-checked-item">Get your ancestry report from our partnering service (FTDNA).</li>
                </ul>
                <!-- End List Checked -->
              </div>

              <div class="card-footer text-center">
                <div class="d-grid mb-2">
                  <button type="button" class="btn btn-ghost-primary">Shop now</button>
                </div>
                <p class="card-text text-muted small">Subscription required</p>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- end second item -->
        </div>
        <!-- End Row -->
      </div>
    </div>

    <div class="w-lg-75 mx-lg-auto">
      <div class="d-block d-sm-flex align-items-sm-center">
        <div class="flex-grow-1 ms-4">
          <h4>Post-test physician consultation (Included with your order).</h4>
          <p class="mb-0">You will receive an email to register with <a class="link" href="https://www.elicity.health/">elicity.health</a> to start the telehealth process. When your DNA UNLOCKED® report is ready, your elicity healthcare provider will contact you for a telehealth consultation to review your results with you and answer your questions.</p>
        </div>
      </div>
    </div>

    <div class="container content-space-2 content-space-lg-1">

      <div class="row gx-0 align-items-lg-center mb-7 mb-md-10">
        <div class="col-lg-7">
          <!-- Card -->
          <div class="card card-lg text-center zi-2" data-aos="fade-up">
            <div class="card-header pb-0">
            </div>

            <div class="card-body">
              <ul class="list-pointer list-pointer-soft-bg-light list-pointer-lg">
                <li class="list-pointer-item">
                  <h4 class="text-black mb-1">DNA UNLOCKED® test review</h4>
                  <p class="text-black-70 mb-0">authorization when medically appropriate, and telehealth consultation to review your results with you, are available through an independent network of experienced healthcare providers from <a class="link" href="https://www.elicity.health/">elicity.health</a>. ($110 value)</p>
                </li>

                <li class="list-pointer-item">
                  <h4 class="text-black mb-1">Test authorization (Included with your order).</h4>
                  <p class="text-black-70 mb-0">If you do not have a healthcare provider to authorize your DNA UNLOCKED® test, an independent elicity telehealth provider will review and authorize your test.</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-lg-5">
          <div class="card card-lg bg-dark ms-md-n2" style="background: #086aad;">
            <div class="card-body">
              <img class="avatar avatar-lg avatar-4x3" src="{% static 'landing_page/tovana_img/telehealth_product.png' %}" alt="Image Description" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Pricing -->

    <!-- Steps -->
    <div class="overflow-hidden">
      <div id="steps" class="container content-space-b-2">
        <div class="position-relative">
          <div class="bg-white text-center rounded-2 p-4 p-md-7">
            <!-- Title -->
            <figure class="w-md-80 w-lg-50 mx-md-auto mb-8">
              <figcaption class="blockquote-footer">
                {{ content.how_it_works_title }}
                <span class="blockquote-footer-source">{{ content.how_it_works_sub_title }}</span>
              </figcaption>
            </figure>
            <!-- End Title -->

            <!-- Steps -->
            <ul class="step step-timeline-lg">
              {% for how_it_works_step in how_it_works_steps %}
              <li class="step-item">
                <div class="step-content-wrapper">
                  <span class="step-icon step-icon-soft-primary">
                    <img class="step-avatar-img" src="{% get_media_prefix %}{{ how_it_works_step.image }}" alt="Image Description">
                  </span>
                  <div class="step-content">
                    <h4>{{ how_it_works_step.title }}</h4>
                    <p class="step-text">{{ how_it_works_step.content }}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <!-- End Steps -->
          </div>

          <div class="position-absolute bottom-0 start-0 w-100" style="max-width: 7rem;">
            <div class="mb-n7 ms-n7">
              <img class="img-fluid" src="{% get_media_prefix %}{{ content.how_it_works_image }}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Steps -->

    <!-- Pricing List -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div id="pricing_list" class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>DNA UNLOCKED Genome testing.</h2>
        <p></p>
      </div>
      <!-- End Heading -->

      <!-- Table -->
      <div class="table-responsive-lg w-lg-100 mx-lg-auto">
        <table class="table table-lg table-striped table-borderless table-nowrap table-vertical-border-striped">
          <thead class="table-text-center">
            <tr>
              <th scope="col" style="width: 40%;"></th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">DNA UNLOCKED - Wellness</span>
                <span class="d-block text-muted small">$189</span>
              </th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">DNA UNLOCKED - Comprehensive</span>
                <span class="d-block text-muted small">$950</span>
              </th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">Professional</span>
                <span class="d-block text-muted small">Custom</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="text-dark">Cross-platform UI toolkit</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">14-days free trial</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">No user limit</th>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Long-term support</th>
              <td></td>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Email support</th>
              <td></td>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Developer tools</th>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Removal of Front branding</th>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Active maintenance & support</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Data storage for 365 days</th>
              <td></td>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark"></th>
              <td class="table-text-center"><button type="button" class="btn btn-soft-dark btn-sm btn-transition">Choose </button></td>
              <td class="table-text-center"><button type="button" class="btn btn-soft-dark btn-sm btn-transition">Choose </button></td>
              <td class="table-text-center"><button type="button" class="btn btn-primary btn-sm btn-transition">Contact us</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Table -->
    </div>
    <!-- End Pricing List -->

    <!-- FAQ -->
    <div class="container content-space-b-2 position-relative">
  <!-- Title -->
  <div class="text-center">
    <figure class="w-md-80 w-lg-50 mx-md-auto mb-8">
      <figcaption class="blockquote-footer">
        DNA UNLOCKED® Explained
        <span class="blockquote-footer-source">Get answers to some common questions below. Have more questions? Go to our <a href="#"> FAQ page. </a> </span>
      </figcaption>
    </figure>
  </div>
  <!-- End Title -->

  <div class="accordion" id="home_page_accordion">
    {% for home_page_question in home_page_questions %}
    <div class="accordion-item">
      <div class="accordion-header" id="heading_{{home_page_question.id}}">
        <a class="accordion-button {% if not home_page_question.id == 1 %} collapsed {% endif %}" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{home_page_question.id}}" aria-expanded="true" aria-controls="collapse_{{home_page_question.id}}">
          {{ home_page_question.content }}
        </a>
      </div>
      <div id="collapse_{{home_page_question.id}}" class="accordion-collapse collapse {% if home_page_question.id == 1 %} show {% endif %}" aria-labelledby="heading_{{home_page_question.id}}" data-bs-parent="#home_page_accordion">
        <div class="accordion-body">
          {% for home_page_answer in home_page_question.answer.all %}
          {% if home_page_answer.title %}
          <strong>{{ home_page_answer.title }}</strong>
          {% endif %}
           {{ home_page_answer.content }}
          <br>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
    <!-- End FAQ -->

    <!-- Subscribe -->
    <div class="bg-light">
      <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <div class="row justify-content-lg-between">
            <!-- Heading -->
            <div class="mb-5">
              <span class="text-cap">Subscribe</span>
              <h2>Get the latest from TOVANA HEALTH</h2>
            </div>
            <!-- End Heading -->

            <form>
              <!-- Input Card -->
              <div class="input-card input-card-pill input-card-sm border mb-3">
                <div class="input-card-form">
                  <label for="subscribeForm" class="form-label visually-hidden">Enter email</label>
                  <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="Enter email" aria-label="Enter email">
                </div>
                <button type="button" class="btn btn-primary btn-lg rounded-pill">Subscribe</button>
              </div>
              <!-- End Input Card -->
            </form>

            <p class="small">You can unsubscribe at any time. Read our <a href="#">privacy policy</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Subscribe -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="border-top">
    <div class="container">
      <div class="row justify-content-lg-between content-space-t-2 content-space-b-lg-2">
        <div class="col-lg-3 mb-5">
          <div class="d-flex align-items-start flex-column h-100">
            <!-- Logo -->
            <a class="w-100 mb-3 mb-lg-auto" href="{% url 'home' %}" aria-label="Front">
              <img class="brand" src="{% static 'landing_page/tovana_img/logo.png' %}" alt="Logo">
            </a>
            <!-- End Logo -->

            <p class="text-muted small mb-0">&copy; 2017 2023 TOVANA HEALTH.  All rights reserved. </p>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 ms-lg-auto mb-5 mb-lg-0">
          <h5>Account</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">Placing an order</a></li>
            <li><a class="link-sm text-secondary" href="#">Shipping options</a></li>
            <li><a class="link-sm text-secondary" href="#">Tracking a package</a></li>
            <li><a class="link-sm text-secondary" href="#">Country availability</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
          <h5>Company</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">Financing</a></li>
            <li><a class="link-sm text-secondary" href="#">Recycling</a></li>
            <li><a class="link-sm text-secondary" href="#">Return policy</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <h5 class="mb-3">Resources</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> Help</a></li>
            <li><a class="link-sm link-secondary" href="#"><i class="bi-person-circle me-1"></i> Your Account</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <hr class="my-0">

      <div class="row align-items-sm-center content-space-1">
        <div class="col-sm mb-4 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- List -->
          <ul class="list-inline list-separator">
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="#">Privacy &amp; policy</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="#">Terms &amp; conditions</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="#">V 0.05.15</a>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-------------  Modals  ------------>
  <!-- Account Modal -->
  {% block account %} {% endblock %}

  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{"offsetTop": 700,"position": {"init": {"right": "2rem"},"show": {"bottom": "2rem"},"hide": {"bottom": "-2rem"}}}'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- Shopping cart -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="shopping_cart">
    <div class="offcanvas-header justify-content-end border-0 pb-0">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <div class="text-center">
        <div class="mb-5">
          <img class="avatar avatar-xl avatar-4x3" src="{% static 'landing_page/svg/illustrations/oc-empty-cart.svg' %}" alt="SVG">
        </div>

        <div class="mb-5">
          <h3>Your cart is currently empty</h3>
          <p>Before proceed to checkout you must add some products to your shopping cart.</p>
        </div>

        <button class="btn btn-primary btn-transition rounded-pill px-6" href="#" disabled>Checkout</button>
      </div>
    </div>
  </div>
  <!-------------  End Modals  -------->

  <!-- JS Implementing Plugins -->
  <script src="{% static 'landing_page/js/vendor.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'landing_page/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {

      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF SWIPER
      // =======================================================
      var autoplay = new Swiper('.js-swiper-autoplay', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 53000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.js-swiper-autoplay-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.js-swiper-autoplay-button-next',
        prevEl: '.js-swiper-autoplay-button-prev',
      },
    });


      // INITIALIZATION OF COUNTDOWN
      // =======================================================
      const oneYearFromNow = new Date()

      document.querySelectorAll('.js-countdown').forEach(item => {
        const days = item.querySelector('.js-cd-days'),
          hours = item.querySelector('.js-cd-hours'),
          minutes = item.querySelector('.js-cd-minutes'),
          seconds = item.querySelector('.js-cd-seconds')

        countdown(oneYearFromNow.setFullYear(
          oneYearFromNow.getFullYear() + 1),
          ts => {
            days.innerHTML = ts.days
            hours.innerHTML = ts.hours
            minutes.innerHTML = ts.minutes
            seconds.innerHTML = ts.seconds
          },
          countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS
        )
      })
    })()
  </script>
</body>
</html>