{% extends "en-us/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Home Page </title>{% endblock %}

<!-- content block -->
{% block content %}
{% endblock %}

<!-- modals block -->
{% block modals %}
<!-- track my order modal -->
<div class="modal fade" id="track_my_order_modal" tabindex="-1" aria-labelledby="track_my_order_modal_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="track_my_order_modal_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class=" w-100 ">

          <div class="mb-4">
            <h1 class="mt-3 mb-0 h4">Order tracking</h1>
            <small>Put your order reference </small>
          </div>
          <form>
            <div class="row g-3">
              <div class="col">
                <label for="order_code" class="visually-hidden">Order Code</label>
                <input type="text" class="form-control" id="order_code"
                       placeholder="#6F4HU8I" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Check</button>
              </div>
            </div>
          </form>
        </div>
        <div class="my-10 text-center">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- change language modal -->
<div class="modal fade" id="change_language_modal" tabindex="-1" aria-labelledby="change_language_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="change_language_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class=" w-100 ">
          <div class="text-center text-md-center fs-5 mb-5">
            Pour le français <button form="french_language_form" class="btn btn-ghost-info"> cliquez ici </button>
          </div>
          <div class="text-center text-md-center fs-5 mb-5" dir="rtl">
            للغة العربية <button form="arabic_language_form" class="btn btn-ghost-info"> اضغط هنا </button>
          </div>
        </div>

        <form action="{% url 'change-language' %}" id="french_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='fr-fr'>
          <input type="hidden" name="page" value='home-page'>
        </form>

        <form action="{% url 'change-language' %}" id="arabic_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='ar-dz'>
          <input type="hidden" name="page" value='home-page'>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- login modal -->
<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="login_modal_label">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-10">
            <div class="py-6">
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-8">
                  <input type="text" id="username" class="form-control form-control-lg" name="{{ login_form.username.name }}" maxlength="{{ login_form.username.field.max_length }}" placeholder="{{ login_form.username.label }}" required>
                </div>

                <div class="mb-8">
                  <input type="password" id="password" class="form-control form-control-lg" name="{{ login_form.password.name }}" maxlength="{{ login_form.password.field.max_length }}" placeholder="{{ login_form.password.label }}" required>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
              <div class="mt-4">
                <small>
                  You don't have an account ?
                  <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#register_modal">Register</a>
                  ,it's free.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="account_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-close">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="modal-body">
          <!-- Login -->
          <div id="login_modal_form">
            <!-- login title -->
            <div class="text-center mb-7">
              <h2>Sign in</h2>
            </div>
            <!-- end login title -->
            <form action="{% url 'login' %}" class="js-validate need-validate" novalidate method="post">
              {% csrf_token %}
              <!-- login email -->
              <div class="mb-3">
                <label class="form-label" for="login_modal_form_email">Your username</label>
                <input type="text" class="form-control form-control-lg" name="{{ login_form.username.name }}" id="login_modal_form_email" placeholder="{{ login_form.username.label }}" aria-label="{{ login_form.username.label }}" required>
                <span class="invalid-feedback">Please enter a valid username.</span>
              </div>
              <!-- end login email -->

              <!-- login password -->
              <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label" for="login_modal_form_password">Password</label>
                  <a class="js-animation-link form-label-link" href="javascript:;" data-hs-show-animation-options='{
                       "targetSelector": "#reset_password_modal_form",
                       "groupName": "idForm"
                     }'>Forgot Password?</a>
                </div>

                <input type="password" class="form-control form-control-lg" name="{{ login_form.password.name }}" id="login_modal_form_password" placeholder="{{ login_form.password.label }}" aria-label="8+ characters required" required minlength="8">
                <span class="invalid-feedback">Please enter a valid password.</span>
              </div>
              <!-- end login password -->

              <!-- submit -->
              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary form-control-lg">Sign in</button>
              </div>
              <!-- end submit -->

              <!-- toggle sign up -->
              <div class="d-grid gap-3 text-center">
                <span class="divider-center">OR</span>
                <!-- sign up toggle -->
                <p>Create new account
                  <a class="js-animation-link link" href="javascript:;" role="button" data-hs-show-animation-options='{
                  "targetSelector": "#signup_modal_form",
                  "groupName": "idForm"
                  }'>Sign up
                  </a>
                </p>
                <!-- end sign up toggle -->
              </div>
              <!-- end toggle sign up -->
            </form>
          </div>
          <!-- End Login -->

          <!-- Reset Password -->
          <div id="reset_password_modal_form" style="display: none; opacity: 0;">
            <!-- reset password title -->
            <div class="text-center mb-7">
              <h2>Forgot password?</h2>
              <p>Enter the registering email address, and you'll receive instructions to reset your password.</p>
            </div>
            <!-- end reset password title -->
            <form class="js-validate need-validate" novalidate>
              <div class="mb-3">
                <!-- reset password email -->
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label" for="reset_password_modal_form_email" tabindex="0">Your email</label>

                  <a class="js-animation-link form-label-link" href="javascript:;" data-hs-show-animation-options='{
                         "targetSelector": "#login_modal_form",
                         "groupName": "idForm"
                       }'>
                    <i class="bi-chevron-left small"></i> Back to Sign in
                  </a>
                </div>

                <input type="email" class="form-control form-control-lg" name="email" id="reset_password_modal_form_email" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
                <!-- end reset password email -->
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary form-control-lg">Submit</button>
              </div>
            </form>
          </div>
          <!-- End Reset Password -->

          <!-- Sign Up -->
          <div id="signup_modal_form" style="display: none; opacity: 0;">
            <!-- sign up title  -->
            <div class="text-center mb-7">
              <h2>Sign up</h2>
              <p>Back to
                <a class="js-animation-link link" href="javascript:;" role="button" data-hs-show-animation-options='{
                         "targetSelector": "#login_modal_form",
                         "groupName": "idForm"
                       }'>Sign in</a>
              </p>
            </div>
            <!-- end sign up title -->
            <form action="#" class="js-validate need-validate" novalidate method="post">
              {% csrf_token %}
              <!-- sign up first name -->
              <div class="mb-3">
                <label class="form-label" for="signup_modal_form_first_name">First name</label>
                <input type="text" class="form-control form-control-lg" name="{{ signup_form.first_name.name }}" id="signup_modal_form_first_name" placeholder="John" required>
                <span class="invalid-feedback">Please enter your first name.</span>
              </div>
              <!-- end sign up first name -->

              <!-- sign up last name -->
              <div class="mb-3">
                <label class="form-label" for="signup_modal_form_last_name">Last name</label>
                <input type="text" class="form-control form-control-lg" name="{{ signup_form.last_name.name }}" id="signup_modal_form_last_name" placeholder="Doe" required>
                <span class="invalid-feedback">Please enter your last name.</span>
              </div>
              <!-- end sign up last name -->

              <!-- sign up gender -->
              <div class="mb-3">
                <label class="form-label" for="signup_modal_form_select">Gender</label>
                <select id="signup_modal_form_select" name="{{ signup_form.gender.name }}" class="form-control" required>
                  <option></option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <span class="invalid-feedback">Please select your gender.</span>
              </div>
              <!-- end sign up gender -->

              <!-- sign up email -->
              <div class="mb-3">
                <label class="form-label" for="signup_modal_form_email">Your email</label>
                <input type="email" class="form-control form-control-lg" name="{{ signup_form.email.name }}" id="signup_modal_form_email" placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>
              <!-- end sign up email -->

              <!-- sign up password -->
              <div class="mb-3">
                <label class="form-label" for="signup_modal_form_password">Password</label>
                <input type="password" class="form-control form-control-lg" name="{{ signup_form.password1.name }}" id="signup_modal_form_password" placeholder="8+ characters required" aria-label="8+ characters required" required>
                <span class="invalid-feedback">Your password is invalid. Please try again.</span>
              </div>
              <!-- end sign up password -->

              <!-- sign up confirm password -->
              <div class="mb-3" data-hs-validation-validate-class>
                <label class="form-label" for="signup_modal_form_confirm_password">Confirm password</label>
                <input type="password" class="form-control form-control-lg" name="{{ signup_form.password2.name }}" id="signup_modal_form_confirm_password" placeholder="8+ characters required" aria-label="8+ characters required" required data-hs-validation-equal-field="#signup_modal_form_password">
                <span class="invalid-feedback">Password does not match.</span>
              </div>
              <!-- end sign up confirm password -->

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary form-control-lg">Sign up</button>
              </div>
            </form>
          </div>
          <!-- End Sign Up -->
        </div>
        <!-- End Body -->

        <!-- Footer -->
        <div class="modal-footer d-block text-center py-sm-5">
          <div class="text-center">
            <p class="small mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a></p>
          </div>
        </div>
        <!-- End Footer -->
      </div>
    </div>
  </div>

{% endblock %}