{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Admin Page | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">home</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Home</h1>
  </div>

  <div class="col-sm-auto">
    <a class="btn btn-light" href="{% url 'home-page' %}">
      <i class="bi-eye-fill me-1"></i> home page
    </a>
  </div>
</div>
{% endblock %}

<!-- showcase content -->
{% block content %}
<div class="row justify-content-lg-center">
  <div class="row row-cols-1 row-cols-md-2">
    <!-- all products showcase -->
    <div class="col mb-3">
      <div class="card card-hover-shadow text-center">
        <div class="card-body">
          <div class="d-flex justify-content-center mb-2">
            <img class="avatar avatar-lg" src="{% static 'management/img/products.png' %}">
          </div>

          <div class="mb-4">
            <h2 class="mb-1">All Products Grid</h2>

            <span class="fs-5">You have ({{ all_products.count }}) registred products</span>
          </div>

          <small class="card-subtitle">Last added products</small>

          <div class="d-flex justify-content-center">
            <div class="avatar-group avatar-group-sm avatar-circle card-avatar-group">
              {% for product in published_products.all %}
              <a class="avatar" href="{% url 'product-page' 'regular_product' %}?variant_id={{ product.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.en_title }}">
                <img class="avatar-img" src="{% get_media_prefix %}{{ product.album.all.0.image }}">
              </a>
              {% endfor %}
            </div>
          </div>

          <a class="stretched-link" href="products#"></a>
        </div>

        <div class="card-footer">
          <div class="row col-divider">
            <div class="col">
              <span class="h4">{{ published_products.count }}</span>
              <span class="d-block fs-5">Published</span>
            </div>

            <div class="col">
              <span class="h4">{{ unpublished_products.count }}</span>
              <span class="d-block fs-5">Unpublished</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- flash showcase -->
    <div class="col mb-3">
      <div class="card card-hover-shadow text-center">
        <div class="card-body">
          <div class="d-flex justify-content-center mb-2">
            <img class="avatar avatar-lg" src="{% static 'management/img/flash.png' %}">
          </div>

          <div class="mb-4">
            <h2 class="mb-1">Flash Sales</h2>

            <span class="fs-5">You have ({{ all_flash_products.count }}) registred products</span>
          </div>

          <small class="card-subtitle">Last added products</small>

          <div class="d-flex justify-content-center">
            <div class="avatar-group avatar-group-sm avatar-circle card-avatar-group">
              {% for product in all_flash_products.all %}
              <a class="avatar" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.en_title }}{{ product.en_spec }}{{ product.en_value }}">
                <img class="avatar-img" src="{% get_media_prefix %}{{ product.image }}">
              </a>
              {% endfor %}
            </div>
          </div>

          <a class="stretched-link" href="flash#"></a>
        </div>

        <div class="card-footer">
          <div class="row col-divider">
            <div class="col">
              <span class="h4">{{ published_flash_products.count }}</span>
              <span class="d-block fs-5">Published</span>
            </div>

            <div class="col">
              <span class="h4">{{ unpublished_flash_products.count }}</span>
              <span class="d-block fs-5">Available</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

