{% extends "en-us/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Order Page </title>{% endblock %}

<!-- content -->
{% block content %}
<!-- section-->
<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h1 class="fw-bold mb-0">Checkout</h1>
            <p class="mb-0">Lot of gifts and discounts just <a href="shop-checkout.html#!">Sign up</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col">
          <h5 class="fw-bold mb-0"># {{ selected_order.ref }}</h5>
          <p class="mb-0"> Client name : {{ selected_order.client_name }} </p><br>
          <p class="mb-0"> Client phone : {{ selected_order.client_phone }} </p><br>
          <p class="mb-0"> Shipping to  : {{ selected_order.municipality.province.en_name }} / {{ selected_order.municipality.en_name }} </p><br>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- navigation modals block -->
{% block navigation_modals %}
<!-- track my order modal -->
<div class="modal fade" id="track_my_order_modal" tabindex="-1" aria-labelledby="track_my_order_modal_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="track_my_order_modal_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class=" w-100 ">

          <div class="mb-4">
            <h1 class="mt-3 mb-0 h4">Order tracking</h1>
            <small>Put your order reference </small>
          </div>
          <form>
            <div class="row g-3">
              <div class="col">
                <label for="order_code" class="visually-hidden">Order Code</label>
                <input type="text" class="form-control" id="order_code"
                       placeholder="#6F4HU8I" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-danger">Check</button>
              </div>
            </div>
          </form>
        </div>
        <div class="my-10 text-center">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- change language modal -->
<div class="modal fade" id="change_language_modal" tabindex="-1" aria-labelledby="change_language_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="change_language_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class=" w-100 ">
          <div class="text-center text-md-center fs-5 mb-5">
            Pour le français <button form="french_language_form" class="btn btn-ghost-info"> cliquez ici </button>
          </div>
          <div class="text-center text-md-center fs-5 mb-5" dir="rtl">
            للغة العربية <button form="arabic_language_form" class="btn btn-ghost-info"> اضغط هنا </button>
          </div>
        </div>

        <form action="{% url 'change-language' %}" id="french_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='fr-fr'>
          <input type="hidden" name="page" value='home-page'>
        </form>

        <form action="{% url 'change-language' %}" id="arabic_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='ar-dz'>
          <input type="hidden" name="page" value='home-page'>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- new address modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal body -->
      <div class="modal-body p-6">
        <div class="d-flex justify-content-between mb-5">
          <!-- heading -->
          <div>
            <h5 class="h6 mb-1" id="addAddressModalLabel">New Shipping Address</h5>
            <p class="small mb-0">Add new shipping address for your order delivery.</p>
          </div>
          <div>
            <!-- button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <!-- row -->
        <div class="row g-3">
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" required="">
          </div>
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required="">
          </div>
          <!-- col -->
          <div class="col-12">

            <input type="text" class="form-control" placeholder="Address Line 1">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Address Line 2">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="City">
          </div>
          <div class="col-12">
            <!-- button -->
            <select class="form-select">
              <option selected=""> India</option>
              <option value="1">UK</option>
              <option value="2">USA</option>
              <option value="3">UAE</option>
            </select>
          </div>
          <div class="col-12">
            <!-- button -->
            <select class="form-select">
              <option selected="">Gujarat</option>
              <option value="1">Northern Ireland</option>
              <option value="2"> Alaska</option>
              <option value="3">Abu Dhabi</option>
            </select>
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Zip Code">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Business Name">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <!-- label -->
              <label class="form-check-label" for="flexCheckDefault">
                Set as Default
              </label>
            </div>
          </div>
          <!-- button -->
          <div class="col-12 text-end">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button">Save Address</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}