{% extends "en-us/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Order Page </title>{% endblock %}

<!-- content -->
{% block content %}
<!-- section-->
<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h1 class="fw-bold mb-0">Checkout</h1>
            <p class="mb-0">This order will get you {{ selected_order.points }} points.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <!-- checkout info -->
        <div class="col-lg-7 col-md-12">
          <form action="{% url 'order-page' 'place_order' %}" id="order_form" class="needs-validation" novalidate method="post">
            {% csrf_token %}
            <div class="mb-4">
              <div class="row g-3">
                <div class="col-12">
                  {% if selected_order.client_name %}
                  <input type="text" class="form-control" name="full_name" value="{{ selected_order.client_name }}" placeholder="Full name" required hx-get="{% url 'order-page' 'load_client_name' %}" hx-trigger="load, change">
                  {% elif user.client_name %}
                  <input type="text" class="form-control" name="full_name" value="{{ user.client_name }}" placeholder="Full name" required hx-get="{% url 'order-page' 'load_client_name' %}" hx-trigger="load, change">
                  {% else %}
                  <input type="text" class="form-control" name="full_name" required hx-get="{% url 'order-page' 'load_client_name' %}" hx-trigger="change">
                  {% endif %}
                  <span class="invalid-feedback text-start">enter your name please.</span>
                </div>

                <div class="col-12">
                  {% if selected_order.client_phone %}
                  <input class="form-control" type="tel" name="phone" placeholder="Phone number" value="{{ selected_order.client_phone }}" required hx-get="{% url 'order-page' 'load_client_phone' %}" hx-trigger="load delay:1s, change">
                  {% elif user.phone_number %}
                  <input class="form-control" type="tel" name="phone" placeholder="Phone number" value="{{ user.phone_number }}" required hx-get="{% url 'order-page' 'load_client_phone' %}" hx-trigger="load delay:1s, change">
                  {% else %}
                  <input class="form-control" type="tel" name="phone" placeholder="Phone number" required hx-get="{% url 'order-page' 'load_client_phone' %}" hx-trigger="change">
                  {% endif %}
                  <span class="invalid-feedback text-start">enter your phone number please.</span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end">
              {% if user.delivery_addresses.all.count %}
              <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddressModal">Add a new address </a>
              {% else %}
              <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddressModal">Create an address </a>
              {% endif %}
            </div>

            <div class="mt-5">
              <div class="row">
                {% for address in user.delivery_addresses.all %}
                <div class="col-lg-6 col-12 mb-4">
                  <div class="card card-body p-6 ">
                    <div class="form-check mb-4">
                      {% if address.default %}
                      <input class="form-check-input" type="radio" value="{{ address.id }}" name="address_id" hx-get="{% url 'order-page' 'load_summary' %}" hx-trigger="load delay:3s, change" hx-target="#total_summary" checked>
                      {% else %}
                      <input class="form-check-input" type="radio" value="{{ address.id }}" name="address_id" hx-get="{% url 'order-page' 'load_summary' %}" hx-trigger="change" hx-target="#total_summary">
                      {% endif %}
                      <label class="form-check-label text-dark">
                        {{ address.title }}
                      </label>
                      {% if address.default %}
                      <span class="badge bg-danger">Default</span>
                      {% endif %}
                    </div>

                    <address>
                      <strong>{{ address.municipality.province.en_name }} {{ address.municipality.en_name }}</strong> <br>
                      {% if address.delivery_type == 'HOME' %}
                      Delivery to home, <br>
                      {% endif %}
                      {% if address.delivery_type == 'DESK' %}
                      Delivery to desk, <br>
                      {% endif %}
                    </address>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </form>
        </div>

        <!-- checkout summary -->
        <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
          <div class="mt-4 mt-lg-0">
            <div class="card shadow-sm">

              <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>

              <ul class="list-group list-group-flush">
                {% for product in selected_order.selected_products.all %}
                <li class="list-group-item px-4 py-3">
                  <div class="row align-items-center">
                    <div class="col-2 col-md-2">
                      <img src="{% get_media_prefix %}{{ product.image }}" class="img-fluid"></div>
                    <div class="col-5 col-md-5">
                      <h6 class="mb-0">{{ product.en_tite }}</h6>
                      <span><small class="text-muted">{{ product.en_detail }}</small></span>
                    </div>
                    <div class="col-2 col-md-2 text-center text-muted">
                      <span>{{ product.quantity }}</span>
                    </div>
                    <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                      <span class="fw-bold">{{ product.price|floatformat:"0g" }} <small>DZD</small></span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>

                <div id="total_summary">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4 py-3" >
                      <div class="d-flex align-items-center justify-content-between   mb-2">
                        <div>Item Subtotal</div>
                        <div class="fw-bold"> {{ selected_order.price|floatformat:"0g" }} <small>DZD</small></div>
                      </div>

                      {% if selected_order.coupon %}
                      {% if selected_order.coupon.is_subtractive %}
                      <div class="d-flex align-items-center justify-content-between   mb-2">
                        <div>Discount</div>
                        <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>DZD</small></div>
                      </div>
                      {% else %}
                      <div class="d-flex align-items-center justify-content-between   mb-2">
                        <div>Discount</div>
                        <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>%</small></div>
                      </div>
                      {% endif %}
                      {% endif %}
                    </li>

                    <li class="list-group-item px-4 py-3">
                      <div class="d-flex align-items-center justify-content-between fw-bold">
                        <div> Total</div><div>{{ selected_order.total_price|floatformat:"0g" }} <small>DZD</small></div>
                      </div>
                    </li>
                  </ul>
                </div>


              <div class="px-4 py-4 d-grid">
                <button class="btn btn-primary btn-lg justify-content-between align-items-center" form="order_form">
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- navigation modals block -->
{% block navigation_modals %}
<!-- track my order modal -->
<div class="modal fade" id="track_my_order_modal" tabindex="-1" aria-labelledby="track_my_order_modal_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="track_my_order_modal_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class=" w-100 ">

          <div class="mb-4">
            <h1 class="mt-3 mb-0 h4">Order tracking</h1>
            <small>Put your order reference </small>
          </div>
          <form>
            <div class="row g-3">
              <div class="col">
                <label for="order_code" class="visually-hidden">Order Code</label>
                <input type="text" class="form-control" id="order_code"
                       placeholder="#6F4HU8I" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-danger">Check</button>
              </div>
            </div>
          </form>
        </div>
        <div class="my-10 text-center">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- change language modal -->
<div class="modal fade" id="change_language_modal" tabindex="-1" aria-labelledby="change_language_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="change_language_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class=" w-100 ">
          <div class="text-center text-md-center fs-5 mb-5">
            Pour le français <button form="french_language_form" class="btn btn-ghost-info"> cliquez ici </button>
          </div>
          <div class="text-center text-md-center fs-5 mb-5" dir="rtl">
            للغة العربية <button form="arabic_language_form" class="btn btn-ghost-info"> اضغط هنا </button>
          </div>
        </div>

        <form action="{% url 'change-language' %}" id="french_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='fr-fr'>
          <input type="hidden" name="page" value='home-page'>
        </form>

        <form action="{% url 'change-language' %}" id="arabic_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='ar-dz'>
          <input type="hidden" name="page" value='home-page'>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- login modal -->
<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="login_modal_label">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-10">
            <div class="py-6">
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-8">
                  <input type="text" id="username" class="form-control form-control-lg" name="{{ login_form.username.name }}" maxlength="{{ login_form.username.field.max_length }}" placeholder="{{ login_form.username.label }}" required>
                </div>

                <div class="mb-8">
                  <input type="password" id="password" class="form-control form-control-lg" name="{{ login_form.password.name }}" maxlength="{{ login_form.password.field.max_length }}" placeholder="{{ login_form.password.label }}" required>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
              <div class="mt-4">
                <small>
                  You don't have an account ?
                  <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#register_modal">Register</a>
                  ,it's free.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- register modal -->
<div class="modal fade" id="register_modal" tabindex="-1" aria-labelledby="register_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="register_modal_label">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-10">
            <div class="py-6">
              <form>
                <div class="mb-8">
                  <input type="text" class="form-control form-control-lg" placeholder="Username" required>
                </div>

                <div class="mb-8">
                  <input type="password" class="form-control form-control-lg" placeholder="Password" required>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
              <div class="mt-4">
                <small>
                  Already have an account ?
                  <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#login_modal">Login</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- new address modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal body -->
      <div class="modal-body p-6">
        <div class="d-flex justify-content-between mb-5">
          <!-- heading -->
          <div>
            <h5 class="h6 mb-1" id="addAddressModalLabel">New Delivery Address</h5>
            <p class="small mb-0">Add new shipping address for your order delivery.</p>
          </div>
          <div>
            <!-- button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <!-- row -->
        <div class="row g-3">
          <form action="{% url 'order-page' 'create_new_address' %}" class="needs-validation" novalidate method="post">
            {% csrf_token %}

            <div class="col-12 mb-4">
              <input type="text" class="form-control" name="title" placeholder="Home, Office, Etc..">
            </div>
            <div class="col-12 mb-4">
              <select class="form-select" name="delivery_type">
                <option value='HOME'>delivery to home</option>
                <option value='DESK'>delivery to desk</option>
              </select>
              <span class="invalid-feedback text-start">choose your province.</span>
            </div>
            <div class="col-12 mb-4">
              <select class="form-select" name="province_id" hx-get="{% url 'order-page' 'load_municipalities' %}" hx-trigger="change" hx-target="#municipalities" required>
                <option value="">Province</option>
                {% for province in provinces %}
                <option value='{{ province.id }}'>{{ province.en_name|title }}</option>
                {% endfor %}
              </select>
              <span class="invalid-feedback text-start">choose your province.</span>
            </div>
            <div class="col-12 mb-4" id="municipalities">
              <select class="form-select">
                <option value="">Municipality</option>
              </select>
            </div>
            <div class="col-12 mb-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="default" value="true">
                <!-- label -->
                <label class="form-check-label" >
                  Set as Default
                </label>
              </div>
            </div>
            <!-- button -->
            <div class="col-12 text-end">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit">Save Address</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}