<label class="form-label" for="sub_signup_username">Username</label>
<input type="text" class="form-control form-control-lg {{ feedback.status }}"
       name="{{ signup_form.username.name }}" id="sub_signup_username"
       {% if username %} value="{{ username }}" {% else %} placeholder="john.doe" {% endif %}
       hx-get="{% url 'signup' 'load_username' %}"
       hx-trigger="keyup delay:10s, change"
       hx-target="#signup_username_section"
       required>
<span class="invalid-feedback">
    <i class="fa-regular fa-circle-xmark"></i>
    {{ feedback.content }}
</span>
<span class="valid-feedback">
    <i class="fa-regular fa-circle-check"></i>
    {{ feedback.content }}
</span>