{% extends "ltr/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>{{ page_title_txt }}</title>{% endblock %}

<!-- home page content -->
{% block content %}
<!-- head banner -->
<div class="container content-space-2">
    <div class="row justify-content-md-between align-items-sm-center">
        <div class="col-8 col-sm-6 col-md-5 mb-5 mb-sm-0">
            <img class="img-fluid" src="{% static 'images/all/workers.png' %}" alt="Intro Banner">
        </div>

        <div class="col-sm-6">
            <div class="mb-5">
                <h1 class="display-6 mb-3">
                    {{ welcome_txt }}
                    <br>
                    <span class="text-primary text-highlight-warning">
                        <span class="js-typedjs" data-hs-typed-options='{
                                "strings": ["{{ job_title.painter_txt }}", "{{ job_title.electrician_txt }}", "{{ job_title.plumber_txt }}", "{{ job_title.mason_txt }}", "{{ job_title.CCTV_technician_txt }}", "{{ job_title.AC_technician_txt }}"],
                                "typeSpeed": 90,
                                "loop": true,
                                "backSpeed": 5,
                                "backDelay": 1500
                                }'>
                        </span>
                    </span>
                </h1>
                <p class="lead">{{ message_txt }}</p>
            </div>

            <div class="d-grid d-md-flex gap-3 align-items-md-center">
                <a class="btn btn-primary" href="#">{{ get_quotation_txt }}</a>

                <a class="video-player video-player-btn" href="{{ how_it_works_video_link }}" role="button" data-fslightbox="youtube-video">
                    <span class="video-player-icon shadow-sm me-2">
                        <i class="fa fa-play"></i>
                    </span>
                    {{ how_it_works_txt }}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end head banner -->

<!-- services -->
<div class="content-space-b-2 content-space-b-lg-3 bg-img-start" style="background: url(../assets/svg/components/shape-5.svg) center no-repeat;">
    <div class="position-relative">
        <div class="container content-space-2">
            <div class="row align-items-md-center mb-7">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h2>Check out our newest and most popular programs</h2>
                </div>

                <div class="col-md-6 text-md-end">
                    <a class="link" href="index.html#">See all programs
                        <i class="bi-chevron-right small ms-1"></i>
                    </a>
                </div>
            </div>

            <div class="swiper-center-mode-end">
                <div class="js-swiper-course-hero swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide pt-2">
                            <a class="card card-sm card-stretched-vertical card-transition bg-img-start" href="course-overview.html" style="background-image: url(../assets/img/400x500/img14.jpg); min-height: 15rem;">
                                <div class="card-body">
                                    <span class="card-subtitle text-white-70">New</span>
                                    <h4 class="card-title text-white">Cloud computing</h4>

                                    <div class="card-footer pt-0">
                                        <span class="card-link text-white">Read now</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide pt-2">
                            <a class="card card-sm card-stretched-vertical card-transition bg-img-start" href="course-overview.html" style="background-image: url(../assets/img/400x500/img13.jpg); min-height: 15rem;">
                                <div class="card-body">
                                    <span class="card-subtitle text-white-70">Phython</span>
                                    <h4 class="card-title text-white">What's new in Phython 3.7.2</h4>

                                    <div class="card-footer pt-0">
                                        <span class="card-link text-white">Read now</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide pt-2">
                            <a class="card card-sm card-stretched-vertical card-transition bg-img-start" href="course-overview.html" style="background-image: url(../assets/img/400x500/img15.jpg); min-height: 15rem;">
                                <div class="card-body">
                                    <span class="card-subtitle text-white-70">Tooling</span>
                                    <h4 class="card-title text-white">Build a staging server</h4>

                                    <div class="card-footer pt-0">
                                        <span class="card-link text-white">Read now</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide pt-2">
                            <a class="card card-sm card-stretched-vertical card-transition bg-img-start" href="course-overview.html" style="background-image: url(../assets/img/400x500/img16.jpg); min-height: 15rem;">
                                <div class="card-body">
                                    <span class="card-subtitle text-white-70">JavaScript</span>
                                    <h4 class="card-title text-white">Laravel, Vue and SPAs</h4>

                                    <div class="card-footer pt-0">
                                        <span class="card-link text-white">Read now</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

          <!-- Arrows -->
          <div class="js-swiper-course-hero-button-next swiper-button-next"></div>
          <div class="js-swiper-course-hero-button-prev swiper-button-prev"></div>
        </div>
      </div>
      <!-- End Swiper Slider -->
    </div>

    <div class="w-100 w-md-65 bg-light position-absolute top-0 end-0 bottom-0 zi-n1"></div>
  </div>
</div>
<!-- end services -->
{% endblock %}