{% extends "rtl/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Order Page </title>{% endblock %}

<!-- content -->
{% block content %}
<!-- section-->
<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h1 class="fw-bold mb-0">Checkout</h1>
            <p class="mb-0">Already have an account? Click here to <a href="shop-checkout.html#!">Sign in</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <!-- checkout info -->
        <div class="col-lg-7 col-md-12">
          <form action="{% url 'order-page' 'place_order' %}" id="order_form" class="needs-validation" novalidate method="post">
            {% csrf_token %}
            <div class="mb-4">
              <div class="row g-3">
                <div class="col-12">
                  {% if selected_order.client_name %}
                  <input type="text" class="form-control" name="full_name" value="{{ selected_order.client_name }}" placeholder="Full name" required hx-get="{% url 'order-page' 'load_client_name' %}" hx-trigger="change">
                  {% else %}
                  <input type="text" class="form-control" name="full_name" required hx-get="{% url 'order-page' 'load_client_name' %}" hx-trigger="change">
                  {% endif %}
                  <span class="invalid-feedback text-start">enter your name please.</span>
                </div>

                <div class="col-12">
                  {% if selected_order.client_phone %}
                  <input class="form-control" type="tel" name="phone" placeholder="Phone number" value="{{ selected_order.client_phone }}" required hx-get="{% url 'order-page' 'load_client_phone' %}" hx-trigger="change">
                  {% else %}
                  <input class="form-control" type="tel" name="phone" placeholder="Phone number" required hx-get="{% url 'order-page' 'load_client_phone' %}" hx-trigger="change">
                  {% endif %}
                  <span class="invalid-feedback text-start">enter your phone number please.</span>
                </div>

                <div class="col-12">
                  <select class="form-select" name="province_id" hx-get="{% url 'order-page' 'load_municipalities' %}" hx-trigger="load, change" hx-target="#municipalities" required>
                    <option value="">Province</option>
                    {% for province in provinces %}
                    {% if province.id == selected_order.municipality.province.id %}
                    <option value='{{ province.id }}' selected>{{ province.en_name|title }}</option>
                    {% else %}
                    <option value='{{ province.id }}'>{{ province.en_name|title }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  <span class="invalid-feedback text-start">choose your municipality.</span>
                </div>

                <div class="col-12" id="municipalities">
                </div>
              </div>
            </div>
            <div id="prices"></div>
          </form>
        </div>

        <!-- checkout summary -->
        <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
          <div class="mt-4 mt-lg-0">
            <div class="card shadow-sm">
              <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
              <ul class="list-group list-group-flush">
                {% for product in selected_order.selected_products.all %}
                <li class="list-group-item px-4 py-3">
                  <div class="row align-items-center">
                    <div class="col-2 col-md-2">
                      <img src="{% get_media_prefix %}{{ product.image }}" class="img-fluid"></div>
                    <div class="col-5 col-md-5">
                      <h6 class="mb-0">{{ product.en_tite }}</h6>
                      <span><small class="text-muted">{{ product.en_detail }}</small></span>
                    </div>
                    <div class="col-2 col-md-2 text-center text-muted">
                      <span>{{ product.quantity }}</span>
                    </div>
                    <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                      <span class="fw-bold">{{ product.price|floatformat:"0g" }} <small>DZD</small></span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div id="total_summary">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-4 py-3" >
                    <div class="d-flex align-items-center justify-content-between   mb-2">
                      <div>Item Subtotal</div>
                      <div class="fw-bold"> {{ selected_order.price|floatformat:"0g" }} <small>DZD</small></div>
                    </div>

                    {% if selected_order.coupon %}
                    {% if selected_order.coupon.is_subtractive %}
                    <div class="d-flex align-items-center justify-content-between   mb-2">
                      <div>Discount</div>
                      <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>DZD</small></div>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center justify-content-between   mb-2">
                      <div>Discount</div>
                      <div class="fw-bold">{{ selected_order.coupon.value|floatformat:"0g" }} <small>%</small></div>
                    </div>
                    {% endif %}
                    {% endif %}
                  </li>

                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between fw-bold">
                      <div> Total</div><div>{{ selected_order.total_price|floatformat:"0g" }} <small>DZD</small></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- modals -->
{% block modals %}

{% endblock %}