{% extends "en-us/home/base.html" %}
{% load static %}

<!-- title block -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Order Page </title>{% endblock %}

<!-- content -->
{% block content %}
<!-- section-->
<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-checkout.html#!">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h1 class="fw-bold mb-0">Checkout</h1>
            <p class="mb-0">Already have an account? Click here to <a href="shop-checkout.html#!">Sign in</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="d-flex justify-content-between align-items-center">
            <i class="feather-icon icon-map-pin me-2 text-muted"></i>Delivery address
            <a href="shop-checkout.html#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddressModal">Add a new address </a>
          </div>

          <div class="mt-5">
            <div class="row">
              <!-- first address -->
              <div class="col-lg-6 col-12 mb-4">
                <!-- form -->
                <div class="card card-body p-6 ">
                  <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <label class="form-check-label text-dark">
                      Home
                    </label>
                    <span class="badge bg-danger">Default</span>
                  </div>

                  <address>
                    <strong>Jitu Chauhan</strong> <br>
                    4450 North Avenue Oakland, <br>
                    Nebraska, United States,<br>
                    <abbr title="Phone">P: 402-776-1106</abbr>
                  </address>
                </div>
              </div>
              <!-- second address -->
              <div class="col-lg-6 col-12 mb-4">
                <div class="card card-body p-6 ">
                  <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" >
                    <label class="form-check-label text-dark">
                      Office
                    </label>
                  </div>

                  <address>
                    <strong>Nitu Chauhan</strong> <br>
                    3853 Coal Road, <br>
                    Tannersville, USA,<br>
                    <abbr title="Phone">P: 402-776-1106</abbr>
                  </address>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group list-group-flush mt-4">
            <li class="list-group-item  d-flex justify-content-between align-items-center px-0 py-3">
              <div class="col-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                    <span>Delivery to home</span>
                  </label>
                </div>
              </div>
              <div class="col-3 text-center">1 to 24h</div>
              <div class="col-3 text-center">$0.00</div>
            </li>

            <li class="list-group-item  d-flex justify-content-between align-items-center px-0 py-3">
              <div class="col-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault4">
                  <label class="form-check-label" for="flexRadioDefault4">
                    <span>Delivery to desk</span>
                  </label>
                </div>
              </div>
              <div class="col-3 text-center">1 to 2 days</div>
              <div class="col-3 text-center">$3.99</div>
            </li>
          </ul>

          <div class="mt-5">
            <label for="DeliveryInstructions" class="form-label sr-only">Delivery instructions</label>
            <textarea class="form-control" id="DeliveryInstructions" rows="3" placeholder="Write delivery instructions "></textarea>
            <p class="form-text">Add instructions for how you want your order shopped and/or delivered</p>
            <div class="mt-5 d-flex justify-content-end">
              <a href="shop-checkout.html#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Prev</a>
              <a href="shop-checkout.html#" class="btn btn-primary ms-2"  data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Next</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
          <div class="mt-4 mt-lg-0">
            <div class="card shadow-sm">
              <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
              <ul class="list-group list-group-flush">
                {% for product in selected_cart.product.all %}
                <li class="list-group-item px-4 py-3">
                  <div class="row align-items-center">
                    <div class="col-2 col-md-2">
                      <img src="{% get_media_prefix %}{{ product.image }}" class="img-fluid"></div>
                    <div class="col-5 col-md-5">
                      <h6 class="mb-0">{{ product.en_name }}</h6>
                      <span><small class="text-muted">{{ product.en_detail }}</small></span>
                    </div>
                    <div class="col-2 col-md-2 text-center text-muted">
                      <span>{{ product.quantity }}</span>
                    </div>
                    <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                      <span class="fw-bold">{{ product.total_price|floatformat:"0g" }} <small>DZD</small></span>
                    </div>
                  </div>

                </li>
                {% endfor %}

                <!-- list group item -->
                <li class="list-group-item px-4 py-3">
                  <div class="d-flex align-items-center justify-content-between   mb-2">
                    <div>Item Subtotal</div>
                    <div class="fw-bold"> {{ selected_cart.sub_total_price|floatformat:"0g" }} <small>DZD</small></div>
                  </div>

                  {% if selected_cart.coupon_type == 'subtractive' %}
                  <div class="d-flex align-items-center justify-content-between   mb-2">
                    <div>Discount</div>
                    <div class="fw-bold">{{ selected_cart.coupon_value|floatformat:"0g" }} <small>DZD</small></div>
                  </div>
                  {% endif %}

                  {% if selected_cart.coupon_type == 'percentage' %}
                  <div class="d-flex align-items-center justify-content-between   mb-2">
                    <div>Discount</div>
                    <div class="fw-bold">{{ selected_cart.coupon_value|floatformat:"0g" }} <small>%</small></div>
                  </div>
                  {% endif %}

                  <div class="d-flex align-items-center justify-content-between  ">
                    <div> Delivery Price <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip" title="Default tooltip"></i></div>
                    <div class="fw-bold">$3.00</div>
                  </div>
                </li>

                <li class="list-group-item px-4 py-3">
                  <div class="d-flex align-items-center justify-content-between fw-bold">
                    <div> Total</div><div>{{ selected_cart.total_price|floatformat:"0g" }} <small>DZD</small></div>
                  </div>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- navigation modals block -->
{% block navigation_modals %}
<!-- track my order modal -->
<div class="modal fade" id="track_my_order_modal" tabindex="-1" aria-labelledby="track_my_order_modal_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="track_my_order_modal_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class=" w-100 ">

          <div class="mb-4">
            <h1 class="mt-3 mb-0 h4">Order tracking</h1>
            <small>Put your order reference </small>
          </div>
          <form>
            <div class="row g-3">
              <div class="col">
                <label for="order_code" class="visually-hidden">Order Code</label>
                <input type="text" class="form-control" id="order_code"
                       placeholder="#6F4HU8I" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-danger">Check</button>
              </div>
            </div>
          </form>
        </div>
        <div class="my-10 text-center">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- change language modal -->
<div class="modal fade" id="change_language_modal" tabindex="-1" aria-labelledby="change_language_label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="change_language_label"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class=" w-100 ">
          <div class="text-center text-md-center fs-5 mb-5">
            Pour le français <button form="french_language_form" class="btn btn-ghost-info"> cliquez ici </button>
          </div>
          <div class="text-center text-md-center fs-5 mb-5" dir="rtl">
            للغة العربية <button form="arabic_language_form" class="btn btn-ghost-info"> اضغط هنا </button>
          </div>
        </div>

        <form action="{% url 'change-language' %}" id="french_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='fr-fr'>
          <input type="hidden" name="page" value='home-page'>
        </form>

        <form action="{% url 'change-language' %}" id="arabic_language_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="language" value='ar-dz'>
          <input type="hidden" name="page" value='home-page'>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- login modal -->
<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="login_modal_label">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-10">
            <div class="py-6">
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-8">
                  <input type="text" id="username" class="form-control form-control-lg" name="{{ login_form.username.name }}" maxlength="{{ login_form.username.field.max_length }}" placeholder="{{ login_form.username.label }}" required>
                </div>

                <div class="mb-8">
                  <input type="password" id="password" class="form-control form-control-lg" name="{{ login_form.password.name }}" maxlength="{{ login_form.password.field.max_length }}" placeholder="{{ login_form.password.label }}" required>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
              <div class="mt-4">
                <small>
                  You don't have an account ?
                  <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#register_modal">Register</a>
                  ,it's free.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- register modal -->
<div class="modal fade" id="register_modal" tabindex="-1" aria-labelledby="register_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="register_modal_label">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-10">
            <div class="py-6">
              <form>
                <div class="mb-8">
                  <input type="text" class="form-control form-control-lg" placeholder="Username" required>
                </div>

                <div class="mb-8">
                  <input type="password" class="form-control form-control-lg" placeholder="Password" required>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
              <div class="mt-4">
                <small>
                  Already have an account ?
                  <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#login_modal">Login</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- new address modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal body -->
      <div class="modal-body p-6">
        <div class="d-flex justify-content-between mb-5">
          <!-- heading -->
          <div>
            <h5 class="h6 mb-1" id="addAddressModalLabel">New Shipping Address</h5>
            <p class="small mb-0">Add new shipping address for your order delivery.</p>
          </div>
          <div>
            <!-- button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <!-- row -->
        <div class="row g-3">
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" required="">
          </div>
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required="">
          </div>
          <!-- col -->
          <div class="col-12">

            <input type="text" class="form-control" placeholder="Address Line 1">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Address Line 2">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="City">
          </div>
          <div class="col-12">
            <!-- button -->
            <select class="form-select">
              <option selected=""> India</option>
              <option value="1">UK</option>
              <option value="2">USA</option>
              <option value="3">UAE</option>
            </select>
          </div>
          <div class="col-12">
            <!-- button -->
            <select class="form-select">
              <option selected="">Gujarat</option>
              <option value="1">Northern Ireland</option>
              <option value="2"> Alaska</option>
              <option value="3">Abu Dhabi</option>
            </select>
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Zip Code">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="Business Name">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <!-- label -->
              <label class="form-check-label" for="flexCheckDefault">
                Set as Default
              </label>
            </div>
          </div>
          <!-- button -->
          <div class="col-12 text-end">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button">Save Address</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}