
    <!-- table -->
    <div class="table-responsive">
      <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="table-column-pe-0">
            </th>
            <th class="table-column-ps-0">Product</th>
            <th>Vendor</th>
            <th></th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        {% for product in products %}
        <!-- products list -->
        <tr>
          <td class="table-column-pe-0">
          </td>
          <!-- product title and image -->
          <td class="table-column-ps-0">
            <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_product' %}?product_id={{ product.id }}">
              <div class="flex-shrink-0">
                {% if product.variant_set.all.first.album_set.all.count %}
                <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ product.variant_set.all.first.album_set.all.first.image }}">
                {% else %}
                <span class="badge bg-warning">no images</span>
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="text-inherit me-2">{{ product.en_title }}</h5>
              </div>
            </a>
          </td>
          <!-- product brand -->
          <td>
            {% if product.store %}
            <!-- unassign a store -->
            <span class="d-block text-body fs-6">
              <button type="button" class="btn btn-ghost btn-icon me-1" data-bs-toggle="modal" data-bs-target="#unassign_a_store_{{ product.id }}">
                <i class="fa fa-x" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i>
              </button>
              {{ product.store.name }}
            </span>
            {% else %}
            <!-- assign a store -->
            <span class="d-block text-body text-center fs-6">
              <button type="button" class="btn btn-ghost btn-icon me-1" data-bs-toggle="modal" data-bs-target="#assign_a_store_{{ product.id }}">
                <i class="fa fa-store fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Store"></i>
              </button>
            </span>
            {% endif %}
          </td>
          <!-- assign a store -->
          <td>
            {% for variant in product.variant_set.all %}
            {% for option in variant.option_set.all %}
            <span class="d-block text-body fs-6">
              <small>
                {{ variant.en_spec }} - {{ option.en_value }}
                {% if not option.is_activated or not variant.is_activated %}
                <span class="badge bg-warning">not activated</span>
                {% endif %}

                {% if not option.quantity %}
                <span class="badge bg-danger">not available</span>
                {% else %}
                 ({{ option.quantity }}) available
                {% endif %}
              </small>
            </span>
            {% endfor %}
            {% endfor %}
          </td>
          <!-- product actions -->
          <td class="text-end">
            <!-- delete product -->
            <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_product_modal_{{ product.id }}">
              <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
          </td>
        </tr>
        <!-- end products list -->
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end table -->

    <!-- footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <!-- Pagination -->
        <nav>
          {% if products.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end footer -->