{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products | {{ selected_product.en_title }}</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- selected product  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-products' 'main' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_product.en_title }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_product.en_title }}</h1>
    <h6><strong>Token |</strong><span class="text-muted ms-1">{{ selected_product.token }}</span></h6>
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end selected product  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- selected product  -->
<div class="row">
  <div class="col-lg-8 mb-3 mb-lg-0">
    <div class="card mb-2">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">Variants</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">

        </div>
        <!-- end title bar -->
      </div>

      <div class="card-body">
        <!-- table -->
        <div class="table-responsive">
          <table id="all_variants_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <tbody>
            <!-- variants list -->
            {% for variant in selected_product.variant.all %}
            <tr>
              <!-- variant title and image -->
              <td class="table-column-ps-0">
                <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_variant' %}?product_id={{ selected_product.id }}&variant_id={{ variant.id }}">
                  <div class="flex-shrink-0">
                    {% if variant.album.all.count %}
                    <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ variant.album.all.0.image }}" alt="variant image">
                    {% else %}
                    <img class="avatar avatar-lg" src="{% static 'home-page/images/custom/no-image.png' %}" alt="no image">
                    {% endif %}
                  </div>
                </a>
              </td>

              <!-- actions -->
              <td>
                {% if variant.is_activated %}
                <!-- deactivate variant button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#deactivate_variant_modal_{{ variant.id }}">
                  <i class="fa fa-toggle-on fa-2xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Deactivate"></i>
                </button>
                {% else %}
                <!-- activate variant button -->
                <button type="button" class="btn btn-ghost btn-icon" data-bs-toggle="modal" data-bs-target="#activate_variant_modal_{{ variant.id }}">
                  <i class="fa fa-toggle-off fa-2xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Activate"></i>
                </button>
                {% endif %}

                {% if forloop.counter == 1 %}
                <!-- duplicate option button -->
                <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#duplicate_variant_modal_{{ variant.id }}">
                  <i class="fa fa-clone" data-bs-toggle="tooltip" data-bs-placement="top" title="Duplicate"></i>
                </button>
                {% endif %}

                {% if selected_product.variant.all.count > 1 %}
                <!-- delete variant -->
                <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_variant_modal_{{ selected_product.id }}_{{ variant.id }}">
                  <i class="fa fa-trash me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                </button>
                {% endif %}
              </td>

              <!-- value -->
              <td class="text-start">
                <h6 class="text-body">
                  <small>{{ selected_product.en_title }} - {{ variant.en_spec }}</small>
                </h6>
                <h6 class="text-body">
                  <small>{{ selected_product.fr_title }} - {{ variant.fr_spec }}</small>
                </h6>
                <h6 class="text-body" dir="rtl">
                  <small>{{ selected_product.ar_title }} - {{ variant.ar_spec }}</small>
                </h6>
              </td>

              <!-- price , discount-->
              <td>
                <h6 class="text-body">
                  <small>Price :{{ variant.price|floatformat:"2g" }} DZD</small>
                </h6>

                {% if variant.discount %}
                <h6 class="text-body">
                  <small>Discount :{{ variant.discount|floatformat:"2g" }} DZD</small>
                </h6>
                {% else %}
                <h6 class="text-body">
                  <small>No Discount</small>
                </h6>
                {% endif %}

                {% if not variant.is_available %}
                <small>
                  <span class="badge bg-danger">unavailable</span>
                </small>
                {% endif %}

                {% if not variant.is_activated %}
                <small>
                  <span class="badge bg-warning">deactivated</span>
                </small>
                {% endif %}
              </td>

              <!-- details -->
              <td>
                <h6 class="text-body">
                  {% if variant.album.all.count %}
                  <small>Photos : {{ variant.album.all.count }}</small>
                  {% else %}
                  <span class="badge bg-danger">no photos</span>
                  {% endif %}
                </h6>

                <h6 class="text-body">
                  {% if variant.option.all.count %}
                  <small>Options : {{ variant.option.all.count }}</small>
                  {% else %}
                  <span class="badge bg-warning">no options</span>
                  {% endif %}
                </h6>

                <h6 class="text-body">
                  {% if variant.feature.all.count %}
                  <small>Features : {{ variant.feature.all.count }}</small>
                  {% else %}
                  <span class="badge bg-warning">no features</span>
                  {% endif %}
                </h6>

                <h6 class="text-body">
                  {% if variant.description.all.count %}
                  <small>Descriptions : {{ variant.description.all.count }}</small>
                  {% else %}
                  <span class="badge bg-warning">no descriptions</span>
                  {% endif %}
                </h6>
              </td>

            </tr>
            {% endfor %}
            <!-- end variant list -->
            </tbody>
          </table>
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>

  <!-- edit product form -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Product Details</h4>
      </div>

      <div class="card-body">
        <form action="{% url 'admin-manage-products' 'edit_product' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
          <div class="row mb-4">
            <span class="divider-center mb-2">Main Informations</span>
            <!-- product english title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ selected_product_form.en_title.name }}" value="{{ selected_product.en_title }}" required>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end product english title -->

            <!-- product french title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ selected_product_form.fr_title.name }}" value="{{ selected_product.fr_title }}">
            </div>
            <!-- end product french title -->

            <!-- product arabic title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ selected_product_form.ar_title.name }}" value="{{ selected_product.ar_title }}" dir="rtl">
            </div>
            <!-- end product arabic title -->
          </div>
          <!-- submit -->
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end selected product  -->

<!-- variants modals & forms -->
{% for variant in selected_product.variant.all %}
<!-- activate variant form -->
<form action="{% url 'admin-manage-products' 'activate_variant' %}" id="activate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>

<!-- deactivate variant form -->
<form action="{% url 'admin-manage-products' 'deactivate_variant' %}" id="deactivate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>

<!-- delete variant form -->
<form action="{% url 'admin-manage-products' 'delete_variant' %}" id="delete_variant_form_{{ selected_product.id }}_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>

<!-- duplicate variant form -->
<form action="{% url 'admin-manage-products' 'duplicate_variant' %}" id="duplicate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>




<!-- activate variant modal -->
<div id="activate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to activate {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="activate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- deactivate variant modal -->
<div id="deactivate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to deactivate {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="deactivate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- delete variant modal -->
<div id="delete_variant_modal_{{ selected_product.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="delete_variant_modal_title_{{ selected_product.id }}_{{ variant.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_variant_modal_title_{{ selected_product.id }}_{{ variant.id }}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_variant_form_{{ selected_product.id }}_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- duplicate variant modal -->
<div id="duplicate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to duplicate {{ selected_product.en_title }} - {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="duplicate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}