{% extends "en-us/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products | {{ selected_product.en_title }} | {{ selected_variant.en_spec }} </title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- selected variant  -->
  <div class="col-sm mb-2 mb-sm-0">
    <form action="{% url 'products-menu' 'view_product' %}" id="view_product_form" method="post">
      {% csrf_token %}
      <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
    </form>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'products-menu' 'main' %}">Products</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'products-menu' 'view_product' %}">{{ selected_product.en_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_variant.en_spec }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_product.en_title }}</h1>
    <h6><strong>Token |</strong><span class="text-muted ms-1">{{ selected_product.product_token }}</span></h6>
  </div>
  <div class="col-sm-auto">
    <!-- edit variant button -->
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_variant">
      <i class="bi-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="edit variant"></i>
    </button>
    <!-- end edit variant button -->

    <!-- add feature button -->
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_feature">
      <i class="bi-node-plus me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add feature"></i>
    </button>
    <!-- end add feature button -->

    <!-- add option button -->
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_option">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add option"></i>
    </button>
    <!-- end add option button -->
  </div>
  <!-- end selected variant  -->
</div>

<!-- edit variant modal -->
<div id="edit_variant" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="edit_variant_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div id="edit_variant_modal_title">
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Edit variant</h2>
          </div>
          <!-- end title -->

          <form action="{% url 'products-menu' 'edit_variant' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Specs</span>
              <!-- variant english spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english spec</span>
                <input type="text" class="form-control" name="en_spec" value="{{ selected_variant.en_spec }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end variant english spec -->

              <!-- variant french spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french spec</span>
                <input type="text" class="form-control" name="fr_spec" value="{{ selected_variant.fr_spec }}">
              </div>
              <!-- end variant french spec -->

              <!-- variant arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic spec</span>
                <input type="text" class="form-control" name="ar_spec" value="{{ selected_variant.ar_spec }}" dir="rtl">
              </div>
              <!-- end variant arabic spec -->

              <span class="divider-center mb-2">Prices</span>
              <!-- variant price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">price</span>
                <input type="text" class="form-control" name="price" value="{{ selected_variant.price }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end variant price -->

              <!-- product discount -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">discount</span>
                {% if selected_variant.discount %}
                <input type="text" class="form-control" name="discount" value="{{ selected_variant.discount }}">
                {% else %}
                <input type="text" class="form-control" name="discount" placeholder="no discount">
                {% endif %}
              </div>
              <!-- end product discount -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- end edit variant modal -->

<!-- add option modal -->
<div id="add_option" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="add_option_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Patient -->
        <div id="add_option_modal_title">
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Add option</h2>
          </div>
          <!-- end title -->

          <form action="{% url 'products-menu' 'add_option' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Image</span>

              <!-- product presentation photo -->
              <div class="mb-3">
                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="option_presentation_photo_uploader" style="width: 40%;">
                    <img id="option_presentation_photo" class="avatar-img" src="{% static 'management/img/img_download.png' %}" style="width: 40%;">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="option_image" id="option_presentation_photo_uploader" data-hs-file-attach-options='{
                        "textTarget": "#option_presentation_photo",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }'>
                  </label>
                </div>
              </div>
              <!-- end product presentation photo -->

              <span class="divider-center mb-2">Option value</span>

              <!-- option english -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english option</span>
                <input type="text" class="form-control" name="en_value" placeholder="Full" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product english -->

              <!-- option french -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french option</span>
                <input type="text" class="form-control" name="fr_value" placeholder="Complet">
              </div>
              <!-- end option french -->

              <!-- product arabic spec -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic option</span>
                <input type="text" class="form-control" name="ar_value" placeholder="مكتمل" dir="rtl">
              </div>
              <!-- end product arabic spec -->

              <span class="divider-center mb-2">Prices</span>

              <!-- product cost -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">cost</span>
                <input type="text" class="form-control" name="cost" placeholder="2000" required>
                <span class="input-group-text" style="width: 5%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product cost -->

              <!-- product price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">price</span>
                <input type="text" class="form-control" name="price" min="0" value="{{ selected_variant.price }}" required>
                <span class="input-group-text" style="width: 5%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end product price -->

              <!-- product discount -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">discount</span>
                {% if selected_variant.discount %}
                <input type="text" class="form-control" name="discount" value="{{ selected_variant.discount }}">
                {% else %}
                <input type="text" class="form-control" name="discount" placeholder="no discount">
                {% endif %}
                <span class="input-group-text" style="width: 5%;">DZD</span>
              </div>
              <!-- end product discount -->

              <span class="divider-center mb-2">Quantities</span>

              <!-- product quantity -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">quantity</span>
                <input type="text" class="form-control" min="0" name="quantity" placeholder="40">
              </div>
              <!-- end product quantity -->

              <!-- product max quantity -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">sell quantity</span>
                <input type="text" class="form-control" min="0" name="max_quantity" placeholder="3">
              </div>
              <!-- end product max quantity -->

              <span class="divider-center mb-2">Internal Informations</span>

              <!-- product delivery quotient -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">delivery quotient</span>
                <input type="text" class="form-control" min="0" name="delivery_quotient" placeholder="34">
                <span class="input-group-text" style="width: 5%;">%</span>
              </div>
              <!-- end product delivery quotient -->

              <!-- product gift points -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">gift points</span>
                <input type="text" class="form-control" min="0" name="points" placeholder="300">
                <span class="input-group-text" style="width: 5%;">GP</span>
              </div>
              <!-- end product gift points -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
        <!-- End Patient -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- end add option modal -->

<!-- add feature modal -->
<div id="add_feature" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="add_feature_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <div id="add_variant_modal_title">
          <!-- title -->
          <div class="text-center mb-7">
            <h2>Add feature</h2>
          </div>
          <!-- end title -->

          <form action="{% url 'products-menu' 'add_feature' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

            <div class="row mb-4">

              <span class="divider-center mb-2">Feature title</span>

              <!-- feature english title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english title</span>
                <input type="text" class="form-control" name="feature_en_title" placeholder="Manufacturing material" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english title -->

              <!-- feature french title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french title</span>
                <input type="text" class="form-control" name="feature_fr_title" placeholder="Matière de fabrication">
              </div>
              <!-- end feature french title -->

              <!-- feature arabic title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic title</span>
                <input type="text" class="form-control" name="feature_ar_title" placeholder="مادة التصنيع" dir="rtl">
              </div>
              <!-- end feature arabic title -->

              <span class="divider-center mb-2">Feature value</span>

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english value</span>
                <input type="text" class="form-control" name="feature_en_value" placeholder="Wood" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french value</span>
                <input type="text" class="form-control" name="feature_fr_value" placeholder="Bois">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic value</span>
                <input type="text" class="form-control" name="feature_ar_value" placeholder="خشب" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- end add feature modal -->
{% endblock %}

<!-- product content -->
{% block product %}

<!-- selected variant  -->
<div class="row">
  <div class="col-lg-8 mb-3 mb-lg-0">
    <div class="card mb-2">
      <!-- Header -->
      <div class="card-header">
        <h4 class="card-header-title">Photos</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <div class="row">
          {% for album in selected_variant.album.all %}
          <div class="col">
            <form action="{% url 'products-menu' 'delete_image' %}" id="delete_image_{{ album.id }}" method="post">
              {% csrf_token %}
              <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
              <input type="hidden" name="album_id" value='{{ album.id }}'>
            </form>

            <span class="avatar avatar-xxl avatar-4x3 text-center mb-4">
              <img class="avatar-img" src="{% get_media_prefix %}{{ album.image }}">

              <button class="btn btn-white btn-icon mt-2" form="delete_image_{{ album.id }}">
                <i class="bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
              </button>
            </span>
          </div>
          {% endfor %}
          <div class="col">
            <span class="avatar avatar-xxl avatar-4x3 text-center mb-4">
              <form action="{% url 'products-menu' 'add_image' %}" id="add_image" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
                <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>

                <div class="col text-center">
                  <label class="avatar avatar-xxl avatar-uploader" for="selected_variant_presentation_photo_uploader">
                    <img id="selected_variant_presentation_photo" class="avatar-img" src="{% static 'home-page/images/custom/add-image.png' %}">
                    <input type="file" class="js-file-attach avatar-uploader-input" name="image" id="selected_variant_presentation_photo_uploader" data-hs-file-attach-options='{
                        "textTarget": "#selected_variant_presentation_photo",
                        "mode": "image",
                        "targetAttr": "src",
                        "allowTypes": [".png", ".jpeg", ".jpg"]
                        }' required>
                    <span class="invalid-feedback text-center">Please upload an image.</span>
                  </label>

                  <button type="submit" class="btn btn-white form-control-sm mt-2" >
                    <i class="bi bi-plus-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
                  </button>

                </div>
              </form>
            </span>
          </div>
        </div>
      </div>
      <!-- Body -->
    </div>
    {% for option in selected_variant.option.all %}
    <div class="card mb-2">
      <!-- Header -->
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">{{ option.en_value }}</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">
          <!-- delete option button -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_option_modal_{{ option.id }}_{{ variant.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
          <!-- end delete option button -->
        </div>
        <!-- end title bar -->
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
      </div>
      <!-- Body -->
    </div>
    {% endfor %}
  </div>

  {% if selected_variant.feature.all.count %}
  <div class="col-lg-4">
    {% for feature in selected_variant.feature.all %}
    <div class="card mb-2">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">{{ feature.en_title }}</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">
          <!-- refresh feature button -->
          <button class="btn btn-white btn-icon" form="edit_feature_{{ feature.id }}">
            <i class="bi-arrow-clockwise" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i>
          </button>
          <!-- end refresh feature button -->

          <!-- delete option button -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_feature_modal_{{ feature.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
          <!-- end delete option button -->
        </div>
        <!-- end title bar -->

        <!-- delete feature modal -->
        <div id="delete_feature_modal_{{ feature.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="delete_feature_modal_title_{{ feature.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete_feature_modal_title_{{ feature.id }}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <p>click yes to delete {{ feature.en_title }}.</p>
              </div>
              <div class="modal-footer" style="align-self: center;">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" form="delete_feature_{{ feature.id }}">Yes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end delete feature modal -->
      </div>

      <div class="card-body">
        <div id="mb-2">
          <form action="{% url 'products-menu' 'edit_feature' %}" id="edit_feature_{{ feature.id }}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
            <input type="hidden" name="feature_id" value='{{ feature.id }}'>

            <div class="row mb-4">

              <span class="divider-center mb-2">Titles</span>

              <!-- feature english title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="feature_en_title" value="{{ feature.en_title }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english title -->

              <!-- feature french title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="feature_fr_title" value="{{ feature.fr_title }}">
              </div>
              <!-- end feature french title -->

              <!-- feature arabic title -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="feature_ar_title" value="{{ feature.ar_title }}" dir="rtl">
              </div>
              <!-- end feature arabic title -->

              <span class="divider-center mb-2">Values</span>

              <!-- feature english value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="feature_en_value" value="{{ feature.en_value }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end feature english value -->

              <!-- feature french value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="feature_fr_value" value="{{ feature.fr_value }}">
              </div>
              <!-- end feature french value -->

              <!-- feature arabic value -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="feature_ar_value" value="{{ feature.ar_value }}" dir="rtl">
              </div>
              <!-- end feature arabic value -->
            </div>
          </form>
          <form action="{% url 'products-menu' 'delete_feature' %}" id="delete_feature_{{ feature.id }}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
            <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
            <input type="hidden" name="feature_id" value='{{ feature.id }}'>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% if selected_variant.option.all.count %}
<div class="row mt-2">
  <div class="col">
    {% for option in selected_variant.option.all %}
    <div class="card mb-2">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">{{ option.en_value }}</h5>
          </div>
        </div>
        <!-- end title -->

        <!-- title bar -->
        <div class="d-grid d-sm-flex gap-2">
          <!-- delete option button -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_option_modal_{{ option.id }}_{{ variant.id }}">
            <i class="bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
          <!-- end delete option button -->
        </div>
        <!-- end title bar -->

        <!-- delete option modal -->
        <div id="delete_option_modal_{{ option.id }}_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="delete_option_modal_title_{{ option.id }}_{{ variant.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete_option_modal_title_{{ option.id }}_{{ variant.id }}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <p>click yes to delete {{ option.en_value }}.</p>
              </div>
              <div class="modal-footer" style="align-self: center;">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" form="delete_option_form_{{ option.id }}_{{ variant.id }}">Yes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end delete option modal -->
      </div>

      <div class="card-body">
        <form action="{% url 'products-menu' 'delete_option' %}" id="delete_option_form_{{ option.id }}_{{ variant.id }}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
          <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
          <input type="hidden" name="option_id" value='{{ option.id }}'>

        </form>
        <form action="{% url 'products-menu' 'edit_option' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
          <input type="hidden" name="variant_id" value='{{ selected_variant.id }}'>
          <input type="hidden" name="option_id" value='{{ option.id }}'>

          <div class="row mb-4">
            {% if option.has_image %}
            <span class="divider-center mb-2">Image</span>

            <!-- product presentation photo -->
            <div class="mb-3">
              <div class="col text-center">
                <label class="avatar avatar-xxl avatar-uploader" for="option_presentation_photo_uploader_{{ option.id }}" style="width: 40%;">
                  <img id="option_presentation_photo_{{ option.id }}" class="avatar-img" src="{% get_media_prefix %}{{ option.image }}" style="width: 40%;">
                  <input type="file" class="js-file-attach avatar-uploader-input" name="option_image" id="option_presentation_photo_uploader_{{ option.id }}" data-hs-file-attach-options='{
                      "textTarget": "#option_presentation_photo_{{ option.id }}",
                      "mode": "image",
                      "targetAttr": "src",
                      "allowTypes": [".png", ".jpeg", ".jpg"]
                      }'>
                </label>
              </div>
            </div>
            <!-- end product presentation photo -->
            {% endif %}

            <span class="divider-center mb-2">Option value</span>

            <!-- option english -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">english option</span>
              <input type="text" class="form-control" name="en_value" value="{{ option.en_value }}" required>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end product english -->

            <!-- option french -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">french option</span>
              <input type="text" class="form-control" name="fr_value" value="{{ option.fr_value }}">
            </div>
            <!-- end option french -->

            <!-- product arabic spec -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">arabic option</span>
              <input type="text" class="form-control" name="ar_value" value="{{ option.ar_value }}" dir="rtl">
            </div>
            <!-- end product arabic spec -->

            <span class="divider-center mb-2">Prices</span>

            <!-- product cost -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">cost</span>
              <input type="text" class="form-control" name="cost" min="0" value="{{ option.cost }}" required>
              <span class="input-group-text" style="width: 5%;">DZD</span>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end product cost -->

            <!-- product price -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">price</span>
              <input type="text" class="form-control" name="price" min="0" value="{{ option.price }}" required>
              <span class="input-group-text" style="width: 5%;">DZD</span>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end product price -->

            <!-- product discount -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">discount</span>
              {% if option.discount %}
              <input type="text" class="form-control" name="discount" min="0" value="{{ option.discount }}">
              {% else %}
              <input type="text" class="form-control" name="discount" min="0" placeholder="no discount">
              {% endif %}
              <span class="input-group-text" style="width: 5%;">DZD</span>
            </div>
            <!-- end product discount -->

            <span class="divider-center mb-2">Quantities</span>

            <!-- product quantity -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">quantity</span>
              <input type="text" class="form-control" name="quantity" min="0" value="{{ option.quantity }}">
            </div>
            <!-- end product quantity -->

            <!-- product max quantity -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">sell quantity</span>
              <input type="text" class="form-control" name="max_quantity" min="0" value="{{ option.max_quantity }}">
            </div>
            <!-- end product max quantity -->

            <span class="divider-center mb-2">Internal Informations</span>

            <!-- product delivery quotient -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">delivery quotient</span>
              <input type="text" class="form-control" name="delivery_quotient" min="0" value="{{ option.delivery_quotient }}">
              <span class="input-group-text" style="width: 5%;">%</span>
            </div>
            <!-- end product delivery quotient -->

            <!-- product gift points -->
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 25%;">gift points</span>
              <input type="text" class="form-control" name="points" min="0" value="{{ option.points }}">
              <span class="input-group-text" style="width: 5%;">GP</span>
            </div>
            <!-- end product gift points -->
          </div>

          <!-- submit -->
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- end selected variant  -->

{% endblock %}