{% extends "rtl/manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- arabic version -->
{% block title %}
<title>
         لوحة القيادة  Dexunt - مدير المخزون والمخزن
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- arabic version -->
{% block side_menu %}
{% endblock %}
<!------------------------------- side menu ------------------------------------------------>