{% extends "rtl/manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
         لوحة القيادة  Dexunt - مدير المخزون والمخزن
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<!-- side menu -->
<ul class="menu">
    <!-- separation title -->
    <li class="sidebar-title">ادارة المخزون
    </li>
    <!-- end separation title -->

    <!-- selected simple menu -->
    <li class="sidebar-item active ">
        <a href="index.html" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>لوحة القيادة</span>
        </a>
    </li>
    <!-- end selected simple menu -->

    <!-- unselected simple menu -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-file-earmark-medical-fill"></i>
            <span>أضف منتج</span>
        </a>
    </li>
    <!-- end unselected simple menu -->

    <!-- menu with submenu -->
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <!-- menu with submenu title -->
            <i class="bi bi-stack"></i>
            <span>ادارة فريق</span>
            <!-- end menu with submenu title -->
        </a>
        <!-- submenu -->
        <ul class="submenu ">
            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-alert.html">إضافة بائع</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-badge.html">أضف زبون</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu active title -->
            <li class="submenu-item active ">
                <a href="component-badge.html">إضافة مورد</a>
            </li>
            <!-- end submenu active title -->
        </ul>
        <!-- end submenu -->
    </li>
    <!-- end menu with submenu -->
</ul>
<!-- end side menu -->
{% endblock %}
<!------------------------------- side menu ------------------------------------------------>