{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}{% endblock %}

    <link rel="stylesheet" href="{% static 'manager/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/main/app-dark.css' %}">
    <link rel="shortcut icon" href="{% static 'manager/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'manager/images/logo/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'manager/css/shared/iconly.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/pages/fontawesome.css' %}">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">

                        <!-- logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'manager/images/logo/logo.svg' %}" alt="Logo" srcset=""></a>
                        </div>
                        <!-- end logo -->

                        <!-- account settings -->
                        <a type="button" class="btn btn-outline-primary block" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <!-- end account settings -->

                        <!-- close menu button -->
                        <div class="sidebar-toggler  x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                        <!-- end close menu button -->

                    </div>
                </div>

                <!-- sidebar menu -->
                <div class="sidebar-menu">
                    {% block side_menu %}
                    {% endblock %}
                </div>
                <!-- close sidebar menu -->
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Profile Statistics</h3>
            </div>
            <div class="page-content">
                <section class="row">
                     <div class="card-body">
                         <!------- account settings modal ------->
                         <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <div class="col-6 col-sm-6 col-lg-3 mt-2 mt-md-0 mb-md-0 mb-2">
                                                <a href="#">
                                                    <img class="w-100 active" src="https://images.unsplash.com/photo-1633008808000-ce86bff6c1ed?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyN3x8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" data-bs-target="#Gallerycarousel" data-bs-slide-to="0">
                                                </a>
                                            </div>

                                            <h6 class="modal-title" id="exampleModalCenterTitle">Account Setting
                                            </h6>

                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Croissant jelly-o halvah chocolate sesame snaps. Brownie caramels candy
                                                canes chocolate cake
                                                marshmallow icing lollipop I love. Gummies macaroon donut caramels
                                                biscuit topping danish.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- black white switch -->
                                            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                                                <div class="form-check form-switch fs-6">
                                                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" >
                                                    <label class="form-check-label" ></label>
                                                </div>
                                            </div>
                                            <!-- end black white switch -->

                                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     </div>
                </section>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p><script>document.write(new Date().getFullYear());</script> &copy; Dexunt</p>
                    </div>
                    <div class="float-end">
                        <p>Made with <span class="text-danger"><i class="bi bi-heart"></i></span> by Dexunt Logistics</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'manager/js/bootstrap.js' %}"></script>
    <script src="{% static 'manager/js/app.js' %}"></script>
    
<!-- Need: Apexcharts -->
<script src="{% static 'manager/extensions/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'manager/js/pages/dashboard.js' %}"></script>

</body>

</html>
