{% extends "ltr/manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Dexunt Dashboard - Inventory & Shop Manager
{% endif %}
{% if lang == 'fr' %}
         Tableau de bord Dexunt - Gestionnaire de Stock et de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<!-- side menu -->
<ul class="menu">
    {% if lang == 'en' %}

    <!-- selected -->
    <!-- dashboard title -->
    <li class="sidebar-item active ">
        <a href="index.html" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- end dashboard title -->

    <!-- change language -->
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <!-- title -->
            <i class="bi bi-globe"></i>
            <span>Change Language</span>
            <!-- title -->
        </a>
        <!-- language list -->
        <ul class="submenu ">
            <!-- english -->
            <li class="submenu-item active">
                <a href="component-alert.html">ENGLISH</a>
            </li>
            <!-- end english -->

            <!-- frensh -->
            <li class="submenu-item ">
                <a href="component-badge.html">FRENSH</a>
            </li>
            <!-- end frensh -->

            <!-- arabic -->
            <li class="submenu-item ">
                <a href="component-badge.html">ARABIC</a>
            </li>
            <!-- end arabic -->
        </ul>
        <!-- end language list -->
    </li>
    <!-- end change language -->

    <!-- inventory management separation -->
    <li class="sidebar-title">Inventory Management
    </li>
    <!-- end inventory management separation -->

    <!-- inventory products -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-box-seam"></i>
            <span>Inventory Products</span>
        </a>
    </li>
    <!-- end inventory products -->

    <!-- sales -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-clipboard-minus"></i>
            <span>Sales</span>
        </a>
    </li>
    <!-- end sales -->

    <!-- my shop -->
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <!-- title -->
            <i class="bi bi-shop-window"></i>
            <span>My Shop</span>
            <!-- title -->
        </a>
        <!-- commands list -->
        <ul class="submenu ">
            <!-- shop products -->
            <li class="submenu-item ">
                <a href="component-alert.html">Shop Products</a>
            </li>
            <!-- end shop products -->

            <!-- the shop -->
            <li class="submenu-item ">
                <a href="component-badge.html">Shop Manager</a>
            </li>
            <!-- end the shop -->
        </ul>
        <!-- end commands list -->
    </li>
    <!-- end my shop -->

    <!-- team management title -->
    <li class="sidebar-title">Team Management
    </li>
    <!-- end team management title -->

    <!-- sellers -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-person"></i>
            <span>Sellers</span>
        </a>
    </li>
    <!-- end sellers -->

    <!-- customers -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-people"></i>
            <span>Customers</span>
        </a>
    </li>
    <!-- end customers -->

    <!-- suppliers -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-truck"></i>
            <span>Suppliers</span>
        </a>
    </li>
    <!-- end suppliers -->

    <!-- wallet management title -->
    <li class="sidebar-title">Cash Management
    </li>
    <!-- end wallet management title -->

    <!-- cost -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-wallet2"></i>
            <span>Expenses</span>
        </a>
    </li>
    <!-- end cost -->

    <!-- profit -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-cash-stack"></i>
            <span>Profit</span>
        </a>
    </li>
    <!-- end profit -->

    <!-- my owes -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-cash-stack"></i>
            <span>My Owes</span>
        </a>
    </li>
    <!-- end my owes -->

    <!-- my debts -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-cash-stack"></i>
            <span>My Debts</span>
        </a>
    </li>
    <!-- end my debts -->

    <!-- refunds -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-cash-stack"></i>
            <span>Refunds</span>
        </a>
    </li>
    <!-- end refunds -->

    {% endif %}

    {% if lang == 'fr' %}

    {% endif %}
</ul>
<!-- end side menu -->
{% endblock %}
<!------------------------------- side menu ------------------------------------------------>