{% extends "ltr/manager/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
<title>
{% if lang == 'en' %}
         Dexunt Dashboard - Inventory & Shop Manager
{% endif %}
{% if lang == 'fr' %}
         Tableau de bord Dexunt - Gestionnaire de Stock et de Magasin
{% endif %}
</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
<!-- side menu -->
<ul class="menu">
    {% if lang == 'en' %}
    <!-- separation title -->
    <li class="sidebar-title">Inventory Manager
    </li>
    <!-- end separation title -->

    <!-- selected simple menu -->
    <li class="sidebar-item active ">
        <a href="index.html" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- end selected simple menu -->

    <!-- unselected simple menu -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-file-earmark-medical-fill"></i>
            <span>Add Product</span>
        </a>
    </li>
    <!-- end unselected simple menu -->

    <!-- menu with submenu -->
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <!-- menu with submenu title -->
            <i class="bi bi-stack"></i>
            <span>Team Management</span>
            <!-- end menu with submenu title -->
        </a>
        <!-- submenu -->
        <ul class="submenu ">
            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-alert.html">Add a Seller</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-badge.html">Add a Costomer</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu active title -->
            <li class="submenu-item active ">
                <a href="component-badge.html">Add a Supplier</a>
            </li>
            <!-- end submenu active title -->
        </ul>
        <!-- end submenu -->
    </li>
    <!-- end menu with submenu -->

    {% endif %}

    {% if lang == 'fr' %}
    <!-- separation title -->
    <li class="sidebar-title">Gestion de stock
    </li>
    <!-- end separation title -->

    <!-- selected simple menu -->
    <li class="sidebar-item active ">
        <a href="index.html" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Tableau de Bord</span>
        </a>
    </li>
    <!-- end selected simple menu -->

    <!-- unselected simple menu -->
    <li class="sidebar-item  ">
        <a href="form-layout.html" class='sidebar-link'>
            <i class="bi bi-file-earmark-medical-fill"></i>
            <span>Ajouter un Produit</span>
        </a>
    </li>
    <!-- end unselected simple menu -->

    <!-- menu with submenu -->
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <!-- menu with submenu title -->
            <i class="bi bi-stack"></i>
            <span>Gestion de l'équipe</span>
            <!-- end menu with submenu title -->
        </a>
        <!-- submenu -->
        <ul class="submenu ">
            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-alert.html">Ajouter un Vendeur</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu title -->
            <li class="submenu-item ">
                <a href="component-badge.html">Ajouter un Client</a>
            </li>
            <!-- end submenu title -->

            <!-- submenu active title -->
            <li class="submenu-item active ">
                <a href="component-badge.html">Ajouter un Fournisseur</a>
            </li>
            <!-- end submenu active title -->
        </ul>
        <!-- end submenu -->
    </li>
    <!-- end menu with submenu -->

    {% endif %}
</ul>
<!-- end side menu -->
{% endblock %}
<!------------------------------- side menu ------------------------------------------------>