{% extends "rtl/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- arabic version -->
{% block title %}
     الصفحة الرئيسية لـ Dexunt - التسوق عبر الإنترنت هدايا وديكو
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- popup ---------------------------------------------------->
<!-- arabic version -->
{% block popup %}
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
{% endblock %}
<!------------------------------- end popup ------------------------------------------------>

<!------------------------------- left content top bar ------------------------------------->
<!-- arabic version -->
{% block left_content_top_bar %}
<li>
    <i>العربية</i>
    <i class="fa fa-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'en' %}">English</a>
    <i class="fa fa-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'fr' %}">Français</a>
</li>
<li><i class="fa fa-headphones"></i>
    <a href="#">
        مساعدة
    </a>
</li>
{% endblock %}
<!------------------------------- end left content top bar --------------------------------->

<!------------------------------- right content top bar ------------------------------------>
<!-- arabic version -->
{% block right_content_top_bar %}
<li><i class="fa fa-user"></i>
    <a href="#">دخول</a>
</li>
<li><i class="fa fa-bullhorn fa-flip-horizontal"></i>
    <a href="#">إعلان</a>
</li>
{% endblock %}
<!------------------------------- end right content top bar -------------------------------->

<!------------------------------- mobile search bar ---------------------------------------->
<!-- arabic version -->
{% block mobile_search %}
<div class="top-search"><a href="#0"><i class="ti-search"></i></a>
</div>
<div class="search-top">
    <form class="search-form">
        <input type="text" placeholder="ابحث هنا..." name="search">
        <button value="search" type="submit"><i class="ti-search"></i></button>
    </form>
</div>
{% endblock %}
<!------------------------------- end mobile search bar ------------------------------------>

<!------------------------------- big banner ----------------------------------------------->
<!-- arabic version -->
{% block big_banner %}
<h1>
    <span>
        {{ ar.big_banner_small_title }}
    </span>
    {{ ar.big_banner_big_title }}
</h1>
<p>
    {{ ar.big_banner_first_line }}
    <br>
    {{ ar.big_banner_second_line }}
    <br>
    {{ ar.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ ar.big_banner_button_title }}
    </a>
</div>
{% endblock %}
<!------------------------------- end banner ----------------------------------------------->

<!------------------------------- desk search bar ------------------------------------------>
<!-- arabic version -->
{% block desk_search %}
<select>
    <option selected="selected">كل</option>
    <option>ساعة</option>
    <option>هاتف محمول</option>
</select>
<form>
    <input name="search" placeholder="ابحث عن المنتجات هنا....." type="search">
    <button class="btnn"><i class="ti-search"></i></button>
</form>
{% endblock %}
<!------------------------------- end desk search bar -------------------------------------->

<!------------------------------- side menu ------------------------------------------------>
<!-- arabic version -->
{% block side_menu %}
<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>التصنيفات
</h3>
<ul class="main-category">
    <li><a href="index.html#">القادمون الجدد<i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <ul class="sub-category">
            <li><a href="index.html#">ملحقات</a></li>
            <li><a href="index.html#">أفضل مبيعات</a></li>
            <li><a href="index.html#">نظارات</a></li>
        </ul>
    </li>
    <li class="main-mega"><a href="index.html#">أفضل مبيعات <i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <ul class="mega-menu">
            <li class="single-menu">
                <a href="index.html#" class="title-link">متجر الاطفال</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">لعب الاطفال</a>
                    <a href="index.html#">سيارة اطفال للسفر</a>
                    <a href="index.html#">شكل لون الاطفال</a>
                    <a href="index.html#">خيمة الاطفال</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">متجر الرجال</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu2.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">ساعة</a>
                    <a href="index.html#">تي شيرت</a>
                    <a href="index.html#">هوديس</a>
                    <a href="index.html#">سروال رسمي</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">متجر النساء</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu3.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">قميص نسائي</a>
                    <a href="index.html#">ضفدع السيدات</a>
                    <a href="index.html#">عدسة مكبرة</a>
                    <a href="index.html#">ساعة نسائية</a>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="index.html#">ملحقات</a></li>
    <li><a href="index.html#">أفضل عرض</a></li>
    <li><a href="index.html#">نظارات</a></li>
    <li><a href="index.html#">ساعة</a></li>
    <li><a href="index.html#">متجر الرجال</a></li>
    <li><a href="index.html#">متجر النساء</a></li>
    <li><a href="index.html#">اللباس الغربي</a></li>
    <li><a href="index.html#">الدنيم</a></li>
</ul>
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- top menu ------------------------------------------------->
<!-- english & frensh version -->
{% block top_menu %}
<li><a href="index.html#">جميع المنتجات</a>
</li>
<li>
    <a href="index.html#">خدمة<span class="new">جديد</span></a>
</li>
<li><a href="index.html#">هدايا ل<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
        <li><a href="about-us.html">ولادة جديدة</a></li>
        <li><a href="login.html">زواج</a></li>
        <li><a href="register.html">عيد الميلاد</a></li>
        <li><a href="mail-success.html">مناسبة مختلفة</a></li>
    </ul>
</li>
<li><a href="index.html#">بطاقات الهدايا</a>
</li>
{% endblock %}
<!------------------------------- end top menu --------------------------------------------->