{% extends "rtl/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
     الصفحة الرئيسية لـ Dexunt - التسوق عبر الإنترنت هدايا وديكو
{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
<!-- end popup -->
{% endblock %}

{% block left_content_top_bar %}
<!-- left content top bar -->
<li>
    <i>العربية</i>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'en' %}">English</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'fr' %}">Français</a>
</li>
<li><i class="ti-location-pin"></i>
    <a href="#">
        تابع طلبي
    </a>
</li>
<!-- end left content top bar -->
{% endblock %}

{% block right_content_top_bar %}
<!-- right content top bar -->
<li><i class="ti-user"></i>
    <a href="#">دخول</a>
</li>
<li><i class="ti-announcement"></i>
    <a href="#">إعلان</a>
</li>
<!-- end right content top bar -->
{% endblock %}

{% block big_banner %}
<!-- big banner -->
<h1>
    <span>
        {{ ar.big_banner_small_title }}
    </span>
    {{ ar.big_banner_big_title }}
</h1>
<p>
    {{ ar.big_banner_first_line }}
    <br>
    {{ ar.big_banner_second_line }}
    <br>
    {{ ar.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ ar.big_banner_button_title }}
    </a>
</div>
<!-- end banner -->
{% endblock %}