{% extends "rtl/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
  {% if lang == 'ar' %}
    {{ ar.home_title }}
  {% elif lang == 'fr' %}
    {{ fr.home_title }}
  {% elif lang == 'en' %}
    {{ en.home_title }}
  {% endif %}
{% endblock %}

{% block title-info %}
  {% if lang == 'ar' %}
    {{ ar.home_title_info }}
  {% elif lang == 'fr' %}
    {{ fr.home_title_info }}
  {% elif lang == 'en' %}
    {{ en.home_title_info }}
  {% endif %}
{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
<!-- end popup -->
{% endblock %}