{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Province</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all tags  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">tags</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Tags</h1>
    <h6 class="text-muted">Tags list</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_a_tag">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add a tag"></i>
    </button>
  </div>
  <!-- end all tags  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all tags  -->
<div class="card">
  {% if all_tags %}

  <div class="row p-4">
    {% for tag in all_tags %}
    <div class="col-3 mb-2">
      <span class="badge bg-light text-dark">{{ tag.title }}</span>
    </div>
    {% endfor %}
  </div>

  <div class="row p-4">
    {% for tag in all_tags %}
    <div class="col-sm mb-2 mb-sm-0">
      <a class="btn btn-light align-items-center" href="javascript:;" data-bs-toggle="modal" data-bs-target="#empty_tag_{{ tag.id }}">
        <strong class="text-dark h5">
          {{ tag.title }}
          {% if tag.product.all.count %}
          ({{ tag.product.all.count }})
          {% endif %}
        </strong>
      </a>
      <a class="btn btn-ghost align-items-center" href="javascript:;" data-bs-toggle="modal" data-bs-target="#delete_tag_{{ tag.id }}">
        <i class="fa fa-trash"></i>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="row p-4">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        No registred tags.
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all tags  -->


<!-- add a tag modal -->
<div id="add_a_tag" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add a tag</h2>
          </div>
          <form action="{% url 'admin-manage-tags' 'add_new_tag' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}

            <div class="row mb-4">
              <!-- english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">name</span>
                <input type="text" class="form-control" name="title" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end english name -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% for tag in all_tags %}
<!-- delete a tag modal -->
<div id="delete_tag_{{ tag.id }}" class="modal fade" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ tag.title }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="{% url 'admin-manage-tags' 'delete_tag' %}?tag_id={{ tag.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>

{% if tag.product.all.count %}
<!-- empty a tag modal -->
<div id="empty_tag_{{ tag.id }}" class="modal fade" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to remove ({{ tag.product.all.count }}) product from {{ tag.title }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="{% url 'admin-manage-tags' 'empty_tag' %}?tag_id={{ tag.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}