{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Province</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all tags  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">tags</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Tags</h1>
    <h6 class="text-muted">Tags list</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_a_tag">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add a tag"></i>
    </button>
  </div>
  <!-- end all tags  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all tags  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if all_tags %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_tags_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for tag in all_tags %}
      <!-- tags list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- province info -->
        <td class="table-column-ps-0">
          <a class="d-flex align-items-center" href="{% url 'admin-manage-shipping' 'view_province' %}?province_id={{ province.id }}&init=True">
            <div class="ms-3">
              <span class="d-block h5 text-inherit">{{ tag.title }}</span>
            </div>
          </a>
        </td>

        <td>
          <span class="text-inherit text-body h5">Products ({{ tag.product.all.count }})</span>
        </td>
        
        <!-- province actions -->
        <td class="text-end">
          <!-- edit municipality -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_modal_{{ province.id }}">
            <i class="fa fa-pencil fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
          </button>

          <!-- delete province -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ province.id }}">
            <i class="fa fa-trash fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
        </td>
      </tr>
      <!-- end tags list -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <!-- Pagination -->
      <nav>
        {% if all_tags.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if all_tags.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_tags.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in all_tags.paginator.page_range %}
          {% if all_tags.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if all_tags.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_tags.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        No registred tags.
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all tags  -->


<!-- add a tag modal -->
<div id="add_a_tag" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add a tag</h2>
          </div>
          <form action="{% url 'admin-manage-tags' 'add_new_tag' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}

            <div class="row mb-4">
              <!-- english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">name</span>
                <input type="text" class="form-control" name="title" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end english name -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add a tag modal -->
{% endblock %}