{% extends "ltr/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Province</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all products  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">provinces</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Provinces</h1>
    <h6 class="text-muted">Provinces list</h6>
  </div>
  <div class="col-sm-auto">
    <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#add_province">
      <i class="bi-plus-lg me-1" data-bs-toggle="tooltip" data-bs-placement="left" title="add new province"></i>
    </button>
  </div>
  <!-- end all products  -->
</div>

<!-- add province modal -->
<div id="add_province" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_new_product_modal_title">
          <div class="text-center mb-7">
            <h2>Add province</h2>
          </div>
          <form action="{% url 'admin-manage-shipping' 'add_province' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}

            <div class="row mb-4">
              <span class="divider-center mb-2">Municipality Name</span>

              <!-- english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="{{ province_form.en_name.name }}" placeholder="Algiers" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end english name -->

              <!-- french name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="{{ province_form.fr_name.name }}" placeholder="Alger">
              </div>
              <!-- end french name -->

              <!-- arabic name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="{{ province_form.ar_name.name }}" placeholder="الجزائر" dir="rtl">
              </div>
              <!-- end arabic name -->

              <span class="divider-center mb-2">Delivery Time</span>

              <!-- french delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="{{ province_form.en_delivery_time.name }}" placeholder="Three to Four Days">
              </div>
              <!-- end french delivery time -->

              <!-- english delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="{{ province_form.fr_delivery_time.name }}" placeholder="Trois à Quatre Jours">
              </div>
              <!-- end english delivery time -->

              <!-- arabic delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="{{ province_form.ar_delivery_time.name }}" placeholder="ثلاثة إلى أربعة أيام" dir="rtl">
              </div>
              <!-- end arabic delivery time -->

              <span class="divider-center mb-2">Delivery Price</span>

              <!-- price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">to home</span>
                <input type="number" class="form-control" name="{{ province_form.home_delivery_price.name }}" min="0" placeholder="1000" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end price -->

              <!-- price -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">to desk</span>
                <input type="number" class="form-control" name="{{ province_form.desk_delivery_price.name }}" min="0" placeholder="800">
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end price -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end add province modal -->
{% endblock %}

<!-- product content -->
{% block content %}
<!-- all provinces  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if paginate %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for province in provinces %}
      <!-- provinces list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- province info -->
        <td class="table-column-ps-0">
          <a class="d-flex align-items-center" href="{% url 'admin-manage-shipping' 'view_province' %}?province_id={{ province.id }}&init=True">
            <div class="ms-3">
              <span class="d-block h5 text-inherit">{{ province.en_name|title }} - {{ province.en_delivery_time }}</span>
              <span class="d-block h5 text-inherit">{{ province.fr_name|title }} - {{ province.fr_delivery_time }}</span>
              <span class="d-block h5 text-inherit" dir="rtl">{{ province.ar_name }} - {{ province.ar_delivery_time }}</span>
            </div>
          </a>
        </td>

        <td>
          <h4 class="text-inherit text-body">delivery to home :{{ province.home_delivery_price|floatformat:"2g" }} DZD</h4>
          <h4 class="text-inherit text-body">delivery to desk :{{ province.desk_delivery_price|floatformat:"2g" }} DZD</h4>
        </td>
        <!-- province actions -->
        <td class="text-end">
          <!-- edit municipality -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#edit_modal_{{ province.id }}">
            <i class="fa fa-pencil fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
          </button>

          <!-- delete province -->
          <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ province.id }}">
            <i class="fa fa-trash fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
          </button>
        </td>
      </tr>
      <!-- end products list -->

      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <!-- Pagination -->
      <nav>
        {% if provinces.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if provinces.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ provinces.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in provinces.paginator.page_range %}
          {% if provinces.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if all_provinces.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ provinces.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Row -->
  </div>
  <!-- end footer -->
  {% else %}
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm mb-2 mb-sm-0">
        No province registred .
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- end all provinces  -->

{% for province in provinces %}
<!-- delete province form -->
<form action="{% url 'admin-manage-shipping' 'delete_province' %}" id="delete_form_{{ province.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="province_id" value='{{ province.id }}'>
</form>

<!-- edit province modal -->
<div id="edit_modal_{{ province.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center mb-7">
            <h2>{{ province.en_name }}</h2>
          </div>
          <form action="{% url 'admin-manage-shipping' 'edit_province' %}" class="js-validate need-validate" novalidate method="post">
            {% csrf_token %}
            <input type="hidden" name="province_id" value='{{ province.id }}'>

            <div class="row mb-4">
              <span class="divider-center mb-2">Province Name</span>

              <!-- province english name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="{{ province_form.en_name.name }}" placeholder="Algiers" value="{{ province.en_name }}" required>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end province english name -->

              <!-- province french name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="{{ province_form.fr_name.name }}" placeholder="Alger" value="{{ province.fr_name }}">
              </div>
              <!-- end province french name -->

              <!-- province arabic name -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="{{ province_form.ar_name.name }}" placeholder="الجزائر" value="{{ province.ar_name }}" dir="rtl">
              </div>
              <!-- end province arabic name -->

              <span class="divider-center mb-2">Delivery Time</span>

              <!-- english delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">english</span>
                <input type="text" class="form-control" name="{{ province_form.en_delivery_time.name }}" value="{{ province.en_delivery_time }}" placeholder="Three to Four Days">
              </div>
              <!-- end english delivery time -->

              <!-- french delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">french</span>
                <input type="text" class="form-control" name="{{ province_form.fr_delivery_time.name }}" value="{{ province.fr_delivery_time }}" placeholder="Trois à Quatre Jours">
              </div>
              <!-- end french delivery time -->

              <!-- arabic delivery time -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">arabic</span>
                <input type="text" class="form-control" name="{{ province_form.ar_delivery_time.name }}" value="{{ province.ar_delivery_time }}" placeholder="ثلاثة إلى أربعة أيام" dir="rtl">
              </div>
              <!-- end arabic delivery time -->

              <span class="divider-center mb-2">Delivery Price</span>

              <!-- to home -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">to home</span>
                <input type="number" class="form-control" name="{{ province_form.home_delivery_price.name }}" value="{{ province.home_delivery_price }}" min="0" placeholder="1000" required>
                <span class="input-group-text" style="width: 20%;">DZD</span>
                <span class="invalid-feedback text-center">required field.</span>
              </div>
              <!-- end to home -->

              <!-- to desk -->
              <div class="input-group mb-2">
                <span class="input-group-text" style="width: 25%;">to desk</span>
                <input type="number" class="form-control" name="{{ province_form.desk_delivery_price.name }}" value="{{ province.desk_delivery_price }}" min="0" placeholder="800">
                <span class="input-group-text" style="width: 20%;">DZD</span>
              </div>
              <!-- end to desk -->
            </div>

            <!-- submit -->
            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
            </div>
            <!-- end submit -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- delete province modal -->
<div id="delete_modal_{{ province.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ province.en_name }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="delete_form_{{ province.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}