{% extends "ltr/management/member/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Orders</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all orders  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">orders</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Orders</h1>
  </div>
  <!-- end all orders  -->
</div>
{% endblock %}

<!-- orders content -->
{% block content %}
<!-- all orders  -->
<div class="card">
  {% if paginate %}
  <!-- Table -->
  <div class="table-responsive datatable-custom">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <tbody>
      {% for transaction in transactions %}
      <!-- Table Actions -->
      <tr>
        <td>
          <span class="d-block fs-5">{{ transaction.requested_by.store.name }}</span>
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.requested_at }}</span>
        </td>

        <td>
          <span class="d-block fs-5">{{ transaction.amount|floatformat:"0g" }} <small>DZD</small></span>
        </td>

        <td class="text-end">
          <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#confirm_modal_{{ transaction.id }}">
            <i class="fa fa-check fa-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm"></i>
          </a>
        </td>
      </tr>
      <!-- End Table Actions -->
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  {% if transactions.has_other_pages %}
  <!-- Footer -->
  <div class="card-footer">
    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-sm-end">
      <nav>
        {% if transactions.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if transactions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in transactions.paginator.page_range %}
          {% if transactions.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if transactions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- End Pagination -->
  </div>
  <!-- End Footer -->
  {% endif %}
  {% else %}
  <div class="text-center mb-4 mt-4">
    No requested payments .
  </div>
  {% endif %}
</div>
<!-- end all orders  -->
{% endblock %}