{% extends "ltr/management/provider/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | My Store | Dashboard</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">store</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Settings</h1>
    {% if not user.store.is_activated %}
    <h6 class="text-danger">Your account is not yet activated, please fill in all the information (activation will be done within 24 hours)</h6>
    {% endif %}
  </div>
</div>
{% endblock %}

<!-- showcase content -->
{% block content %}

<div class="row">
  <div class="col-lg-4 mb-3 mb-lg-0">
    <h4>Store logo</h4>
  </div>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <form action="{% url 'provider-store' 'edit_logo' %}" class="js-validate need-validate" novalidate method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="text-center mb-4 mt-4">
            <label class="avatar avatar-xxl avatar-square avatar-uploader">
              {% if user.profile_photo %}
              <img id="editAvatarImg" class="avatar-img" src="{% get_media_prefix %}{{ user.profile_photo }}">
              <input type="file" class="js-file-attach avatar-uploader-input" name="{{ update_photo_form.profile_photo.name }}" data-hs-file-attach-options='{
              "textTarget": "#editAvatarImg",
              "mode": "image",
              "targetAttr": "src",
              "allowTypes": [".png", ".jpeg", ".jpg"]
              }' required>
              <span class="invalid-feedback text-center">please upload your logo.</span>
              {% else %}
              <img id="editAvatarNoImg" class="avatar-img" src="{% static 'home-page/images/custom/add-image.png' %}">
              <input type="file" class="js-file-attach avatar-uploader-input" name="{{ update_photo_form.profile_photo.name }}" data-hs-file-attach-options='{
              "textTarget": "#editAvatarNoImg",
              "mode": "image",
              "targetAttr": "src",
              "allowTypes": [".png", ".jpeg", ".jpg"]
              }' required>
              <span class="invalid-feedback text-center">please upload your logo.</span>
              {% endif %}

              <span class="avatar-uploader-trigger">
                <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
              </span>
            </label>

          </div>

          <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-white">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>

<hr class="my-5">

<div class="row">
  <div class="col-lg-4 mb-3 mb-lg-0">
    <h4>Store information</h4>
  </div>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <form action="{% url 'provider-store' 'edit_store' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}

          <div class="mb-4">
            <label class="form-label">Name</label>
            {% if user.store.name %}
            <input type="text" class="form-control" name="{{ store_form.name.name }}" value="{{ user.store.name }}" required>
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.name.name }}" placeholder="Dexunt" required>
            {% endif %}
            <span class="invalid-feedback text-start">This field is required.</span>
          </div>

          <div class="mb-4">
            <label class="form-label">Activity (english)</label>
            {% if user.store.en_activity %}
            <input type="text" class="form-control" name="{{ store_form.en_activity.name }}" value="{{ user.store.en_activity }}">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.en_activity.name }}" placeholder="">
            {% endif %}
            <span class="invalid-feedback text-start">This field is required.</span>
          </div>

          <div class="mb-4">
            <label class="form-label">Activity (french)</label>
            {% if user.store.fr_activity %}
            <input type="text" class="form-control" name="{{ store_form.fr_activity.name }}" value="{{ user.store.fr_activity }}">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.fr_activity.name }}" placeholder="">
            {% endif %}
            <span class="invalid-feedback text-start">This field is required.</span>
          </div>

          <div class="mb-4">
            <label class="form-label">Activity (arabic)</label>
            {% if user.store.ar_activity %}
            <input type="text" class="form-control" name="{{ store_form.ar_activity.name }}" value="{{ user.store.ar_activity }}" dir="rtl">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.ar_activity.name }}" placeholder="" dir="rtl">
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label" >Description (english)</label>
            {% if user.store.en_description %}
            <textarea class="form-control" name="{{ store_form.en_description.name }}" placeholder="{{ user.store.en_description }}" rows="4"></textarea>
            {% else %}
            <textarea class="form-control" name="{{ store_form.en_description.name }}" placeholder="" rows="4"></textarea>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label" >Description (french)</label>
            {% if user.store.fr_description %}
            <textarea class="form-control" name="{{ store_form.fr_description.name }}" placeholder="{{ user.store.fr_description }}" rows="4"></textarea>
            {% else %}
            <textarea class="form-control" name="{{ store_form.fr_description.name }}" placeholder="" rows="4"></textarea>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label" >Description (arabic)</label>
            {% if user.store.ar_description %}
            <textarea class="form-control" name="{{ store_form.ar_description.name }}" placeholder="{{ user.store.ar_description }}" dir="rtl" rows="4"></textarea>
            {% else %}
            <textarea class="form-control" name="{{ store_form.ar_description.name }}" placeholder="" dir="rtl" rows="4"></textarea>
            {% endif %}
          </div>





          <div class="mb-4">
            <label class="form-label">Store address (english)</label>
            {% if user.store.en_address %}
            <input type="text" class="form-control" name="{{ store_form.en_address.name }}" value="{{ user.store.en_address }}">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.en_address.name }}" placeholder="">
            {% endif %}
            <span class="invalid-feedback text-start">This field is required.</span>
          </div>

          <div class="mb-4">
            <label class="form-label">Store address (french)</label>
            {% if user.store.fr_address %}
            <input type="text" class="form-control" name="{{ store_form.fr_address.name }}" value="{{ user.store.fr_address }}">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.fr_address.name }}" placeholder="">
            {% endif %}
            <span class="invalid-feedback text-start">This field is required.</span>
          </div>

          <div class="mb-4">
            <label class="form-label">Store address (arabic)</label>
            {% if user.store.ar_address %}
            <input type="text" class="form-control" name="{{ store_form.ar_address.name }}" value="{{ user.store.ar_address }}" dir="rtl">
            {% else %}
            <input type="text" class="form-control" name="{{ store_form.ar_address.name }}" placeholder="" dir="rtl">
            {% endif %}
          </div>


          <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-white">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

