{% extends "en-us/management/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Admin Page </title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">Content</li>
      </ol>
    </nav>

    <h1 class="page-header-title">Content manager</h1>
  </div>

  <div class="col-sm-auto">
    <a class="btn btn-light" href="{% url 'home-page' %}">
      <i class="bi-eye-fill me-1"></i> View Landing Page
    </a>
  </div>
</div>
{% endblock %}

<!-- sub tab nav -->
{% block sub_tab_nav %}
<div class="text-center">
  <ul class="nav nav-segment nav-pills mb-7" role="tablist">
    <li class="nav-item">
      <a class="nav-link {% if tab == 'slides' %} active {% endif %}" id="slides_nav" href="#slides_tab" data-bs-toggle="pill" data-bs-target="#slides_tab" role="tab" aria-controls="slides_tab">Slides</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'intro' %} active {% endif %}" id="intro_nav" href="#intro_tab" data-bs-toggle="pill" data-bs-target="#intro_tab" role="tab" aria-controls="intro_tab">Intro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'how_it_works' %} active {% endif %}" id="how_it_works_nav" href="#how_it_works_tab" data-bs-toggle="pill" data-bs-target="#how_it_works_tab" role="tab" aria-controls="how_it_works_tab">How It Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'home_page_FAQ' %} active {% endif %}" id="home_page_FAQ_nav" href="#home_page_FAQ_tab" data-bs-toggle="pill" data-bs-target="#home_page_FAQ_tab" role="tab" aria-controls="home_page_FAQ_tab">Home Page FAQ</a>
    </li>
  </ul>
</div>
{% endblock %}

<!-- sub tab content -->
{% block sub_tab_content %}
<div class="tab-content">
  <div class="tab-pane fade {% if tab == 'slides' %} show active {% endif %}" id="slides_tab" role="tabpanel" aria-labelledby="slides_nav">


  </div>

  <div class="tab-pane fade {% if tab == 'intro' %} show active {% endif %}" id="intro_tab" role="tabpanel" aria-labelledby="intro_nav">


  </div>

  <div class="tab-pane fade {% if tab == 'how_it_works' %} show active {% endif %}" id="how_it_works_tab" role="tabpanel" aria-labelledby="how_it_works_nav">


  </div>

  <div class="tab-pane fade {% if tab == 'home_page_FAQ' %} show active {% endif %}" id="home_page_FAQ_tab" role="tabpanel" aria-labelledby="home_page_FAQ_nav">


  </div>
</div>
{% endblock %}
