{% extends "rtl/management/admin/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Products | {{ selected_product.en_title }}</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- selected product  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'admin-manage-products' 'main' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ selected_product.en_title }}</li>
      </ol>
    </nav>
    <h1 class="page-header-title">{{ selected_product.en_title }}</h1>
    {% if selected_product.store %}
    <h6>
      <span class="text-muted ms-1">
        {% if selected_product.store.name %}
        {{ selected_product.store.name }}
        {% else %}
        {{ selected_product.store.user.username }}
        {% endif %}
      </span>
    </h6>
    {% endif %}

    {% if selected_product.brand %}
    <h6>
      <span class="text-muted ms-1">
        {{ selected_product.brand }}
      </span>
    </h6>
    {% endif %}
  </div>
  <div class="col-sm-auto">
  </div>
  <!-- end selected product  -->
</div>
{% endblock %}

<!-- product content -->
{% block content %}
<div class="row">
  <!-- description -->
  <div class="col-lg-8 mb-3 mb-lg-0">
    <div class="card mb-2">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">Description</h5>
          </div>
        </div>
        <!-- end title -->
      </div>

      <div class="card-body">
        <!-- table -->
        <div class="table-responsive">
          <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <tbody>
            <tr>
              <td class="table-column-ps-0">
                <div class="text-dark">
                  English
                </div>
              </td>

              <td class="text-end">
                {% if selected_product.en_description %}
                <!-- en description edit -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_en_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </a>

                <!-- en description show -->
                <a class="btn btn-ghost btn-icon" href="javascript:;" data-bs-toggle="modal" data-bs-target="#en_description_show_modal">
                  <i class="fa fa-eye me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Show"></i>
                </a>
                {% else %}
                <!-- en description add -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_en_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-column-ps-0">
                <div class="text-dark">
                  French
                </div>
              </td>

              <td class="text-end">
                {% if selected_product.fr_description %}
                <!-- fr description edit -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_fr_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </a>

                <!-- fr description show -->
                <a class="btn btn-ghost btn-icon" href="javascript:;" data-bs-toggle="modal" data-bs-target="#fr_description_show_modal">
                  <i class="fa fa-eye me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Show"></i>
                </a>
                {% else %}
                <!-- fr description add -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_fr_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-column-ps-0">
                <div class="text-dark">
                  Arabic
                </div>
              </td>

              <td class="text-end">
                {% if selected_product.ar_description %}
                <!-- ar description edit -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_ar_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-pencil me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </a>

                <!-- ar description show -->
                <a class="btn btn-ghost btn-icon" href="javascript:;" data-bs-toggle="modal" data-bs-target="#ar_description_show_modal">
                  <i class="fa fa-eye me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Show"></i>
                </a>
                {% else %}
                <!-- ar description add -->
                <a class="btn btn-ghost btn-icon" href="{% url 'admin-manage-products' 'edit_ar_description' %}?product_id={{ selected_product.id }}">
                  <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>

  <!-- product details -->
  <div class="col-lg-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Product Details</h4>
      </div>

      <div class="card-body">
        <form action="{% url 'admin-manage-products' 'edit_product' %}" class="js-validate need-validate" novalidate method="post">
          {% csrf_token %}
          <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
          <div class="row mb-4">
            <span class="divider-center mb-2">Main Informations</span>
            <!-- product english title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ product_form.en_title.name }}" value="{{ selected_product.en_title }}" required>
              <span class="invalid-feedback text-center">required field.</span>
            </div>
            <!-- end product english title -->

            <!-- product french title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ product_form.fr_title.name }}" value="{{ selected_product.fr_title }}">
            </div>
            <!-- end product french title -->

            <!-- product arabic title -->
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="{{ product_form.ar_title.name }}" value="{{ selected_product.ar_title }}" dir="rtl">
            </div>
            <!-- end product arabic title -->
          </div>
          <!-- submit -->
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary form-control-lg">Confirm</button>
          </div>
          <!-- end submit -->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mb-lg-0">
    <!-- variants -->
    <div class="card">
      <div class="card-header card-header-content-md-between">
        <!-- title -->
        <div class="mb-2 mb-md-0">
          <div class="flex-grow-1">
            <h5 class="text-inherit mb-0">Variants</h5>
          </div>
        </div>
        <!-- end title -->
      </div>

      <div class="card-body">
        <!-- table -->
        <div class="table-responsive">
          <table id="all_variants_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <tbody>
            <!-- variants list -->
            {% for variant in selected_product.variant_set.all %}
            <tr>
              <!-- variant title and image -->
              <td class="table-column-ps-0">
                <a class="d-flex align-items-center" href="{% url 'admin-manage-products' 'view_variant' %}?variant_id={{ variant.id }}">
                  <div class="flex-shrink-0">
                    {% if variant.album_set.all.count %}
                    <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ variant.album_set.all.first.image }}">
                    {% else %}
                    <img class="avatar avatar-lg" src="{% static 'home-page/images/custom/no-image.png' %}">
                    {% endif %}
                  </div>

                  <div class="ms-3">
                    <div class="col">
                      {% if not variant.is_available %}
                      <small>
                        <span class="badge bg-danger">
                        <i class="fa fa-circle-exclamation"></i>
                          unavailable
                        </span>
                      </small>
                      {% endif %}

                      {% if not variant.is_activated %}
                      <small>
                        <span class="badge bg-danger">
                        <i class="fa fa-circle-exclamation"></i>
                          deactivated
                        </span>
                      </small>
                      {% endif %}
                    </div>

                    <div class="col">
                      {% if not variant.has_no_photos %}
                      <small>Photos : {{ variant.album_set.all.count }}</small>
                      {% else %}
                      <small>
                        <span class="badge bg-danger">
                          <i class="fa fa-triangle-exclamation"></i>
                          photos
                        </span>
                      </small>
                      {% endif %}

                      <small>Options : {{ variant.option_set.all.count }}</small>
                    </div>

                    <div class="col">
                      {% if variant.feature_set.all.count %}
                      <small>Features : {{ variant.feature_set.all.count }}</small>
                      {% else %}
                      <small>
                        <span class="badge bg-warning">
                          <i class="fa fa-triangle-exclamation"></i>
                          features
                        </span>
                      </small>
                      {% endif %}
                    </div>
                  </div>
                </a>
              </td>

              <!-- actions -->
              <td>
                {% if forloop.counter == 1 %}
                <!-- duplicate option button -->
                <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#duplicate_variant_modal_{{ variant.id }}">
                  <i class="fa fa-clone" data-bs-toggle="tooltip" data-bs-placement="top" title="Duplicate"></i>
                </button>
                {% endif %}

                {% if selected_product.variant_set.all.count > 1 %}
                <!-- delete variant -->
                <button type="button" class="btn btn-white btn-icon" data-bs-toggle="modal" data-bs-target="#delete_variant_modal_{{ variant.id }}">
                  <i class="fa fa-trash me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                </button>
                {% endif %}
              </td>

              <!-- value -->
              <td class="text-start">
                <h6 class="text-body">
                  <small>{{ selected_product.en_title }} - {{ variant.en_spec }}</small>
                </h6>
                <h6 class="text-body">
                  <small>{{ selected_product.fr_title }} - {{ variant.fr_spec }}</small>
                </h6>
                <h6 class="text-body" dir="rtl">
                  <small>{{ selected_product.ar_title }} - {{ variant.ar_spec }}</small>
                </h6>
              </td>

              <!-- price , discount-->
              <td>
                <h6 class="text-body">
                  <small>Price :{{ variant.option_set.first.price|floatformat:"2g" }} DZD</small>
                </h6>

                {% if variant.option_set.first.discount %}
                <h6 class="text-body">
                  <small>Discount :{{ variant.option_set.first.discount|floatformat:"2g" }} DZD</small>
                </h6>
                {% else %}
                <h6 class="text-body">
                  <small>No Discount</small>
                </h6>
                {% endif %}
              </td>

            </tr>
            {% endfor %}
            <!-- end variant list -->
            </tbody>
          </table>
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>
</div>

<!-- variants modals & forms -->
{% for variant in selected_product.variant_set.all %}
<!-- activate variant form -->
<form action="{% url 'admin-manage-products' 'activate_variant' %}" id="activate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>

<!-- deactivate variant form -->
<form action="{% url 'admin-manage-products' 'deactivate_variant' %}" id="deactivate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>

<!-- duplicate variant form -->
<form action="{% url 'admin-manage-products' 'duplicate_variant' %}" id="duplicate_variant_form_{{ variant.id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value='{{ selected_product.id }}'>
  <input type="hidden" name="variant_id" value='{{ variant.id }}'>
</form>




<!-- activate variant modal -->
<div id="activate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to activate {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="activate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- deactivate variant modal -->
<div id="deactivate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to deactivate {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="deactivate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- delete variant modal -->
<div id="delete_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="delete_variant_modal_title_{{ selected_product.id }}_{{ variant.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_variant_modal_title_{{ selected_product.id }}_{{ variant.id }}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to delete {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="{% url 'admin-manage-products' 'delete_variant' %}?variant_id={{ variant.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>

<!-- duplicate variant modal -->
<div id="duplicate_variant_modal_{{ variant.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>click yes to duplicate {{ selected_product.en_title }} - {{ variant.en_spec }}.</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" form="duplicate_variant_form_{{ variant.id }}">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- en description show modal -->
<div id="en_description_show_modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-10 mx-10 mb-4">
        {{ selected_product.en_description|safe }}
      </div>
    </div>
  </div>
</div>

<!-- fr description show modal -->
<div id="fr_description_show_modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-10 mx-10 mb-4">
        {{ selected_product.fr_description|safe }}
      </div>
    </div>
  </div>
</div>

<!-- ar description show modal -->
<div id="ar_description_show_modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-10 mx-10 mb-4">
        {{ selected_product.ar_description|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}