{% extends "rtl/management/member/base.html" %}
{% load static %}

<!-- title -->
{% block title %}<title>Dexunt | eCommerce & Logistic | Management | Orders</title>{% endblock %}

<!-- header -->
{% block page_header %}
<div class="row align-items-end">
  <!-- all orders  -->
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item active" aria-current="page">refunds</li>
      </ol>
    </nav>
    <h1 class="page-header-title">Refunds</h1>
  </div>
  <!-- end all orders  -->
</div>
{% endblock %}

<!-- orders content -->
{% block content %}
<!-- all orders  -->
<div class="card">
  <!-- header -->
  <div class="card-header card-header-content-md-between">
    <!-- search -->
    <div class="mb-2 mb-md-0">
      <form>
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch" type="search" class="form-control" placeholder="Search orders" aria-label="Search orders">
        </div>
      </form>
    </div>
    <!-- end search -->

    <!-- title bar -->
    <div class="d-grid d-sm-flex gap-2">
    </div>
    <!-- end title bar -->
  </div>
  <!-- end header -->

  {% if paginate %}
  <!-- table -->
  <div class="table-responsive">
    <table id="all_products_table" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-hover">
      <tbody>
      {% for product in all_orders %}
      <!-- products list -->
      <tr>
        <td class="table-column-pe-0">
        </td>
        <!-- product title and image -->
        <td class="table-column-ps-0">
          <a type="button" class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#view_order_modal_{{ product.id }}">
            <div class="flex-shrink-0">
              <img class="avatar avatar-lg" src="{% get_media_prefix %}{{ product.image }}">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="text-inherit h5 me-2">{{ product.en_title }}</h5>
              <small>
                <span class="d-block text-body fs-6 text-wrap">
                  {{ product.en_detail }}
                </span>
              </small>
            </div>
            {% if product.lack_of_quantity %}
            <strong data-bs-toggle="tooltip" data-bs-placement="top" title="lack of quantity" style="color: #ff0000;">
              <i class="fa fa-triangle-exclamation me-4"></i>
            </strong>
            {% endif %}
          </a>
        </td>
        <!-- # -->
        <td>
          {{ product.status }}
        </td>
        <!-- price -->
        <td>
          <span class="d-block h4 text-start"><small>{{ product.quantity }} x {{ product.total_price|floatformat:"0g" }} <small>DZD</small></small></span>
          {{ product.refund_amount|floatformat:"0g" }} <small>DZD</small>
          {{ product.order.total_price|floatformat:"0g" }} <small>DZD</small>
          <small>
            <span class="d-block text-body fs-6 text-wrap">
              {{ product.order.ref }}
            </span>
          </small>
        </td>
        <!-- product actions -->
        <td class="text-end">
          {% if product.status == 'processed' %}
          <a type="button" class="btn btn-ghost btn-icon ms-2" data-bs-toggle="modal" data-bs-target="#product_collected_{{ product.id }}">
            <i class="fa fa-check" data-bs-toggle="tooltip" data-bs-placement="top" title="Piked up"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- end table -->

  {% if all_orders.has_other_pages %}
  <!-- footer -->
  <div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <!-- Pagination -->
      <nav>
        {% if all_orders.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if all_orders.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_orders.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in all_orders.paginator.page_range %}
          {% if all_orders.number == i %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }} <span class="visually-hidden">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if all_orders.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_orders.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Row -->
  </div>
  {% endif %}
  <!-- end footer -->
  {% else %}
  <div class="text-center mb-4 mt-4">
    no refunds .
  </div>
  {% endif %}
</div>
<!-- end all orders  -->

{% for product in all_orders %}
<!-- view order modal -->
<div id="view_order_modal_{{ product.id }}" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-self: center;">
        <i class="fa fa-hashtag me-1"></i> <span class="d-block fs-4 text-dark">{{ product.order.ref }}</span>
      </div>
      <div class="modal-body text-center">
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                <tbody>
                <tr>
                  <td>
                    <span class="d-block text-dark fs-6">
                      {% if product.order.client %}
                      ({{ product.order.client.sale }})
                      {% endif %}
                      Name
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if product.order.client %}
                      <a href="#">
                        {{ product.order.client_name|title }}
                      </a>
                      {% else %}
                      {{ product.order.client_name|title }}
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Phone
                    </span>

                    <span class="d-block text-body fs-6">
                      <a href="tel:{{ product.order.client_phone }}">
                        {{ product.order.client_phone }}
                      </a>
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Delivery
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ product.order.municipality.province.en_name|title }}, {{ product.order.municipality.en_name|title }},
                      {% if product.order.delivery_type == 'HOME' %}
                      Home
                      {% endif %}

                      {% if product.order.delivery_type == 'DESK' %}
                      Desk
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Order Total
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ product.order.total_price|floatformat:"0g" }} <small>DZD</small>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td>
                    <span class="d-block text-dark fs-6">
                      Products Quantity
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ product.order.selected_products.all.count }}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Discount
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if product.order.coupon %}
                      {% if product.order.coupon.is_subtractive %}
                      {{ product.order.coupon.value|floatformat:"0g" }} <small>DZD</small>
                      {% else %}
                      {{ product.order.coupon.value|floatformat:"0g" }} %
                      {% endif %}
                      {% else %}
                      No discount
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Delivery Price
                    </span>

                    <span class="d-block text-body fs-6">
                      {% if product.order.delivery_price %}
                      {{ product.order.delivery_price|floatformat:"0g" }} <small>DZD</small>
                      {% else %}
                      Free
                      {% endif %}
                    </span>
                  </td>

                  <td>
                    <span class="d-block text-dark fs-6">
                      Refund Amount
                    </span>

                    <span class="d-block text-body fs-6">
                      {{ product.refund_amount|floatformat:"0g" }} <small>DZD</small>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <h4 class="mt-4 text-center">Product Received</h4>
        <p class="mt-4 text-center body-text">at :{{ product.received.at }}</p>
      </div>
      <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a type="button" href="{% url 'member-orders' 'refund_declined' %}?order_id={{ order.id }}" class="btn btn-white">Decline</a>
        <a type="button" href="{% url 'member-orders' 'refund_accepted' %}?product_id={{ product.id }}" class="btn btn-white">Accept</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}