{% extends "ltr/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
  {% if lang = 'ar' %}
    {{ ar.title }}
  {% elif lang = 'fr' %}
    {{ fr.title }}
  {% elif lang = 'en' %}
    {{ en.title }}
  {% endif %}
{% endblock %}

{% block title-info %}
  {% if lang = 'ar' %}
    {{ ar.title-info }}
  {% elif lang = 'fr' %}
    {{ fr.title-info }}
  {% elif lang = 'en' %}
    {{ en.title-info }}
  {% endif %}
{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
<!-- end popup -->
{% endblock %}