{% extends "ltr/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}

<!------------------------------- title ---------------------------------------------------->
<!-- english & frensh version -->
{% block title %}
{% if lang == 'en' %}
         Dexunt Home Page - Online Shopping Gifts & Deco
{% endif %}
{% if lang == 'fr' %}
         Page d'accueil de Dexunt - Shopping en ligne cadeaux et déco
{% endif %}
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

<!------------------------------- popup ---------------------------------------------------->
<!-- english & frensh version -->
{% block popup %}
{% if lang == 'en' %}
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
{% elif lang == 'fr' %}
{% endif %}
{% endblock %}
<!------------------------------- end popup ------------------------------------------------>

<!------------------------------- left content top bar ------------------------------------->
<!-- english & frensh version -->
{% block left_content_top_bar %}
{% if lang == 'en' %}
<li>
    <a href="{% url 'main-shop-home' 'ar' %}">العربية</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'fr' %}">Français</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i>English</i>
</li>
<li><i class="ti-headphone-alt"></i>
    <a href="#">
        Help
    </a>
</li>
{% elif lang == 'fr' %}
<li>
    <a href="{% url 'main-shop-home' 'ar' %}">العربية</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i>Français</i>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'en' %}">English</a>
</li>
<li><i class="ti-headphone-alt"></i>
    <a href="#">
        Aide
    </a>
</li>
{% endif %}
{% endblock %}
<!------------------------------- end left content top bar --------------------------------->

<!------------------------------- right content top bar ------------------------------------>
<!-- english & frensh version -->
{% block right_content_top_bar %}
{% if lang == 'en' %}
<li><i class="ti-user"></i>
    <a href="#">Login</a>
</li>
<li><i class="ti-announcement"></i>
    <a href="#">Announcement</a>
</li>
{% elif lang == 'fr' %}
<li><i class="ti-user"></i>
    <a href="#">Connexion</a>
</li>
<li><i class="ti-announcement"></i>
    <a href="#">Annonce</a>
</li>
{% endif %}
{% endblock %}
<!------------------------------- end right content top bar -------------------------------->

<!------------------------------- mobile search bar ---------------------------------------->
<!-- english & frensh version -->
{% block mobile_search %}
{% if lang == 'en' %}
<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
<div class="search-top">
    <form class="search-form">
        <input type="text" placeholder="Search here..." name="search">
        <button value="search" type="submit"><i class="ti-search"></i></button>
    </form>
</div>
{% elif lang == 'fr' %}
<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
<div class="search-top">
    <form class="search-form">
        <input type="text" placeholder="Recherche ici..." name="search">
        <button value="search" type="submit"><i class="ti-search"></i></button>
    </form>
</div>
{% endif %}
{% endblock %}
<!------------------------------- end mobile search bar ------------------------------------>

<!------------------------------- big banner ----------------------------------------------->
<!-- english & frensh version -->
{% block big_banner %}
{% if lang == 'en' %}
<h1>
    <span>
        {{ en.big_banner_small_title }}
    </span>
    {{ en.big_banner_big_title }}
</h1>
<p>
    {{ en.big_banner_first_line }}
    <br>
    {{ en.big_banner_second_line }}
    <br>
    {{ en.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ en.big_banner_button_title }}
    </a>
</div>
{% elif lang == 'fr' %}
<h1>
    <span>
        {{ fr.big_banner_small_title }}
    </span>
    {{ fr.big_banner_big_title }}
</h1>
<p>
    {{ fr.big_banner_first_line }}
    <br>
    {{ fr.big_banner_second_line }}
    <br>
    {{ fr.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ fr.big_banner_button_title }}
    </a>
</div>
{% endif %}
{% endblock %}
<!------------------------------- end banner ----------------------------------------------->

<!------------------------------- desk search bar ------------------------------------------>
<!-- english & frensh version -->
{% block desk_search %}
{% if lang == 'en' %}
<select>
    <option selected="selected">All</option>
    <option>watch</option>
    <option>mobile</option>
</select>
<form>
    <input name="search" placeholder="Search Products Here....." type="search">
    <button class="btnn"><i class="ti-search"></i></button>
</form>
{% elif lang == 'fr' %}
<select>
    <option selected="selected">Tout</option>
    <option>montre</option>
    <option>telephone portable</option>
</select>
<form>
    <input name="search" placeholder="Rechercher Des Produits Ici....." type="search">
    <button class="btnn"><i class="ti-search"></i></button>
</form>
{% endif %}
{% endblock %}
<!------------------------------- end desk search bar -------------------------------------->

<!------------------------------- side menu ------------------------------------------------>
<!-- english & frensh version -->
{% block side_menu %}
{% if lang == 'en' %}
<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
<ul class="main-category">
    <li><a href="index.html#">New Arrivals<i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <ul class="sub-category">
            <li><a href="index.html#">accessories</a></li>
            <li><a href="index.html#">best selling</a></li>
            <li><a href="index.html#">sunglass</a></li>
        </ul>
    </li>
    <li class="main-mega"><a href="index.html#">best selling <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <ul class="mega-menu">
            <li class="single-menu">
                <a href="index.html#" class="title-link">Kid's Shop</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Kids Toys</a>
                    <a href="index.html#">Kids Travel Car</a>
                    <a href="index.html#">Kids Color Shape</a>
                    <a href="index.html#">Kids Tent</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">Men's Shop</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu2.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Watch</a>
                    <a href="index.html#">T-shirt</a>
                    <a href="index.html#">Hoodies</a>
                    <a href="index.html#">Formal Pant</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">Women's Shop</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu3.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Ladies Shirt</a>
                    <a href="index.html#">Ladies Frog</a>
                    <a href="index.html#">Ladies Sun Glass</a>
                    <a href="index.html#">Ladies Watch</a>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="index.html#">accessories</a></li>
    <li><a href="index.html#">top 100 offer</a></li>
    <li><a href="index.html#">sunglass</a></li>
    <li><a href="index.html#">watch</a></li>
    <li><a href="index.html#">man’s product</a></li>
    <li><a href="index.html#">women's ladies</a></li>
    <li><a href="index.html#">western dress</a></li>
    <li><a href="index.html#">denim </a></li>
</ul>
{% elif lang == 'fr' %}
<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATÉGORIES</h3>
<ul class="main-category">
    <li><a href="index.html#">Nouvelles Arrivage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <ul class="sub-category">
            <li><a href="index.html#">Accessoires</a></li>
            <li><a href="index.html#">Meilleure Vente</a></li>
            <li><a href="index.html#">Lunettes</a></li>
        </ul>
    </li>
    <li class="main-mega"><a href="index.html#">Meilleure Vente <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <ul class="mega-menu">
            <li class="single-menu">
                <a href="index.html#" class="title-link">Boutique Enfants</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Jouets pour Enfants</a>
                    <a href="index.html#">Voiture de Voyage pour Enfants</a>
                    <a href="index.html#">Forme de Couleur pour Enfants</a>
                    <a href="index.html#">Tente pour Enfants</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">Boutique Hommes</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu2.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Montre</a>
                    <a href="index.html#">T-shirt</a>
                    <a href="index.html#">Sweats à Capuche</a>
                    <a href="index.html#">Pantalon Formel</a>
                </div>
            </li>
            <li class="single-menu">
                <a href="index.html#" class="title-link">Boutique Femmes</a>
                <div class="image">
                    <img src="{% static 'main-shop/images/mega-menu3.jpg' %}" alt="#">
                </div>
                <div class="inner-link">
                    <a href="index.html#">Chemise Femme</a>
                    <a href="index.html#">Dames Grenouille</a>
                    <a href="index.html#">Lunettes De Soleil</a>
                    <a href="index.html#">Montre pour Femme</a>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="index.html#">accessoires</a></li>
    <li><a href="index.html#">meilleure offre</a></li>
    <li><a href="index.html#">lunettes</a></li>
    <li><a href="index.html#">montre</a></li>
    <li><a href="index.html#">articles pour hommes</a></li>
    <li><a href="index.html#">articles pour femmes</a></li>
    <li><a href="index.html#">robe occidentale</a></li>
    <li><a href="index.html#">jean </a></li>
</ul>
{% endif %}
{% endblock %}
<!------------------------------- end side menu -------------------------------------------->

<!------------------------------- top menu ------------------------------------------------->
<!-- english & frensh version -->
{% block top_menu %}
{% if lang == 'en' %}
<li><a href="index.html#">All Products</a></li>
<li>
    <a href="index.html#">Service<i class="ti-angle-down"></i><span class="new">New</span></a>
</li>
<li><a href="index.html#">Gift's For<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
        <li><a href="about-us.html">New Birth</a></li>
        <li><a href="login.html">Marriage</a></li>
        <li><a href="register.html">Birthday</a></li>
        <li><a href="mail-success.html">Different Occasion</a></li>
    </ul>
</li>
{% elif lang == 'fr' %}
<li><a href="index.html#">Tous les Produits</a></li>
<li>
    <a href="index.html#">Service<i class="ti-angle-down"></i><span class="new">Nouveau</span></a>
</li>
<li><a href="index.html#">Cadeaux Pour<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
        <li><a href="about-us.html">Nouvelle Naissance</a></li>
        <li><a href="login.html">Mariage</a></li>
        <li><a href="register.html">Anniversaire</a></li>
        <li><a href="mail-success.html">Occasion Différente</a></li>
    </ul>
</li>
{% endif %}
{% endblock %}
<!------------------------------- end top menu --------------------------------------------->