{% extends "ltr/main-shop/base.html" %}
{% load static %}
{% load mathfilters %}


{% if lang == 'en' %}
<!-- english language -->

{% block title %}
         Dexunt Home Page - Online Shopping Gifts & Deco
{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
<!-- end popup -->
{% endblock %}

{% block left_content_top_bar %}
<!-- left content top bar -->
<li>
    <a href="{% url 'main-shop-home' 'ar' %}">العربية</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'fr' %}">Français</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i>English</i>
</li>
<li><i class="ti-headphone-alt"></i>
    <a href="#">
        Help
    </a>
</li>
<!-- end left content top bar -->
{% endblock %}

{% block right_content_top_bar %}
<!-- right content top bar -->
<li><i class="ti-user"></i>
    <a href="#">Login</a>
</li>
<li><i class="ti-announcement"></i>
    <a href="#">Announcement</a>
</li>
<!-- end right content top bar -->
{% endblock %}

{% block mobile_search %}
<!-- mobile search bar -->
<form class="search-form">
    <input type="text" placeholder="Search here..." name="search">
    <button value="search" type="submit"><i class="ti-search"></i></button>
</form>
<!-- end mobile search bar -->
{% endblock %}

{% block big_banner %}
<!-- big banner -->
<h1>
    <span>
        {{ en.big_banner_small_title }}
    </span>
    {{ en.big_banner_big_title }}
</h1>
<p>
    {{ en.big_banner_first_line }}
    <br>
    {{ en.big_banner_second_line }}
    <br>
    {{ en.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ en.big_banner_button_title }}
    </a>
</div>
<!-- end banner -->
{% endblock %}

<!-------------------------------------------------------------------------------------->

{% elif lang == 'fr' %}
<!-- frensh language -->

{% block title %}
         Page d'accueil de Dexunt - Shopping en ligne cadeaux et déco
{% endblock %}

{% block popup %}
<!-- popup -->
<div class="color-plate">
    <a class="color-plate-icon">
        <i class="ti-gift"></i>
    </a>
    <h4>Congratulation !</h4>
    <p>You have been chosen to representing us </p>
    <div class="image">
        <img src="{% static 'main-shop/images/mega-menu1.jpg' %}" alt="#">
    </div>
    <a href="index.html#" class="title-link">Take your chance</a>
</div>
<!-- end popup -->
{% endblock %}

{% block left_content_top_bar %}
<!-- left content top bar -->
<li>
    <a href="{% url 'main-shop-home' 'ar' %}">العربية</a>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <i>Français</i>
    <i class="ti-minus"></i>
    <abbr> </abbr>
    <a href="{% url 'main-shop-home' 'en' %}">English</a>
</li>
<li><i class="ti-headphone-alt"></i>
    <a href="#">
        Aide
    </a>
</li>
<!-- end left content top bar -->
{% endblock %}

{% block right_content_top_bar %}
<!-- right content top bar -->
<li><i class="ti-user"></i>
    <a href="#">Connexion</a>
</li>
<li><i class="ti-announcement"></i>
    <a href="#">Annonce</a>
</li>
<!-- end right content top bar -->
{% endblock %}

{% block mobile_search %}
<!-- mobile search bar -->
<form class="search-form">
    <input type="text" placeholder="Recherche ici..." name="search">
    <button value="search" type="submit"><i class="ti-search"></i></button>
</form>
<!-- end mobile search bar -->
{% endblock %}

{% block big_banner %}
<!-- big banner -->
<h1>
    <span>
        {{ fr.big_banner_small_title }}
    </span>
    {{ fr.big_banner_big_title }}
</h1>
<p>
    {{ fr.big_banner_first_line }}
    <br>
    {{ fr.big_banner_second_line }}
    <br>
    {{ fr.big_banner_third_line }}
</p>
<div class="button">
    <a href="index.html#" class="btn">
        {{ fr.big_banner_button_title }}
    </a>
</div>
<!-- end banner -->
{% endblock %}

<!-------------------------------------------------------------------------------------->
{% endif %}